<div class="right-modal modal-custom clearfix" data-modal="addfacilitymodal">

    <h3 class="right-modal-head ng-binding">
       {{facility.facility_name}}
        <a ng-click="cancel()" class="close-right pull-right"><img src="images/close.png"></a>
    </h3>
    <form class="form-horizontal form-bordered mt10" name="facilityForm" novalidate>
        <div class="row clearfix">
            <div class="col-sm-12 clearfix">
                <div class="col-sm-6">
                    <label class="control-label">Loan Currency</label>
                    <div class="form-group clearfix form-group-custom">
                        <label>{{facility.currency_code}}</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="control-label">Loan Amount</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" ng-model="facility.loan_amount" name="loan_amount"
                               ui-number-mask="0">
                    </div>
                </div>
            </div>

            <div class="col-sm-12 clearfix">
                <div class="col-sm-12">
                    <label class="control-label">Facility Status</label>
                    <div class="form-group clearfix form-group-custom">
                        <select class="form-control" name="project_facility_status"
                                ng-model="facility.project_facility_status"  >
                            <option value="Inactive">Inactive</option>
                            <option value="Approved">Approved</option>
                            <option value="Reject">Reject</option>

                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 clearfix">
                <div class="col-sm-12">
                    <label class="control-label">Facility Comment</label>
                    <div class="form-group clearfix form-group-custom">
                        <textarea class="form-control" ng-model="facility.facility_comments" name="facility_comments">
                            </textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer border-none btn-custom clearfix text-center">
        <button ng-if="!update" class="btn btn-primary f14" ng-click="save(facility)">Submit</button>
        <button ng-if="update" class="btn btn-primary f14" ng-click="save(facility)">Update</button>
        <button class="btn btn-default f14" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>