<form class="form-horizontal form-bordered" name="form" novalidate>

    <div class="row clearfix">
        <div class="col-sm-12 clearfix">
            <div class="col-sm-12 p20">
                <!--<div ng-init="project.facility_details = []"></div>-->
                <div ng-if="!project.facility_details">
                    <div ng-init="project.facility_details=[]"></div>
                </div>

                <div class="clearfix"></div>
                <div class="table-wrapper table-responsive p0 pt5">
                    <table st-table="project.facility_details"
                           class="table table-striped table-bordered table-hover display table-style">
                        <thead>
                        <tr>
                            <th st-sort="tenore">Facility Name</th>
                            <th st-sort="tenore">Expected Start Date</th>
                            <th st-sort="currency">Currency</th>
                            <th st-sort="amount">Loan Amount</th>
                            <th st-sort="tenore">Maturity</th>
                            <th st-sort="tenore">Payment Type</th>
                            <th st-sort="name">Created Date</th>
                            <th st-sort="name">Status</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in facilities">
                            <td>{{row.facility_name}}</td>
                            <td>{{row.expected_start_date}}</td>
                            <td>{{row.currency_code}}</td>
                            <td>{{row.loan_amount | currency:""}}</td>
                            <td>{{row.expected_maturity}}
                                {{row.expected_maturity_type}}
                            </td>
                            <td>{{row.project_payment_type}}</td>
                            <td>{{row.created_date_time}}</td>
                            <td>
                                {{row.project_facility_status}}

                            </td>
                            <td>
                                <div class="clearfix pagination-wrap" ng-if="approvalLevel.credit_committee_id == currentCommitteeId && projectDetails.assigned_to == userId && projectDetails.project_status =='Pending' && row.project_facility_status == 'Inactive'">
                                    <ul class="icons-wrap pull-left">
                                        <li><a href="javascript:;" ng-click="editApprovalFacility(row,approvalLevel.id_project_approval)"
                                               class="fa fa-edit"></a></li>

                                        <!--                                        <li><a href="javascript:;" class="fa fa-eye" ng-click="viewFacility(row)"></a></li>
                                                                                <li><a href="javascript:;" class="fa fa-trash" ng-click="removeItem(row)"></a></li>-->
                                    </ul>
                                </div>
                            </td>

                        </tr>
                        </tbody>
                        <tfoot ng-if="!project.facility_details.length">
                        <!--<td colspan="5">
                            <div class="text-center">
                                <button class="btn btn-primary f12" data-ng-click="addFacility()">
                                    <i class="fa fa-plus-circle"></i> Add New Facility
                                </button>
                            </div>
                        </td>-->
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>

<!--
<div class="cust-status-wrap scroll-div-wrap" min-scroll>
    <uib-accordion close-others="true">
        <div class="status-div">
            <uib-accordion-group>
                <uib-accordion-heading>
                    <div class="status-header clearfix">
                        <div class="col-sm-11 p0">
                            <ul>
                                <li>
                                    <div class="num-circle">
                                        <span>2</span>
                                    </div>
                                    <div class="s-text-div">
                                        <h4 class="f14 text-uppercase bold darkcolor">
                                            BC2</h4>
                                        <p class="darkcolor f13">Balaji Colony</p>
                                    </div>

                                </li>
                                <li>
                                    <p class=" f12 light-blue">Received</p>
                                    <h4 class="f14 bold darkcolor">11 Mar,2016</h4>
                                </li>
                                <li>
                                    <p class=" f12 light-blue">Status</p>
                                    <h4 class="f14 bold red">Forwarded</h4>
                                </li>
                                <li>
                                    <p class=" f12 light-blue">Secretary</p>
                                    <h4 class="f14 bold darkcolor">Vishnu P</h4>
                                </li>
                                <li>
                                    <p class=" f12 light-blue">Loan Amount</p>
                                    <h4 class="f14 bold red">$ 8000</h4>
                                </li>
                                <li>
                                    <a class="red f24">
                                        <i class="fa fa-thumbs-down"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="pull-right mt20">
                            <a class="f21" uib-tooltip="Help">
                                <i class="icon-question"></i>
                            </a>
                        </div>
                    </div>
                </uib-accordion-heading>
                <div class="status-content p15 p-b-0  clearfix">
                    <div class="status-item  clearfix">
                        <p class="f13 dark mb10">Loan applied by client, Amount details </p>
                        <table class="table table-striped table-bordered table-hover display table-style">
                            <thead>
                                <tr>
                                    <th width="15%">Name</th>
                                    <th width="10%">Amount</th>
                                    <th>Currency</th>
                                    <th width="8%">Period</th>
                                    <th width="15%">Re-payment Type</th>
                                    <th>Actions</th>
                                    <th>Comments</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Billing Term Loan</td>
                                    <td>
                                        <input type="text" class="form-control" value="50,000">
                                    </td>
                                    <td>
                                        <select class="form-control">
                                            <option>USD</option>
                                        </select>
                                    </td>
                                    <td>
                                        5 Years
                                    </td>
                                    <td>Amortization</td>
                                    <td>
                                        <select class="form-control">
                                            <option>Approve</option>
                                        </select>
                                    </td>
                                    <td>Loan for constructing office building</td>
                                </tr>
                                <tr>
                                    <td>Billing Term Loan</td>
                                    <td>
                                        <input type="text" class="form-control" value="50,000">
                                    </td>
                                    <td>
                                        <select class="form-control">
                                            <option>USD</option>
                                        </select>
                                    </td>
                                    <td>
                                        5 Years
                                    </td>
                                    <td>Amortization</td>
                                    <td>
                                        <select class="form-control">
                                            <option>Approve</option>
                                        </select>
                                    </td>
                                    <td>Loan for constructing office building</td>
                                </tr>
                            </tbody>

                        </table>
                        <div class="text-center">
                            <button class="btn btn-primary btn-dark f12 border-none mr8">Save</button>
                            <button class="btn btn-primary lt-bg f12 border-none ">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </uib-accordion-group>
        </div>
        <div class="status-div">
            <uib-accordion-group>
                <uib-accordion-heading>
                    <div class="status-header clearfix">
                        <div class="col-sm-11 p0">
                            <ul>
                                <li>
                                    <div class="num-circle">
                                        <span>1</span>
                                    </div>
                                    <div class="s-text-div">
                                        <h4 class="f14 text-uppercase bold darkcolor">
                                            Charan P</h4>
                                        <p class="darkcolor f13">Balaji Colony</p>
                                    </div>
                                <li>
                                    <p class=" f12 light-blue">Received</p>
                                    <h4 class="f14 bold darkcolor">11 Mar,2016</h4>
                                </li>
                                <li>
                                    <p class=" f12 light-blue">Status</p>
                                    <h4 class="f14 bold red">Approved</h4>
                                </li>
                                <li>
                                    <p class=" f12 light-blue">Secretary</p>
                                    <h4 class="f14 bold darkcolor">Vishnu P</h4>
                                </li>
                                <li>
                                    <p class=" f12 light-blue">Loan Amount</p>
                                    <h4 class="f14 bold darkcolor">$ 10000</h4>
                                </li>
                                <li>
                                    <a class="dark-sky-blue f24">
                                        <i class="fa fa-money"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="pull-right mt20">
                            <a class="f21" uib-tooltip="Help">
                                <i class="icon-question"></i>
                            </a>
                        </div>
                    </div>
                </uib-accordion-heading>
                <div class="status-content p-b-0  p15 clearfix">
                    <div class="status-item  clearfix">
                        <p class="f13 dark mb10">Loan applied by client, Amount details </p>
                        <table class="table table-striped table-bordered table-hover display table-style">
                            <thead>
                            <tr>
                                <th width="15%">Name</th>
                                <th width="10%">Amount</th>
                                <th>Currency</th>
                                <th width="8%">Period</th>
                                <th width="15%">Re-payment Type</th>
                                <th>Actions</th>
                                <th>Comments</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Billing Term Loan</td>
                                <td>
                                    <input type="text" class="form-control" value="50,000">
                                </td>
                                <td>
                                    <select class="form-control">
                                        <option>USD</option>
                                    </select>
                                </td>
                                <td>
                                    5 Years
                                </td>
                                <td>Amortization</td>
                                <td>
                                    <select class="form-control">
                                        <option>Approve</option>
                                    </select>
                                </td>
                                <td>Loan for constructing office building</td>
                            </tr>
                            <tr>
                                <td>Billing Term Loan</td>
                                <td>
                                    <input type="text" class="form-control" value="50,000">
                                </td>
                                <td>
                                    <select class="form-control">
                                        <option>USD</option>
                                    </select>
                                </td>
                                <td>
                                    5 Years
                                </td>
                                <td>Amortization</td>
                                <td>
                                    <select class="form-control">
                                        <option>Approve</option>
                                    </select>
                                </td>
                                <td>Loan for constructing office building</td>
                            </tr>
                            </tbody>

                        </table>
                        <div class="text-center">
                            <button class="btn btn-primary btn-dark f12 border-none mr8">Save</button>
                            <button class="btn btn-primary lt-bg f12 border-none ">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </uib-accordion-group>
        </div>
    </uib-accordion>


</div>-->
