<div class="right-modal modal-custom clearfix" data-modal="addfacilitymodal">

    <h3 class="right-modal-head ng-binding">
        {{title}} Facility
        <a ng-click="cancel()" class="close-right pull-right"><img src="images/close.png"></a>
    </h3>
    <form class="form-horizontal form-bordered mt10" name="facilityForm" novalidate>
        <div class="row clearfix">
            <div class="col-sm-12 clearfix">
                <div class="col-sm-12">
                <label class="control-label">Facility Name</label>
                <div class="form-group clearfix form-group-custom">
                    <div class="col-sm-12 p0">
                        <input type="text" class="form-control" ng-model="facility.facility_name"
                               name="facility_name" >
                    </div>
                </div>
                </div>
            </div>
            <div class="col-sm-12 clearfix">
                <div class="col-sm-6">
                    <label class="control-label">Loan Currency</label>
                    <div class="form-group clearfix form-group-custom">
                        <select class="form-control" name="currency_id" ng-model="facility.currency_id"
                                ng-options="item.id_currency as item.currency_code for item in currency">
                            <option value="">--Select Currency--</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="control-label">Loan Amount</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" ng-model="facility.loan_amount" name="loan_amount"  ui-number-mask="0">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 clearfix">

                <div class="col-sm-6">
                    <label class="control-label">Expected Start Date</label>
                    <div class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                               data-ng-model="facility.expected_start_date" name="expected_start_date" is-open="openCal"
                               show-weeks="false" show-button-bar="false" readonly="" style=""><!-- ngIf: isOpen -->
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                <i class="fa fa-calendar"></i></button>
                          </span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="control-label">Expected Maturity / Term</label>
                    <div class="form-group clearfix form-group-custom">
                        <div class="col-sm-6 p0">
                            <input type="text" class="form-control" ng-model="facility.expected_maturity" only-digits
                                   name="expected_maturity">
                        </div>
                        <div class="col-sm-6">
                            <select class="form-control" name="expected_maturity_type" ng-model="facility.expected_maturity_type"
                                    ng-options="item.id as item.name for item in maturity_type">
                                <option value="">--Select--</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 clearfix">
                <div class="col-sm-6">
                    <label class="control-label">Expect Interest Rate</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" ng-model="facility.expected_interest_rate" only-digits
                               name="expected_interest_rate">
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="control-label">Expected Loan Type</label>
                    <div class="form-group clearfix form-group-custom">
                        <select class="form-control" name="project_loan_type_id"
                                ng-model="facility.project_loan_type_id" ng-options="item.id_project_loan_type as item.project_loan_type for item in loan_type">
                            <option value="">--Select Loan Type--</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 clearfix">
                <div class="col-sm-12">
                    <label class="control-label">Payment Type</label>
                    <div class="form-group clearfix form-group-custom">
                        <select class="form-control" name="project_payment_type_id" ng-model="facility.project_payment_type_id"
                                ng-options="item.id_project_payment_type as item.project_payment_type for item in payment_type">
                            <option value="">--Select Payment Type--</option>

                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer border-none btn-custom clearfix text-center">
        <button ng-if="!update" class="btn btn-primary f14" ng-click="save(facility)">Submit</button>
        <button ng-if="update" class="btn btn-primary f14" ng-click="save(facility)">Update</button>
        <button class="btn btn-default f14" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>