<div class="row clearfix">
    <div class="col-sm-12 clearfix">
        <div class="col-sm-12 p20" data-ng-controller="facilityComponentsCtrl" ng-init="init()">
            <!--<div ng-init="project.facility_details = []"></div>-->
            <div class="clearfix"></div>
            <div class="table-wrapper table-responsive p0 pt5">
                <table st-table="project.facility_details"
                       class="table table-striped table-bordered table-hover display table-style">
                    <thead>
                    <tr>
                        <th st-sort="facility_name">Facility Name</th>
                        <th st-sort="expected_start_date">Expected Start Date</th>
                        <th st-sort="currency">Currency</th>
                        <th st-sort="amount">Loan Amount</th>
                        <th st-sort="expected_maturity">Maturity</th>
                        <th st-sort="tenore">Payment Type</th>
                        <th st-sort="name">Created Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in facilities">
                        <td>{{row.facility_name}}</td>
                        <td>{{row.expected_start_date}}</td>
                        <td>{{row.currency_code}}</td>
                        <td>{{row.loan_amount | currency:""}}</td>
                        <td>{{row.expected_maturity}}
                            {{row.expected_maturity_type}}
                        </td>
                        <td>{{row.project_payment_type}}</td>

                        <td>{{row.created_date_time}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
