<form class="form-horizontal form-bordered" name="form" novalidate>
    <div class="row clearfix">
        <div class="col-sm-12 clearfix">
            <div class="col-sm-4">
                <label class="control-label">First Name*</label>

                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" ng-model="contact.first_name" name="first_name" required>

                    <div ng-if="form.first_name.$error.required && submitStatus" class="error-message">Enter first
                        name.
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Last Name</label>

                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" ng-model="contact.last_name" name="last_name">

                    <!--required<div ng-if="form.last_name.$error.required && submitStatus" class="error-message">Enter last
                        name.
                    </div>-->
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Gender</label>

                <div class="form-group clearfix form-group-custom">
                    <div class="radio display-inline-block mr15 mt5">
                        <div ng-if="contact.gender == ''" ><span ng-init="contact.gender='Male'"></span></div>
                        <label class="f12"><input type="radio" ng-model="contact.gender" name="gender" value="Male" >
                            Male</label></div>
                    <div class="radio display-inline-block">
                        <label class="f12"><input type="radio" ng-model="contact.gender" name="gender" value="Female">
                            Female</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 clearfix">
            <div class="col-sm-4">
                <label class="control-label">Date of Birth</label>

                <div class="form-group clearfix form-group-custom">
                    <div class="input-group">
                        <input  type="text" class="form-control"  uib-datepicker-popup="yyyy-MM-dd" max-date="currentDateTime"
                                data-ng-model="contact.date_of_birth" type="text" name="date_of_birth" is-open="openCal"
                                show-weeks="false" show-button-bar="false" readonly max-date="maxDate" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                <i class="fa fa-calendar"></i></button>
                          </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Place of Birth</label>

                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" ng-model="contact.place_of_birth" name="place_of_birth">
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label">ID Number</label>

                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" ng-model="contact.id_number" name="id_number">
                </div>
            </div>
        </div>
        <!-- hide for standard contact-->
        <div ng-if="crm_contact_type_id == 3">
        <div class="col-sm-12 clearfix">
            <div class="col-sm-4">
                <label class="control-label">Place/Date of Issue</label>

                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" ng-model="contact.issued_from" name="issued_from">
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Marital Status</label>

                <div class="form-group clearfix form-group-custom">
                    <div class="radio display-inline-block mr15 mt5">
                        <div ng-if="contact.marital_status == ''" ><span ng-init="contact.marital_status='Yes'"></span></div>
                        <label class="f12"><input type="radio" ng-model="contact.marital_status" name="marital_status" value="Yes">
                            Yes</label></div>
                    <div class="radio display-inline-block">
                        <label class="f12"><input type="radio" ng-model="contact.marital_status" name="marital_status" value="No">
                            No</label></div>
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Education</label>

                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="education" ng-model="contact.education">
                </div>
            </div>
        </div>
        <div class="col-sm-12 clearfix">
            <div class="col-sm-4">
                <label class="control-label">Employment Status</label>

                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="employment_status" ng-model="contact.employment_status">
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Employment</label>

                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="employment" ng-model="contact.employment">
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Profession</label>

                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="profession" ng-model="contact.profession">
                </div>
            </div>
        </div>
        <div class="col-sm-12 clearfix">
            <div class="col-lg-12">
                <label class="control-label">Is the client in good health?</label>

                <div class="form-group clearfix form-group-custom">
                    <div class="radio display-inline-block mr15">
                        <div ng-if="contact.client_good_health == ''" ><span ng-init="contact.client_good_health='Yes'"></span></div>
                        <label class="f12">
                            <input type="radio" ng-model="contact.client_good_health" name="client_good_health" value="Yes">
                            Yes</label>
                    </div>
                    <div class="radio display-inline-block"><label class="f12">
                        <input type="radio" ng-model="contact.client_good_health" name="client_good_health" value="No">
                        No</label>
                    </div>
                    <!--<textarea placeholder="Comments" class="width-full p10 f14">Comments</textarea>-->
                </div>
            </div>
        </div>
        <div class="col-sm-12 clearfix">
            <div class="col-lg-12">
                <label class="control-label">Does the client have life insurance</label>

                <div class="form-group clearfix form-group-custom">
                    <div class="radio display-inline-block mr15">
                        <div ng-if="contact.client_life_insurance == ''" ><span ng-init="contact.client_life_insurance='Yes'"></span></div>
                        <label class="f12"><input type="radio" ng-model="contact.client_life_insurance" name="client_life_insurance" value="Yes">
                            Yes</label></div>
                    <div class="radio display-inline-block">
                        <label class="f12"><input type="radio" ng-model="contact.client_life_insurance" name="client_life_insurance" value="No">
                            No</label>
                    </div>
                    <!--<textarea placeholder="Comments" class="width-full p10 f14">Comments</textarea>-->
                </div>
            </div>
        </div>
        </div>
       <!-- hide for standard contact-->
        <div class="col-sm-12 clearfix">
            <div class="col-sm-4">
                <label class="control-label">Phone(main)</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="phone_number" ng-model="contact.phone_number" ng-minlength="5" restrict-input="^[0-9-]*$" only-digits >
                    <div ng-show="form.phone_number.$invalid && submitStatus " class="error-message">
                        Enter minimum 5 digits.
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Phone(alt)</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="alternative_phone_number" ng-model="contact.alternative_phone_number" ng-minlength="5" restrict-input="^[0-9-]*$" only-digits>
                    <div ng-show="form.alternative_phone_number.$invalid && submitStatus " class="error-message">
                        Enter minimum 5 digits.
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label">E-mail*</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="email" class="form-control" name="email" ng-model="contact.email" required>
                    <span ng-if="form.email.$error.required && submitStatus" class="error-message ">Enter email.</span>
                    <span ng-if="form.email.$error.email && submitStatus" class="error-message">This is not a valid email.</span>
                </div>
            </div>
        </div>
        <div class="col-sm-12 clearfix">
        <div class="col-sm-4">
            <label class="control-label">LinkedIn Profile</label>
            <div class="form-group clearfix form-group-custom">
                <input type="text" class="form-control" name="linkedin_profile" ng-model="contact.linkedin_profile" >
            </div>
        </div>
    </div>
        <div class="col-sm-12 btn-custom clearfix text-center" ng-show="permission[form_key+'_add']">
            <button type="submit" class="btn btn-primary f14 next-btn" ng-click="submitForm(contact,formDetails,form)" tab-next>
                Save
            </button>
        </div>
    </div>
</form>