<form class="form-horizontal form-bordered" name="form" novalidate>
    <div class="row clearfix">
        <div class="col-sm-12 clearfix">
            <div class="col-sm-4">
                <label class="control-label">Spouse Name</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="spouse_name" ng-model="contact.spouse_name">
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Spouse Id</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="spouse_id" ng-model="contact.spouse_id">
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Profession</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="spouse_profession" ng-model="contact.spouse_profession">
                </div>
            </div>
        </div>
        <div class="col-sm-12 clearfix">
            <div class="col-sm-4">
                <label class="control-label">Employment</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="spouse_employment" ng-model="contact.spouse_employment">
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Employment Status</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="spouse_employment_status" ng-model="contact.spouse_employment_status">
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Education</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="spouse_education" ng-model="contact.spouse_education">
                </div>
            </div>
        </div>
        <div class="col-sm-12 clearfix">
            <div class="col-sm-4">
                <label class="control-label">Residence Physical Address</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="residence_address" ng-model="contact.residence_address">
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Living in Residence Since</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="residence_since" ng-model="contact.residence_since">
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Residence</label>
                <div class="form-group clearfix form-group-custom">
                    <div ng-if="contact.residence == '' || contact.residence == undefined"><span ng-init="contact.residence='Yes'"></span></div>
                    <div class="radio display-inline-block mr15 mt5"><label class="f12"><input type="radio" name="residence" ng-model="contact.residence" value="Yes" > Owned</label></div>
                    <div class="radio display-inline-block"><label class="f12"><input type="radio" name="residence" ng-model="contact.residence" value="No"> Rented</label></div>
                </div>
            </div>

        </div>
        <div class="col-sm-12 clearfix">
            <div class="col-sm-4">
                <label class="control-label">Landlord</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="landlord" ng-model="contact.landlord">
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Number of Dependants</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="total_dependants" ng-model="contact.total_dependants" only-digits>
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Male</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="male_dependant" ng-model="contact.male_dependant" only-digits>
                </div>
            </div>

        </div>
        <div class="col-sm-12 clearfix">



            <div class="col-sm-4">
                <label class="control-label">Female</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="female_dependant" ng-model="contact.female_dependant" only-digits>
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Thereof pre-school</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="thereof_pre_school" ng-model="contact.thereof_pre_school" only-digits>
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Thereof in school</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="thereof_in_school" ng-model="contact.thereof_in_school" only-digits>
                </div>
            </div>
        </div>

        <div class="col-sm-12 clearfix">



            <div class="col-sm-4">
                <label class="control-label">Thereof university</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="thereof_in_university" ng-model="contact.thereof_in_university" only-digits>
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Thereof post-school</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="thereof_post_school" ng-model="contact.thereof_post_school" only-digits>
                </div>
            </div>
        </div>

        <div class="col-sm-12 clearfix">
            <div class="col-lg-12">
                <label class="control-label">Is there a family memberwith chronic illness or disability ?</label>
                <div class="form-group clearfix form-group-custom">
                    <div ng-if="contact.member_disability == '' || contact.member_disability == undefined"><span ng-init="contact.member_disability='Yes'"></span></div>
                    <div class="radio display-inline-block mr15"><label class="f12"><input type="radio" name="member_disability" ng-model="contact.member_disability" value="Yes" checked=""> Yes</label></div>
                    <div class="radio display-inline-block"><label class="f12"><input type="radio" name="member_disability" ng-model="contact.member_disability" value="No"> No</label></div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 btn-custom clearfix text-center" ng-show="permission[form_key+'_add']">
            <button type="submit" class="btn btn-primary f14 next-btn" ng-click="submitForm(contact,formDetails,form)">Save</button>
        </div>
    </div>
</form>