<form class="form-horizontal form-bordered" name="form" novalidate>
    <div class="col-sm-12 clearfix clearboth p0">
        <div class="col-sm-12 clearfix m10 pt10 excel-table" hot-size>
            <div  ng-init="contact.personal_financial_information = []"></div>
            <div ng-if="!contact.personal_financial_information">
                <div ng-init='contact.personal_financial_information = [{"bank":"","branch":"","opening_year":"","account_name":"","account_number":"","currency":"","balance":""}]'></div>
            </div>
            <p class="f11 gray mb5 text-right"><em>Here you can directly copy and paste excel document.</em></p>
            <hot-table settings="settings" row-headers="rowHeaders" min-spare-rows="minSpareRows"  datarows="contact.personal_financial_information"><!-- width="700"-->
                <hot-column data="bank" title="'Bank'"></hot-column>
                <hot-column data="branch" title="'Branch'" type="'text'"></hot-column>
                <hot-column data="opening_year" title="'Year of Opening'"></hot-column>
                <hot-column data="account_name" title="'Account Name'"></hot-column>
                <hot-column data="account_number" title="'Acc Number'"></hot-column>
                <hot-column data="currency" title="'Currency'"></hot-column>
                <hot-column data="balance" title="'Balance'" type="'numeric'" format="'0,0.00'"></hot-column>
                <!-- <hot-column data="address" title="'Address'" width="150"></hot-column>
                 <hot-column data="product.description" title="'Favorite food'" type="'autocomplete'">
                     <hot-autocomplete datarows="description in product.options"></hot-autocomplete>
                 </hot-column>
                 <hot-column data="price" title="'Price'" type="'numeric'" width="80" format="'$ 0,0.00'"></hot-column>-->
            </hot-table>
        </div>
        <div class="col-sm-12 btn-custom clearfix text-center" ng-show="permission[form_key+'_add']">
            <button type="submit" class="btn btn-primary btn-sm mt10" tab-next ng-click="submitForm(contact,formDetails,form)">Save
            </button>
        </div>

    </div>

</form>