<form class="form-horizontal form-bordered" name="form" novalidate>
    <div class="col-sm-12 clearfix clearboth p0">
        <div class="col-sm-12 clearfix m10 pt10 excel-table" hot-size>
            <div  ng-init="contact.non_business_expenditure = []"></div>
            <div ng-if="!contact.non_business_expenditure" >
                <div ng-init='contact.non_business_expenditure = [{"title":"","amount":""}]'></div>
            </div>
            <p class="f11 gray mb5 text-right"><em>Here you can directly copy and paste excel document.</em></p>
            <hot-table settings="settings" row-headers="rowHeaders" min-spare-rows="minSpareRows" datarows="contact.non_business_expenditure">
                <hot-column data="title" title="'Expenditure'"></hot-column>
                <hot-column data="amount" title="'Amount'" type="'numeric'" width="80" format="'0,0.00'"></hot-column>
            </hot-table>
        </div>
        <div class="col-sm-12 btn-custom clearfix text-center" ng-show="permission[form_key+'_add']">
            <button class="btn btn-primary f14 next-btn" tab-next ng-click="submitForm(contact,formDetails,form)">Save
            </button>
        </div>

    </div>
</form>