<div class="right-modal clearfix modal-custom">
    <!--<div class="modal-header clearfix">
        <h3 class="modal-title pull-left mt5">{{title}} Previous Experience with Institution</h3>
        <a href="javascript:;" class="pull-right" ng-click="cancel()">
            <img src="images/close.png" alt="close-image">
        </a>
    </div>-->
    <h3 class="right-modal-head">
        {{title}} Previous Experience with Institution
        <a ng-click="cancel()" class="close-right pull-right"><img src="images/close.png"></a>
    </h3>

    <form class="form-horizontal form-bordered mt10"  name="previousExperiencForm"  novalidate>
        <div class="row clearfix">
            <div class="col-sm-12 clearfix">
                <div class="col-sm-6">
                    <label class="control-label">Current Loan Amount Disb.*</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" name="current_loan_amount_distribution" ng-model="previousExperience.current_loan_amount_distribution" required>
                        <div ng-if="previousExperiencForm.current_loan_amount_distribution.$error.required && submitStatus" class="error-message">
                            Enter current loan amount
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="control-label">Client Since</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" ng-model="previousExperience.client_since" name="client_since">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 clearfix">
                <div class="col-sm-6">
                    <label class="control-label">Current Outstanding Loan amt</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" ng-model="previousExperience.current_outstanding_loan_amount" name="current_outstanding_loan_amount">
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="control-label">Current Loan Payments on Time</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" ng-model="previousExperience.current_loan_payments_on_time" name="current_loan_payments_on_time">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 clearfix">
                <div class="col-sm-6">
                    <label class="control-label">Total Previous Loans</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" ng-model="previousExperience.total_previous_loans" name="total_previous_loans" only-digits>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="control-label">Previous Loan Payments on Time</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" ng-model="previousExperience.previous_loan_payments_on_time" name="previous_loan_payments_on_time">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer border-none btn-custom mb0 clearfix text-center" ng-show="permission[form_key+'_add']">
        <button ng-if="!update" class="btn btn-primary f14" ng-click="save(previousExperience,previousExperiencForm)" >Submit</button>
        <button ng-if="update" class="btn btn-primary f14" ng-click="previousExperiencForm.$valid && cancel()">Update</button>
        <button class="btn btn-default f14" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>