<form class="form-horizontal form-bordered" name="form" novalidate>
    <div class="row clearfix">
        <div class="col-sm-12 clearfix">
            <div class="col-sm-12 pt20 pb20" data-ng-controller="previousExperienceCtrl">
                    <!--<div ng-init="contact.previous_experience_institution = []"></div>-->
                    <div ng-if="!contact.previous_experience_institution">
                        <div ng-init="contact.previous_experience_institution=[]"></div>
                    </div>
                    <div class="clearfix">
                        <p class="f11 ash display-inline-block"><em>Here you can add new previous experience institute</em></p>
                        <button class="btn btn-primary btn-dark border-none f12 pull-right" data-ng-click="addPreviousExperience()">
                            <i class="fa fa-plus-circle"></i> Add New
                        </button>
                    </div>
                    <div class="clearfix"></div>
                    <div class="table-wrapper p0 pt5 table-responsive">
                        <table st-table="contact.previous_experience_institution" class="table table-striped table-bordered table-hover display table-style">
                            <thead>
                            <tr>
                                <th st-sort="current_loan_amount_distribution" class="f12" title="Current Loan Amount Disb.">Current Loan Amount Disb.</th>
                                <th st-sort="current_outstanding_loan_amount" class="f12" title="Currenct outstanding loan amt">Currenct outstanding loan amt</th>
                                <th st-sort="total_previous_loans" class="f12" title="Total previous loans">Total previous loans</th>
                                <th st-sort="client_since" class="f12" title="Client since">Client since</th>
                                <th st-sort="current_loan_payments_on_time" class="f12" title="Current loan payments on time">Current loan payments on time</th>
                                <th st-sort="previous_loan_payments_on_time" class="f12" title="Previous loan payments on time">Previous loan payments on time</th>
                                <th width="200px !important;"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in contact.previous_experience_institution">
                                <td>{{row.current_loan_amount_distribution}}</td>
                                <td>{{row.current_outstanding_loan_amount}}</td>
                                <td>{{row.total_previous_loans}}</td>
                                <td>{{row.client_since}}</td>
                                <td>{{row.current_loan_payments_on_time}}</td>
                                <td>{{row.previous_loan_payments_on_time}}</td>
                                <td>
                                    <div class="clearfix pagination-wrap">
                                        <ul class="icons-wrap pull-left">
                                            <li><a href="javascript:;" ng-click="addPreviousExperience(row)" class="fa fa-edit" ></a></li>
                                            <li><a href="javascript:;" class="fa fa-eye" ng-click="viewPreviousExperience(row)"></a></li>
                                            <li><a href="javascript:;" class="fa fa-trash" ng-click="removeItem(row)"></a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot ng-if="!contact.previous_experience_institution.length">
                            <!--<td colspan="5">
                                <div class="text-center">
                                    <button class="btn btn-primary f12" data-ng-click="addFacility()">
                                        <i class="fa fa-plus-circle"></i> Add New Facility
                                    </button>
                                </div>
                            </td>-->
                            </tfoot>
                        </table>
                    </div>
                </div>
        </div>
        <div class="col-sm-12 btn-custom clearfix text-center" ng-show="permission[form_key+'_add']">
            <button type="submit" class="btn btn-primary f14 next-btn" ng-click="submitForm(contact,formDetails,form)" tab-next>
                Save
            </button>
        </div>
    </div>
</form>