<div class="right-modal modal-custom">
    <h3 class="right-modal-head">
        View Facility
        <a ng-click="cancel()" class="close-right pull-right"><img src="images/close.png"></a>
    </h3>
    <form class="form-horizontal form-bordered mt10"  name="facilityForm"  novalidate>
        <div class="row clearfix">
            <div class="col-sm-12 clearfix">
                <div class="col-sm-6">
                    <label class="control-label">Current Loan Amount Disb.</label>
                    <div class="form-group clearfix form-group-custom f14 dark-blue">{{previousExperience.current_loan_amount_distribution}}</div>
                </div>
                <div class="col-sm-6">
                    <label class="control-label">Client Since</label>
                    <div class="form-group clearfix form-group-custom f14 dark-blue">{{previousExperience.client_since}}</div>
                </div>
            </div>
            <div class="col-sm-12 clearfix">
                <div class="col-sm-6">
                    <label class="control-label">Current Outstanding Loan Amt</label>
                    <div class="form-group clearfix form-group-custom f14 dark-blue">{{previousExperience.current_outstanding_loan_amount}}</div>
                </div>
                <div class="col-sm-6">
                    <label class="control-label">Current Loan Payments on Time</label>
                    <div class="form-group clearfix form-group-custom f14 dark-blue">{{previousExperience.current_loan_payments_on_time}}</div>
                </div>
            </div>
            <div class="col-sm-12 clearfix">
                <div class="col-sm-6">
                    <label class="control-label">Total Previous Loans</label>
                    <div class="form-group clearfix form-group-custom f14 dark-blue">{{previousExperience.total_previous_loans}}</div>
                </div>
                <div class="col-sm-6">
                    <label class="control-label">Previous Loan Payments on Time</label>
                    <div class="form-group clearfix form-group-custom f14 dark-blue">{{previousExperience.previous_loan_payments_on_time}}</div>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer border-none btn-custom clearfix text-center" ng-show="permission[form_key+'_add']">
        <button class="btn btn-default f14" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>