<div class="l-header p10 border-bottom">
    <h2 class="darkcolor text-uppercase f14"><i class="icon-grid f24 mr8 dark-sky-blue valign-middle"></i> <span
            class="display-inline-block bold valign-middle">Status Flow</span></h2>
</div>
<div class="scroll-div-wrap " min-scroll>
    <uib-accordion close-others="true">
        <div class="status-div" ng-repeat="approvalLevel in approvalLevels">
            <div ng-init="approvalLevel.open=$index==0?true:false;"></div>
            <uib-accordion-group is-open="approvalLevel.open">
                <uib-accordion-heading>
                    <div class="status-header">
                        <ul>
                            <li>
                                <h4 class="f14 text-uppercase bold darkcolor">
                                    {{approvalLevel.credit_committee_name}}</h4>
                                <p class="darkcolor f13">{{approvalLevel.legal_name}}</p>
                            </li>
                            <li>
                                <p class=" f12 light-blue" ng-show="$index==approvalLevels.length-1">Created Date</p>
                                <p class=" f12 light-blue" ng-show="$index!=approvalLevels.length-1">Received</p>
                                <h4 class="f14 bold darkcolor">{{approvalLevel.date}}</h4>
                            </li>
                            <li>
                                <p class=" f12 light-blue">Status</p>
                                <h4 class="f14 bold red">{{approvalLevel.approval_status}}</h4>
                            </li>
                            <li>
                                <p class=" f12 light-blue" ng-show="$index==approvalLevels.length-1">Forward Date</p>
                                <p class=" f12 light-blue" ng-show="$index!=approvalLevels.length-1">Secretary</p>
                                <h4 class="f14 bold darkcolor">{{approvalLevel.username}}</h4>
                            </li>
                            <li ng-show="approvalLevel.assigned_to == userId && approvalLevel.credit_committee_id == currentCommitteeId">
                                <a uib-tooltip="Meeting"
                                   ng-click="$event.stopPropagation();meetingModal(approvalLevel.id_project_approval)">
                                    <i class="fa fa-meeting"></i>

                                </a>
                            </li>
                        </ul>
                    </div>
                </uib-accordion-heading>
                <div class="status-content p15 clearfix">
                    <div  class="status-item  clearfix" ng-if="approvalLevel.facilities.length>0">
                        <div class=" " ng-include="'partials/crm/project/facility_com/facilities-approval-tableview.html'" ng-init="facilities = approvalLevel.facilities;">
                        </div>
                    </div>
                    <div class="status-item  clearfix" ng-repeat="meeting in approvalLevel.meeting">
                        <a ng-show="meeting.created_by_id == userId && approvalLevel.credit_committee_id == currentCommitteeId" class="pull-right f14" href="javascript:;" ng-click="editForm(approvalLevel.id_project_approval,meeting.id_meeting)"><i class="fa fa-edit"></i>{{meeting.meeting.id_meeting}}</a>
                        <div class="col-sm-5 col-lg-3">
                            <ul>
                                <li class="mb15">
                                    <h4 class="bold text-uppercase darkcolor f14">Meeting</h4>
                                </li>
                                <li class="mb15">
                                    <p class="f13 light-blue">Date</p>
                                    <h4 class="bold darkcolor f14">{{meeting.meeting_date}}</h4>
                                </li>
                                <li class="mb15">
                                    <p class="f13 light-blue">Members</p>
                                    <h4 class="bold dark-sky-blue f14">{{meeting.members}}</h4>
                                </li>
                                <li class="mb15" ng-show="meeting.guest!=null">
                                    <p class="f13 light-blue">Guests</p>
                                    <h4 class="bold dark-sky-blue f14 break-word">{{meeting.guest}}</h4>
                                </li>
                                <li class="mb15">
                                    <p class="f13 light-blue">Created by</p>
                                    <h4 class="bold dark-sky-blue f14">{{meeting.created_by}}</h4>
                                </li>
                            </ul>

                        </div>
                        <div class="col-sm-7 col-lg-9">
                            <h4 class="f14 text-uppercase mb10 darkcolor">{{meeting.meeting_name}}</h4>
                            <p class="f13 mb10 darkcolor">{{meeting.agenda}}</p>
                        </div>
                    </div>
                </div>
            </uib-accordion-group>
        </div>
    </uib-accordion>


</div>
