<div class="t-data-wrap white-bg col-sm-12 p0">
    <div class="l-header p10 border-bottom">
        <h2 class="darkcolor text-uppercase f14"><i class="icon-clipped-file f24 mr8 dark-sky-blue valign-middle"></i> <span class="display-inline-block bold valign-middle">Summary,Recommendations and Loans</span></h2>
    </div>
    <div class="col-sm-12 scroll-div-wrap" min-scroll>
        <ul class="summary-recmmend-list mt15">
            <li class="clearfix" ng-repeat="summary in summaryDetails">
                <div class="col-sm-3 p0"><span class="list-item-head f14 darkcolor bold" ><span class="circle-count mr15" first-alpha="{{summary.product_term_item_name}}"></span>{{summary.product_term_item_name}}</span></div>
                <div class="col-sm-9 pr0">
                    <p class="f13 darkcolor" ng-bind-html="summary.answer">
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>