<h3 class="fixed content-heading">Payment Track History
    <div class="pull-right button-set">
        <a uib-tooltip="Touchpoints" modal="touchpoints" ng-click="touchpointsModal()"><i class="fa fa-touchpoint"></i> </a>
        <a uib-tooltip="Attachments" modal="attachment" ng-click="quickAttachmentModal()"><i class="fa fa-paperclip"></i> </a>
        <a ng-click="AddedCompaniesModal()" modal="addedcompanies" uib-tooltip="Companies">
            <i class="fa fa-company"></i>
        </a>
        <a ui-sref="loan.loan-monitoring" active-link="heading-active" uib-tooltip="Back"><i
                class="fa fa-close-sm"></i></a>
    </div>
</h3>

<div class="col-sm-12 fixed clearfix  z1 fixed-top full-fixed-top" ng-class="{visible:boolChangeClass}" fixed-top>
    <div class="clearfix relative details-fixed-top border-none no-bg pad0">
        <div class="col-sm-12 clearfix p0">
            <div class="page-header-wrap mt0  box-shadow clearfix">
                <div class="display-inline-block wrapper-list c-wrap-list pt10 col-sm-10 clearfix" >
                    <h3 class="f15 clearfix dark-sky-blue">Rajesh <span class="ash f11">CEO</span>
                    </h3>
                    <ul>
                        <li class="lh14">
                            <a class="f12 sky-blue text-line" href="mailto:rajesh@gmail.com">rajesh@gmail.com</a>
                            <p class="f12">9855698989</p>
                        </li>
                        <li>
                            <p class="f12">Loan No.</p>
                            <h3 class="f13 heading">25146558656</h3>

                        </li>
                        <li>
                            <p class="f12">Amount</p>
                            <h3 class="f13 heading">$20,000 <a href="javascript:;" class="sky-blue">(4)</a> </h3>

                        </li>
                        <li>
                            <p class="f12">Avg. Interest</p>
                            <h3 class="f13 heading">16.4</h3>

                        </li>
                        <li>
                            <p class="f12">Sector</p>
                            <h3 class="f13 heading">Agriculture</h3>

                        </li>
                    </ul>

                </div>

                <div class="display-inline-block pull-right relative">
                    <div class="display-inline-block m-5">
                        <span class="box-rating">4.5</span>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>



<div class="content-area animated fadeInRight" id="contentArea">

    <div class="content-container clearfix light-blue-bg relative">

        <div class="col-sm-12 p0">
            <div class="page-header-wrap white-bg box-shadow clearfix relative mb15">
                <div class="display-inline-block wrapper-list c-wrap-list pt10 col-sm-10 clearfix" >
                    <h3 class="f15 clearfix dark-sky-blue">Rajesh <span class="ash f11">CEO</span></h3>
                    <ul>
                        <li class="lh14">
                            <a class="f12 sky-blue text-line" href="mailto:rajesh@gmail.com">rajesh@gmail.com</a>
                            <p class="f12">9855698989</p>
                        </li>
                        <li>
                            <p class="f12">Loan No.</p>
                            <h3 class="f13 heading">25146558656</h3>

                        </li>
                        <li>
                            <p class="f12">Amount</p>
                            <h3 class="f13 heading">$20,000 <a href="javascript:;" class="sky-blue">(4)</a> </h3>

                        </li>
                        <li>
                            <p class="f12">Avg. Interest</p>
                            <h3 class="f13 heading">16.4</h3>

                        </li>
                        <li>
                            <p class="f12">Sector</p>
                            <h3 class="f13 heading">Agriculture</h3>

                        </li>
                    </ul>


                </div>
                <div class="display-inline-block pull-right relative">
                    <div class="display-inline-block m-5">
                        <span class="box-rating">4.5</span>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="textinfo-block border-top col-sm-12 pb10" ng-show="infoBox">
                    <label class="f12">Description</label>
                    <p class="f14 darkcolor">testingg</p>
                </div>
                <div class="slide-img" ng-click="infoBox=!infoBox"></div>
            </div>
        </div>

        <div class="col-sm-12 plr20 mb20 mt5">

            <div class="mt5 pl0 p-data">
                <div class="div-header clearfix  border-bottom  white-bg" >
                    <h3 class="darkcolor pull-left display-inline-block f14 roboto-bold text-uppercase p15">Payment Track History</h3>
                    <div class="pull-right cust-pagination mt10 mb0 mr10">
                        <ul>
                            <li>
                                <a href="javascript:;" ng-click="prevForm()"><i class="icon-angle-left"></i> </a>
                            </li>
                            <li>
                                <a href="javascript:;" ng-click="nextForm()"><i class="icon-angle-right"></i> </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="white-bg">
                    <div class="col-sm-12 p0 pt10">
                        <div class="table-wrapper no-bg p0 overflow-hidden">
                            <table class="table-list-view mb0 t-l-view table row-pointer">
                                <thead>
                                <tr class="table-head-row">
                                    <th class="border-none">
                                        S.No
                                    </th>
                                    <th class="border-none">
                                        Payment Date
                                    </th>
                                    <th class="border-none">
                                        Due Date
                                    </th>
                                    <th class="border-none">
                                        Total Payment
                                    </th>
                                    <th class="border-none">
                                        Principle
                                    </th>
                                    <th class="border-none">
                                        Interest
                                    </th>
                                    <th class="border-none">
                                        Unpaid Balance
                                    </th>
                                    <th class="border-none">
                                        Status
                                    </th>
                                </tr>
                                </thead>

                                <tbody class="hierarchical_slide" hierarchical-slide><!--ng-click="contactView(row.id_crm_contact)"-->
                                <tr>
                                    <td>
                                        <label>1</label>
                                    </td>
                                    <td>
                                        <label>05 Jan,2016</label>
                                    </td>
                                    <td>
                                        <label>08 Jan,2016</label>
                                    </td>
                                    <td>
                                        <label>1,500</label>
                                    </td>
                                    <td>
                                        <label>1,200</label>
                                    </td>
                                    <td>
                                        <label>300</label>
                                    </td>
                                    <td>
                                        <label>8,500</label>
                                    </td>
                                    <td>
                                        <label>Paid</label>
                                    </td>


                                </tr>
                                <tr>
                                    <td>
                                        <label>2</label>
                                    </td>
                                    <td>
                                        <label>12 Feb,2016</label>
                                    </td>
                                    <td>
                                        <label>18 Feb,2016</label>
                                    </td>
                                    <td>
                                        <label>1,500</label>
                                    </td>
                                    <td>
                                        <label>1,200</label>
                                    </td>
                                    <td>
                                        <label>300</label>
                                    </td>
                                    <td>
                                        <label>8,500</label>
                                    </td>
                                    <td>
                                        <label>Paid</label>
                                    </td>


                                </tr>
                                <tr>
                                    <td colspan="4" class="text-right f15 no-bg bold">Total</td>
                                    <td class="bold f15 no-bg">2,400</td>
                                    <td colspan="3" class="bold f15 no-bg">600</td>
                                </tr>

                                </tbody>

                            </table>

                        </div>

                    </div>
                </div>
            </div>


        </div>

    </div>
</div>

