

    <div class="clearfix col-lg-12 p0">
        <div class="pull-right button-set" ng-init="init()">
            <button  uib-tooltip="Add New" ng-click="addCurrencyModal()" class="btn btn-dark f12 white-color mb5  text-uppercase border-none">
                <i class="icon-plus-circle mr4 f14 valign-middle"></i>Add New</button>
        </div>
        <label class="heading mb5">1.00 {{companyInfo.currency_code}} =</label>
        <table class="table table-view mb0 table-striped border-none table-hover table-style" ng-show="currencyList.length > 0">
            <thead>
            <tr>
                <th ng-repeat="(key, value)  in currencyList[0]">
                    {{key}}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="currency in currencyList">
                <td ng-repeat="(key, value) in currency">
                    {{value}}
                </td>
            </tr>
            </tbody>
        </table>

    </div>





