<div class="right-modal modal-custom" data-modal="currencyModal">
    <h3 class="right-modal-head clearfix">
        <div class="col-sm-6 p-l-0 mt5">
            <i class="fa fa-tasks mr8"></i>Add New Currency Value
        </div>
        <a ng-click="cancel()" class="close-right pull-right mt5"><img src="images/close.png"></a>
    </h3>

    <div class="clearfix">
        <form name="form" novalidate ng-submit="form.$valid && save(currencyList)">
            <div class="col-sm-12 p20 show-box-div clearfix" >
                <div class="col-sm-12 p0">
                    <div class="clearfix">
                        <div class="col-sm-4 pl0">
                        <label class="control-label bold f10">1.00 {{companyInfo.currency_code}}</label>
                        </div>
                        <div class="col-sm-6 pl0 mb15">
                            <label class="control-label bold f10">=</label>
                        </div>
                    </div>

                    <div class="clearfix" ng-repeat="currency in currencyList">

                        <div class="col-sm-4 pl0">
                            <label class="control-label">{{currency.currency_code}}</label>
                        </div>
                        <div class="col-sm-6 pl0 mb15">
                            <input type="number" ng-model="currencyList[$index].currency_value"  type="text"
                                   class="form-control p8" min="0"
                                   placeholder="" required>
                            <div ng-if="currencyList[$index].currency_value == null && submitted" class="error-message">
                                Enter currency value.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 mt10 text-center">

                    <button ng-click="submitted=true;form.$valid;"
                            class="btn btn-dark f12 white-color  text-uppercase border-none mr4"
                            type="submit">Save
                    </button>
                    <button ng-click="cancel()"
                            class="btn white-color f12 border-none  text-uppercase lt-bg" type="button">
                        Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>





