<div class="clearfix col-lg-12 p0">
    <div class="col-lg-3 col-sm-4 p0 ng-scope" data-ng-repeat="currency in currencyList">
        <div class="col-sm-1 p0 text-right">
            <input class="mt20 mr10 ng-pristine ng-untouched ng-valid" id="checkbox_{{$index}}" type="checkbox"
                   ng-model="currency.checkStatus" >

        </div>
        <div class="col-sm-11 pl5">
            <label class="display-block" for="checkbox_{{$index}}">
                <div class="list-data mb5 white-bg p10 full-width">
                    <div class="list-img pull-left dark-blue">
                        <div ng-if="!currency.currency_symbol">-</div>
                        <div>{{currency.currency_symbol}}</div>
                    </div>
                    <div class="list-text overflow-hidden">
                        <h5 class="f14 darkcolor mt10 ng-binding">{{currency.currency_code}}</h5>
                    </div>
                </div>
            </label>
        </div>
    </div>
    <div class=" clearfix col-sm-12 pt10 text-center" >
        <button class="f13 btn btn-dark white-color" ng-click="updateSelected(currencyList)">Update</button>
    </div>
</div>





