<h3 class="fixed content-heading">Operating Currency

</h3>

<div class="content-area animated fadeInRight" id="contentArea">

    <div class="content-container mt20 light-blue-bg">
        <div class="container-fluid p20">
            <!--<div class="tabs-section mt20 clearfix">
                <ul>
                    <li class="tab-active">
                        <a class="text-decoration-none" ui-sref="product.tabs.product-data" active-link="tab-active">
                            <div class="display-inline-block valign-top mr4 ash">
                                <i class="fa fa-check-circle f21"></i>
                            </div>
                            <div class="display-inline-block valign-top width80">
                                <h3 class="f14 ash">Data</h3>


                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="text-decoration-none" ui-sref="product.tabs.product-conditions" active-link="tab-active">
                            <div class="display-inline-block valign-top mr4 ash">
                                <i class="fa fa-check-circle f21"></i>
                            </div>
                            <div class="display-inline-block valign-top width80">
                                <h3 class="f14 ash">Terms and Conditions</h3>


                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="text-decoration-none" ui-sref="product.tabs.risk-assessment" active-link="tab-active">
                            <div class="display-inline-block valign-top mr4 ash">
                                <i class="fa fa-check-circle f21"></i>
                            </div>
                            <div class="display-inline-block valign-top width80">
                                <h3 class="f14 ash">Risk Assessment </h3>


                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="text-decoration-none" ui-sref="product.tabs.summary-recommendation" active-link="tab-active">
                            <div class="display-inline-block valign-top mr4 ash">
                                <i class="fa fa-check-circle f21"></i>
                            </div>
                            <div class="display-inline-block valign-top width80">
                                <h3 class="f14 ash">Summary and Recommendation </h3>


                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="text-decoration-none" ui-sref="product.tabs.disbursement-checklist" active-link="tab-active">
                            <div class="display-inline-block valign-top mr4 ash">
                                <i class="fa fa-check-circle f21"></i>
                            </div>
                            <div class="display-inline-block valign-top width80">
                                <h3 class="f14 ash">Pre Disbursement Checklist </h3>


                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="text-decoration-none" ui-sref="product.tabs.product-limits-approvals" active-link="tab-active">
                            <div class="display-inline-block valign-top mr4 ash">
                                <i class="fa fa-check-circle f21"></i>
                            </div>
                            <div class="display-inline-block valign-top width80">
                                <h3 class="f14  ash">Restrictions, Limits & Approval Authorities</h3>


                            </div>
                        </a>
                    </li>
                </ul>
            </div>-->
            <div class="col-sm-9 p0 pl0 page-left-wrap">
                <div class="col-sm-12 mt20 pl0">
                    <ui-view>

                    </ui-view>
                </div>
            </div>
            <div class="col-sm-3 page-right-wrap p0">
                <div class="v-tabs-wrap mt20">
                    <h3 class="tab-heading">Operating Currency</h3>
                    <ul>
                        <li ui-sref-active="tab-active">
                            <a href="javascript:;" ui-sref="operating-currency.tab.primary-currency"><i
                                    class="icon-star"></i><span> Primary currency</span></a>
                        </li>
                        <li ui-sref-active="tab-active">
                            <a href="javascript:;" ui-sref="operating-currency.tab.operating-currency"><i
                                    class="icon-filter"></i> <span>Operating Currency</span></a>
                        </li>
                        <li ui-sref-active="tab-active">
                            <a href="javascript:;" ui-sref="operating-currency.tab.exchange-rate"><i
                                    class="icon-fliter-new"></i> <span>Exchange Rate</span></a>
                        </li>

                    </ul>

                </div>
            </div>

        </div>
    </div>
</div>