<h3 class="fixed content-heading">Reporting Structure
    <ul class="pull-right icons-right">
        <li><a ui-sref="org.org-structure-view" active-link="heading-active" uib-tooltip="Structure "><i
                class="fa fa-sitemap "></i></a></li>
        <li><a ui-sref="org.org-structure" active-link="heading-active" uib-tooltip="List"><i
                class="fa fa-server"></i></a></li>
    </ul>
</h3>

<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg pl20 pb20 pr0">
        <div class="col-sm-7 mt20  pl0">
            <h3 class="darkcolor bold f14 mb10 text-uppercase">Organisation Structure - List View</h3>
            <p class="f12 dark mb5">The Organisation Structure module allows you to create and manage roles.</p>
            <ul class="e-list">
                <li>Create role types</li>
                <li>Organise roles</li>
                <li>Manage reporting hierarchy</li>
            </ul>
            <div class="mt15" ng-if="approvalTree.length == 0">
                <button type="submit" class="btn btn-primary btn-dark f12" ng-click="modalOpen()" tab-next>
                    Create A New Role
                </button>
            </div>
            <div class="structure-block clearfix" cols-horizontal>
                <ul class="level">
                    <li ng-repeat="data in approvalTree" ng-include="'tree_role_renderer.html'"></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-5 white-bg">
            <div class="mt20 ">
                <h3 class="darkcolor bold mb10 f14 text-uppercase">Organisation Structure - List View - Help</h3>
                <div class="str-info relative" doc-height>
                    <ul> <!--class="scroll-div-wrap" min-scroll-->
                        <li ng-repeat="data in approvalList">
                            <div class="b-color">
                                <span bk-color="{{data.id_approval_role}}"> </span>
                            </div>
                            <div class="b-text">
                                <h4 text-color="{{data.id_approval_role}}">{{data.approval_name}}</h4>
                                <p class="dark">{{data.description}}</p>
                            </div>
                        </li>
                       <!-- <li>
                            <div class="b-color">
                                <span bk-color="{{data.id_approval_role}}"> </span>
                            </div>
                            <div class="b-text">
                                <h4 text-color="{{data.id_approval_role}}">Chairman</h4>
                                <p class="dark">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            </div>
                        </li>-->
                    </ul>
                </div>
            </div>
        </div>



    </div>

</div>
<script type="text/ng-template" id="tree_role_renderer.html">
    <span bk-color="{{data.id_approval_role}}">
            {{data.approval_name}}
        <p>({{data.branch_type_name}})</p>

                </span>
    <i ng-click="modalOpen(data)" class="fa fa-pencil f12 ash cursor-pointer"></i></span>
    <i ng-click="modalOpen()" ng-if="data.nodes == undefined"
       class="fa fa-plus f12 ash cursor-pointer"></i>
    <ul ng-if="data.nodes.length > 0" class="level">
        <li ng-repeat="data in data.nodes" ng-include="'tree_role_renderer.html'"
            ng-class="{'no-element':data.branch_type_id==undefined}"></li>
    </ul>

</script>

<script type="text/ng-template" id="approvalStructureForm.html">

    <div class="modal-wrap right-modal modal-custom">
        <div class="clearfix">
            <h3 class="right-modal-head">
                <i class="fa fa-pencil-square-o mr8"></i> Approval Form
                <a ng-click="cancel()" class="close-right pull-right"><img src="images/close.png"></a>
            </h3>

        </div>
        <div class="modal-body clearfix">
            <div class="col-sm-12">
                <label class="control-label">Approval Role:*</label>
                <div class="form-group clearfix form-group-custom mb10">
                    <select ng-hide="editMode" ng-disabled="!editMode && sData.is_edit==0" name="id_approval_role"
                            class="form-control" ng-model="sData.id_approval_role" name="id_approval_role"
                            ng-options="role.id_approval_role as role.approval_name for role in roleList"
                            ng-disabled="sData.id_approval_role > 0">
                        <option value="" class="dark">--Select Approval Role--</option>
                    </select>
                </div>
                <div class="form-group clearfix form-group-custom">
                    <div class="form-group clearfix form-group-custom" ng-if="editMode">
                        <input  ng-model="sData.approval_name" name="approval_name" class="form-control  col-sm-12" type="text"/>
                    </div>
                </div>
            </div>

            <div class="col-sm-12" ng-if="editMode">
                <label class="control-label">Description</label>
                <div class="form-group clearfix form-group-custom">
                    <input ng-model="sData.description" class="form-control  col-sm-12" name="description" type="text"/>
                </div>
            </div>

            <div class="clearfix" ng-if="sData.id_approval_role==null">

                <h1 class="text-center btn-circle">OR</h1>

                <div class="col-sm-12">
                    <label class="control-label">Add New Role Type</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="sData.approval_name" class="form-control  col-sm-12" name="approval_name" type="text"/>
                    </div>
                </div>

                <div class="col-sm-12">
                    <label class="control-label">Description</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="sData.description" class="form-control  col-sm-12" name="description" type="text"/>
                    </div>
                </div>

            </div>
            <div class="col-sm-12">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label">Branch Type:*</label>
                    <select name="branch_type_id" class="form-control" ng-model="sData.id_branch_type" name="id_branch_type"
                            ng-options="branch.id_branch_type as branch.branch_type_name for branch in branchList">
                        <option value="" class="dark">--Select Branch Type--</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group clearfix mb0 form-group-custom">
                    <input ng-model="sData.is_primary" type="checkbox" name="is_primary"/>
                    <label class="control-label">Is Primary</label>
                </div>
            </div>

            <div class="col-sm-12" ng-if="sData.is_primary !=true">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label">Reporting To:*</label>
                    <select name="reporting_role_id" class="form-control" ng-model="sData.reporting_id" name="reporting_id"
                            ng-options="role.id_approval_role as role.approval_name disable when role.id_approval_role==sData.id_approval_role for role in approvalList">
                        <option value="" class="dark">--Select Reporting Approval Role--</option>
                    </select>
                </div>
             <!--   <div class="form-group clearfix form-group-custom mb10" ng-show="sData.reporting_approval_name">
                    <label class="control-label">Reporting To:</label>
                    <label class="control-label">{{sData.reporting_approval_name}}</label>
                </div>-->
            </div>


            <div class="col-sm-12 text-center mt10">
                <button ng-click="addApproval(sData)" class="btn btn-primary btn-dark f12">Save</button>
            </div>
        </div>
    </div>
</script>
