<h3 class="fixed content-heading">Organisation Structure
    <ul class="pull-right icons-right">
        <!--<li><a ui-sref="app.org-structure-view" ng-click="open()" uib-tooltip="Upload"><i
                class="fa fa-cloud-upload"></i></a></li>-->
        <li><a ui-sref="org.org-structure-view" active-link="heading-active" uib-tooltip="Structure"><i
                class="fa fa-sitemap"></i></a></li>
        <li><a ui-sref="org.org-structure" active-link="heading-active" uib-tooltip="List"><i class="fa fa-server "></i></a>
        </li>
    </ul>
</h3>

<div id="contentArea" class="content-area animated fadeInRight">

    <div class="content-container clearfix light-blue-bg pl20 pr10 pb28">
        <div class="col-sm-12 mt20 p0">
            <div class="col-sm-8 col-lg-6 p0" data-ng-if="orgRoleTree.length > 0">
                <label class="f14 col-sm-3 col-lg-3 p0 mt5 darkcolor">Select Organisation: </label>
                <div class="col-sm-6 col-lg-4 p0">
                    <select ng-change="roleChange(reporting_user_id)" chosen class="chosen-select form-control"
                            ng-model="reporting_user_id"
                            ng-options="role.user_id as role.first_name+' '+role.last_name+' ('+role.legal_name+')' for role in orgRoleTree">
                        <option value="">--ALL--</option>
                    </select>
                </div>

            </div>

        </div>
        <div class="clearfix"></div>
        <div class="clearfix mt15">
            <div class="legend-view">

                <ul>
                    <li ng-repeat="item in roleTypes">
                        <span class="box-color" bk-color="{{item.id_approval_role}}"></span>
                        <lable class="box-info">{{item.approval_name}}</lable>
                    </li>
                </ul>
            </div>
        </div>
        <div ng-if="orgRoleTreeStructure.length == 0">
            <a class="btn btn-primary btn-dark f12" ui-sref="app.create-user">
                Create New user
            </a>
        </div>
        <div class="tree clearfix horizontal-div-for-scroll custom-width-new" cols-horizontal>
            <ul class="clearfix main-str" ng-if="orgTreeShow">
                <li ng-repeat="data in orgRoleTreeStructure" ng-include="'tree_item_renderer.html'"></li>
            </ul>
        </div>
    </div>
</div>
<script type="text/ng-template" id="tree_item_renderer.html">

    <div class="node org-node" bk-color="{{data.id_approval_role}}">
        <p>{{data.first_name}} {{data.last_name}}</p>

        <p>{{data.approval_name}}</p>
        <p>{{data.legal_name}}</p>

        <div class="control-wrap mt10">
            <ul class="clearfix">
                <li ng-click="editCompanyUser(data.user_id)">
                    <span><i class="fa fa-pencil white-color"></i></span>
                </li>
                <li ng-click="createUser(data.id_approval_role)">
                    <span><i class="fa fa-plus-circle white-color"></i></span>
                </li>
                <li ng-click="userViewModal(data.user_id)">
                    <span><i class="fa fa-eye white-color"></i></span>
                </li>
            </ul>
        </div>
    </div>


    <ul class="clearfix" ng-if="data.nodes.length > 0">
        <li ng-repeat="data in data.nodes" ng-include="'tree_item_renderer.html'"></li>
    </ul>


</script>


