<div class="radio-list width220 pl20 mt5" ng-if="question.question_type=='text'">
    <input type="text" class="form-control"/>
</div>
<div ng-if="question.question_type=='textarea'">
                                                 <textarea ng-model="question.answer.assessment_answer"
                                                           class="width-full min-height70 f12 p10 darkcolor" ></textarea>
</div>
<div class="radio-list pl20 mt5" ng-if="question.question_type=='file'">
    <input type="file" class="f14" ng-model="question.answer.assessment_answer">
</div>
<div class="radio-list pl20 mt5" ng-if="question.question_type=='dropdown'">
    <select class="form-control width220" ng-model="question.question_value">
        <option ng-repeat="option in question.question_option"
                value="{{option.option_id}}">
            {{option.option_title}}
        </option>
    </select>
</div>
<div class="radio-list pl20 mt5 clearfix" ng-if="question.question_type=='date'">
    <div class="input-group col-sm-6 col-lg-3  p0">
        <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
               data-ng-model="contact.date_of_birth" type="text"
               name="date_of_birth"
               is-open="openCal"
               show-weeks="false" show-button-bar="false" readonly/>
                                          <span class="input-group-btn">
                                            <button type="button" class="btn btn-default border"
                                                    ng-click="openCal = true">
                                                <i class="fa fa-calendar"></i></button>
                                          </span>
    </div>
</div>
<div ng-if="question.question_type=='text'">
    <input type="text" ng-model="question.answer.assessment_answer" class="width-full f12 p10 darkcolor"/>

</div>
<div ng-if="question.question_type=='textarea'" class="col-lg-12 p0">
    <textarea kendo-editor k-ng-model="question.answer.assessment_answer" class="width-full min-height70 f12 p10 darkcolor"></textarea>
</div>



<!--<div ng-if="question.question_type=='text'">
    <input type="text" ng-model="question.answer.assessment_answer" class="width-full f12 form-control darkcolor"/>

</div>
<div ng-if="question.question_type=='textarea'" class="col-lg-12 p0">
    <textarea kendo-editor k-ng-model="question.answer.assessment_answer" class="width-full min-height70 f12 p10 darkcolor"></textarea>
</div>
<div class="radio-list" ng-if="question.question_type=='date'">
    <div class="input-group width220">
        <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
               data-ng-model="question.answer.assessment_answer" type="text" name="date_of_birth"
               date-type="string"
               is-open="openCal"
               show-weeks="false" show-button-bar="false" readonly />
                                          <span class="input-group-btn">
                                            <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                                <i class="fa fa-calendar"></i></button>
                                          </span>
    </div>
</div>
<ul class="radio-list" ng-if="question.question_type=='radio'">
    <li class="darkcolor border-none pad0 mb3 display-inline-block valign-top mr8 f13" ng-repeat="option in question.question_option">
        <input type="radio" name="radio_{{question.id_assessment_question}}" ng-value="option.option_id" ng-model="question.answer.assessment_answer" class="valign-middle"> {{option.option_title}}

    </li>
</ul>
<ul class="radio-list" ng-if="question.question_type=='checkbox'">
    <li class="darkcolor border-none pad0 mb3 f13" ng-repeat="option in question.question_option">
        <input type="checkbox" name="radio" ng-model="question.answer.assessment_answer[option.option_id]" class="valign-middle"> {{option.option_title}}

    </li>
</ul>
<div class="radio-list" ng-if="question.question_type=='dropdown'">
    <select class="form-control width220" ng-model="question.answer.assessment_answer">
        <option ng-repeat="option in question.question_option"
                value="{{option.option_id}}">
            {{option.option_title}}
        </option>
    </select>

</div>
<div class="radio-list" ng-if="question.question_type=='file'">
    <div ng-init="question.answer.file={}"></div>
    <input type="file" class="f14" ngf-select ng-model="question.answer.file" name="file"
           accept="image/*" ngf-max-size="2MB">
    <div class="row col-lg-12" ng-if="question.answer.assessment_answer !=null">
        <a target="_blank" class="f12 sky-blue" href="{{question.answer.assessment_answer}}" download><span><i class="fa fa-download mr4"></i>Download </span></a>
    </div>
</div>-->
