<div class="field row">
    <div class="span4">
        <div ng-repeat="option in question.question_option" class="row-fluid">
            <label>
                <input type="radio" value="{{option.option_value}}" ng-model="question.option_value"  ng-required="field.field_required"/>
                &nbsp;<span ng-bind="option.option_title"></span>
            </label>
        </div>
        <span class="required-error" ng-show="question.required && !field.option_value">* required</span>
    </div>
</div>
<br>
