<div class="col-sm-12">
    <div class="form-group clearfix form-group-custom">
        <textarea kendo-editor  k-tools="{{kendoOptions}}" required="" class="width-full p10 f12"></textarea>
    </div>
</div>
