<h3 class="fixed content-heading">{{title}}
</h3>

<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix p20">
        <div class="question-wrap plr20 pt10 pb20 white-bg box-shadow">
            <div class="question-header clearfix">
                <h4 class="heading clearfix border-bottom pb10">
                    <span class="heading display-inline-block pt10">{{title}}</span>
                    <a href="javascript:;" ng-click="addCategoryModal()"
                       class="btn btn-dark white-color pull-right text-capitalize btn-sm f13">Add Main
                        Category</a>
                </h4>
            </div>
            <div class="question-list mt15">

                <div class="accordian-wrapper mb5" ng-repeat="category in categoryQuestionList">
                    <div class="clearfix acc-head">
                        <input type="checkbox" class="pull-left mt5 mr4"
                               ng-model="category.assessment_question_category_status"
                               ng-checked="category.assessment_question_category_status==1"
                               ng-true-value="1"
                               ng-false-value="0"
                               ng-change="categoryStatusChange(category)"
                                >

                        <h1 class="f15 darkcolor mt5 cursor-pointer" basic-accordian>
                            <span class="display-inline-block ml5 f12 mr4"><i class="accord-open"></i> </span>
                            {{category.assessment_question_category_name}}
                            <div class="display-inline-block icons-wrap-list">
                                <!--<a href="javascript:;"  class="mr4 f14 dark-sky-blue"><i class="icon-trash"></i> </a>-->
                                <a href="javascript:;" ng-click="addCategoryModal(category)"
                                   class="mr4 f13 dark-sky-blue"><i class="icon-edit"></i> </a>
                            </div>
                        </h1>
                    </div>
                    <div class="acc-body">
                        <ul>
                            <li class="clearfix" ng-repeat="question in category.question">
                                <input id="question_{{question.id_assessment_question}}" type="checkbox" class="mr4"
                                       ng-model="question.question_status"
                                       ng-checked="question.question_status==1"
                                       ng-true-value="1"
                                       ng-false-value="0"
                                       ng-change="statusChange(category,question)">
                                <label class="darkcolor">{{question.assessment_question}}
                                    <div class="display-inline-block icons-wrap-list">
                                        <!--<a href="javascript:;" class="mr4 dark-sky-blue"><i class="icon-trash"></i> </a>-->
                                        <a href="javascript:;" ng-click="assessmentModal(category,question)"
                                           class="mr4 f13 dark-sky-blue"><i class="icon-edit"></i> </a>
                                        <!--   <a href="javascript:;" class="mr4 dark-sky-blue"><i
                                                   class="icon-plus-circle"></i> </a>-->
                                    </div>
                                </label>
                                <ul class="radio-list pl20 mt5"
                                    ng-if="question.question_type=='radio'|| question.question_type=='checkbox'">
                                    <li class="darkcolor border-none pad0 mb3"
                                        ng-repeat="option in question.question_option">
                                        <input type="{{question.question_type}}" name="radio"
                                               ng-model="option.option_value"> {{option.option_title}}

                                    </li>
                                </ul>
                                <div class="radio-list width220 pl20 mt5" ng-if="question.question_type=='text'">
                                   <input type="text" class="form-control" />
                                </div>
                                <div ng-if="question.question_type=='textarea'">
                                    <textarea kendo-editor k-ng-model="question.answer.assessment_answer" class="width-full min-height70 f12 p10 darkcolor"></textarea>
                                </div>
                                <div class="radio-list pl20 mt5" ng-if="question.question_type=='file'">
                                    <input type="file" ng-model="question.answer.assessment_answer">
                                </div>
                                <div class="radio-list pl20 mt5" ng-if="question.question_type=='dropdown'">
                                    <select class="form-control width220" ng-model="question.question_value">
                                        <option ng-repeat="option in question.question_option"
                                                value="{{option.option_id}}">
                                            {{option.option_title}}
                                        </option>
                                    </select>

                                </div>
                                <div class="radio-list pl20 mt5" ng-if="question.question_type=='date'">
                                    <div class="input-group col-lg-3">
                                        <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                                               data-ng-model="contact.date_of_birth" type="text" name="date_of_birth"
                                               is-open="openCal"
                                               show-weeks="false" show-button-bar="false" readonly/>
                                          <span class="input-group-btn">
                                            <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                                <i class="fa fa-calendar"></i></button>
                                          </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="add-question-btn">
                            <a href="javascript:;" class="sky-blue f14" modal="addAssessment"
                               ng-click="assessmentModal(category)">Add
                                Questions</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="qpanel mt20 mb10 clearfix">
            <div class="panel-left-wrap">
                <h3 class="heading pt10 pb20">Question Types</h3>
                <div class="panel-btn-wrap pb10 border-bottom-color">
                    <ul class="clearfix"  ui-sref="app.assessment-questions-view">
                        <li>
                            <a href="javascript:;" ng-click="addCategoryModal()">Add Main Category</a>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="icon-short-text"></i> Short Text</a>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="icon-input-text"></i> Input Text</a>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="icon-yes-no"></i> Yes/No</a>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="icon-stars"></i> Ratings</a>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="icon-calendar1"></i> Date</a>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="icon-globe1"></i> Website</a>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="icon-list"></i> Dropdown</a>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="icon-mail"></i> Email</a>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="icon-cloud-export"></i> File Upload</a>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="icon-file-picture"></i> Picture</a>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="icon-list-ul"></i> Options</a>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="icon-numbers"></i> Numbers</a>
                        </li>
                        <li>
                            <a href="javascript:;"><i class="icon-right-circle"></i> Multiple Choice</a>
                        </li>
                    </ul>
                </div>
                <div class="switch-view">
                    <h4 class="text-uppercase f14 darkcolor ptb10">Settings</h4>
                    <div class="">
                        <h5 class="f14 darkcolor display-inline-block">
                            <a href="javascript:;"><i class="fa fa-question-circle darkcolor  mr10"></i></a>
                            Show Options
                        </h5>
                        <div class="onoffswitch pull-right">
                            <input type="checkbox"  name="onoffswitch_toggle" class="onoffswitch-checkbox" id="toggle-switch">
                            <label class="onoffswitch-label" for="toggle-switch">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>

                </div>

            </div>
            <div class="panel-right-wrap">
                <h2 class="heading text-uppercase p15 ash-bg border-bottom-color">General Business Assessments

                </h2>
                <div class="q-box mt10 mb10">
                    <h3 class="f15 darkcolor ptb10 overflow-hidden bold acc-heading clearfix">Business and Products
                        <div class="display-inline-block icons-wrap-list pull-right">
                            <a href="javascript:;"
                               class="mr4 f14 darkcolor"><i class="icon-edit"></i> </a>
                        </div>
                    </h3>
                    <div class="acc-wrapper accordian-wrapper q-acc-wrap">
                        <div class="clearfix acc-head q-acc-head cursor-pointer">
                            <input type="checkbox" class="pull-left mt5 mr4">
                            <h3 class="f14 ml5 pull-left darkcolor mt5" basic-accordian>
                                Explain the history of the business
                            </h3>
                                <div class="display-inline-block pull-right custom-list">
                                    <a class="menu-toggle f13 dark-sky-blue mr4 dropdown-toggle" data-toggle="dropdown" href="javascript:;"><i class="fa fa-ellipsis-v"></i>
                                    </a>
                                    <ul class="dropdown-menu cust-dropdown" >
                                        <li>
                                            <a href="javascript:;" class="f14 darkcolor"><i class="icon-edit"></i>Edit</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="f14 darkcolor"><i class="icon-trash"></i>Delete</a>
                                        </li>
                                    </ul>
                                </div>

                        </div>
                        <div class="acc-body">
                            <div class="acc-data">
                                <textarea class="width-full min-height70 p10 f14 darkcolor"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="acc-wrapper accordian-wrapper q-acc-wrap">
                        <div class="clearfix acc-head q-acc-head cursor-pointer">
                            <input type="checkbox" class="pull-left mt5 mr4">
                            <h3 class="f14 ml5 pull-left darkcolor mt5" basic-accordian>
                                Describe Products and services without being too technical
                            </h3>
                            <div class="display-inline-block pull-right custom-list">
                                <a class="menu-toggle f13 dark-sky-blue mr4 dropdown-toggle" data-toggle="dropdown" href="javascript:;"><i class="fa fa-ellipsis-v"></i>
                                </a>
                                <ul class="dropdown-menu cust-dropdown">
                                    <li>
                                        <a href="javascript:;" class="f14 darkcolor"><i class="icon-edit"></i>Edit</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="f14 darkcolor"><i class="icon-trash"></i>Delete</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="acc-body">
                            <div class="acc-data">
                                <div class="radio-list">
                                    <ul>
                                        <li>
                                            <input type="radio" class="display-inline-block valign-middle" id="option_1" name="radio_option">
                                            <lable for="option_1">Option 1</lable>
                                        </li>
                                        <li>

                                            <input type="radio" class="display-inline-block valign-middle" id="option_2" name="radio_option">
                                            <lable for="option_2">Option 2</lable>
                                        </li>
                                        <li>
                                            <input type="radio" class="display-inline-block valign-middle" id="option_3" name="radio_option">
                                            <lable for="option_3">Option 3</lable>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="q-box mt10 mb10">
                    <h3 class="f15 darkcolor pt10 overflow-hidden bold acc-heading clearfix">Market and Competition
                        <div class="display-inline-block icons-wrap-list pull-right">
                            <a href="javascript:;"
                               class="mr4 f14 darkcolor"><i class="icon-edit"></i> </a>
                        </div>
                    </h3>
                    <div class="pull-left">
                        <a class="sky-blue f12 mr15" href="#">Coffee Farming</a><a class="sky-blue f14" href="#">Farm Mechinery</a>
                    </div>
                </div>
                <div class="col-sm-12 white-bg clearfix mt15">
                    <h3 class="f14 darkcolor ptb10 overflow-hidden bold acc-heading text-uppercase clearfix">Add Main Category
                        <div class="display-inline-block pull-right">
                            <a href="javascript:;"
                               class="mr4 f14 darkcolor"><i class="icon-times"></i> </a>
                        </div>
                    </h3>
                    <label class="control-label">Market and Competition</label>
                    <div class="form-group clearfix form-group-custom col-sm-12 p0">

                        <select class="form-control" name="">
                            <option value="">--Select--</option>
                        </select>
                    </div>

                    <div class="form-group col-sm-12 clearfix p0">
                        <div>
                            <input type="checkbox" class="display-inline-block valign-middle" id="sect" name="">
                            <lable class="sky-blue f14" for="sect">Sub Sectors Specific</lable>
                        </div>

                        <div class="table-search width-full">
                            <div ng-dropdown-multiselect="" class="width-full" checkboxes="true" options="userList"
                                 selected-model="meeting.invitation_id" extra-settings="multipleSettings"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 text-left mtb10 p0">
                        <button  class="btn btn-primary btn-dark f12 mr8">Save</button>
                        <button  class="btn btn-default lt-bg white-color f12">Cancel</button>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
