<div class="right-modal modal-custom" data-modal="addAssessment">
    <h3 class="right-modal-head">
        Market And Competition
        <a class="close-right pull-right" ng-click="cancel()"><img src="images/close.png"></a>
    </h3>

    <form class="form-bordered" name="form"  novalidate >

        <div class="form-group clearfix p10  form-group-custom white-bg m0">
            <div class="col-sm-12">
                <label class="darkcolor f14">What question do you want to ask</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea class="width-full p10 min-height100 f12 " placeholder="Type your question here"></textarea>
                </div>
            </div>
            <div class="col-sm-12" >
                <label class="darkcolor f14">Answer Type</label>
                <div class="form-group clearfix form-group-custom">
                    <select class="form-control">
                        <option value="">--Select Type--</option>
                        <option value="">Radio</option>
                        <option value="">Checkbox</option>
                        <option value="">Textarea</option>
                    </select>

                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group clearfix form-group-custom">
                    <textarea kendo-editor  k-tools="{{kendoOptions}}" required="" class="width-full p10 f12" placeholder="Type your question here"></textarea>
                </div>
            </div>

            <div class="col-sm-12 clearfix">
                <label class="darkcolor f14">Tags</label>
                <div class="table-search  form-group  width-full">
                    <div ng-dropdown-multiselect="" class="width-full" checkboxes="true" options="tagsList"
                         selected-model="" extra-settings="multipleSettings"></div>
                </div>
            </div>

            <div class="col-sm-12 mt40">
                <label class="darkcolor f14">What question do you want to ask</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea required="" class="width-full min-height100 p10 f12" placeholder="Type your question here"></textarea>
                </div>
            </div>

            <div class="col-sm-12 mb10" >
                <label class="darkcolor f14">Answer Type</label>
                <div class="form-group clearfix form-group-custom">
                    <select class="form-control">
                        <option value="">--Select Type--</option>
                        <option value="">Radio</option>
                        <option value="">Checkbox</option>
                        <option value="">Textarea</option>
                    </select>

                </div>
                <label class="f14 ash"><input type="checkbox" checked class="mr8">Required this option</label>
            </div>
            <div class="col-sm-12">
                <label class="dark-blue f14 mb10">Option 1</label>
                <div class="inv-option-wrap col-sm-12">
                    <div><input type="checkbox"></div>
                    <div class="form-group col-sm-9 clearfix form-group-custom">
                        <input type="text" required=""  class="form-control">
                    </div>
                    <div><a class="sky-blue" href=""><i class="icon-trash"></i></a></div>
                </div>
                <div class="inv-option-wrap col-sm-12">
                    <div><input type="checkbox"></div>
                    <div class="form-group col-sm-9 clearfix form-group-custom">
                        <input type="text" required=""  class="form-control">
                    </div>
                    <div><a class="sky-blue" href=""><i class="icon-trash"></i></a></div>
                </div>
                <div class="inv-option-wrap col-sm-12">
                    <div><input type="checkbox"></div>
                    <div class="form-group col-sm-9 clearfix form-group-custom">
                        <input type="text" required=""  class="form-control">
                    </div>
                    <div><a class="sky-blue" href=""><i class="icon-trash"></i></a><a class="sky-blue ml15" href=""><i class="icon-plus-circle"></i></a></div>
                </div>


            </div>




            <div class="col-sm-12 clearfix">
                <label class="darkcolor f14">Tags</label>
                <div class="table-search  form-group  width-full">
                    <div ng-dropdown-multiselect="" class="width-full" checkboxes="true" options="tagsList"
                         selected-model="tagsList" extra-settings="multipleSettings"></div>
                </div>
            </div>
            <div class="col-sm-12 mt10 mb10">
                <button class="btn btn-dark white-color mr8 f12 text-uppercase">Save
                </button>
                <button class="btn white-color lt-bg f12 text-uppercase">
                    Cancel
                </button>
            </div>
        </div>


    </form>
</div>