<h3 class="fixed content-heading">Assessment Questions
    <div class="pull-right button-set">
        <a uib-tooltip="Add New" modal="addAssessment" ng-click="assessmentModal()"><i class="fa icon-plus-circle"></i>
        </a>
    </div>
</h3>
<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix p20">
        <div class="question-wrap plr20 pt10 pb20 white-bg box-shadow">
            <div class="question-header clearfix">
                <h4 class="heading clearfix border-bottom pb10">
                    <span class="heading display-inline-block pt10">General Business Assessments</span>
                    <a href="javascript:;"
                       class="btn btn-dark white-color pull-right text-capitalize btn-sm border-radius0 f13">Add Main
                        Category</a>
                </h4>
            </div>
            <div class="question-list mt15">

                <div class="accordian-wrapper mb5">
                    <div class="clearfix acc-head acc-open">
                        <input type="checkbox" class="pull-left mt5 mr4">

                        <h1 class="f15 darkcolor mt5 cursor-pointer" basic-accordian>
                            <span class="display-inline-block ml5 f12 mr4"><i class="accord-open"></i> </span>
                            Business and Planning
                            <div class="display-inline-block icons-wrap-list">
                                <a href="javascript:;" class="mr4 f14 dark-sky-blue"><i class="icon-trash"></i> </a>
                                <a href="javascript:;" class="mr4 f14 dark-sky-blue"><i class="icon-edit"></i> </a>
                            </div>
                        </h1>
                    </div>
                    <div class="acc-body" style="display: block">
                        <ul>
                            <li>
                                <input id="ques1" type="checkbox" class="mr4">
                                <lable class="darkcolor" for="ques1">Explain the history of business
                                    <div class="display-inline-block icons-wrap-list">
                                        <a href="javascript:;" class="mr4 dark-sky-blue"><i class="icon-trash"></i> </a>
                                        <a href="javascript:;" class="mr4 dark-sky-blue"><i class="icon-edit"></i> </a>
                                        <a href="javascript:;" class="mr4 dark-sky-blue"><i
                                                class="icon-plus-circle"></i> </a>
                                    </div>
                                </lable>
                            </li>
                            <li>
                                <input id="ques2" type="checkbox" class="mr4">
                                <lable class="darkcolor" for="ques2">Describe Products and services without being too
                                    technical
                                    <div class="display-inline-block icons-wrap-list">
                                        <a href="javascript:;" class="mr4 dark-sky-blue"><i class="icon-trash"></i> </a>
                                        <a href="javascript:;" class="mr4 dark-sky-blue"><i class="icon-edit"></i> </a>
                                        <a href="javascript:;" class="mr4 dark-sky-blue"><i
                                                class="icon-plus-circle"></i> </a>
                                    </div>
                                </lable>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="accordian-wrapper mb5">
                    <div class="clearfix acc-head">
                        <input type="checkbox" class="pull-left mt5 mr4">

                        <h1 class="f15 darkcolor mt5 cursor-pointer" basic-accordian>
                            <span class="display-inline-block ml5 f12 mr4"><i class="accord-open"></i> </span>
                            Market and Competition
                            <div class="display-inline-block icons-wrap-list">
                                <a href="javascript:;" class="mr4 f14 dark-sky-blue"><i class="icon-trash"></i> </a>
                                <a href="javascript:;" class="mr4 f14 dark-sky-blue"><i class="icon-edit"></i> </a>
                            </div>
                        </h1>
                    </div>
                    <div class="acc-body">
                        <ul>
                            <li>
                                <input id="ques3" type="checkbox" class="mr4">
                                <lable class="darkcolor" for="ques1">Explain the history of business
                                    <div class="display-inline-block icons-wrap-list">
                                        <a href="javascript:;" class="mr4 dark-sky-blue"><i class="icon-trash"></i> </a>
                                        <a href="javascript:;" class="mr4 dark-sky-blue"><i class="icon-edit"></i> </a>
                                        <a href="javascript:;" class="mr4 dark-sky-blue"><i
                                                class="icon-plus-circle"></i> </a>
                                    </div>
                                </lable>
                            </li>
                            <li>
                                <input id="ques4" type="checkbox" class="mr4">
                                <lable class="darkcolor" for="ques2">Describe Products and services without being too
                                    technical
                                    <div class="display-inline-block icons-wrap-list">
                                        <a href="javascript:;" class="mr4 dark-sky-blue"><i class="icon-trash"></i> </a>
                                        <a href="javascript:;" class="mr4 dark-sky-blue"><i class="icon-edit"></i> </a>
                                        <a href="javascript:;" class="mr4 dark-sky-blue"><i
                                                class="icon-plus-circle"></i> </a>
                                    </div>
                                </lable>
                            </li>
                            <li>
                                <input id="ques5" type="checkbox" class="mr4">
                                <lable class="darkcolor" for="ques2">Describe Products and services</lable>
                                <ul class="radio-list pl20 mt5">
                                    <li class="darkcolor border-none pad0 mb3">
                                        <input type="radio"> Option 1
                                    </li>
                                    <li class="darkcolor border-none pad0 mb3">
                                        <input type="radio"> Option 2
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="accordian-wrapper mb5">
                    <div class="clearfix acc-head">
                        <input type="checkbox" class="pull-left mt5 mr4">

                        <h1 class="f15 darkcolor mt5 cursor-pointer" basic-accordian>
                            <span class="display-inline-block ml5 f12 mr4"><i class="accord-open"></i> </span>
                            Market and Competition
                            <div class="display-inline-block icons-wrap-list">
                                <a href="javascript:;" class="mr4 f14 dark-sky-blue"><i class="icon-trash"></i> </a>
                                <a href="javascript:;" class="mr4 f14 dark-sky-blue"><i class="icon-edit"></i> </a>
                            </div>
                        </h1>
                    </div>
                    <div class="acc-body">
                        <ul>
                            <li>
                                <input id="ques6" type="checkbox" class="mr4">
                                <lable class="darkcolor" for="ques6">Explain the history of business</lable>
                                <div class="plr30 pr0">
                                    <textarea class="darkcolor width-full f14 p10 min-height100"
                                              placeholder="Type your question here"></textarea>
                                </div>
                            </li>

                        </ul>
                    </div>

                </div>
                <div class="accordian-wrapper mb5">
                    <div class="clearfix acc-head">
                        <input type="checkbox" class="pull-left mt5 mr4">

                        <h1 class="f15 darkcolor mt5 cursor-pointer" basic-accordian>
                            <span class="display-inline-block ml5 f12 mr4"><i class="accord-open"></i> </span>
                            Market and Competition
                            <div class="display-inline-block icons-wrap-list">
                                <a href="javascript:;" class="mr4 f14 dark-sky-blue"><i class="icon-trash"></i> </a>
                                <a href="javascript:;" class="mr4 f14 dark-sky-blue"><i class="icon-edit"></i> </a>
                            </div>
                        </h1>
                    </div>
                    <div class="acc-body">
                        <ul>
                            <li>
                                <div class="pl20">
                                    <p class="f14 ash">There is no questions in this category</p>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="add-question-btn">
                    <a href="javascript:;" class="sky-blue f14" modal="addAssessment" ng-click="assessmentModal()">Add
                        Questions</a>
                </div>


            </div>
        </div>

    </div>
</div>
