<h3 class="fixed content-heading">Rating Model
    <div class="pull-right button-set">
        <a href="javascript:;" uib-tooltip="Add"><i class="icon-plus-circle"></i></a>
    </div>
</h3>

<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container clearfix">
        <div class="col-sm-12 pt20 pb20 clearfix">
            <div class="col-lg-9 col-sm-8 pl0">

                    <input type="text" class="form-control p8" placeholder="Add Risk Category">

            </div>
            <div class="col-lg-1 col-sm-2 pl0">

                    <input type="text" class="form-control p8" placeholder="%">

            </div>
            <div class="col-lg-2 col-sm-2 p0 mt5">
                <button class="btn btn-dark f12 white-color  border-radius0 text-uppercase border-none mr4" type="submit">Save</button>
                <button class="btn white-color f12 border-none border-radius0 text-uppercase lt-bg" type="submit">Cancel</button>
            </div>
        </div>

        <div class="risk-assessment-accord clearfix col-sm-12">
            <div class="acc-wrapper scroll-div-wrap" min-scroll>
                <div class="acc-box">
                    <div class="clearfix acc-head light-wheet-bg white-color acc-open">
                        <div class="col-sm-10 mt8 pl0">
                            <span class="acc-icon darkcolor m-2 pull-left mr8 f18"><i class="icon-angle-rightt-circle"></i> </span>
                            <h2 class="f15 pull-left width95 overflow-hidden bold darkcolor cursor-pointer" basic-accordian> Sector and Business Risks</h2>
                        </div>

                        <div class="text-right relative col-sm-2 pr0">
                            <div class="display-inline-block">
                                <span class="box-rating sm-box">35%</span>
                            </div>
                            <div class="display-inline-block custom-list valign-middle">
                                <a class="menu-toggle f13 dark-sky-blue dropdown-toggle" data-toggle="dropdown"
                                   href="javascript:;"><i class="fa fa-ellipsis-v"></i>
                                </a>
                                <ul class="dropdown-menu cust-drop">
                                    <li>
                                        <a href="javascript:;" class="f14 darkcolor"><i class="icon-edit mr8"></i>Edit</a>
                                    </li>
                                </ul>
                            </div>
                        </div>


                    </div>
                    <div class="acc-body clearfix" style="display: block">
                        <div class="acc-left-panel pull-left">
                            <div class="acc-add-wrap clearfix">
                                <h3 class="f14 mb10 bold text-uppercase darkcolor">Risk Sub Category</h3>
                                <div class="col-sm-7 p0">
                                    <input type="text" class="form-control" placeholder="add risk sub category">
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" placeholder="%">
                                </div>
                                <div class="col-sm-2 p0">
                                    <button class="btn btn-dark f12 white-color border-radius0 text-uppercase">Add</button>
                                </div>

                            </div>
                            <div class="acc-list-wrap">
                                <ul>
                                    <li>
                                        <a href="javascript:;">Growth Cyclicality and Performance <span class="pull-right">20%</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Level of Competition <span class="pull-right">20%</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Growth Cyclicality and Performance <span class="pull-right">20%</span></a>
                                    </li>
                                </ul>

                            </div>

                        </div>
                        <div class="acc-right-panel pull-left">
                            <div class="acc-right-head clearfix">
                                <div class="col-sm-8 col-lg-9 mt8 pl0">
                                    <h3 class="f14 pull-left width95 text-uppercase overflow-hidden bold darkcolor cursor-pointer"> Supply Risk </h3>
                                </div>

                                <div class="text-right relative col-sm-4 col-lg-3 pr0">
                                    <div class="display-inline-block">
                                        <button class="btn btn-dark f12 white-color border-radius0 text-uppercase">Add Attributes</button>
                                    </div>
                                    <div class="display-inline-block custom-list valign-middle">
                                        <a class="menu-toggle f14 dark-sky-blue dropdown-toggle" data-toggle="dropdown"
                                           href="javascript:;"><i class="fa fa-ellipsis-v"></i>
                                        </a>
                                        <ul class="dropdown-menu cust-drop">
                                            <li>
                                                <a href="javascript:;" class="f14 darkcolor"><i class="icon-edit mr8"></i>Edit</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="acc-right-data">
                                <div class="acc-block clearfix">
                                    <h4 class="f14 text-uppercase darkcolor pb5 mb10 border-bottom">Supply Concentration
                                        <a href="javascript:;" class="pull-right sky-blue f16"><i class="icon-edit"></i> </a>
                                    </h4>
                                    <div class="acc-block-left col-sm-4 col-lg-3 pl0">
                                        <div class="">
                                            <select class="width-full form-control">
                                                <option>All Sectors</option>
                                                <option>Software Sectors</option>
                                                <option>Agriculture Sectors</option>
                                                <option>Real Estate Sectors</option>
                                            </select>
                                            <ul class="sec-list-view">
                                                <li>
                                                    <a href="javascript:;" class="darkcolor">All Sectors
                                                        <span><i class="icon-trash sky-blue f14"></i></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">Software Sectors
                                                        <span><i class="icon-trash sky-blue f14"></i></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">Agriculture Sectors
                                                        <span><i class="icon-trash sky-blue f14"></i></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">Real Estate Sectors
                                                        <span><i class="icon-trash sky-blue f14"></i></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="acc-block-right col-sm-8 col-lg-9 pr0">
                                        <ul>
                                            <li class="clearfix">
                                                <div class="col-sm-8">
                                                    <p class="f14">31%-50% relience on single supplier</p>
                                                </div>
                                                <div class="col-sm-2">
                                                    <p class="f14">5</p>
                                                </div>
                                                <div class="col-sm-2 text-right p0">
                                                    <a href="javascript:;" class="sky-blue mr8 f16"><i class="icon-edit"></i> </a>
                                                    <a href="javascript:;" class="sky-blue f16"><i class="icon-trash"></i> </a>
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <div class="col-sm-8">
                                                    <p class="f14">15%-30% relience on single supplier</p>
                                                </div>
                                                <div class="col-sm-2">
                                                    <p class="f14">5</p>
                                                </div>
                                                <div class="col-sm-2 text-right p0">
                                                    <a href="javascript:;" class="sky-blue mr8 f16"><i class="icon-edit"></i> </a>
                                                    <a href="javascript:;" class="sky-blue f16"><i class="icon-trash"></i> </a>
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <div class="col-sm-8">
                                                    <p class="f14">31%-50% relience on single supplier</p>
                                                </div>
                                                <div class="col-sm-2">
                                                    <p class="f14">5</p>
                                                </div>
                                                <div class="col-sm-2 text-right p0">
                                                    <a href="javascript:;" class="sky-blue mr8 f16"><i class="icon-edit"></i> </a>
                                                    <a href="javascript:;" class="sky-blue f16"><i class="icon-trash"></i> </a>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="add-box col-sm-12 p10 grey-bg mb15">
                                            <div class="col-sm-6 col-lg-8 p0">
                                                <input type="text" class="form-control" placeholder="Text here">
                                            </div>
                                            <div class="col-sm-4 col-lg-3 pr0">
                                                <select class="width-full form-control">
                                                    <option>Select Grade</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-2 col-lg-1 pr0">
                                                <button class="btn btn-dark f12 white-color border-radius0 text-uppercase">Add</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="acc-block clearfix">
                                    <h4 class="f14 text-uppercase darkcolor pb5 mb10 border-bottom">Supply Availability
                                        <a href="javascript:;" class="pull-right sky-blue f16"><i class="icon-edit"></i> </a>
                                    </h4>
                                    <div class="acc-block-left col-sm-4 col-lg-3 pl0">
                                        <div class="">
                                            <select class="width-full form-control">
                                                <option>All Sectors</option>
                                                <option>Software Sectors</option>
                                                <option>Agriculture Sectors</option>
                                                <option>Real Estate Sectors</option>
                                            </select>
                                            <ul class="sec-list-view">
                                                <li>
                                                    <a href="javascript:;" class="darkcolor">All Sectors
                                                        <span><i class="icon-trash sky-blue f14"></i></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">Software Sectors
                                                        <span><i class="icon-trash sky-blue f14"></i></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">Agriculture Sectors
                                                        <span><i class="icon-trash sky-blue f14"></i></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">Real Estate Sectors
                                                        <span><i class="icon-trash sky-blue f14"></i></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="acc-block-right col-sm-8 col-lg-9 pr0">
                                        <ul>
                                            <li class="clearfix">
                                                <div class="col-sm-8">
                                                    <p class="f14">31%-50% relience on single supplier</p>
                                                </div>
                                                <div class="col-sm-2">
                                                    <p class="f14">5</p>
                                                </div>
                                                <div class="col-sm-2 text-right p0">
                                                    <a href="javascript:;" class="sky-blue mr8 f16"><i class="icon-edit"></i> </a>
                                                    <a href="javascript:;" class="sky-blue f16"><i class="icon-trash"></i> </a>
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <div class="col-sm-8">
                                                    <p class="f14">15%-30% relience on single supplier</p>
                                                </div>
                                                <div class="col-sm-2">
                                                    <p class="f14">5</p>
                                                </div>
                                                <div class="col-sm-2 text-right p0">
                                                    <a href="javascript:;" class="sky-blue mr8 f16"><i class="icon-edit"></i> </a>
                                                    <a href="javascript:;" class="sky-blue f16"><i class="icon-trash"></i> </a>
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <div class="col-sm-8">
                                                    <p class="f14">31%-50% relience on single supplier</p>
                                                </div>
                                                <div class="col-sm-2">
                                                    <p class="f14">5</p>
                                                </div>
                                                <div class="col-sm-2 text-right p0">
                                                    <a href="javascript:;" class="sky-blue mr8 f16"><i class="icon-edit"></i> </a>
                                                    <a href="javascript:;" class="sky-blue f16"><i class="icon-trash"></i> </a>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="add-box col-sm-12 p10 grey-bg mb15">
                                            <div class="col-sm-6 col-lg-8 p0">
                                                <input type="text" class="form-control" placeholder="Text here">
                                            </div>
                                            <div class="col-sm-4 col-lg-3 pr0">
                                                <select class="width-full form-control">
                                                    <option>Select Grade</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-2 col-lg-1 pr0">
                                                <button class="btn btn-dark f12 white-color border-radius0 text-uppercase">Add</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="acc-box">
                    <div class="clearfix acc-head light-wheet-bg white-color">
                        <div class="col-sm-10 mt8 pl0">
                            <span class="acc-icon darkcolor m-2 pull-left mr8 f18"><i class="icon-angle-rightt-circle"></i> </span>
                            <h2 class="f15 pull-left width95 overflow-hidden bold darkcolor cursor-pointer" basic-accordian> Management and Drectors Quality</h2>
                        </div>

                        <div class="text-right relative col-sm-2 pr0">
                            <div class="display-inline-block">
                                <span class="box-rating sm-box">35%</span>
                            </div>
                            <div class="display-inline-block custom-list valign-middle">
                                <a class="menu-toggle f13 dark-sky-blue dropdown-toggle" data-toggle="dropdown"
                                   href="javascript:;"><i class="fa fa-ellipsis-v"></i>
                                </a>
                                <ul class="dropdown-menu cust-drop">
                                    <li>
                                        <a href="javascript:;" class="f14 darkcolor"><i class="icon-edit mr8"></i>Edit</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="acc-body clearfix">
                        <div class="acc-left-panel pull-left">
                            <div class="acc-add-wrap clearfix">
                                <h3 class="f14 mb10 bold text-uppercase darkcolor">Risk Sub Category</h3>
                                <div class="col-sm-7 p0">
                                    <input type="text" class="form-control" placeholder="add risk sub category">
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" placeholder="%">
                                </div>
                                <div class="col-sm-2 p0">
                                    <button class="btn btn-dark f12 white-color border-radius0 text-uppercase">Add</button>
                                </div>

                            </div>
                            <div class="acc-list-wrap">
                                <ul>
                                    <li>
                                        <a href="javascript:;">Growth Cyclicality and Performance <span class="pull-right">20%</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Level of Competition <span class="pull-right">20%</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Growth Cyclicality and Performance <span class="pull-right">20%</span></a>
                                    </li>
                                </ul>

                            </div>

                        </div>
                        <div class="acc-right-panel pull-left">
                            <div class="acc-right-head clearfix">
                                <div class="col-sm-8 col-lg-9 mt8 pl0">
                                    <h3 class="f14 pull-left width95 text-uppercase overflow-hidden bold darkcolor cursor-pointer"> Supply Risk </h3>
                                </div>

                                <div class="text-right relative col-sm-4 col-lg-3 pr0">
                                    <div class="display-inline-block">
                                        <button class="btn btn-dark f12 white-color border-radius0 text-uppercase">Add Attributes</button>
                                    </div>
                                    <div class="display-inline-block custom-list valign-middle">
                                        <a class="menu-toggle f14 dark-sky-blue dropdown-toggle" data-toggle="dropdown"
                                           href="javascript:;"><i class="fa fa-ellipsis-v"></i>
                                        </a>
                                        <ul class="dropdown-menu cust-drop">
                                            <li>
                                                <a href="javascript:;" class="f14 darkcolor"><i class="icon-edit mr8"></i>Edit</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="acc-right-data">
                                <div class="acc-block clearfix">
                                    <h4 class="f14 text-uppercase darkcolor pb5 mb10 border-bottom">Supply Concentration
                                        <a href="javascript:;" class="pull-right sky-blue f16"><i class="icon-edit"></i> </a>
                                    </h4>
                                    <div class="acc-block-left col-sm-4 col-lg-3 pl0">
                                        <div class="">
                                            <select class="width-full form-control">
                                                <option>All Sectors</option>
                                                <option>Software Sectors</option>
                                                <option>Agriculture Sectors</option>
                                                <option>Real Estate Sectors</option>
                                            </select>
                                            <ul class="sec-list-view">
                                                <li>
                                                    <a href="javascript:;" class="darkcolor">All Sectors
                                                        <span><i class="icon-trash sky-blue f14"></i></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">Software Sectors
                                                        <span><i class="icon-trash sky-blue f14"></i></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">Agriculture Sectors
                                                        <span><i class="icon-trash sky-blue f14"></i></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">Real Estate Sectors
                                                        <span><i class="icon-trash sky-blue f14"></i></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="acc-block-right col-sm-8 col-lg-9 pr0">
                                        <ul>
                                            <li class="clearfix">
                                                <div class="col-sm-8">
                                                    <p class="f14">31%-50% relience on single supplier</p>
                                                </div>
                                                <div class="col-sm-2">
                                                    <p class="f14">5</p>
                                                </div>
                                                <div class="col-sm-2 text-right p0">
                                                    <a href="javascript:;" class="sky-blue mr8 f16"><i class="icon-edit"></i> </a>
                                                    <a href="javascript:;" class="sky-blue f16"><i class="icon-trash"></i> </a>
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <div class="col-sm-8">
                                                    <p class="f14">15%-30% relience on single supplier</p>
                                                </div>
                                                <div class="col-sm-2">
                                                    <p class="f14">5</p>
                                                </div>
                                                <div class="col-sm-2 text-right p0">
                                                    <a href="javascript:;" class="sky-blue mr8 f16"><i class="icon-edit"></i> </a>
                                                    <a href="javascript:;" class="sky-blue f16"><i class="icon-trash"></i> </a>
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <div class="col-sm-8">
                                                    <p class="f14">31%-50% relience on single supplier</p>
                                                </div>
                                                <div class="col-sm-2">
                                                    <p class="f14">5</p>
                                                </div>
                                                <div class="col-sm-2 text-right p0">
                                                    <a href="javascript:;" class="sky-blue mr8 f16"><i class="icon-edit"></i> </a>
                                                    <a href="javascript:;" class="sky-blue f16"><i class="icon-trash"></i> </a>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="add-box col-sm-12 p10 grey-bg mb15">
                                            <div class="col-sm-6 col-lg-8 p0">
                                                <input type="text" class="form-control" placeholder="Text here">
                                            </div>
                                            <div class="col-sm-4 col-lg-3 pr0">
                                                <select class="width-full form-control">
                                                    <option>Select Grade</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-2 col-lg-1 pr0">
                                                <button class="btn btn-dark f12 white-color border-radius0 text-uppercase">Add</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="acc-block clearfix">
                                    <h4 class="f14 text-uppercase darkcolor pb5 mb10 border-bottom">Supply Availability
                                        <a href="javascript:;" class="pull-right sky-blue f16"><i class="icon-edit"></i> </a>
                                    </h4>
                                    <div class="acc-block-left col-sm-4 col-lg-3 pl0">
                                        <div class="">
                                            <select class="width-full form-control">
                                                <option>All Sectors</option>
                                                <option>Software Sectors</option>
                                                <option>Agriculture Sectors</option>
                                                <option>Real Estate Sectors</option>
                                            </select>
                                            <ul class="sec-list-view">
                                                <li>
                                                    <a href="javascript:;" class="darkcolor">All Sectors
                                                        <span><i class="icon-trash sky-blue f14"></i></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">Software Sectors
                                                        <span><i class="icon-trash sky-blue f14"></i></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">Agriculture Sectors
                                                        <span><i class="icon-trash sky-blue f14"></i></span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">Real Estate Sectors
                                                        <span><i class="icon-trash sky-blue f14"></i></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="acc-block-right col-sm-8 col-lg-9 pr0">
                                        <ul>
                                            <li class="clearfix">
                                                <div class="col-sm-8">
                                                    <p class="f14">31%-50% relience on single supplier</p>
                                                </div>
                                                <div class="col-sm-2">
                                                    <p class="f14">5</p>
                                                </div>
                                                <div class="col-sm-2 text-right p0">
                                                    <a href="javascript:;" class="sky-blue mr8 f16"><i class="icon-edit"></i> </a>
                                                    <a href="javascript:;" class="sky-blue f16"><i class="icon-trash"></i> </a>
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <div class="col-sm-8">
                                                    <p class="f14">15%-30% relience on single supplier</p>
                                                </div>
                                                <div class="col-sm-2">
                                                    <p class="f14">5</p>
                                                </div>
                                                <div class="col-sm-2 text-right p0">
                                                    <a href="javascript:;" class="sky-blue mr8 f16"><i class="icon-edit"></i> </a>
                                                    <a href="javascript:;" class="sky-blue f16"><i class="icon-trash"></i> </a>
                                                </div>
                                            </li>
                                            <li class="clearfix">
                                                <div class="col-sm-8">
                                                    <p class="f14">31%-50% relience on single supplier</p>
                                                </div>
                                                <div class="col-sm-2">
                                                    <p class="f14">5</p>
                                                </div>
                                                <div class="col-sm-2 text-right p0">
                                                    <a href="javascript:;" class="sky-blue mr8 f16"><i class="icon-edit"></i> </a>
                                                    <a href="javascript:;" class="sky-blue f16"><i class="icon-trash"></i> </a>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="add-box col-sm-12 p10 grey-bg mb15">
                                            <div class="col-sm-6 col-lg-8 p0">
                                                <input type="text" class="form-control" placeholder="Text here">
                                            </div>
                                            <div class="col-sm-4 col-lg-3 pr0">
                                                <select class="width-full form-control">
                                                    <option>Select Grade</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-2 col-lg-1 pr0">
                                                <button class="btn btn-dark f12 white-color border-radius0 text-uppercase">Add</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

