<h3 class="fixed content-heading"> Collateral Type List
   </h3>

<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg p20 mb20">
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
        <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure</p>
        <div class="col-lg-4 col-sm-4 col-md-4 pl0 mt10" data-ng-repeat="item in collateralTypeList"  >
            <div class="col-sm-12 pad0">
                <div class="list-data mb5 white-bg p10 full-width">
                    <div class="list-img-rounded pull-left mr10">
                        <i class="q-{{item.collateral_type_name | lowercase | underscoreadd}}"></i>
                    </div>
                    <div class="list-text overflow-hidden">
                        <h5 class="heading-caps">{{ item.collateral_type_name }}</h5>
                        <p>{{ item.collateral_type_description | ellipsis:150 }}</p>
                        <div class="col-sm-12 clearfix clearboth p0 text-center">
                            <a href="javascript:;" class="green-btn" ng-click="goToState(item,1)">Fields</a>
                            <a href="javascript:;"  ng-class="item.document_status == 0 ? 'gray-btn' : 'green-btn'" ng-click="goToState(item,2)" >Documents</a>
                            <a href="javascript:;"  ng-class="item.checklist_status == 0 ? 'gray-btn' : 'green-btn'" ng-click="goToState(item,3)" >Checklist</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>
