<h3 class="fixed content-heading">Loan Collateral Setting
    <ul class="pull-right button-set">
        <li><a ng-click="back()" active-link="heading-active" uib-tooltip="Back"><i
                class="fa fa-close-sm"></i></a></li>
    </ul>
</h3>

<div id="contentArea" class="content-area animated fadeInRight" ng-if="collateralTypeInfo">
    <div class="content-container clearfix light-blue-bg p20 mb20">
        <div class="col-sm-12 clearfix clearboth">
            <div class="white-bg p5">
                <div class="list-img-rounded pull-left mr10">
                    <i class="q-{{collateralTypeInfo.item.collateral_type_name | lowercase | underscoreadd}}"></i>
                </div>
                <div class="list-text overflow-hidden">
                    <h5 class="heading-caps">{{collateralTypeInfo.item.collateral_type_name}}</h5>
                    <p>{{collateralTypeInfo.item.collateral_type_description}}</p>
                </div>
            </div>
        </div>
        <div class="clearfix relative mt10">
            <div class="col-lg-12">
                <div class="white-bg tabs-wrap tabs-custom">
                    <div class="panel-tabs">

                        <uib-tabset >
                            <uib-tab index="1" heading="Fields" active="tabActive1" >
                                <div class="panel-tab-content clearfix">
                                    <div class="">
                                        <div class="col-sm-12 p0 clearfix"
                                             ng-if="templateInfo.collateral_type_template != null">
                                            <div ng-include="'partials/admin/collateral/forms/'+templateInfo.collateral_type_template"></div>
                                        </div>
                                    </div>

                                </div>

                            </uib-tab>
                            <uib-tab index="2" heading="Documents"   active="tabActive2">
                                <div class="panel-tab-content clearfix">
                                    <div class="mtb10" ng-if="templateInfo.collateral_type_template != null">
                                        <div ng-controller="collateralChecklistCtrl" ng-init="getAssessmentQuestion(templateInfo.id_collateral_type)" ng-include="'partials/admin/product/product-disbursement-checklist.html'">
                                        </div>
                                    </div>

                                </div>
                            </uib-tab>
                            <uib-tab index="3" heading="Checklist"  active="tabActive3">
                                <div class="panel-tab-content clearfix">
                                    <div class="mtb10">
                                        <p>Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
                                        <div class="col-sm-6">
                                            <h3 class="heading">All List</h3>
                                        <ul class="c-checklist-wrap move">
                                            <li ng-repeat="collateralStage in collateralStageList" class="full-width" ng-if="collateralStage.status == 0" ng-click="shuffle(collateralStage,true)">
                                                <div ng-init="showlistNotEmpty = true">
                                                    <label class="f14 darkcolor bold">
                                                        {{collateralStage.collateral_stage_name}}
                                                    </label>
                                                </div>
                                                <div>
                                                    <p class="f12 darkcolor">{{collateralStage.description}}</p>
                                                </div>
                                            </li>
                                            <!--<div ng-if="showlistNotEmpty"> All items selected  </div>-->
                                        </ul>
                                        </div>
                                    <div class="col-sm-6">
                                        <h3 class="heading">Selected List</h3>
                                        <ul class="c-checklist-wrap remove">
                                            <li ng-repeat="collateralStage in collateralStageList" class="full-width" ng-if="collateralStage.status == 1" ng-click="shuffle(collateralStage,false)" >
                                                <div ng-init="showSelectNotEmpty = true">
                                                    <label class="f14 darkcolor bold">
                                                        {{collateralStage.collateral_stage_name}}
                                                    </label>
                                                </div>
                                                <div>
                                                    <p class="f12 darkcolor">{{collateralStage.description}}</p>
                                                </div>
                                            </li>
                                            <!--<div ng-if="showSelectNotEmpty"> No items selected  </div>-->
                                        </ul>
                                    </div>

                                    <div class="col-sm-12 btn-custom clearfix ">
                                            <button class="btn btn-primary f14 mr4" type="submit" ng-click="saveCheckList()">Save</button>
                                            <button class="btn lt-bg f14" type="button" ng-click="back()">Cancel</button>
                                        </div>

                                    </div>

                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>


            </div>
        </div>


    </div>
</div>
