<h3 class="fixed content-heading"> Collateral Dashboard
    <ul class="pull-right button-set">
        <li><a ui-sref="collateral.add-collateral" active-link="heading-active" uib-tooltip="Add"><i
                class="fa fa-add-sm "></i></a></li>
    </ul>
</h3>

<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg p20 mb20">
        <!--<img src="images/collateral-dashboard.png" class="width-full">-->
        <div class="notify-error alert">
            <h3 class="darkcolor bold f12 clearfix"> <i class="icon-warning valign-middle red f18 mr8"></i>
                Agriculture in East africat is going to down due to low rain fall..
            <a href="javascript:;" class="pull-right" data-dismiss="alert"><i class="icon-times f16"></i> </a> </h3>

        </div>
        <div class="panel-widget">
            <div class="panel col-sm-8 pl0">
                <div class="panel-heading">
                    <h3 class="heading">Collateral Type Report</h3>
                </div>
                <div class="panel-body">
                    <img src="images/area-chart.png" class="img-responsive pt50 plr20">

                </div>

            </div>
            <div class="panel col-sm-4">
                <div class="panel-heading">
                    <h3 class="heading">Collaterals Value</h3>
                </div>
                <div class="panel-body text-center">
                    <img src="images/bar-chart.png" class="pt50">
                </div>

            </div>
            <div class="panel col-sm-4 pl0">
                <div class="panel-heading">
                    <h3 class="heading"><i class="icon-arrow-up valign-middle f21 mr8 green"></i>Top 10 Increaded Value Collateral</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-panel">
                        <thead>
                            <tr>
                                <th>Collateral Id</th>
                                <th>Property Type</th>
                                <th>Deposited Value</th>
                                <th>Present Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>321545487</td>
                                <td>Agriculture</td>
                                <td>25,000</td>
                                <td>45,000</td>
                            </tr>
                            <tr>
                                <td>581545487</td>
                                <td>Real Estate</td>
                                <td>1,25,000</td>
                                <td>2,05,000</td>
                            </tr>
                            <tr>
                                <td>581545487</td>
                                <td>Real Estate</td>
                                <td>1,25,000</td>
                                <td>2,05,000</td>
                            </tr>
                            <tr>
                                <td>581545487</td>
                                <td>Real Estate</td>
                                <td>1,25,000</td>
                                <td>2,05,000</td>
                            </tr>
                            <tr>
                                <td>581545487</td>
                                <td>Real Estate</td>
                                <td>1,25,000</td>
                                <td>2,05,000</td>
                            </tr>
                            <tr>
                                <td>321545487</td>
                                <td>Agriculture</td>
                                <td>25,000</td>
                                <td>45,000</td>
                            </tr>
                            <tr>
                                <td>581545487</td>
                                <td>Real Estate</td>
                                <td>1,25,000</td>
                                <td>2,05,000</td>
                            </tr>
                            <tr>
                                <td>581545487</td>
                                <td>Real Estate</td>
                                <td>1,25,000</td>
                                <td>2,05,000</td>
                            </tr>
                            <tr>
                                <td>581545487</td>
                                <td>Real Estate</td>
                                <td>1,25,000</td>
                                <td>2,05,000</td>
                            </tr>
                            <tr>
                                <td>581545487</td>
                                <td>Real Estate</td>
                                <td>1,25,000</td>
                                <td>2,05,000</td>
                            </tr>
                        </tbody>

                    </table>
                    <div class="text-right">
                        <a href="javascript:;" class="more-link"> More...</a>
                    </div>
                </div>

            </div>
            <div class="panel col-sm-4">
                <div class="panel-heading">
                    <h3 class="heading"><i class="icon-arrow-down valign-middle f21 mr8 red"></i>Top 10 Decreased Value Collateral</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-panel">
                        <thead>
                        <tr>
                            <th>Collateral Id</th>
                            <th>Property Type</th>
                            <th>Deposited Value</th>
                            <th>Present Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>321545487</td>
                            <td>Agriculture</td>
                            <td>25,000</td>
                            <td>45,000</td>
                        </tr>
                        <tr>
                            <td>581545487</td>
                            <td>Real Estate</td>
                            <td>1,25,000</td>
                            <td>2,05,000</td>
                        </tr>
                        <tr>
                            <td>581545487</td>
                            <td>Real Estate</td>
                            <td>1,25,000</td>
                            <td>2,05,000</td>
                        </tr>
                        <tr>
                            <td>581545487</td>
                            <td>Real Estate</td>
                            <td>1,25,000</td>
                            <td>2,05,000</td>
                        </tr>
                        <tr>
                            <td>581545487</td>
                            <td>Real Estate</td>
                            <td>1,25,000</td>
                            <td>2,05,000</td>
                        </tr>
                        <tr>
                            <td>321545487</td>
                            <td>Agriculture</td>
                            <td>25,000</td>
                            <td>45,000</td>
                        </tr>
                        <tr>
                            <td>581545487</td>
                            <td>Real Estate</td>
                            <td>1,25,000</td>
                            <td>2,05,000</td>
                        </tr>
                        <tr>
                            <td>581545487</td>
                            <td>Real Estate</td>
                            <td>1,25,000</td>
                            <td>2,05,000</td>
                        </tr>
                        <tr>
                            <td>581545487</td>
                            <td>Real Estate</td>
                            <td>1,25,000</td>
                            <td>2,05,000</td>
                        </tr>
                        <tr>
                            <td>581545487</td>
                            <td>Real Estate</td>
                            <td>1,25,000</td>
                            <td>2,05,000</td>
                        </tr>
                        </tbody>

                    </table>
                    <div class="text-right">
                        <a href="javascript:;" class="more-link"> More...</a>
                    </div>

                </div>

            </div>
            <div class="panel col-sm-4">
                <div class="panel-heading">
                    <h3 class="heading"><i class="icon-warning valign-middle f21 mr8 red"></i> Alerts</h3>
                </div>
                <div class="panel-body">
                    <div class="alert-wrap">
                        <ul>
                            <li>
                                Ensure complete automated communication of account and settlement instructions by connecting to the world’s largest community of SSI database subscribers
                            </li>
                            <li>
                                Lower costs and streamline trade processing through automated enrichment of SSI and account information
                            </li>
                            <li>
                                Ensure complete automated communication of account and settlement instructions by connecting to the world’s largest community of SSI database subscribers
                            </li>
                            <li>
                                Lower costs and streamline trade processing through automated enrichment of SSI and account information
                            </li>
                            <li>
                                Ensure complete automated communication of account and settlement instructions by connecting to the world’s largest community of SSI database subscribers
                            </li>
                        </ul>
                        <div class="text-right">
                            <a href="javascript:;" class="more-link"> More...</a>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
