<div class="panel-tabs">
    <div class="white-bg tabs-wrap">
        <div class="mtb10">
            <div class="div-header plr15 clearfix  white-bg">
                <h3 class="darkcolor f15 bold ptb10">Collateral perfection</h3>
            </div>
            <form name="form" novalidate ng-submit="saveFormFieds()">             <div class="col-sm-12 p0 clearfix">
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Registration Authority</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.perfection_authority" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Registration Authority Contact Details</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.perfection_authority_contact_details" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Result</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.perfection_perfection_date" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Date of Check</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.perfection_confirmation_date" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Credit Remarks</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.perfection_documents_status" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-12 text-center clearfix mt10">
                    <button class="blue-btn" type="submit">Save</button>
                    <button class="light-btn" type="button" ng-click="back()">Cancel</button>
                </div>
            </div>
                </form>
        </div>
    </div>
</div>