<div class="panel-tabs">
    <div class="white-bg tabs-wrap">
        <div class="mtb10">
            <div class="div-header plr15 clearfix  white-bg">
                <h3 class="darkcolor f15 bold ptb10">External Check</h3>
            </div>
            <form name="form" novalidate ng-submit="saveFormFieds()">             <div class="col-sm-12 p0 clearfix">
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Registration Authority</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.external_registration_authority" type="text" class="form-control" ng-model="form.registration_authority">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Registration Authority Contact Details</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.external_registration_authority_contact_details" type="text" class="form-control" ng-model="form.registration_authority_contact_details">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Result</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.external_result" type="text" class="form-control" ng-model="form.result">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Date of Check</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.external_date_of_check" type="text" class="form-control" ng-model="form.date_of_check">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Credit Remarks</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.external_credit_remarks" type="text" class="form-control" ng-model="form.credit_remarks">
                    </div>
                </div>
                <div class="col-sm-12 text-center clearfix mt10">
                    <button class="blue-btn btn-lg" type="submit">Save</button>
                    <button class="light-btn btn-lg" type="button" ng-click="back()">Cancel</button>
                </div>
            </div>
                </form>
        </div>
    </div>
</div>