<div class="panel-tabs">
    <div class="white-bg tabs-wrap">
        <div class="mtb10">
            <div class="div-header plr15 clearfix  white-bg">
                <h3 class="darkcolor f15 bold ptb10">Field Investigation</h3>
            </div>
            <form name="form" novalidate ng-submit="saveFormFieds()">             <div class="col-sm-12 p0 clearfix">
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Agency Code</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.investigation_agency_code" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Agency Name</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.investigation_agency_name" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Result</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.investigation_aesult" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Date of FI</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.investigation_date_of_fi" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">FI Agent Remarks</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.investigation_fi_agent_remarks" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Credit Remarks</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.investigation_credit_remarks" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-12 btn-custom clearfix mt10">
                    <button class="btn btn-primary f14 mr4" type="submit">Save</button>
                    <button class="btn lt-bg f14" type="button" ng-click="back()">Cancel</button>
                </div>
            </div>
                </form>
        </div>
    </div>
</div>