<div class="panel-tabs">
    <div class="white-bg tabs-wrap">
        <div class="mtb10">
            <div class="div-header plr15 clearfix  white-bg">
                <h3 class="darkcolor f15 bold ptb10">Legal Opinion</h3>
            </div>
            <form name="form" novalidate ng-submit="saveFormFieds()">             <div class="col-sm-12 p0 clearfix">
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Legal Opinion</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.legal_opinion" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Legal Adviser Details</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.legal_adviser_details" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Date of Advice</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.legal_date_of_advice" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">External Opinion</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.legal_external_opinion" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">External Adviser Details</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.legal_external_adviser_details" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Credit Remarks</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.legal_credit_remarks" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Final Recommendation</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.legal_final_recommendation" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-12 text-center clearfix mt10">
                    <button class="blue-btn" type="submit">Save</button>
                    <button class="light-btn" type="button" ng-click="back()">Cancel</button>
                </div>
            </div>
                </form>
        </div>
    </div>
</div>