<div class="panel-tabs">
    <div class="white-bg tabs-wrap">
        <div class="mtb10">
            <div class="div-header plr15 clearfix  white-bg">
                <h3 class="darkcolor f15 bold ptb10">Risk Evaluation</h3>
            </div>
            <form name="form" novalidate ng-submit="saveFormFieds()">             <div class="col-sm-12 p0 clearfix">
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Eligible for Central Bank Funding</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.eligible_for_central_bank_funding" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">CCP Eligible</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.risk_ccp_eligible" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">CRM Eligible</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.risk_crm_eligible" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Geo Political Risk</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.risk_geo_political_risk" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Currency Risk</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.risk_currency_risk" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Liquidity Risk</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.risk_liquidity_risk" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Issuer Credit Risk</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.risk_issuer_credit_risk" type="text" class="form-control">
                    </div>
                </div>
                 <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Operational Risk</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.risk_operational_risk" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Natural Hazard Risk</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.risk_natural_hazard_risk" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Recommendation</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.risk_recommendation" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Credit Remarks</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.risk_credit_remarks" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-12 btn-custom clearfix mt10">
                    <button class="btn btn-primary f14 mr4" type="submit">Save</button>
                    <button class="btn lt-bg f14" type="button" ng-click="back()">Cancel</button>
                </div>
            </div>
                </form>
        </div>
    </div>
</div>