<h3 class="fixed content-heading"> Pre Due Deligence
    <!--<ul class="pull-right button-set">
        <li><a href="javascript:;" active-link="heading-active" uib-tooltip="Add New"><i
                class="fa fa-add-sm "></i></a></li>
    </ul>-->
</h3>

<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg pl20 mb20 relative">


    </div>
</div>
