<h3 class="fixed content-heading">Welcome
      <span class="button-set">
        <a href="#" title="Options"><i class="fa fa-ellipsis-v"></i></a>
      </span>
</h3>
<div class="content-area animated fadeInRight" id="contentArea">

    <div class="content-container light-blue-bg">
        <div class="overview-list">        
            <div class="overview">
            	<span>
                	<i class="fa fa-money"></i>
                </span>
                <span>
                	<label class="label-text">Total Amount</label>
                    <p class="label-info">$ 21,135,500</p>
                </span>
            </div>
        	<div class="overview">
            	<span>
                	<i class="fa fa-th-large"></i>
                </span>
                <span>
                	<label class="label-text">Sanctioned Loans</label>
                    <p class="label-info">$ 145,234,234</p>
                </span>
            </div>
            <div class="overview">
            	<span>
                	<i class="fa fa-file-text-o"></i>
                </span>
                <span>
                	<label class="label-text">Total Outstanding</label>
                    <p class="label-info">$ 34,234</p>
                </span>
            </div>
            <div class="overview">
            	<span>
                	<i class="fa fa-dollar"></i>
                </span>
                <span>
                	<label class="label-text">Unfunded Commitment</label>
                    <p class="label-info">$ 5,234,234</p>
                </span>
            </div>
            <div class="overview">
            	<span>
                	<i class="fa fa-exchange"></i>
                </span>
                <span>
                	<label class="label-text">Transactions</label>
                    <p class="label-info">36</p>
                </span>
            </div>
        </div>
        
        
        <div class="col-sm-12 clearfix clearboth mtb10 p0 col-sm-plr5">
        	<div class="col-sm-3">
            	<div class="white-bg">
            		<h3 class="heading-icon2">
                    	<i class="fa fa-money"></i>
                    	Total Alloted Amount
                    </h3>
                    
                    <div class="info-box">
                    	<label class="label-colored">Products</label>
                        <p class="f16 sky-blue">$ 135,240,000</p>
                        <div class="clearfix clearboth text-left btn-custom m0">
                        <button class="btn btn-default btn-hover-dark mb10 btn-sm ">
                        	<i class="fa fa-plus"></i>
                        Add Amount</button>
                    	</div>
                        <label class="label-colored">Sectors</label>
                        <p class="f16 red">$ 5,240,000</p>
                        <div class="clearfix clearboth text-left btn-custom m0">
                        <button class="btn btn-default btn-sm btn-hover-dark mb10  ">
                        	<i class="fa fa-plus"></i>
                        Add Amount</button>
                    	</div>
                        <div class="col-sm-12 clearfix clearboth p0 mt10">
                        	<img class="img-responsive" src="images/manange-dashboard-barChart.png"/>
                        </div>
                    </div>
            	</div>
            </div>
            <div class="col-sm-5">
            	<div class="white-bg">
            		<h3 class="heading-icon2">
                    	<i class="fa fa-sitemap"></i>
                    	Sectors & Sub Sectors
                    </h3>
                    <div class="info-box">
                    	<div class="gray-head-wrap accordion_head clearfix p10" accordian-content>
                            <h1 class="f14 blue">Agriculture, Forestry and Fishing</h1>
                            <span class="pull-right">
                                <b class="right-info">$ 2,135,000</b><a title="Options" href="#"><i class="fa fa-ellipsis-v"></i></a>
                            </span>
	                    </div>
                   		<div class="accordion_body" style="display: block;">
                       		<ul class="acc_body_list">
                            	<li>
                                    <span class="blue">Agriculture and Fisheries</span>
                                    <span class="pull-right">
                                        <b class="right-info">$ 2,135,000</b><a title="Options" href="#"><i class="fa fa-ellipsis-v"></i></a>
                                    </span>
                                </li>
                                <li>
                                    <span class="blue">Forestry & Agroforestry</span>
                                    <span class="pull-right">
                                        <b class="right-info">$ 2,135,000</b><a title="Options" href="#"><i class="fa fa-ellipsis-v"></i></a>
                                    </span>
                                </li>
                            </ul>
                            <a class="sky-blue"><i class="fa fa-plus"></i> Sub Sector</a>
                    	</div>
                    	<div class="gray-head-wrap accordion_head clearfix p10">
                            <h1 class="f14 blue">Construction Companies</h1>
                            <span class="pull-right">
                                <b class="right-info">$ 2,135,000</b><a title="Options" href="#"><i class="fa fa-ellipsis-v"></i></a>
                            </span>
	                    </div>
                   		<div class="accordion_body">
                       		<ul class="acc_body_list">
                            	<li>
                                    <span class="blue">Construction Companies</span>
                                    <span class="pull-right">
                                        <b class="right-info">$ 2,135,000</b><a title="Options" href="#"><i class="fa fa-ellipsis-v"></i></a>
                                    </span>
                                </li>
                            </ul>
                            <a class="sky-blue"><i class="fa fa-plus"></i> Sub Sector</a>
                    	</div>
                        <div class="gray-head-wrap accordion_head clearfix p10">
                            <h1 class="f14 blue">Hotel and Restaurants</h1>
                            <span class="pull-right">
                                <b class="right-info">$ 2,135,000</b><a title="Options" href="#"><i class="fa fa-ellipsis-v"></i></a>
                            </span>
	                    </div>
                   		<div class="accordion_body" >
                       		<ul class="acc_body_list">
                            	<li>
                                    <span class="blue">Hotel</span>
                                    <span class="pull-right">
                                        <b class="right-info">$ 2,135,000</b><a title="Options" href="#"><i class="fa fa-ellipsis-v"></i></a>
                                    </span>
                                </li>
                                <li>
                                    <span class="blue">Restaurants</span>
                                    <span class="pull-right">
                                        <b class="right-info">$ 2,135,000</b><a title="Options" href="#"><i class="fa fa-ellipsis-v"></i></a>
                                    </span>
                                </li>
                            </ul>
                            <a class="sky-blue"><i class="fa fa-plus"></i> Sub Sector</a>
                    	</div>
                        <div class="clearfix clearboth text-left btn-custom m0">
                        <button class="btn btn-default btn-hover-dark mtb10 btn-sm ">
                        	<i class="fa fa-plus"></i>
                        Add Sector</button>
                    	</div>
                    </div>
            	</div>
            </div>
            <div class="col-sm-4">
            	<div class="white-bg">
            		<h3 class="heading-icon2">
                    	<i class="fa fa-cubes"></i>
                    	Products
                    </h3>
                    <div class="info-box">
                    	<div class="gray-head-wrap accordion_head clearfix p10">
                            <h1 class="f14 blue">Loans</h1>
                            <span class="pull-right">
                                <b class="right-info">$ 2,135,000</b><a title="Options" href="#"><i class="fa fa-ellipsis-v"></i></a>
                            </span>
	                    </div>
                   		<div class="accordion_body" style="display: block;">
                       		<ul class="acc_body_list">
                            	<li>
                                    <span class="blue">Infrastructure Loans</span>
                                    <span class="pull-right">
                                        <b class="right-info">$ 2,135,000</b><a title="Options" href="#"><i class="fa fa-ellipsis-v"></i></a>
                                    </span>
                                </li>
                                <li>
                                    <span class="blue">Business Loans</span>
                                    <span class="pull-right">
                                        <b class="right-info">$ 2,135,000</b><a title="Options" href="#"><i class="fa fa-ellipsis-v"></i></a>
                                    </span>
                                </li>
                            </ul>
                    	</div>
                    	<div class="gray-head-wrap accordion_head clearfix p10">
                            <h1 class="f14 blue">Lease</h1>
                            <span class="pull-right">
                                <b class="right-info">$ 2,135,000</b><a title="Options" href="#"><i class="fa fa-ellipsis-v"></i></a>
                            </span>
	                    </div>
                   		<div class="accordion_body">
                       		<ul class="acc_body_list">
                            	<li>
                                    <span class="blue">Plot Lease</span>
                                    <span class="pull-right">
                                        <b class="right-info">$ 2,135,000</b><a title="Options" href="#"><i class="fa fa-ellipsis-v"></i></a>
                                    </span>
                                </li>
                            </ul>
                    	</div>
                        <div class="gray-head-wrap accordion_head clearfix p10">
                            <h1 class="f14 blue">Equity</h1>
                            <span class="pull-right">
                                <b class="right-info">$ 2,135,000</b><a title="Options" href="#"><i class="fa fa-ellipsis-v"></i></a>
                            </span>
	                    </div>
                   		<div class="accordion_body" >
                       		<ul class="acc_body_list">
                            	<li>
                                    <span class="blue">Equity</span>
                                    <span class="pull-right">
                                        <b class="right-info">$ 2,135,000</b><a title="Options" href="#"><i class="fa fa-ellipsis-v"></i></a>
                                    </span>
                                </li>
                            </ul>
                    	</div>
                        <div class="clearfix clearboth text-left btn-custom m0">
                        <button class="btn btn-default btn-hover-dark mtb10 btn-sm ">
                        	<i class="fa fa-plus"></i>
                        Add Product</button>
                    	</div>
                    </div>
            	</div>
            </div>
            <p class="clearfix"></p>
            <div class="col-sm-3">
            	<div class="white-bg">
            		<h3 class="heading-icon2">
                    	<i class="fa fa-user"></i>
                    	Individuals
                    </h3>
                    
                    <div class="info-box">
                    	<div class="overview-list">
                        	<div class="overview width-full">
                                <span>
                                    <i class="fa fa-users"></i>
                                </span>
                                <span>
                                    <label class="label-text">Max Loan Amount / Individual</label>
                                    <p class="label-info">$ 21,135,500</p>
                                </span>
                            </div>
                            <div class="overview width-full">
                                <span>
                                    <i class="fa fa-user"></i>
                                </span>
                                <span>
                                    <label class="label-text">Max Loan of Customer</label>
                                    <p class="label-info">$ 21,135,500</p>
                                </span>
                            </div>
                            
                            <div class="overview width-full">
                                <span>
                                    <i class="fa fa-user"></i>
                                </span>
                                <span>
                                    <label class="label-text">Max Loan of Company</label>
                                    <p class="label-info">$ 21,135,500</p>
                                </span>
                            </div>
                        </div>
                    </div>
            	</div>
            </div>
            <div class="col-sm-5">
            	<div class="white-bg">
            		<h3 class="heading-icon2">
                    	<i class="fa fa-usd"></i>
                        Data Info
                    </h3>
                    <div class="data-info-wrap text-center">
                        <div class="col-sm-12 clearfix">
                            <div class="col-sm-4">
                                <p>4</p>
                                <span class="label-text">Branches</span>
                            </div>
                            <div class="col-sm-4">
                                <p>9</p>
                                <span class="label-text">Structures</span>
                            </div>
                            <div class="col-sm-4">
                                <p>20</p>
                                <span class="label-text">Users</span>
                            </div>
                        </div>
                        <div class="col-sm-12 clearfix">
                            <div class="col-sm-4">
                                <p>4</p>
                                <span class="label-text">Countries</span>
                            </div>
                            <div class="col-sm-4">
                                <p>9</p>
                                <span class="label-text">Products</span>
                            </div>
                            <div class="col-sm-4">
                                <p>20</p>
                                <span class="label-text">Sectors</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
            	<div class="text-center">
            		<img ng-src="images/spider-chart.png" class=""/>
            	</div>
            </div>
        </div>
    </div>
</div>
