<div id="contentArea" class="content-area animated fadeInRight">
    <h3 class="fixed content-heading">Approval Structure
        <ul class="pull-right icons-right">
            <li><a ui-sref="app.approval-structure-view" active-link="heading-active"><i class="fa fa-server"></i></a></li>
            <li><a ui-sref="app.approval-structure" active-link="heading-active"><i class="fa fa-sitemap"></i></a></li>
        </ul>
    </h3>

    <div class="content-container clearfix light-blue-bg plr20">
        <h3 class="heading mtb10">Approval Structure</h3>

        <p class="f12">Lorem ipsum dolor sit a met, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            Lorem ipsum dolor sit a met, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum
            dolor sit a met, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit a
            met, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>


        <div class="structure-block">


        </div>

        <div class="col-sm-12 clearfix clearboth text-left btn-custom">
            <input type="hidden" ng-value="id_company" id="company_id">
            <button class="btn btn-primary btn-hover-dark f14" onclick="submitBt()">Generate</button>
            <button class="btn btn-default btn-hover-dark f14"  ui-sref="app.approval-structure-view">Cancel</button>
        </div>

    </div>
</div>
<script>
    var _selectOptions, _buildSelect, spanArr = [];
    function buildSelectOption($data) {
        //console.log($data);
        _selectOptions = $data;
        _buildSelect = '<select onchange="getSelectedText(this)"><option value="">Select</option>';
        $.each(_selectOptions, function (i, o) {
            _buildSelect += '<option value="' + o.id_approval_role + '" select-code="' + o.approval_name + '">' + o.approval_name + '</option>';
        });
        _buildSelect += '</select><a class="ok-btn" onclick="buildLevel(this,$(this).attr(\'data-level\'),$(this).attr(\'data-id\'),$(this).attr(\'data-code\'))"><i class="fa fa-check"></i></a>';
        $('.structure-block').html('<div class="level">' + _buildSelect + '</div>');
    }
    function submitBt($companyId) {
        var arrSelected = [];
        $.each($('.structure-block').find('.level'), function (ind, obj) {
            if ($(obj).find('span').attr('data-id') != undefined)
                arrSelected.push($(obj).find('span').attr('data-id'));
        })
        if (arrSelected.length > 0) {
            $postObj = [];
            $data = $.unique(arrSelected);
            $.each($data, function ($index, $value) {

                if ($index == 0) {
                    $postObj.push({'reporting_role_id': 0, 'approval_role_id': $value});
                } else {
                    $postObj.push({
                        'reporting_role_id': $postObj[$index - 1].approval_role_id,
                        'approval_role_id': $value
                    });
                }
            });

            var company_id = $('#company_id').val();

            var $postData = {};
            $postData.data = $postObj;
            $postData.company_id = company_id;
            console.log($postData);

            $.post(API_URL + "company/approvalRole", $postData, function (data) {
                $(".result").html(data);
                window.location = '#/approval-structure-view';
            });

        } else {
            alert('Error');
        }

    }

    function buildLevel(e, levelText, id, code) {
        _buildSelect = '<select onchange="getSelectedText(this)"><option value="">Select</option>';
        arr = []
        $.each($('.structure-block').find('.level'), function (ind, obj) {
            if ($(obj).find('span').attr('data-id') != undefined)
                arr.push($(obj).find('span').attr('data-id'));
            //console.log($(obj).find('span').attr('data-id'));
        })
        //console.log(arr);
        $.each(_selectOptions, function (i, o) {
            if ((arr[i] != undefined && arr[i] == o.id_approval_role) || id == o.id_approval_role) {
                _buildSelect += '<option disabled="disabled"  value="' + o.id_approval_role + '" select-code="' + o.approval_name + '">' + o.approval_name + '</option>';
            }
            else {
                _buildSelect += '<option  value="' + o.id_approval_role + '" select-code="' + o.approval_name + '">' + o.approval_name + '</option>';

            }
        });


        _buildSelect += '</select><a class="ok-btn" onclick="buildLevel(this,$(this).attr(\'data-level\'),$(this).attr(\'data-id\'),$(this).attr(\'data-code\'))"><i class="fa fa-check"></i></a>';

        var _levelHTML = '<span data-id="' + id + '" data-code="' + code + '">' + levelText + ''
                + '<div class="others-menu-wrap small-menu right-aligned" data-actions="menu">'
                + '<a href="javascript:;" class="others-menu mt5" onclick="showActionsMenu(this)">'
                + '<img src="images/others.png" alt="others-image" class="h13" />'
                + '</a>'
                + '<div class="others-menu-list">'
                + '<div class="clearfix ptrl5">'
                + '<h2 class="pull-left f13 gray mt5">'
                + '<a class="others-menu" href="javascript:;"  onclick="showActionsMenu(this)">'
                + '<img alt="others-image" src="images/others.png" class="h13">'
                + '</a>'
                + 'Actions</h2>'
                + '</div>'
                + '<ul>'
                + '<li><a onclick="editLevel(this);">Edit</a></li>'
                + '<li><a onclick="deleteLevel(this);">Delete</a></li>'
                + '</ul>'
                + '</div>'
                + '</div>'
                + '</span>';

        _selectLevel = $('<div/>', {class: 'level', html: _buildSelect});
        _levelHTML += '<div class="level">' + $(_selectLevel).html() + '</div>';
        $(e).closest('.level').html(_levelHTML);

        var opted = $(e).closest('.level').prev('span').attr('data-id');


    }


    function buildEdittedLevel(e, levelText, id, code) {
        var _levelHTML = levelText + ''
                + '<div class="others-menu-wrap small-menu right-aligned" data-actions="menu">'
                + '<a href="javascript:;" class="others-menu mt5" onclick="showActionsMenu(this)">'
                + '<img src="images/others.png" alt="others-image" class="h13" />'
                + '</a>'
                + '<div class="others-menu-list">'
                + '<div class="clearfix ptrl5">'
                + '<h2 class="pull-left f13 gray mt5">'
                + '<a class="others-menu" href="javascript:;"  onclick="showActionsMenu(this)">'
                + '<img alt="others-image" src="images/others.png" class="h13">'
                + '</a>'
                + 'Actions</h2>'
                + '</div>'
                + '<ul>'
                + '<li><a onclick="editLevel(this);">Edit</a></li>'
                + '<li><a onclick="deleteLevel(this);">Delete</a></li>'
                + '</ul>'
                + '</div>'
                + '</div>';
        $(e).closest('span').removeClass('edit-mode').attr('data-id', id).attr('data-code', code).html(_levelHTML);
    }


    function editLevel(e) {
        _buildSelect = '<select onchange="getSelectedText(this)"><option value="">Select</option>';
        $.each(_selectOptions, function (i, o) {
            _buildSelect += '<option value="' + o.id_approval_role + '" select-code="' + o.approval_name + '">' + o.approval_name + '</option>';
        });
        _buildSelect += '</select><a class="ok-btn" onclick="buildEdittedLevel(this,$(this).attr(\'data-level\'),$(this).attr(\'data-id\'),$(this).attr(\'data-code\'))"><i class="fa fa-check"></i></a>';
        $(e).closest('span').addClass('edit-mode').html(_buildSelect);
    }
    function deleteLevel(e) {

        _buildSelect = '<select onchange="getSelectedText(this)"><option value="">Select</option>';
        $.each(_selectOptions, function (i, o) {
            _buildSelect += '<option value="' + o.id_approval_role + '" select-code="' + o.approval_name + '">' + o.approval_name + '</option>';
        });
        _buildSelect += '</select><a class="ok-btn" onclick="buildLevel(this,$(this).attr(\'data-level\'),$(this).attr(\'data-id\'),$(this).attr(\'data-code\'))"><i class="fa fa-check"></i></a>';
        $(e).closest('.level').html(_buildSelect);
    }
    function showActionsMenu(e) {
        $(e).closest('[data-actions="menu"]').find('.others-menu-list').stop(true).fadeToggle();
    }
    function getSelectedText(e) {
        $(e).closest('.level').find('.ok-btn')
                .attr('data-level', $(e).find(':selected').text())
                .attr('data-code', $(e).find(':selected').attr('select-code'))
                .attr('data-id', $(e).find(':selected').val());
    }

</script>