<h3 class="fixed content-heading">Branch Structure</h3>

<div id="contentArea" class="content-area animated fadeInRight">

    <div class="content-container clearfix light-blue-bg plr20">
        <h3 class="heading mtb10">Branch Structure</h3>

        <p class="f12">Lorem ipsum dolor sit a met, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            Lorem ipsum dolor sit a met, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum
            dolor sit a met, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit a
            met, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>

        <div class="structure-block">


            <ul>
            <li ng-repeat="category in categories" ng-include="'categoryTree'"  ng-show="category.category_show">

            </li>
        </ul>


            <div>Start structure</div>

            <div ng-if="branchList.length > 0">

                <div class="level">
                     <span ng-repeat="child in children">
                                 <drop-down user="child" branchs="branchList"></drop-down>
                     </span>

                    <select ng-options="branch as branch.branch_type_name for branch in branchList"
                            ng-model="brachType" ></select>
                    <a class="ok-btn" data-level="Level" ng-click="addChild(brachType)"><i class="fa fa-check"></i></a>
                </div>

            </div>


            <div>End structure</div>


                <!--<drop-down user="users[0]" branchs="branchList">-->

                <!--</drop-down>-->

                <div class="level">
                           <span ng-repeat="child in children">
                                 <drop-down user="child" branchs="branchList"></drop-down>
                           </span>
                    <select>
                        <drop-down user="users[0]" branchs="branchList"></drop-down>
                        <option ng-repeat="branch in branchList">{{branch.branch_type_name}}</option>
                    </select>
                    <a class="ok-btn" data-level="Level" ng-click="addChild()"><i class="fa fa-check"></i></a>
                </div>





            <div>End structure</div>


            <div class="level">
                            	<span>Level 1
                               		<div class="others-menu-wrap small-menu right-aligned" data-actions="menu">
                                        <a href="javascript:;" class="others-menu mt5" onclick="showActionsMenu(this)">
                                            <img src="images/others.png" alt="others-image" class="h13"/>
                                        </a>

                                        <div class="others-menu-list">
                                            <div class="clearfix ptrl5">

                                                <h2 class="pull-left f13 gray mt5">
                                                    <a class="others-menu" href="javascript:;" onclick="showActionsMenu(this)">
                                                        <img alt="others-image" src="images/others.png" class="h13">
                                                    </a>
                                                    Actions</h2>
                                            </div>
                                            <ul>
                                                <li><a onclick="editLevel(this);">Edit</a></li>
                                                <li><a onclick="deleteLevel(this);">Delete</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </span>

                <div class="level">

                                        <span>Level 2
                                			<div class="others-menu-wrap small-menu right-aligned" data-actions="menu">
                                                <a href="javascript:;" class="others-menu mt5" onclick="showActionsMenu(this)">
                                                    <img src="images/others.png" alt="others-image" class="h13"/>
                                                </a>

                                                <div class="others-menu-list">
                                                    <div class="clearfix ptrl5">

                                                        <h2 class="pull-left f13 gray mt5">
                                                            <a class="others-menu" href="javascript:;" onclick="showActionsMenu(this)">
                                                                <img alt="others-image" src="images/others.png" class="h13">
                                                            </a>
                                                            Actions</h2>
                                                    </div>
                                                    <ul>
                                                        <li><a onclick="editLevel(this);">Edit</a></li>
                                                        <li><a onclick="deleteLevel(this);">Delete</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                		</span>

                    <div class="level">
                        <select onchange="getSelectedText(this)">
                            <option value="">--Select--</option>
                            <option value="1">Level 1</option>
                            <option value="2">Level 2</option>
                            <option value="3">Level 3</option>
                            <option value="4">Level 4</option>
                        </select>
                        <a class="ok-btn" data-level="Level" onclick="buildLevel(this,$(this).attr('data-level'))"><i class="fa fa-check"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 clearfix clearboth text-left btn-custom">
            <button class="btn btn-primary btn-hover-dark f14">Generate</button>
            <button class="btn btn-default btn-hover-dark f14">Cancel</button>
        </div>

    </div>
</div>

<script type="text/ng-template" id="categoryTree">
    <span class="badge {{ category.category_type == 'child' ? 'badge-c' : (category.category_type == 'parent_child' ? 'badge-pc':  'badge-p') }}" ng-click="updateResults(category)" ng-bind="category.category_name">
            </span>
    <ul ng-if="category.categories">
        <li ng-repeat="category in category.categories" ng-include="'categoryTree'">
        </li>
    </ul>
</script>

<script>
    function buildLevel(e, levelText) {
        var _levelHTML = '<span>' + levelText + ''
                + '<div class="others-menu-wrap small-menu right-aligned" data-actions="menu">'
                + '<a href="javascript:;" class="others-menu mt5" onclick="showActionsMenu(this)">'
                + '<img src="images/others.png" alt="others-image" class="h13" />'
                + '</a>'
                + '<div class="others-menu-list">'
                + '<div class="clearfix ptrl5">'
                + '<h2 class="pull-left f13 gray mt5">'
                + '<a class="others-menu" href="javascript:;"  onclick="showActionsMenu(this)">'
                + '<img alt="others-image" src="images/others.png" class="h13">'
                + '</a>'
                + 'Actions</h2>'
                + '</div>'
                + '<ul>'
                + '<li><a onclick="editLevel(this);">Edit</a></li>'
                + '<li><a onclick="deleteLevel(this);">Delete</a></li>'
                + '</ul>'
                + '</div>'
                + '</div>'
                + '</span>'
                + '<div class="level">'
                + '<select onchange="getSelectedText(this)">'
                + '<option value="">--Select--</option>'
                + '<option value="1">Level 1</option>'
                + '<option value="2">Level 2</option>'
                + '<option value="3">Level 3</option>'
                + '<option value="4">Level 4</option>'
                + '</select>'
                + '<a class="ok-btn" onclick="buildLevel(this,$(this).attr(\'data-level\'))"><i class="fa fa-check"></i></a>'
                + '</div>';
        $(e).closest('.level').html(_levelHTML);
    }


    function buildEdittedLevel(e, levelText) {
        var _levelHTML = levelText + ''
                + '<div class="others-menu-wrap small-menu right-aligned" data-actions="menu">'
                + '<a href="javascript:;" class="others-menu mt5" onclick="showActionsMenu(this)">'
                + '<img src="images/others.png" alt="others-image" class="h13" />'
                + '</a>'
                + '<div class="others-menu-list">'
                + '<div class="clearfix ptrl5">'
                + '<h2 class="pull-left f13 gray mt5">'
                + '<a class="others-menu" href="javascript:;"  onclick="showActionsMenu(this)">'
                + '<img alt="others-image" src="images/others.png" class="h13">'
                + '</a>'
                + 'Actions</h2>'
                + '</div>'
                + '<ul>'
                + '<li><a onclick="editLevel(this);">Edit</a></li>'
                + '<li><a onclick="deleteLevel(this);">Delete</a></li>'
                + '</ul>'
                + '</div>'
                + '</div>';
        $(e).closest('span').removeClass('edit-mode').html(_levelHTML);
    }


    function editLevel(e) {
        var _selectHTML = '<select onchange="getSelectedText(this)">'
                + '<option value="">--Select--</option>'
                + '<option value="1">Level 1</option>'
                + '<option value="2">Level 2</option>'
                + '<option value="3">Level 3</option>'
                + '<option value="4">Level 4</option>'
                + '</select>'
                + '<a class="ok-btn" onclick="buildEdittedLevel(this,$(this).attr(\'data-level\'))"><i class="fa fa-check"></i></a>';
        $(e).closest('span').addClass('edit-mode').html(_selectHTML);
    }
    function deleteLevel(e) {
        var _selectHTML = '<select onchange="getSelectedText(this)">'
                + '<option value="">--Select--</option>'
                + '<option value="1">Level 1</option>'
                + '<option value="2">Level 2</option>'
                + '<option value="3">Level 3</option>'
                + '<option value="4">Level 4</option>'
                + '</select>'
                + '<a class="ok-btn" onclick="buildLevel(this,$(this).attr(\'data-level\'))"><i class="fa fa-check"></i></a>';
        $(e).closest('.level').html(_selectHTML);
    }
    function showActionsMenu(e) {
        $(e).closest('[data-actions="menu"]').find('.others-menu-list').stop(true).fadeToggle();
    }
    function getSelectedText(e) {
        $(e).closest('.level').find('.ok-btn').attr('data-level', $(e).find(':selected').text());
    }
</script>