<h3 class="fixed content-heading">Create Project
        <span class="button-set">
            <a title="Back" href="#"><i class="fa fa-plus"></i></a>
            <a title="Options" href="#"><i class="fa fa-ellipsis-v"></i></a>
      </span>
</h3>
<div id="contentArea" class="content-area animated fadeInRight">

    <div class="content-container clearfix content-container-new">
        <div class="left-panel pull-left">
            <div class="contact-left-panel pull-left p10 no-bg">
                <ul class="status-list-new">
                    <li class="main-txt-active">
                        <div class="main-txt"><span class="fa fa-check"></span>Data</div>
                        <ul class="sub-status-list">
                            <li class="new-status-active"><i class="fa fa-check"></i>Applicant’s information</li>
                            <li><i class="fa fa-check"></i>Family & Residence Information</li>
                            <li><i class="fa fa-check"></i>Personal Financial Information</li>
                            <li><i class="fa fa-check"></i>Individual Person - Other Income</li>
                        </ul>
                    </li>
                    <li><div class="main-txt"><span class="fa fa-check"></span>Conditions</div></li>
                    <li><div class="main-txt"><span class="fa fa-check"></span>Limits & Approvals</div></li>
                </ul>
            </div><!--contact-left-panel-->
        </div>
        <div class="contact-right-panel p10">
            <div class="right-section-wrap tabs-wrapper-new">
                <div class="tabs-wrap clearfix relative">
                    <ul class="tabs pull-left tabs-modified">
                        <li class="current-tab show" tab-content>
                            <a href="javascript:;"  class="f14" data-tabs="#tab1">
                                <small class="fa fa-check pull-left"></small>
                                <div class="pull-left">
                                    <p>Data</p>
                                    <i>brief information will come here</i>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;"  class="f14" data-tabs="#tab2">
                                <small class="fa fa-check pull-left"></small>
                                <div class="pull-left">
                                    <p>Conditions</p>
                                    <i>brief information will come here</i>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;"  class="f14" data-tabs="#tab3">
                                <small class="fa fa-check pull-left"></small>
                                <div class="pull-left">
                                    <p>Limits & Approvals</p>
                                    <i>brief information will come here</i>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <a href="contact-list.html" class="pull-right close-cmn"></a>
                </div>
                <div class="tab-data" id="tab1" style="display: block;">
                    <div class="head-wrap accordion_head clearfix p10 head-wrap-new" accordian-content>
                        <h1 class="f16 blue bold">Applicant's information</h1>
                        <span class="pull-right">
                            <a title="Options" href="#"><i class="fa fa-check"></i></a>
                            <a href="javascript:;" data-toggle="dropdown" class="menu-toggle dropdown-toggle"><i class="fa fa-bars"></i> </a>
                        </span>
                    </div>
                    <div class="accordion_body white-bg" style="display: block;">
                        <form class="form-horizontal form-bordered">
                            <div class="row clearfix">
                                <div class="col-sm-12 clearfix">
                                    <div class="col-lg-4">
                                        <label class="control-label">Last Name*</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="control-label">First Name*</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="control-label">Gender*</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <div class="radio display-inline-block mr15 mt5"><label class="f12"><input type="radio" name="radio" checked=""> Male</label></div>
                                            <div class="radio display-inline-block"><label class="f12"><input type="radio" name="radio"> Female</label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 clearfix">
                                    <div class="col-lg-4">
                                        <label class="control-label">Date of Birth*</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="control-label">Place of Birth</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 clearfix">
                                    <div class="col-lg-4">
                                        <label class="control-label">ID Number</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="control-label">Place/Date of Issue</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="control-label">Marital Status</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <div class="radio display-inline-block mr15 mt5"><label class="f12"><input type="radio" name="status" checked=""> Yes</label></div>
                                            <div class="radio display-inline-block"><label class="f12"><input type="radio" name="status"> No</label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 clearfix">
                                    <div class="col-lg-4">
                                        <label class="control-label">Education</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="control-label">Employment Status</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="control-label">Employment</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 clearfix">
                                    <div class="col-lg-12">
                                        <label class="control-label">Is the client in good health?</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <div class="radio display-inline-block mr15"><label class="f12"><input type="radio" name="good" checked=""> Yes</label></div>
                                            <div class="radio display-inline-block"><label class="f12"><input type="radio" name="good"> No</label></div>
                                            <textarea placeholder="Comments" class="width-full p10 f14">Comments</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 clearfix">
                                    <div class="col-lg-12">
                                        <label class="control-label">Does the client have life insurance</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <div class="radio display-inline-block mr15"><label class="f12"><input type="radio" name="insurance" checked=""> Yes</label></div>
                                            <div class="radio display-inline-block"><label class="f12"><input type="radio" name="insurance"> No</label></div>
                                            <textarea placeholder="Comments" class="width-full p10 f14">Comments</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 btn-custom clearfix text-center">
                                    <button class="btn btn-primary f14 next-btn" tab-next>Save and Continue</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="head-wrap clearfix p10 head-wrap-new accordion_head mt10">
                        <h1 class="f16 blue bold">Family and Residence Information</h1>
                        <span class="pull-right">
                            <a title="Options" href="#"><i class="fa fa-check"></i></a>
                            <a href="javascript:;" data-toggle="dropdown" class="menu-toggle dropdown-toggle"><i class="fa fa-bars"></i> </a>
                        </span>
                    </div>
                    <div class="accordion_body white-bg">
                        <form class="form-horizontal form-bordered">
                            <div class="row clearfix">
                                <div class="col-sm-12 clearfix">
                                    <div class="col-lg-4">
                                        <label class="control-label">Last Name*</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="control-label">First Name*</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="control-label">Gender*</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <div class="radio display-inline-block mr15 mt5"><label class="f12"><input type="radio" name="radio" checked=""> Male</label></div>
                                            <div class="radio display-inline-block"><label class="f12"><input type="radio" name="radio"> Female</label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 clearfix">
                                    <div class="col-lg-4">
                                        <label class="control-label">Date of Birth*</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="control-label">Place of Birth</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 clearfix">
                                    <div class="col-lg-4">
                                        <label class="control-label">ID Number</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="control-label">Place/Date of Issue</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="control-label">Marital Status</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <div class="radio display-inline-block mr15 mt5"><label class="f12"><input type="radio" name="status" checked=""> Yes</label></div>
                                            <div class="radio display-inline-block"><label class="f12"><input type="radio" name="status"> No</label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 clearfix">
                                    <div class="col-lg-4">
                                        <label class="control-label">Education</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="control-label">Employment Status</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="control-label">Employment</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 clearfix">
                                    <div class="col-lg-12">
                                        <label class="control-label">Is the client in good health?</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <div class="radio display-inline-block mr15"><label class="f12"><input type="radio" name="good" checked=""> Yes</label></div>
                                            <div class="radio display-inline-block"><label class="f12"><input type="radio" name="good"> No</label></div>
                                            <textarea placeholder="Comments" class="width-full p10 f14">Comments</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 clearfix">
                                    <div class="col-lg-12">
                                        <label class="control-label">Does the client have life insurance</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <div class="radio display-inline-block mr15"><label class="f12"><input type="radio" name="insurance" checked=""> Yes</label></div>
                                            <div class="radio display-inline-block"><label class="f12"><input type="radio" name="insurance"> No</label></div>
                                            <textarea placeholder="Comments" class="width-full p10 f14">Comments</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 btn-custom clearfix text-center">
                                    <button class="btn btn-primary f14 next-btn">Save and Continue</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="head-wrap clearfix p10 head-wrap-new accordion_head mt10">
                        <h1 class="f16 blue bold">Personal Financial Information </h1>
                        <span class="pull-right">
                            <a title="Options" href="#"><i class="fa fa-check"></i></a>
                            <a href="javascript:;" data-toggle="dropdown" class="menu-toggle dropdown-toggle"><i class="fa fa-bars"></i> </a>
                        </span>
                    </div>
                    <div class="accordion_body white-bg">
                        <form class="form-horizontal form-bordered">
                            <div class="row clearfix">
                                <div class="col-sm-12 clearfix">
                                    <div class="col-lg-4">
                                        <label class="control-label">Last Name*</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="control-label">First Name*</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="control-label">Gender*</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <div class="radio display-inline-block mr15 mt5"><label class="f12"><input type="radio" name="radio" checked=""> Male</label></div>
                                            <div class="radio display-inline-block"><label class="f12"><input type="radio" name="radio"> Female</label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 clearfix">
                                    <div class="col-lg-4">
                                        <label class="control-label">Date of Birth*</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="control-label">Place of Birth</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 clearfix">
                                    <div class="col-lg-4">
                                        <label class="control-label">ID Number</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="control-label">Place/Date of Issue</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="control-label">Marital Status</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <div class="radio display-inline-block mr15 mt5"><label class="f12"><input type="radio" name="status" checked=""> Yes</label></div>
                                            <div class="radio display-inline-block"><label class="f12"><input type="radio" name="status"> No</label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 clearfix">
                                    <div class="col-lg-4">
                                        <label class="control-label">Education</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="control-label">Employment Status</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="control-label">Employment</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 clearfix">
                                    <div class="col-lg-12">
                                        <label class="control-label">Is the client in good health?</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <div class="radio display-inline-block mr15"><label class="f12"><input type="radio" name="good" checked=""> Yes</label></div>
                                            <div class="radio display-inline-block"><label class="f12"><input type="radio" name="good"> No</label></div>
                                            <textarea placeholder="Comments" class="width-full p10 f14">Comments</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 clearfix">
                                    <div class="col-lg-12">
                                        <label class="control-label">Does the client have life insurance</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <div class="radio display-inline-block mr15"><label class="f12"><input type="radio" name="insurance" checked=""> Yes</label></div>
                                            <div class="radio display-inline-block"><label class="f12"><input type="radio" name="insurance"> No</label></div>
                                            <textarea placeholder="Comments" class="width-full p10 f14">Comments</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 btn-custom clearfix text-center">
                                    <button class="btn btn-primary f14 next-btn">Save and Continue</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!---info wrap-->
                <div class="tab-data animated fadeInRight white-bg" id="tab2">
                    <div class="head-wrap text-center clearfix p10">
                        <h1 class="f16 blue text-uppercase bold">Family and Residence Information</h1>
                        <a href="javascript:;" class="pull-right"></a>
                    </div>
                    <div class="form-index mt5">
                        <form class="form-horizontal form-bordered">
                            <div class="row clearfix">
                                <div class="col-lg-6">
                                    <div class="form-group clearfix form-group-custom">
                                        <div class="col-sm-12">
                                            <input type="text" placeholder="Spouse Name" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group clearfix form-group-custom">
                                        <div class="col-sm-12">
                                            <select class="form-control">
                                                <option>Profession</option>
                                                <option>Option 1</option>
                                                <option>Option 2</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group clearfix form-group-custom">
                                        <div class="col-sm-12">
                                            <select class="form-control">
                                                <option>Employment Status</option>
                                                <option>Option 1</option>
                                                <option>Option 2</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group clearfix form-group-custom">
                                        <div class="col-sm-12">
                                            <input type="text" placeholder="Spouse ID" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group clearfix form-group-custom">
                                        <div class="col-sm-12">
                                            <select class="form-control">
                                                <option>Employment</option>
                                                <option>Option 1</option>
                                                <option>Option 2</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group clearfix form-group-custom">
                                        <div class="col-sm-12">
                                            <select class="form-control">
                                                <option>Education</option>
                                                <option>Option 1</option>
                                                <option>Option 2</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="col-lg-6">
                                        <a class="add-more-btn">Add More Spouse <i class="fa fa-add"></i> </a>
                                    </div>
                                </div>
                                <div class="col-lg-12 mt15">
                                    <div class="form-group clearfix form-group-custom">
                                        <div class="col-sm-12">
                                            <textarea class="width-full p10 f14" placeholder="Residential Area"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="col-lg-4">
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="text" placeholder="Living in Residence Since" class="form-control">
                                        </div>
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="number" placeholder="Number of Dependants" class="form-control">
                                        </div>
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="number" placeholder="Thereof pre-school" class="form-control">
                                        </div>
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="number" placeholder="Theref post-school" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group clearfix form-group-custom">
                                            <select class="form-control">
                                                <option>Owned/rented</option>
                                                <option>Option 1</option>
                                                <option>Option 2</option>
                                            </select>
                                        </div>
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="number" placeholder="Male" class="form-control">
                                        </div>
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="number" placeholder="Thereof in school" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group clearfix form-group-custom">
                                            <select class="form-control">
                                                <option>Landlord</option>
                                                <option>Option 1</option>
                                                <option>Option 2</option>
                                            </select>
                                        </div>
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="number" placeholder="Female" class="form-control">
                                        </div>
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="number" placeholder="Thereof in university" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="clearfix mb10 pb10 plr15 mt10">
                                        <label class="f14 pull-left blue-transp">Is there a family memberwith chronic illness or disability ?</label>
                                        <div class="toggle toggle-danger pull-left mrl10" toggle-checkbox></div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="col-lg-4">
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="text" placeholder="Phone (main)" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="text" placeholder="Phone (alt)" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group clearfix form-group-custom">
                                            <input type="text" placeholder="e-mail" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="plr15">
                                        <label class="mb10">Other (web/FB/…)</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <div class="input-group">
                                                <span class="input-group-addon no-bg"><i class="fa fa-globe"></i> </span>
                                                <input type="text" class="form-control darkblue border-lr-none" value="www.raymundosolutions.com">
                                                <span class="input-group-addon no-bg"><i class="fa fa-external-link darkblue"></i> </span>
                                            </div>

                                        </div>
                                        <div class="form-group clearfix form-group-custom">
                                            <div class="input-group">
                                                <span class="input-group-addon no-bg"><i class="fa fa-facebook-square"></i> </span>
                                                <input type="text" class="form-control darkblue border-lr-none" value="facebook.com/raymundosolutions">
                                                <span class="input-group-addon no-bg"><i class="fa fa-external-link darkblue"></i> </span>
                                            </div>

                                        </div>
                                        <div class="form-group clearfix form-group-custom">
                                            <div class="input-group">
                                                <span class="input-group-addon no-bg"><i class="fa fa-twitter"></i> </span>
                                                <input type="text" class="form-control darkblue border-lr-none" value="twitter.com/raymundosolutions">
                                                <span class="input-group-addon no-bg"><i class="fa fa-external-link darkblue"></i> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 btn-custom clearfix text-center">
                                    <button class="btn btn-primary f14">Save</button>&nbsp;
                                    <button class="btn btn-default f14 next-btn" tab-next>Save and Continue <span class="fa fa-long-arrow-right"></span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!---info wrap-->
                <div class="tab-data animated fadeInRight" id="tab3">
                    <div class="head-wrap accordion_head clearfix p10 head-wrap-new">
                        <h1 class="f16 blue bold">Board members</h1>
                        <span class="pull-right">
                            <a title="Options" href="#"><i class="fa fa-check"></i></a>
                            <a href="javascript:;" data-toggle="dropdown" class="menu-toggle dropdown-toggle"><i class="fa fa-bars"></i> </a>
                        </span>
                    </div>
                    <div class="accordion_body white-bg p15 pb50" style="display: block">
                        <div class="clearfix">
                            <label class="pull-left label-info">Set Price Range</label>
                            <div class="pull-right">
                                <label class="label-text">Maximum</label>
                                <span class="label-info">$ 9,000</span>
                            </div>
                        </div>
                        <div range-slider min="demo4.rangeMin" max="demo4.rangeMax" class="range-slider-custom" model-min="demo4.min" model-max="demo4.max" disabled="demo4.disabled"></div>
                    </div>
                    <div class="head-wrap clearfix p10 head-wrap-new accordion_head mt10 ">
                        <h1 class="f16 blue bold">Vice President</h1>
                        <span class="pull-right">
                            <a title="Options" href="#"><i class="fa fa-check"></i></a>
                            <a href="javascript:;" data-toggle="dropdown" class="menu-toggle dropdown-toggle"><i class="fa fa-bars"></i> </a>
                        </span>
                    </div>
                    <div class="accordion_body white-bg p15 pb50">
                        <div class="clearfix">
                            <label class="pull-left label-info">Set Price Range</label>
                            <div class="pull-right">
                                <label class="label-text">Maximum</label>
                                <span class="label-info">$ 9,000</span>
                            </div>
                        </div>
                        <div range-slider min="demo4.rangeMin" max="demo4.rangeMax" class="range-slider-custom" model-min="demo4.min" model-max="demo4.max" disabled="demo4.disabled"></div>
                    </div>
                    <div class="head-wrap clearfix p10 head-wrap-new accordion_head mt10 ">
                        <h1 class="f16 blue bold">Director</h1>
                        <span class="pull-right">
                            <a title="Options" href="#"><i class="fa fa-check"></i></a>
                            <a href="javascript:;" data-toggle="dropdown" class="menu-toggle dropdown-toggle"><i class="fa fa-bars"></i> </a>
                        </span>
                    </div>
                    <div class="accordion_body white-bg p15 pb50">
                        <div class="clearfix">
                            <label class="pull-left label-info">Set Price Range</label>
                            <div class="pull-right">
                                <label class="label-text">Maximum</label>
                                <span class="label-info">$ 9,000</span>
                            </div>
                        </div>
                        <div range-slider min="demo4.rangeMin" max="demo4.rangeMax" class="range-slider-custom" model-min="demo4.min" model-max="demo4.max" disabled="demo4.disabled"></div>
                    </div>
                </div><!---info wrap-->
            </div>

        </div><!--Details Area _End-->
    </div>
</div>