<div class="modal-wrap plr10">
    <div class="modal-header clearfix p10">
        <h3 class="modal-title pull-left mt5"><i class="fa fa-sitemap mlr5"></i>Branches Structure Style</h3>
        <a href="javascript:;" class="pull-right" ng-click="cancel()">
            <img src="images/close.png" alt="close-image">
        </a>
    </div>
    <div class="modal-body">
        <p class="f12">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
        <div class="division-wrap clearfix">
            <form>
                <div class="col-sm-12">
                    <div class="form-group clearfix form-group-custom">
                        <label class="control-label">Group Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-addon"><i class=" fa fa-check"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="inpt-wrapper form-group clearfix">
                        <input type="text" class="form-control pull-left" value="country" readonly>
                        <div class="pull-left input-icons-wrap">
                            <a href="javascript:;" class="fa fa-pencil"></a>
                            <a href="javascript:;" class="fa fa-trash"></a>
                        </div>
                    </div>
                </div>
                <div class="clearfix btn-custom mt10">
                    <button class="btn btn-primary f12 pull-right text-uppercase"><i class="fa fa-plus mlr5"></i>Create Sub Division</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer border-none btn-custom clearfix text-center">
        <button class="btn btn-primary f14" type="button" ng-click="ok()">Create</button>
        <button class="btn btn-default f14" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>