<div class="level">
    <span>
            		<div class="others-menu-wrap small-menu right-aligned" data-actions="menu">
                    <a href="javascript:;" class="others-menu mt5" onclick="showActionsMenu(this)">
                        <img src="images/others.png" alt="others-image" class="h13"/>
                    </a>

                    <div class="others-menu-list">
                        <div class="clearfix ptrl5">

                            <h2 class="pull-left f13 gray mt5">
                                <a class="others-menu" href="javascript:;" onclick="showActionsMenu(this)">
                                    <img alt="others-image" src="images/others.png" class="h13">
                                </a>
                                Actions</h2>
                        </div>
                        <ul>
                            <li><a onclick="editLevel(this);">Edit</a></li>
                            <li><a ng-click="remove()">Delete</a></li>
                        </ul>
                    </div>
                </div>
        </span>

    <div class="level">

         <span ng-repeat="child in user.children">
             <drop-down user="child" branchs="branchList"></drop-down>

         </span>
    </div>

</div>




