<div class="modal-wrap">
    <div class="right-modal modal-custom clearfix">
        <h3 class="right-modal-head"><i class="fa fa-sitemap mr8"></i>Upload Branches
            <a href="javascript:;" class="close-right pull-right" ng-click="cancel()">
                <img src="images/close.png" alt="close-image">
            </a>
        </h3>

    </div>
    <div class="modal-body">
        <div class="division-wrap clearfix ">
            <form  name="uploadBranchForm" ng-submit="submitForm()" novalidate>
                <div class="col-sm-12">
                    <div class="form-group clearfix form-group-custom mt20 mb20">
                        <div class="clearfix text-right"> <div class="input-group pull-left f12"><!--ngf-accept="'image/*'"-->
                            <input type="file" required="" name="file"  ngf-select="uploadBranch($file)" class="ng-pristine ng-invalid ng-invalid-required">
                        </div>
                            <div class="btn-custom mt10">
                                <!--<a target="_self" href="http://desk8-tss/q-lana/rest/Classes/company_branches.xls" class="f12 sky-blue" download="customer_branch.xls"><i class="fa fa-download mlr5"></i>Download</a><span class="f12"> Sample Data</span></div>&lt;!&ndash;btn btn-primary f12 pull-left text-uppercase&ndash;&gt;-->
                                <a href="{{download_url}}" class="f12 sky-blue mlr5" ><i class="fa fa-download mlr5"></i>Download </a><span class="f12"> Sample Data</span>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer border-none btn-custom clearfix text-center">
                        <button class="btn btn-primary f14"  >Upload</button>
                        <button class="btn btn-default f14" type="button" ng-click="cancel()">Cancel</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>