<h3 class="fixed content-heading">User
        <span class="button-set">
            <a ui-sref="app.create-user" class="pad0 display-block" uib-tooltip="Add User"><i class="fa fa-add-sm"></i></a>
        </span>
</h3>
<div id="contentArea" class="content-area animated fadeInRight">

    <div class="content-container p20 clearfix light-blue-bg">
        <!--<div class="alpha-list pull-left">
            <a ui-sref="app.create-user" class="display-block"><i class="fa fa-plus"></i></a>
            <ul data-list="alpha" ng-controller="defaultCtrl" class="users-alpha">
                <li ng-repeat="alpha in ALPHA_DATA" selected-alpha> <span>{{ alpha.alpha }}</span> </li>
            </ul>
        </div>--><!--Alpha List _End-->

        <div class="c-fixed-wrapper white-bg border clearfix p15"  data-ng-show="companyUsers.length > 0">
            <div class="section-wrap" >
                <h3 class="heading-icon clearfix  m0"><i class="fa fa-user"></i> General Information<a href="javascript:;" uib-tooltip="Help" class="fa fa-question-circle pull-right mr10"></a>
                    <a href="javascript:;" ng-click="editCompanyUser(user.id_user)" class="pull-right" uib-tooltip="Edit">
                        <span class="fa fa-pencil mr15"></span>
                    </a>
                </h3>
                <div class="row">
                    <div class="col-sm-12 clearfix mtb10">
                        <div class="col-sm-4 col-lg-3 mb10">
                            <ul class="f12" data-list="projects">
                                <li class="relative pl0 ng-scope selected-result no-bg">
                                    <img class="maxhw40 mr4" ng-src="{{user.profile_image || 'images/default-img.png'}}">
                                    <label class="dark-blue">{{user.first_name}} {{user.last_name}}</label>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4 col-lg-3 mb10">
                            <label class="label-text">Email</label>
                            <p class="label-info m0">{{user.email_id}}</p>
                        </div>
                        <div class="col-sm-4 col-lg-3 mb10">
                            <label class="label-text">Phone</label>
                            <p class="label-info m0">{{user.phone_number}}</p>
                        </div>

                        <!--<div class="col-sm-4">
                            <label class="label-text">First Name</label>
                            <p class="label-info">{{user.first_name}}</p>
                        </div>
                        <div class="col-sm-4">
                            <label class="label-text">Last Name</label>
                            <p class="label-info">{{user.last_name}}</p>
                        </div>-->

                        <!--<div class="col-sm-4">
                            <label class="label-text">Role</label>
                            <p class="label-info">{{user.role_name}}</p>
                        </div>-->
                        <div class="col-sm-4 col-lg-3 mb10">
                            <label class="label-text">Address</label>
                            <p class="label-info m0" ng-if="user.address==''">---</p>
                            <p class="label-info m0" ng-if="user.address!=''">{{user.address}}</p>
                        </div>
                        <div class="col-sm-4 col-lg-3 mb10">
                            <label class="label-text">City</label>
                            <p class="label-info m0">{{user.city}}</p>
                        </div>
                        <div class="col-sm-4 col-lg-3 mb10">
                            <label class="label-text">State</label>
                            <p class="label-info m0">{{user.state}}</p>
                        </div>



                        <div class="col-sm-4 col-lg-3 mb10">
                            <label class="label-text">Country</label>
                            <p class="label-info m0">{{user.country_name}}</p>
                        </div>
                        <div class="col-sm-4 col-lg-3 mb10">
                            <label class="label-text">Zip</label>
                            <p class="label-info m0">{{user.zip_code}}</p>
                        </div>

                    </div>
                    <!--<div class="col-sm-12 clearfix clearboth mtb10">
                        <div class="col-sm-4">
                            <label class="label-text display-block mb5">Status</label>
                            &lt;!&ndash;<div class="toggle toggle-danger pull-left pointer-none" toggle-checkbox></div>&ndash;&gt;
                            <div class="onoffswitch">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                                <label class="onoffswitch-label" for="myonoffswitch">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>

                        </div>
                    </div>-->
                    <div class="col-sm-12">
                        <h3 class="heading-icon mt10 clearfix pb5 m0"><i class="fa fa-user"></i> Reporting Information </h3>
                    </div>
                    <div class="col-sm-12 clearfix clearboth mtb10">
                        <div class="col-sm-4 col-lg-3 mb10">
                            <label class="label-text">User Role</label>
                            <p class="label-info m0">{{user.role_name}}</p>
                        </div>
                        <div class="col-sm-4 col-lg-3 mb10">
                            <label class="label-text">Working Branch</label>
                            <p class="label-info m0">{{user.branch_name}}</p>
                        </div>
                        <div class="col-sm-4 col-lg-3 mb10">
                            <label class="label-text">Reporting to Manager</label>
                            <p class="label-info m0">{{user.reporting.reporting_user_name}}</p>
                        </div>


                        <div class="col-sm-4 col-lg-3 mb10">
                            <label class="label-text">Manager Designation</label>
                            <p class="label-info m0">{{user.reporting.reporting_designation}}</p>
                        </div>
                        <div class="col-sm-4 col-lg-3 mb10">
                            <label class="label-text">Manager Branch</label>
                            <p class="label-info m0">{{user.reporting.reporting_branch_name}}</p>
                        </div>


                    </div>

                </div>
            <!--section wrap-->
        </div>

    </div>
        <div class="c-users-list">
            <h3 class="heading mb10 heading-dec">
                <span>Users</span>
            </h3>
            <div class="result-list  users-list-wrap"  data-ng-show="companyUsers.length > 0">
                <div class="search-result light-bg">

                    <div class="search-input position-relative">
                        <input class="f12 p5" type="text" placeholder="Search..." ng-model="query" />
                        <i class="fa fa-search mt2 pt2"></i>
                    </div>
                    <!--<div class="pull-left">
                        <a href="#" class="filter-search text-center display-inline-block valign-middle">
                            <i class="fa fa-filter"></i>
                        </a>
                    </div>-->
                    <p class="clearfix"></p>
                </div>
                <div id="company_results" class="">
                    <div id="results" class="u-list">
                        <ul class="pb10 selected-result-list groups-list scroll-div-wrap users-list " data-list="projects" min-scroll>
                            <li ng-repeat="user in companyUsers | filter:query" class="relative pl0" selected-result ng-click="userView(user)" ng-init="$first && userView(user)">
                                <img ng-src="{{user.profile_image || 'images/default-img.png'}}"/>
                                <label>{{user.first_name}} {{user.last_name}}<span>{{user.email_id}}</span></label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!--Result List _End-->
        </div>
</div>
</div>
