<div class="right-header p15 border-bottom">
    <h3 class="darkcolor clearfix text-uppercase">
        <span class="display-inline-block f14 bold pt5">Touchpoints</span>
        <a ng-show="permission.touchpoints_add" class="pull-right" ng-click="togglePoint = !togglePoint"><i class="icon-plus-circle f21 sky-blue"></i> </a>
    </h3>
</div>
<div class="right-content p0">
    <!-- <div class="width220 mb20">
         <select class="form-control">
             <option>Filter By</option>
             <option>1</option>
             <option>1</option>
         </select>
     </div>-->
    <form name="form" novalidate>
        <div class="col-sm-12 mb10 bg-box clearfix" ng-show="togglePoint">
            <h4 class="f14 text-uppercase darkcolor">Add Touchpoint</h4>
            <div class="col-sm-6 p-l-0">
                <div class="form-group clearfix form-group-custom">
                    <label class="control-label">Date *: </label>
                    <div class="input-group">
                        {{postField.reminder_date}}
                        <input type="text" class="form-control white-bg" min-date="minDate" uib-datepicker-popup
                               data-ng-model="postField.reminder_date" type="text" name="when" is-open="openCal"
                               show-weeks="false" show-button-bar="false" readonly required/>
                          <span class="input-group-btn ">
                            <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                <i class="fa fa-calendar"></i></button>
                          </span>
                    </div>
                    <div ng-if="form.reminder_date.$error.required && submitStatus" class="error-message">Select Date &
                        Time.
                    </div>
                </div>
            </div>
            <div class="col-sm-6 p-r-0">
                <div class="form-group clearfix form-group-custom">
                    <label class="control-label">Touchpoint Type *: </label>
                    <select class="form-control"
                            ng-options="touchPoint.id_crm_touch_point_type as touchPoint.crm_touch_point_type for touchPoint in touchPointTypeList"
                            name="crm_touch_point_type_id"
                            ng-model="postField.crm_touch_point_type_id" required>
                        <option value="">--Select--</option>
                    </select>
                    <div ng-if="form.crm_touch_point_type_id.$error.required && submitStatus" class="error-message">
                        Select Touchpoint.
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p0">
                <div class="form-group">
                    <label class="control-label">Description *: </label>
                    <textarea class="textarea-full display-block f12 p10" required
                              ng-model="postField.touch_point_description" name="touch_point_description"></textarea>
                    <div ng-if="form.touch_point_description.$error.required && submitStatus" class="error-message">
                        Enter Description.
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p0">
                <div class="col-sm-6 p-l-0">
                    <label class="f12"><input type="checkbox" name="reminder" data-ng-model="postField.reminder"
                                              class="mr4 valign-middle m-2"> Set Reminder</label>
                </div>
                <div class="col-sm-6 text-right p-r-0">
                    <button type="button" class="btn btn-primary f12 btn-dark border-none mr4"
                            ng-click="submit(postField,form)">Save
                    </button>
                    <button type="button" class="btn btn-primary lt-bg f12 border-none"
                            data-ng-click="togglePoint = false">Cancel
                    </button>
                </div>

            </div>

        </div>
    </form>
    <div class="pl10 pr10 tp-wrap">
        <div class="t-tabs tabs-wrap">
            <uib-tabset justified="true">
                <uib-tab heading="All">
                    <div class="t-tab-content scroll-div-wrap-parent" parent-scroll>
                        <div class="t-box" ng-repeat="touchPointsTypes in touchPointsList" icon-alltouchpoints-types
                             data-tuchpointType="{{touchPointsTypes.activity_type}}"
                             data-isremainder="{{touchPointsTypes.activity_reminder}}">
                            <div class="t-box-top">
                                <div class="t-icon">
                                    <span class=""><i></i> </span>
                                </div>
                                <div class="t-content clearfix">
                                    <h4 class="text-uppercase mb5 clearfix f12 darkcolor bold">
                                        <span class=" col-sm-8 word-break p0 pt2">{{touchPointsTypes.activity_name}}</span>
                                        <span class="text-right text-capitalize col-sm-4 pr0 sky-blue f12 bold">{{touchPointsTypes.activity_created_by}}</span>
                                    </h4>
                                    <p class="f12 darkcolor"
                                       ng-bind-html="touchPointsTypes.activity_description | ellipsis:100"></p>
                                </div>
                            </div>
                            <div class="t-box-bottom clearfix">
                                <div class="col-sm-12 pl0">
                                    <p class="f11 pl5 darkcolor">{{touchPointsTypes.activity_date_time}}
                                        <!--- <span class="ash">2 Hours taken</span>--></p>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary" ng-click="loadMore()" ng-show="loadMoreShow">Load More</button>
                    </div>
        </div>
        </uib-tab>
        <!--<uib-tab heading="Current">
        </uib-tab>
        <uib-tab heading="Active">
        </uib-tab>
        <uib-tab heading="Personal">
        </uib-tab>-->
        </uib-tabset>


    </div>
</div>
