<h3 class="fixed content-heading">Create Customer
    <span class="button-set">
        <a ui-sref="sa.index"><i class="fa fa-close-sm"></i></a>
    </span>
</h3>
<form name="companyForm" ng-submit="submitForm(company)" novalidate>
    <div id="contentArea" class="content-area animated fadeInRight">
            <div class="content-container light-blue-bg p20 mb20">
            <div class="fixed-content-wrap white-bg border clearfix p15">
                <div class="section-wrap">
                    <h3 class="heading-icon"><i class="fa fa-building"></i> Financial Institution Details </h3>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <div class="image-wrap" ngf-select="uploadCompanyLogo($file)" ngf-pattern="'image/*'" >
                                    <img ngf-thumbnail="companyLogo || 'images/institution-default.png'"   class="image-view" alt="Image"/>
                                    <div class="image-actions">
                                        <i class="fa fa-pencil"></i>
                                    </div>
                                </div>
                                <a href="javascript:;" ng-show='trash' class="delete-img" ng-click="uploadCompanyLogoRemove()"><i class="fa fa-trash"></i></a>
                            </div>
                            <div class="col-sm-9 p0">
                                <div class="form-group clearfix form-group-custom col-sm-4">
                                    <div class="col-sm-12">
                                        <label class="control-label">Bank Name: *</label>
                                        <input type="text" class="form-control" ng-model="company.company_name" name="company_name">
                                    </div>
                                </div>
                                <div class="form-group clearfix form-group-custom col-sm-4">
                                    <div class="col-sm-12">
                                        <label class="control-label">Country: *</label>
                                        <select class="form-control" ng-options="country.id_country as country.country_name for country in Countries"  ng-model="company.country_id" name="country_id">
                                            <option value="">--Select Country--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group clearfix form-group-custom col-sm-4">
                                    <div class="col-sm-12">
                                        <label class="control-label">Bank Category: *</label>
                                        <select class="form-control" ng-options="category.id_bank_category as category.bank_category_name for  category in categories"  ng-model="company.bank_category_id" name="bank_category_id">
                                            <option value="">--Select Category--</option>
                                        </select>
                                    </div>
                                </div>

                                    <div class="form-group clearfix form-group-custom col-sm-12">
                                        <div class="col-sm-12">
                                            <label class="control-label">Address: *</label>
                                            <textarea class="col-sm-12 form-control" ng-model="company.company_address" name="company_address"></textarea>

                                         </div>
                                </div>
                                <div class="form-group clearfix form-group-custom col-sm-4">
                                    <div class="col-sm-12">
                                        <label class="control-label">Reporting Currency: *   </label>
                                        <select class="form-control" ng-options="currency.id_currency as currency.currency_code for currency in currencies" name="currency_id" ng-model="company.currency_id">
                                            <option value="">--Select Currency--</option>
                                        </select>
                                    </div>
                                </div>
                            </div>










                        </div>
                    </div>
                </div>
                <!--./Financial Institution Details -->
                <div class="section-wrap">
                    <h3 class="heading-icon"><i class="fa fa-user"></i> Contact Person Details </h3>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <div class="image-wrap">
                                    <div class="image-wrap" ngf-select="uploadUserImage($file)" ngf-pattern="'image/*'" >
                                        <img ngf-thumbnail="userImage || 'images/default-user.png'" class="image-view" alt="Image"/>

                                        <div class="image-actions">
                                            <i class="fa fa-pencil"></i>
                                        </div>
                                    </div>
                                </div>
                                <a href="javascript:;" ng-show='trashUser' class="delete-img" ng-click="uploadUserImageRemove()"><i class="fa fa-trash"></i></a>
                            </div>
                            <div class="col-sm-9 p0">
                                <div class="form-group clearfix form-group-custom col-sm-6">
                                    <div class="col-sm-12">
                                        <label class="control-label">First Name: *</label>
                                        <input type="text" class="form-control" ng-model="user.first_name" name="first_name">
                                    </div>
                                </div>
                                <div class="form-group clearfix form-group-custom col-sm-6">
                                    <div class="col-sm-12">
                                        <label class="control-label">Last Name: *</label>
                                        <input type="text" class="form-control" ng-model="user.last_name" name="last_name">
                                    </div>
                                </div>

                                    <div class="form-group clearfix form-group-custom col-sm-6">
                                        <div class="col-sm-12">
                                            <label class="control-label">E mail: *</label>
                                            <input type="text" class="form-control" ng-model="user.email_id" name="email_id">
                                        </div>
                                    </div>
                                    <div class="form-group clearfix form-group-custom col-sm-6">
                                        <div class="col-sm-12">
                                            <label class="control-label">Phone / Mobile: *</label>
                                            <input type="text" class="form-control" ng-model="user.phone_number" name="phone_number" only-digits>
                                        </div>
                                    </div>

                            </div>



                        </div>
                    </div>
                </div>
                <!--./Contact Person Details -->

                <div class="section-wrap">
                    <h3 class="heading-icon mt20"><i class="fa fa-star"></i> Membership Details </h3>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <div class="form-group clearfix form-group-custom">
                                    <div class="col-sm-12">

                                        <label class="control-label">Plan: *</label>
                                        <select class="form-control" ng-options="plan.id_plan as plan.plan_name for plan in Plans" ng-change="planChange(company.plan_id)" name="plan_id" ng-model="company.plan_id" >
                                            <option value="">--Select Plan--</option>
                                        </select>

                                    </div>
                                </div>
                            </div>

                           <div class="col-sm-4 light-blue-bg f12 p10" data-ng-show="planInfo.id_plan > 0">
                                <p>
                                    <label class="gray mr10">No. of Loans </label>
                                    <span class="blue">{{planInfo.no_of_loans}}</span></p>

                                <p>
                                    <label class="gray mr10">No. of Users </label>
                                    <span class="blue">{{planInfo.no_of_users}}</span></p>

                                <p>
                                    <label class="gray mr10">Total Disk Space </label>
                                    <span class="blue">{{planInfo.total_disk_space}}</span></p>

                             <!--  <p>
                                    <label class="gray mr10">Expiry Date </label>
                                    <span class="blue">{{planInfo.expired_date}}</span></p>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--./Membership Details -->
                <div class="col-lg-12 btn-custom clearfix text-center">
                    <button class="btn btn-primary f14">Save</button>
                    &nbsp;
                    <button type="button" ng-click="goBack('sa.index')" class="btn btn-default f14">Cancel</button>
                </div>
                <!--./Buttons -->
            </div>
        </div>
    </div>

    </div>
</form>