<h3 class="fixed content-heading">Customer Overview
      <span class="button-set">
        <a ui-sref="sa.index" title="Back"><i class="fa fa-close-sm"></i></a>
      </span>
</h3>
<div class="content-area animated fadeInRight" id="contentArea">

    <div class="content-container light-blue-bg">
        <div class="details-container light-blue-bg mtb10">

            <div class="admin-details-wrap  text-left">
                <div class="mb15">
                    <img ng-src="{{companyDetail.profile_image}}" alt="admin" class="sm-rounded-image" />
                    <p class="f15 darkcolor display-inline-block valign-middle width65">{{companyDetail.first_name}} {{companyDetail.last_name}}</p>
                </div>
                <div class="mb5">
                    <label class="label-text mb10 display-block">Company</label>
                    <img ng-src="{{companyDetail.company_logo}}" alt="Company" style="max-width:140px" />
                    <p class="f12 ash mb10 mt15 text-left lh14" ng-if="companyDetail.company_caption==''">Caption Here</p>
                    <p class="f12 darkcolor mtb10 text-left lh14" ng-if="companyDetail.company_caption!=''">{{companyDetail.company_caption}}</p>

                </div>
                <div class="mb5">
                    <label class="label-text">Email</label>
                    <p class="label-info mb0">{{companyDetail.email_id}}</p>
                </div>
                <div class="mb5">
                    <label class="label-text">Phone</label>
                    <p class="label-info mb0">{{companyDetail.phone_number}}</p>
                </div>
                <div class="mb5">
                    <label class="label-text">Address</label>
                    <p class="label-info mb0" ng-if="companyDetail.address==null">---</p>
                    <p class="label-info mb0" ng-if="companyDetail.address!=null">{{companyDetail.address}}</p>
                </div>
            </div>
        </div>
        <div class="details-tabs clearfix mb20 pt20">
            <div class="col-sm-12 p0">
            <ul id="projectTabs" class="custom-tabs equal-five orange-list">
                <li >
                    <a data-select="tab1" data-tag="tab" ui-sref="sa.customer-overview.customer-overview-tab"  active-link="active">Overview
                        <p class="orange f14">--</p>
                    </a>
                </li>
                <li>
                    <a data-select="tab2" data-tag="tab" ui-sref="sa.customer-overview.customer-loans" active-link="active">Loans
                        <p class="orange f14">25</p>
                    </a>
                </li>
                <li>
                    <a data-select="tab3" data-tag="tab" ui-sref="sa.customer-overview.customer-users" active-link="active">Users
                        <p class="orange f14">{{companyDetail.users}}</p>
                    </a>
                </li>
                <li>
                    <a data-select="tab4" data-tag="tab" ui-sref="sa.customer-overview.customer-login-history" active-link="active">Login History
                        <p class="blue f14"> --- </p>
                    </a>
                </li>
                <li>
                    <a data-select="tab5" data-tag="tab" ui-sref="sa.customer-overview.customer-branches" active-link="active">Branches
                        <p class="orange f14">{{companyDetail.branches}}</p>
                    </a>
                </li>
            </ul>
            <div data-area="tab" class="white-bg overflow-hidden p10">

                <div ui-view></div>

            </div>
            </div>
        </div>
    </div>
</div>

