<h3 class="fixed content-heading">Customers
        <span class="button-set">
            <a ui-sref="sa.create-customer" class="display-block"><i class="fa fa-add-sm"></i></a>
        </span>
</h3>
<div class="content-area animated fadeInRight" id="contentArea">

    <div class="content-container p5 clearfix">
        <!--<div class="alpha-list pull-left">
            <a ui-sref="create-customer" class="display-block"><i class="fa fa-plus"></i></a>
            <a ui-sref="contact-group"class="display-block"><i class="fa fa-users"></i></a>
            <ul data-list="alpha" >
                <li ng-repeat="alpha in ALPHA_DATA" selected-alpha> <span>{{ alpha.alpha }}</span> </li>
            </ul>
        </div>--><!--Alpha List _End-->
        <div class="details-area-alpha s-dashboard pull-left p10">
            <div class="clearfix search-wrap pb10">

                <div class="pull-left filter-wrap">
                    <!--<a href="javascript:;">
                        <img src="images/filter.png" alt="filter-image" />
                    </a>-->
                    <span class="label-info">{{companyList.length}} Members</span>
                </div>
                <div class="search-box pull-right search-box-wrap">
                    <form>
                        <input type="text" class="form-control" name="search" placeholder="Search..." ng-model="search">
                        <span search-box><i class="fa fa-search"></i></span>
                    </form>
                </div>
            </div>
            <div class="list-wrap list-wrap-alt">
                <ul>
                    <li class="list-item p5 clearfix relative" ng-repeat="company in companyList | filter:search">
                        <a ui-sref="sa.customer-overview({id:(company.id_company | decode )})" class="link"></a>
                        <div class="col-sm-2 p0">
                            <div class="img-box ">
                                <img ng-src="{{company.company_logo || 'images/company-logo.jpg' }}">
                            </div>
                        </div>
                        <div class="list-desc col-sm-7 mt8">
                            <p class="list-item-title darkcolor f14">{{company.company_name}}</p>
                            <ul>
                                <li>{{company.country_name}}</li>
                                <li>{{company.first_name}}</li>
                                <li>PH: {{company.phone_number}}</li>
                                <li>{{company.email_id}}</li>
                            </ul>
                        </div>
                        <div class="list-status col-sm-2 text-center mt8">
                            <div class="clearfix display-inline-block">
                                <label class="ash">Plan</label>
                                <span class="darkblue f12">{{company.plan_name}}</span>
                            </div>
                        </div>
                        <div class="col-sm-1 text-right pull-right mt8">
                            <!--<div class="others-menu-wrap">
                                <a href="javascript:;" class="others-menu mt5" ng-click="showOthersMenu=!showOthersMenu">
                                    <img src="images/others.png" alt="others-image" class="h21" />
                                </a>
                                <div class="others-menu-list" ng-show="showOthersMenu">
                                    <div class="clearfix p10">
                                        <h2 class="pull-left f14 gray mt5">Actions</h2>
                                        <a class="others-menu pull-right" href="javascript:;" ng-click="showOthersMenu=!showOthersMenu">
                                            <img alt="others-image" src="images/others.png" class="h21"/>
                                        </a>
                                    </div>
                                    <ul>
                                        <li><a href="javascript:;">Disable</a></li>
                                        <li><a href="javascript:;">Email/SMS</a></li>
                                        <li><a href="javascript:;">Add Loans</a></li>
                                        <li><a href="javascript:;">Send Invoice</a></li>
                                    </ul>
                                </div>
                            </div>-->
                            <div class="others-menu-wrap">
                                <a class="menu-toggle dropdown-toggle relative z2 mr10 mt35" data-toggle="dropdown" href="javascript:;">
                                    <i class="fa fa-ellipsis-v light-blue"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:;" ui-sref="sa.create-customer({'customerId':company.id_company})">Edit</a></li>
                                    <li><a href="javascript:;">Disable</a></li>
                                    <li><a href="javascript:;">Email/SMS</a></li>
                                    <li><a href="javascript:;">Add Loans</a></li>
                                    <li><a href="javascript:;">Send Invoice</a></li>
                                </ul>
                            </div>

                        </div>
                    </li>

                </ul>
            </div><!--list wrap-->
        </div><!--Details Area _End-->
        <div id="actionPanel" class="action-panel-graphs p10 action-panel">
            <ul class="home-tabs">
                <li>
                    <a href="javascript:;" class="text-uppercase f15 darkcolor">Customer Overview</a>
                </li>
            </ul>
            <div class="graph-wrap pb10">
                <h1 class="f14 dark mt10 mb5">By Country</h1>
                <!--<img alt="graph1" src="images/graph1.jpg">-->
                <div google-chart chart="chartObject" style="{{cssStyle}}"></div>

            </div>
            <div class="graph-wrap pb10">
                <h1 class="f14 dark mt10 mb5">By Category</h1>
                <!--<img alt="graph2" src="images/graph2.jpg">-->
                <div google-chart chart="chartObjectPie" style="{{cssStyle}}"></div>
            </div>
        </div>

        </div><!--Right Panel-->
    </div>
</div>

