
<h3 class="fixed content-heading">{{title}}
        <span class="button-set">
        <a title="Options" ng-click="navigatePrevious($root.currentUrl)" uib-tooltip="Back"><i class="fa fa-close-sm"></i></a>
      </span>
</h3>

<div id="contentArea" class="content-area animated fadeInRight">

    <div class="content-container clearfix light-blue-bg">
        <!--Result List _End-->
        <form name="userForm" ng-submit="submitForm()" novalidate class="pt20">
            <div class="fixed-content-wrap white-bg border clearfix p15 p-b-0 fixed-content-wrap-left c-fixed-wrap">
                <div class="section-wrap">
                    <h3 class="heading-icon clearfix"><i class="fa fa-user"></i> General Section <a href="javascript:;" uib-tooltip="Help" class="fa fa-question-circle pull-right mr10"></a></h3>

                    <div class="row">

                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <label class="control-label display-block">Contact Person Photo</label>

                                <div class="image-wrap mt5 cursor-pointer" ngf-select="uploadUserImage($file)" ngf-pattern="'image/*'" >
                                    <img ngf-thumbnail="userImage" ng-show="userImage!=''" class="image-view" />
                                    <img ng-show="userImage==undefined || userImage==''" ngf-thumbnail="user.profile_image || 'images/default-user.png'" class="image-view" alt="Image"/>
                                    <div class="image-actions">
                                        <i class="fa fa-pencil"></i>
                                    </div>
                                </div>
                                <a ng-show='trash' href="javascript:;" class="delete-img" ng-click="userLogoRemove()"><i class="fa fa-trash"></i></a>
                            </div>
                            <div class="col-sm-9">
                                <div class="col-sm-4">
                                <div class="form-group clearfix form-group-custom">

                                        <label class="control-label">First Name: *</label>
                                        <input type="text" class="form-control" ng-model="user.first_name" name="first_name">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                <div class="form-group clearfix form-group-custom">
                                        <label class="control-label">Last Name: *</label>
                                        <input type="text" class="form-control" ng-model="user.last_name" name="last_name">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group clearfix form-group-custom">
                                        <div class="col-sm-12 p0">
                                            <label class="control-label">Email Address: *</label>
                                            <input type="text" class="form-control" ng-model="user.email_id" name="email_id">
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="col-sm-9">
                                <div class="col-sm-4">
                                    <div class="form-group clearfix form-group-custom">
                                        <label class="control-label">Phone No: *</label>
                                        <input type="text" class="form-control" ng-model="user.phone_number" name="phone_number" only-digits >
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group clearfix form-group-custom">
                                        <div class="col-sm-12 p0">
                                            <label class="control-label">Address:</label>
                                            <textarea class="col-sm-12 form-control" ng-model="user.address" name="address"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group clearfix form-group-custom">
                                        <div class="col-sm-12 p0">
                                            <label class="control-label">City:</label>
                                            <input type="text" class="form-control" ng-model="user.city" name="city">
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="col-sm-9">


                                <div class="col-sm-4">
                                    <div class="form-group clearfix form-group-custom">
                                        <div class="col-sm-12 p0">
                                            <label class="control-label">State:</label>
                                            <input type="text" class="form-control" ng-model="user.state" name="state">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group clearfix form-group-custom">
                                        <div class="col-sm-12 p0">
                                            <label class="control-label">Country:</label>
                                            <select class="form-control" ng-model="user.country_id" name="country_id" >
                                                <option value="">&#45;&#45;Select country&#45;&#45;</option>
                                                <option ng-repeat="country in countries" ng-value="country.id_country" ng-selected="country.id_country == user.country_id" >
                                                    {{country.country_name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group clearfix form-group-custom">
                                        <div class="col-sm-12 p0">
                                            <label class="control-label">Zip:</label>
                                            <input type="text" class="form-control" ng-model="user.zip_code" name="zip_code" >
                                        </div>
                                    </div>
                                </div>



                            </div>
                            <div class="col-sm-12">
                                <h3 class="heading-icon mt10 clearfix mt10 mb10"><i class="fa fa-user"></i> Reporting Information </h3>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-3 p-l-0">
                                    <div class="form-group clearfix form-group-custom">
                                        <label class="control-label">Branch Types: *</label>
                                        <select class="form-control" ng-model="user.branch_type_id" name="branch_type_id" ng-change="updateBranchType(user.branch_type_id,false)" >
                                            <option value="">&#45;&#45;Select Branch Type&#45;&#45;</option>
                                            <option ng-repeat="branchType in companyBranchType" ng-value="branchType.branch_type_id" ng-selected="branchType.branch_type_id == user.branch_type_id" >
                                                {{branchType.branch_type_name}}
                                            </option>
                                        </select>
                                    </div>

                                </div>
                                <div class="col-sm-3">
                                    <div ng-if="user.branch_type_id != undefined" ><span ng-init="updateBranchType(user.branch_type_id,true)"></span></div>
                                    <div class="form-group clearfix form-group-custom">
                                        <label class="control-label">Working Branch: *</label>
                                        <select class="form-control" ng-model="user.branch_id" name="branch_id" ng-change="updateRole(user.user_role_id,user.branch_id)" >
                                            <option value="">&#45;&#45;Select Branch&#45;&#45;</option>
                                            <option ng-repeat="branch in company_branches" ng-value="branch.id_branch" ng-selected="branch.id_branch == user.branch_id">
                                                {{branch.legal_name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group clearfix form-group-custom">
                                        <label class="control-label">User Role: *</label>
                                        <select class="form-control" ng-model="user.user_role_id" name="user_role_id" ng-change="updateRole(user.user_role_id,user.branch_id)" >
                                            <option value="">&#45;&#45;Select Role&#45;&#45;</option>
                                            <option ng-repeat="role in userRole" ng-value="role.id_company_approval_role" ng-selected="role.id_company_approval_role == user.user_role_id" >
                                                {{role.approval_name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3" data-ng-show="companyUsers.length">
                                    <div class="form-group clearfix form-group-custom">
                                        <div ng-if="user.user_role_id != undefined" ><span ng-init="updateRole(user.user_role_id,user.branch_id,true)"></span></div>
                                        <label class="control-label">Reporting To:</label>
                                        <select class="form-control"  ng-model="user.reporting_user_id" name="reporting_user_id" ng-change="updateReportingTo(user.reporting_user_id)">
                                            <option value="">&#45;&#45;Select User&#45;&#45;</option>
                                            <option ng-repeat="companyUser in companyUsers" ng-value="companyUser.id_user" ng-selected="companyUser.id_user == user.reporting_user_id">
                                                {{companyUser.first_name+' '+companyUser.last_name+ ' (' +companyUser.role_name+ ')'}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12" >
                                <div ng-if="user.reporting_user_id != undefined" ><span ng-init="updateReportingTo(user.reporting_user_id,true)"></span></div>
                                <div class="col-sm-3 p-l-0" data-ng-show="companyUsers.length">
                                    <div class="form-group clearfix form-group-custom">
                                        <label class="control-label">Reporting User Branch:</label>
                                        <p class="f12 dark-blue">{{ reportingUserDetails.branch_name }}</p>
                                    </div>

                                </div>
                                <div class="col-sm-3" data-ng-show="companyUsers.length">

                                    <div class="form-group clearfix form-group-custom">
                                        <label class="control-label text-line">Reporting User Designation:</label>
                                        <p class="f12 dark-blue">{{ reportingUserDetails.approval_name }}</p>
                                    </div>

                                </div>
                                <!--<div class="col-sm-3" ng-if="user.id_user!=undefined">
                                    <label class="control-label">Status</label>
                                    <div class="onoffswitch">
                                        <input type="checkbox" ng-model="user.user_status" name="user_status" class="onoffswitch-checkbox" id="user_status"  ng-checked="getCheckedValue(user.user_status)"  >
                                        <label class="onoffswitch-label" for="user_status">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--section wrap-->
                <div class="col-lg-12 btn-custom clearfix text-center">

                    <button type="submit" class="btn btn-primary f14 mr8">{{btn}}</button>
                    <button type="button" class="btn btn-default f14" ng-click="navigatePrevious($root.currentUrl)">Cancel</button>
                </div>
                <!--./Buttons ui-sref="app.org-structure-view" -->
            </div>
        </form>
    </div>

</div>

