<div class="modal-wrap">
    <div class="modal-header clearfix">
        <h3 class="modal-title pull-left mt5">{{title}} Plan</h3>
        <a href="javascript:;" class="pull-right" ng-click="cancel()">
            <img src="images/close.png" alt="close-image">
        </a>
    </div>
    <form class="mt10"  name="planForm" ng-submit="submitForm()" novalidate>
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="form-group clearfix form-group-custom">
                    <label class="col-sm-12 control-label">Plan Name *</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" name="plan_name" ng-model="plan.plan_name">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group clearfix form-group-custom">
                    <label class="col-sm-12 control-label">No of Loans *</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control"  name="no_of_loans" ng-model="plan.no_of_loans" ui-number-mask="0" >
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group clearfix form-group-custom">
                    <label class="col-sm-12 control-label">Price Per Loan *</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control"  name="price_per_loan" ng-model="plan.price_per_loan" ui-number-mask="0" >
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group clearfix form-group-custom">
                    <label class="col-sm-12 control-label">No of Users (hint 0-unlimited) *</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control"  name="no_of_users" ng-model="plan.no_of_users" ui-number-mask="0" >
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group clearfix form-group-custom">
                    <label class="col-sm-12 control-label">Disk Space (GB) *</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control"  name="total_disk_space" ng-model="plan.total_disk_space" ui-number-mask="0" >
                    </div>
                </div>
            </div>

        </div>
    </form>
    <div class="modal-footer border-none btn-custom clearfix text-center">
        <button class="btn btn-primary f14"  ng-click="ok(plan)">{{btn}}</button>
        <button class="btn btn-default f14" ng-click="cancel()">Cancel</button>
    </div>
</div>