<div class="modal-wrap">
    <div class="modal-header clearfix">
        <h3 class="modal-title pull-left mt5">{{title}} Country</h3>
        <a href="javascript:;" class="pull-right" ng-click="cancel()">
            <img src="images/close.png" alt="close-image">
        </a>
    </div>
    <form class="mt10" name="countryForm" ng-submit="submitForm()" novalidate>
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="form-group clearfix form-group-custom">
                    <label class="col-sm-12 control-label">Country Name *</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" ng-model="country.country_name" name="country_name">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group clearfix form-group-custom">
                    <label class="col-sm-12 control-label">Country Code</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" ng-model="country.country_code" name="country_code">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer border-none btn-custom clearfix text-center">
        <button class="btn btn-primary f14" ng-click="save(country)">{{btn}}</button>
        <button class="btn btn-default f14" ng-click="cancel()">Cancel</button>
    </div>
</div>