<div class="modal-wrap">
    <div class="modal-header clearfix">
        <h3 class="modal-title pull-left mt5">{{title}} Approval Role</h3>
        <a href="javascript:;" class="pull-right" ng-click="cancel()">
            <img src="images/close.png" alt="close-image">
        </a>
    </div>
    <form class=" mt10">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="form-group clearfix form-group-custom">
                    <label class="col-sm-12 control-label">Approval Role Name *</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" ng-model="approvalRole.approval_name" name="approval_name">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group clearfix form-group-custom">
                    <label class="col-sm-12 control-label">Approval Role Code</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" ng-model="approvalRole.approval_role_code" name="approval_role_code">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group clearfix form-group-custom">
                    <label class="col-sm-12 control-label">Description</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" ng-model="approvalRole.description" name="description">
                    </div>
                </div>
            </div>

        </div>
    </form>
    <div class="modal-footer border-none btn-custom clearfix text-center">
        <button class="btn btn-primary f14" ng-click="save(approvalRole)" >{{btn}}</button>
        <button class="btn btn-default f14" ng-click="cancel()">Cancel</button>
    </div>
</div>