<h3 class="fixed content-heading"> Loan
    <ul class="pull-right button-set">
        <li><a href="javascript:;" ng-click="back()" active-link="heading-active" uib-tooltip="Back"><i
                class="fa fa-close-sm "></i></a></li>
    </ul>
</h3>

<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg p20 mb20 relative">
        <!--<img src="images/collateral-details.png" class="width-full">-->
        <form name="form">
            <div class="white-bg clearfix">
                <div class="div-header clearfix  border-bottom white-bg">
                    <h3 class="darkcolor display-inline-block f14 roboto-bold text-uppercase p15">collateral
                        Details</h3>
                </div>
                <div class="col-sm-12 clearfix mt20">
                    <div class="col-sm-3">
                        <label class="control-label">Collateral Code</label>
                        <div class="form-group clearfix form-group-custom">
                            <input type="text" ng-model="formData.collateral_code" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Collateral Description</label>
                        <div class="form-group clearfix form-group-custom">
                            <input type="text" ng-model="formData.collateral_description" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Collateral Branch</label>
                        <div class="form-group clearfix form-group-custom">
                            <input type="text" ng-model="formData.collateral_branch" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Collateral Currency</label>
                        <div class="form-group clearfix form-group-custom">
                            <input type="text" ng-model="formData.collateral_currency" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 clearfix">
                    <div class="col-sm-3">
                        <label class="control-label">Collateral Value</label>
                        <div class="form-group clearfix form-group-custom">
                            <input type="text" ng-model="formData.collateral_value" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Category Name</label>
                        <div class="form-group clearfix form-group-custom">
                            <input type="text" ng-model="formData.category_name" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Collateral Type</label>
                        <div class="form-group clearfix form-group-custom">
                            <select class="form-control" ng-model="formData.collateral_type_id"
                                    ng-options="collateralType.id_collateral_type as collateralType.collateral_type_name for collateralType in collateralTypeList">
                                <option value="">--Select Collateral Type--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Grace Days</label>
                        <div class="form-group clearfix form-group-custom">
                            <input type="text" ng-model="formData.grace_days" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 clearfix">
                    <div class="col-sm-3">
                        <label class="control-label">Haircut</label>
                        <div class="form-group clearfix form-group-custom">
                            <input type="text" ng-model="formData.hair_cut" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Seniority of Claims</label>
                        <div class="form-group clearfix form-group-custom">
                            <input type="text" ng-model="formData.seniority_of_claims" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Change Type</label>
                        <div class="form-group clearfix form-group-custom">
                            <input type="text" ng-model="formData.charge_type" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Limit Contribution</label>
                        <div class="form-group clearfix form-group-custom">
                            <input type="text" ng-model="formData.limit_contribution" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 clearfix">
                    <div class="col-sm-3">
                        <label class="control-label">Lendable Margin</label>
                        <div class="form-group clearfix form-group-custom">
                            <input type="text" ng-model="formData.lendable_margin" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Start Date</label>
                        <div class="form-group clearfix form-group-custom">
                            <div class="input-group">
                                <input type="text" ng-model="formData.start_date" max-date="formData.end_date"
                                       class="form-control"
                                       uib-datepicker-popup="{{dataFormate}}" datepicker-options="datePickerOptions"  name="start_date" is-open="openCal">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                        <i class="fa fa-calendar"></i></button>
                                  </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">End Date</label>
                        <div class="form-group clearfix form-group-custom">
                            <div class="input-group">
                                <input type="text" ng-model="formData.end_date"
                                       class="form-control"
                                       min-date="formData.start_date"  uib-datepicker-popup="{{dataFormate}}" datepicker-options="datePickerOptions" name="end_date"
                                       is-open="collateral_end_date" >
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default border"
                                            ng-click="collateral_end_date = true">
                                        <i class="fa fa-calendar"></i></button>
                                  </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Valuation Date</label>
                        <div class="form-group clearfix form-group-custom">
                            <div class="input-group">
                                <input type="text" ng-model="formData.revision_date"
                                       class="form-control "
                                       uib-datepicker-popup="{{dataFormate}}" datepicker-options="datePickerOptions" name="valuation_date"
                                       is-open="collateral_val_date"
                                       readonly="" style="">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default border"
                                            ng-click="collateral_val_date = true">
                                        <i class="fa fa-calendar"></i></button>
                                  </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 clearfix mb20">
                    <div class="col-sm-3">
                        <label class="control-label">Valuation Source</label>
                        <div class="form-group clearfix form-group-custom">
                            <input type="text" class="form-control" ng-model="formData.valuation_source">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Valuation Amount</label>
                        <div class="form-group clearfix form-group-custom">
                            <input type="text" class="form-control" ng-model="formData.valuation_amount">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Collateral Zip Code</label>
                        <div class="form-group clearfix form-group-custom">
                            <input type="text" class="form-control" ng-model="formData.collateral_zip_code">
                        </div>
                    </div>
                    <div class="col-sm-12 btn-custom clearfix text-left mt0">
                        <button class="btn btn-primary f14 next-btn" type="submit" ng-click="saveCollateralDetails()">Save</button>
                        <button class="btn lt-bg f14 next-btn" type="submit" ng-click="back()">Cancel</button>
                    </div>
                </div>

            </div>
        </form>

    </div>


</div>

