<div class="panel-tabs">
    <div class="white-bg tabs-wrap">
        <div class="mtb10">
            <div class="div-header plr15 clearfix  white-bg">
                <h3 class="darkcolor f15 bold ptb10">Plant and Machinery</h3>
            </div>
             <form name="form" novalidate ng-submit="saveFormFieds()">             <div class="col-sm-12 p0 clearfix">
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Machine Details</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="formData.machinery_machine_details" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Manufacturer</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="formData.machinery_manufacturer" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Manufactured Year</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="formData.machinery_manufactured_year" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Purchased Year</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="formData.machinery_purchased_year" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Machine Value Basis</label>
                    <div class="form-group clearfix form-group-custom">
                        <select ng-model="formData.machinery_machine_valueBasis" class="form-control">
                            <option>--- Select ---</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Invoice Value</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="formData.machinery_invoice_value" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Written Down Value</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="formData.machinery_written_down_value" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Assessed Value</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="formData.machinery_assessed_value" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Machinery Location</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="formData.machinery_location" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Replacement Value</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="formData.machinery_replacement_value" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Third Party Charge Amount</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="formData.machinery_third_party_charge_amount" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Machinery Condition</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="formData.machinery_condition" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Intended Use</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="formData.machinery_intended_use" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-12 btn-custom clearfix mt10">
                    <button class="btn btn-primary f14 mr4" type="submit">Save</button>
                    <button class="btn lt-bg f14" type="button" ng-click="back()">Cancel</button>
                </div>
            </div>
                 </form>
        </div>
    </div>
</div>
