<div class="panel-tabs">
    <div class="white-bg tabs-wrap">
        <div class="mtb10">
            <div class="div-header plr15 clearfix  white-bg">
                <h3 class="darkcolor f15 bold ptb10">Guarantee</h3>
            </div>
             <form name="form" novalidate ng-submit="saveFormFieds()">             <div class="col-sm-12 p0 clearfix">
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Precious Metal Type</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="formData.precious_metal_type" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Weight in Gms</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="formData.precious_weight_in_gms" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Valuation Amount</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="formData.precious_valuation_amount" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Unit Rate</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="formData.precious_unit_rate" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Precious Metal Form</label>
                    <div class="form-group clearfix form-group-custom">
                        <select ng-model="formData.precious_metal_form" class="form-control">
                            <option>--- Select ---</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Notes</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="formData.precious_notes" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-12 btn-custom clearfix mt10">
                    <button class="btn btn-primary f14 mr4" type="submit">Save</button>
                    <button class="btn lt-bg f14" type="button" ng-click="back()">Cancel</button>
                </div>
            </div>
                 </form>
        </div>
    </div>
</div>