<div class="col-sm-12 white-bg pl0 p-wrap">
    <div class="pt10 pb10 border-bottom">
        <label class="f14 darkcolor">Do you have Approved Policy exception? </label>
        <div class="form-group clearfix mb0">
            <div class="radio display-inline-block mr15">
                <label class="f14">
                    <input type="radio" name="approve_policy" checked value="yes"> Yes
                </label>
            </div>
            <div class="radio display-inline-block mr15">
                <label class="f14">
                    <input type="radio" name="approve_policy" value="no"> No
                </label>

            </div>
            <div class="radio display-inline-block mr15">
                <label class="f14">
                    <input type="radio" name="approve_policy" value="not-mentioned"> Not Mentioned
                </label>

            </div>
        </div>
    </div>
    <div class="pt10 pb10 border-bottom">
        <label class="f14 darkcolor">Do you have Approved Policy exception? </label>
        <div class="form-group clearfix mb0">
            <div class="radio display-inline-block mr15">
                <label class="f14">
                    <input type="radio"  name="approve_policy1" value="yes"> Yes
                </label>
            </div>
            <div class="radio display-inline-block mr15">
                <label class="f14">
                    <input type="radio" checked name="approve_policy1" value="no"> No
                </label>

            </div>
            <div class="radio display-inline-block mr15">
                <label class="f14">
                    <input type="radio" name="approve_policy1" value="not-mentioned"> Not Mentioned
                </label>

            </div>
        </div>
    </div>
    <div class="mt20 mb10">
        <button type="submit" class="btn btn-dark white-color mr8 f12">Save</button>
        <button type="button" class="btn white-color lt-bg f12">Cancel</button>
    </div>
</div>