<div class="right-modal modal-custom" data-modal="submitforapproval">
    <h3 class="right-modal-head clearfix">
        <div class="col-sm-8 p-l-0 mt5">
            <i class="fa fa-hourglass-half mr8"></i> Submit for Approval
        </div>
        <a ng-click="cancel()" class="close-right pull-right mt5"><img src="images/close.png"></a>
    </h3>
<div class="view-content col-sm-12 clearfix pt10 pb10" ng-if="committeeDetails.committee_id ==0 && submitType == 'forwarded'"> <p>No committee's found</p></div>
    <form class="form-horizontal form-bordered" name="form" novalidate>
        <div class="view-content col-sm-12 clearfix pt10 pb10">
            <div ng-if="submitType == 'forwarded' && committeeDetails.committee_id != 0 ">
            <div class="col-sm-12 p0" >
                <p  class="f13 mb5">Your Reporting Committee is <b> {{committeeDetails.committee_name}} </b></p>
            </div>
            <div class="col-sm-12 p0 mt10">
                <div class="col-sm-6 p-l-0">
                    <label class="f13">Forward to:</label>
                </div>

                <div class="col-sm-6 p-r-0" ng-show="companyUsers.length > 1">
                    <select class="width-full f13 form-control"
                            ng-options="user.id_user as user.first_name+' '+user.last_name for user in companyUsers"
                            name="forwarded_to" ng-model="reporting.forwarded_to" required>
                        <option value="">--Select user--</option>
                    </select>
                    <div ng-if="form.forwarded_to.$error.required && submitStatus" class="error-message">Forward To Required</div>
                </div>

                <div class="col-sm-6 p-r-0" ng-show="companyUsers.length == 1">
                    <p>{{companyUsers[0].first_name}} {{companyUsers[0].last_name}}</p>
                </div>
            </div>
            <div class="col-sm-12 p0 mt10">
                <label class="f13">Comment:</label>
                <div class="form-input">
                    <textarea class="width-full p10 f13" name="approval_comments" data-ng-model="reporting.approval_comments" required></textarea>
                    <div ng-if="form.approval_comments.$error.required && submitStatus" class="error-message">Write comment.</div>
                </div>
            </div>
            <div class="col-sm-12 text-center mt10">
                <button ng-if="submitType == 'forwarded' " class="btn btn-primary f13 btn-blue border-none mr4" data-ng-click="submitReporting(reporting,form)">Forward</button>
                <button ng-if="submitType != 'forwarded' "  class="btn btn-primary f13 btn-blue border-none mr4" data-ng-click="submitReporting(reporting,form)">Save</button>
                <button class="btn btn-primary lt-bg f13 border-none" ng-click="cancel()" >Cancel</button>
            </div>
            </div>
            <div ng-if="submitType != 'forwarded' ">
                <div class="col-sm-12 p0 mt10">
                    <label class="f13">Comment:</label>
                    <div class="form-input">
                        <textarea class="width-full p10 f13" name="approval_comments" data-ng-model="reporting.approval_comments" required></textarea>
                        <div ng-if="form.approval_comments.$error.required && submitStatus" class="error-message">Write comment.</div>
                    </div>
                </div>
                <div class="col-sm-12 text-center mt10">
                    <button ng-if="submitType == 'forwarded' " class="btn btn-primary f13 btn-blue border-none mr4" data-ng-click="submitReporting(reporting,form)">Forward</button>
                    <button ng-if="submitType != 'forwarded' "  class="btn btn-primary f13 btn-blue border-none mr4" data-ng-click="submitReporting(reporting,form)">Save</button>
                    <button class="btn btn-primary lt-bg f13 border-none" ng-click="cancel()" >Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
</div>

