<h3 class="fixed content-heading">Project Approval Level
    <div class="pull-right button-set">
        <any ng-controller="ProjectListCtrl">
            <a uib-tooltip="Touchpoints" modal="touchpoints" ng-click="touchpointsModal()"><i class="fa fa-touchpoint"></i> </a>
            <a uib-tooltip="Attachments" modal="attachment" ng-click="quickAttachmentModal()"><i class="fa fa-paperclip"></i> </a>
            <!--<a ui-sref="contact.contact-creation" uib-tooltip="Add" ng-click="addNewContact()"><i class="fa fa-plus"></i></a>
            <a uib-tooltip="Edit"  ui-sref="project.project-creation({id:(currentProjectViewId | decode )})" ><i class="fa fa-pencil"></i></a>-->
            <a ng-click="AddedCompaniesModal()" modal="addedcompanies" uib-tooltip="Companies">
                <i class="fa fa-company"></i>
            </a>
            <a ng-click="AddedContactsModal()" modal="addedcontacts" uib-tooltip="Contacts">
                <i class="fa fa-book"></i>
            </a>
            <a  ng-click="teamModal()"  modal="addTeam" uib-tooltip="Team">
                <i class="fa fa-user-plus"></i>
            </a>
            <a  ng-click="addTasksModal()"  modal="addtasks" uib-tooltip="Tasks">
                <i class="fa fa-tasks"></i>
            </a>
            <a ng-click="meetingModal()" uib-tooltip="Meeting">
                <i class="fa fa-meeting"></i>
            </a>
        </any>
        <a ui-sref="project.project-list({id:(currentProjectViewId | decode )})" uib-tooltip="Back"><i class="fa fa-close-sm"></i></a>
    </div>
</h3>
<div class="col-sm-12 fixed clearfix  z1 fixed-top full-fixed-top" ng-class="{visible:boolChangeClass}" fixed-top>
    <div class="clearfix relative details-fixed-top no-bg border-none pad0">
        <div class="col-sm-12 clearfix p0">
            <div class="page-header-wrap mt0  box-shadow clearfix">
                <div class="col-sm-10 pt10 pb10 plr30">
                    <h2 class="f15 dark-sky-blue">Building Construction Loan</h2>
                    <ul class="pheader-list papp-list">
                        <li>
                            <span class="f12 light-blue">Sector</span>
                            <label class="display-block f14 bold m-4 dark-blue md-text-line" title="Real Estate">Real Estate</label>
                        </li>
                        <li>
                            <span class="f12 light-blue">Contacts</span>
                            <label class="display-block f14 bold m-4 dark-blue">Ram
                                <span class="dark-sky-blue bold" >(+2)</span></label>

                        </li>
                        <li>
                            <span class="f12 light-blue">No. of Loans</span>
                            <label class="display-block f14 bold m-4 dark-blue">12</label>
                        </li>
                        <li>
                            <span class="f12 light-blue">Subsector</span>
                            <label class="display-block f14 bold m-4 dark-blue md-text-line" title="Construction">Construction</label>
                        </li>
                        <li>
                            <span class="f12 light-blue">Total Amount</span>
                            <label class="display-block f14 bold m-4 dark-blue letter-space">$123,000</label>
                        </li>
                        <li>
                            <span class="f12 light-blue">Current Status</span>
                            <p class="f14 m-4 bold red">Pending</p>
                            <div data-ng-show="approvalStatus">
                                <button data-ng-if="projectDetails.project_status != 'Approved'" class="btn btn-primary lt-bg border-none f12 mt5 white-space-md line-height14" ng-click="submitforapprovalModal('forwarded')">Submit for Approval</button>
                                <button data-ng-if="projectDetails.approval == 1 && projectDetails.project_status !='Approved'" class="btn btn-success f12 mt5 white-space-md" ng-click="submitforapprovalModal('approved')">Approve</button>
                                <button data-ng-if="projectDetails.project_status != 'Rejected' && projectDetails.committee_id != 0" class="btn btn-danger f12 mt5 white-space-md" ng-click="submitforapprovalModal('rejected')">Reject</button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="display-inline-block pull-right relative">
                    <div class="display-inline-block m-4">
                        <span class="box-rating">3.5</span>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container clearfix">

        <div class="col-sm-12 clearfix p0" >
            <div class="page-header-wrap white-bg box-shadow clearfix relative mb15">
                <div class="col-sm-10  pt10 pb10 plr30">
                    <h2 class="f15 dark-sky-blue">Building Construction Loan</h2>
                    <ul class="pheader-list papp-list">
                        <li>
                            <span class="f12 light-blue">Sector</span>
                            <label class="display-block f14 bold m-4 dark-blue md-text-line" title="Agriculture">Agriculture</label>
                        </li>
                        <li>
                            <span class="f12 light-blue">Contacts</span>
                            <label class="display-block f14 bold m-4 dark-blue">Ram
                                <span class="dark-sky-blue bold m-4" >(+2)</span></label>

                        </li>
                        <li>
                            <span class="f12 light-blue">No. of Loans</span>
                            <label class="display-block f14 bold m-4 dark-blue">12</label>
                        </li>
                        <li>
                            <span class="f12 light-blue">Subsector</span>
                            <label class="display-block f14 bold m-4 dark-blue md-text-line" title="Agriculture">Agriculture</label>
                        </li>
                        <li>
                            <span class="f12 light-blue">Total Amount</span>
                            <label class="display-block f14 bold m-4 dark-blue letter-space">$123,000</label>
                        </li>
                        <li>
                            <span class="f12 light-blue">Current Status</span>
                            <p class="f14 bold m-4 red">Pending</p>
                            <div data-ng-show="approvalStatus">
                                <button data-ng-if="projectDetails.project_status != 'Approved'" class="btn btn-primary lt-bg border-none f12 mt5 white-space-md line-height14" ng-click="submitforapprovalModal('forwarded')">Submit for Approval</button>
                                <button data-ng-if="projectDetails.approval == 1 && projectDetails.project_status !='Approved'" class="btn btn-success f12 mt5 white-space-md" ng-click="submitforapprovalModal('approved')">Approve</button>
                                <button data-ng-if="projectDetails.project_status != 'Rejected' && projectDetails.committee_id != 0" class="btn btn-danger f12 mt5 white-space-md" ng-click="submitforapprovalModal('rejected')">Reject</button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="display-inline-block pull-right relative">
                    <div class="display-inline-block m-4">
                        <span class="box-rating">3.5</span>
                    </div>

                </div>
                <div class="clearfix"></div>
                <div class="textinfo-block col-sm-12 pt10 pb10 plr30" ng-show="infoBoxnew">
                    <label class="f12">Description</label>
                    <p class="f14 darkcolor">{{companyDescription}}</p>
                </div>
                <div class="slide-img" ng-click="infoBoxnew =!infoBoxnew"></div>
            </div>
        </div>

        <div class="col-sm-12 mt10">
            <div class="p-list-wrap col-lg-2 col-sm-3 white-bg p0" win-height>
                <ul>
                    <li >
                        <a href="javascript:;"><i class="icon-grid"></i> <span>Status Flow</span></a>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="icon-clipped-file2"></i> <span>Project Overview</span></a>
                    </li>
                    <li class="active">
                        <a href="javascript:;"><i class="icon-clipped-file"></i> <span>Summary & Recommendations</span></a>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="icon-paper-board"></i> <span>Loan Description</span></a>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="icon-graph1"></i> <span>Statistics</span></a>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="icon-comment3"></i> <span>Discussions</span></a>
                    </li>
                </ul>
            </div>
            <div class="t-data-wrap col-lg-10 white-bg col-sm-9">
                <div class="l-header p10 border-bottom">
                    <h2 class="darkcolor text-uppercase f14"><i class="icon-clipped-file f24 mr8 dark-sky-blue valign-middle"></i> <span class="display-inline-block bold valign-middle">Summary,Recommendations and Loans</span></h2>
                </div>
                <div class="col-sm-12 scroll-div-wrap" min-scroll>
                    <ul class="summary-recmmend-list mt15">
                        <li class="clearfix">
                            <div class="col-sm-3 p0"><span class="list-item-head f14 darkcolor bold"><span class="circle-count mr15">a</span>Summary</span></div>
                            <div class="col-sm-9 pr0">
                                <p class="f13 darkcolor">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                                </p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="col-sm-3 p0"><span class="list-item-head f14 darkcolor bold"><span class="circle-count mr15">b</span>Rationale</span></div>
                            <div class="col-sm-9 pr0">
                                <p class="f13 darkcolor">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                                </p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="col-sm-3 p0"><span class="list-item-head f14 darkcolor bold"><span class="circle-count mr15">c</span>Key Risk Factors</span></div>
                            <div class="col-sm-9 pr0">
                                <p class="f13 darkcolor">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                                </p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="col-sm-3 p0"><span class="list-item-head f14 darkcolor bold"><span class="circle-count mr15">d</span>Recommended Terms</span></div>
                            <div class="col-sm-9 pr0">
                                <p class="f13 darkcolor mb10">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                                </p>
                                <p class="f13 darkcolor">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                                </p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="col-sm-3 p0"><span class="list-item-head f14 darkcolor bold"><span class="circle-count mr15">e</span>Approved Policy Exceptions</span></div>
                            <div class="col-sm-9 pr0">
                                <p class="f13 darkcolor">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                                </p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="col-sm-3 p0"><span class="list-item-head f14 darkcolor bold"><span class="circle-count mr15">f</span>Approval and Comment Widget</span></div>
                            <div class="col-sm-9 pr0">
                                <p class="f13 darkcolor">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>

            </div>
        </div>



    </div>
</div>