<div class="right-modal modal-custom overflow-x-visible" data-modal="addAssessment">
    <h3 class="right-modal-head">
        {{title}}
        <a class="close-right pull-right" ng-click="cancel()"><img src="images/close.png"></a>
    </h3>
    <form class="form-bordered" name="form" ng-submit="form.$valid && save()" novalidate>

        <div class="form-group clearfix p10  form-group-custom white-bg m0">

            <div class="col-sm-12">
                <label class="darkcolor f14">Category</label>

                <div class="form-group clearfix form-group-custom">
                    <select class="form-control" name="covenant_category_id" ng-model="covenant.covenant_category_id"
                            ng-options="item.id_covenant_category as item.covenant_category for item in categoryList" required>
                        <option value="">--Select Category--</option>
                    </select>
                    <div ng-if="form.covenant_category_id.$error.required && submitted"
                         class="error-message">This field is required
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <label class="darkcolor f14">Covenant Name</label>

                <div class="form-group clearfix form-group-custom">
                    <input type="text" name="covenant_name"
                           data-ng-model="covenant.covenant_name" class="form-control "
                           placeholder="Type your Covenant Name" required/>
                    <div ng-if="form.covenant_name.$error.required && submitted"
                         class="error-message">This field is required
                    </div>
                </div>
            </div>

            <div class="col-sm-12 mtb10 text-center">
                <button type="submit" class="btn btn-dark mr4 f12"
                        ng-click="submitted=true;"> Save
                </button>
                <button type="button" class="btn white-color lt-bg f12" ng-click="cancel()">
                    Cancel
                </button>
            </div>
        </div>
    </form>
</div>