<div class="clearfix">
    <div class="div-header plr15 clearfix  white-bg">
        <h3 class="darkcolor f15 ptb10">
            <span class="display-inline-block pt5">External Check</span>
            <div class="cust-btns pull-right">
                <button class="btn white-color lt-bg mr4 f14" ng-click="colShow=!colShow;submitStatus=false">
                    <i class="fa icon-times rotate45"></i>
                </button>
                <button ng-show="item.selected_form.date != null && !colShow" class="btn white-color lt-bg mr4 f14" ng-click="deleteHistory(item.selected_form,item.id_collateral_stage)">
                    <i class="icon-trash"></i>
                </button>
                <span class="display-inline-block f13 valign-middle" ng-show="item.selected_form.date != null">Last Updated: </span>
                <div class="display-inline-block pull-right custom-list" ng-show="item.selected_form.date != null" >
                    <a class="menu-toggle f13 dark-sky-blue dropdown-toggle" data-toggle="dropdown" href="javascript:;">{{item.selected_form.date}}</a>
                    <ul class="dropdown-menu cust-dropdown">
                        <li ng-repeat="f in item.form_data" ng-click="item.selected_form = f" ng-init="($first) ?  item.selected_form = f : ''">
                            <a href="javascript:;" ng-model="clickeddffs" class="f14 darkcolor" >{{f.date}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </h3>

    </div>
    <div ng-show="colShow" class="column-show clearfix">

        <form name="form" novalidate ng-submit="form.$valid && saveStageFormFiels(item.form,item.id_collateral_stage)">
            <div class="clearfix col-lg-11 col-lg-offset-1">
                <div class="check-li-data clearfix">
                    <div class="col-sm-4">
                        <label class="darkcolor f13">Registration Authority *</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group form-group-custom">
                            <textarea name="external_registration_authority" ng-model="item.form.data.external_registration_authority" class="form-control" placeholder="Add Content" required></textarea>
                            <div ng-if="form.external_registration_authority.$error.required && submitStatus" class="error-message">Enter registration authority.</div>
                        </div>
                    </div>
                </div>

                <div class="check-li-data clearfix">
                    <div class="col-sm-4">
                        <label class="darkcolor f13">Registration Authority Contact Details</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group form-group-custom">
                            <textarea ng-model="item.form.data.external_registration_authority_contact_details" class="form-control" placeholder="Add Content"></textarea>
                        </div>
                    </div>
                </div>
                <div class="check-li-data clearfix">
                    <div class="col-sm-4">
                        <label class="darkcolor f13">Result</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group form-group-custom">
                            <textarea ng-model="item.form.data.external_result" class="form-control" placeholder="Add Content"></textarea>
                        </div>
                    </div>
                </div>

                <div class="check-li-data clearfix">
                    <div class="col-sm-4">
                        <label class="darkcolor f13">Date of Check</label>
                    </div>
                    <div class="col-sm-4 col-lg-3">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" ng-model="item.form.data.external_date_of_check"
                                       class="form-control "
                                       uib-datepicker-popup="{{dataFormate}}" datepicker-options="datePickerOptions" name="external_date_of_check"
                                       is-open="external_date_of_check"
                                       readonly="" style="">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default border"
                                            ng-click="external_date_of_check = true">
                                        <i class="fa fa-calendar"></i></button>
                                  </span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="check-li-data clearfix">
                    <div class="col-sm-4">
                        <label class="darkcolor f13">Credit Remarks</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group form-group-custom">
                            <textarea ng-model="item.form.data.external_credit_remarks" class="form-control" placeholder="Add Content"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 btn-custom clearfix mt10">
                    <button class="btn btn-primary f14 mr4" type="submit" ng-click="submitStatus = true" >Save</button>
                    <button class="btn lt-bg f14" type="button" ng-click="colShow=false">Cancel</button>
                </div>
            </div>
        </form>
    </div>
    <div ng-show="!colShow" class="column-show">
        <div class="clearfix col-lg-11 col-lg-offset-1">
            <div class="check-li-data clearfix">
                <div class="col-sm-4">
                    <label class="darkcolor f13">Registration Authority</label>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <p class="f12 darkcolor">{{item.selected_form.data.external_registration_authority}}</p>
                    </div>
                </div>
            </div>
            <div class="check-li-data clearfix">
                <div class="col-sm-4">
                    <label class="darkcolor f13">Registration Authority Contact Details</label>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <p class="f12 darkcolor">{{item.selected_form.data.external_registration_authority_contact_details}}</p>
                    </div>
                </div>
            </div>
            <div class="check-li-data clearfix">
                <div class="col-sm-4">
                    <label class="darkcolor f13">Result</label>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <p class="f12 darkcolor">{{item.selected_form.data.external_result}}</p>
                    </div>
                </div>
            </div>
            <div class="check-li-data clearfix">
                <div class="col-sm-4">
                    <label class="darkcolor f13">Date of Check</label>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <p class="f12 darkcolor">{{item.selected_form.data.external_date_of_check | limitchr:11 }}</p>
                    </div>
                </div>
            </div>
            <div class="check-li-data clearfix">
                <div class="col-sm-4">
                    <label class="darkcolor f13">Credit Remarks</label>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <p class="f12 darkcolor">{{item.selected_form.data.external_credit_remarks}}</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
