<div class="clearfix">
    <div class="div-header plr15 clearfix  white-bg">
        <h3 class="darkcolor f15 ptb10">
            <span class="display-inline-block pt5">Risk Evaluation</span>
            <div class="cust-btns pull-right">
                <button class="btn white-color lt-bg mr4 f14" ng-click="colShow=!colShow;submitStatus=false">
                    <i class="fa icon-times rotate45"></i>
                </button>
                <button ng-show="!colShow" class="btn white-color lt-bg mr4 f14" ng-click="deleteHistory(item.selected_form,item.id_collateral_stage)">
                    <i class="icon-trash"></i>
                </button>
                <span class="display-inline-block f13 valign-middle">Last Updated: </span>
                <div class="display-inline-block pull-right custom-list">
                    <a class="menu-toggle f13 dark-sky-blue dropdown-toggle" data-toggle="dropdown" href="javascript:;">{{item.selected_form.date}}</a>
                    <ul class="dropdown-menu cust-dropdown">
                        <li ng-repeat="f in item.form_data" ng-click="item.selected_form = f" ng-init="($first) ?  item.selected_form = f : ''">
                            <a href="javascript:;" ng-model="clickeddffs" class="f14 darkcolor" >{{f.date}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </h3>
    </div>
    <div class="column-show clearfix" ng-show="colShow">
        <form name="form" novalidate ng-submit="saveStageFormFiels(form.$valid && item.form,item.id_collateral_stage)">
            <div class="clearfix col-lg-11 col-lg-offset-1">
                <div class="check-li-data clearfix">
                    <div class="col-sm-4">
                        <label class="darkcolor f13">Eligible for Central Bank Funding *</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group form-group-custom">
                            <textarea name="eligible_for_central_bank_funding" required ng-model="item.form.data.eligible_for_central_bank_funding" class="form-control" placeholder="Add Content"></textarea>
                            <div ng-if="form.eligible_for_central_bank_funding.$error.required && submitStatus" class="error-message">Enter eligible for funding.</div>
                        </div>
                    </div>
                </div>
                <div class="check-li-data clearfix">
                    <div class="col-sm-4">
                        <label class="darkcolor f13">CCP Eligible</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group form-group-custom">
                            <textarea ng-model="item.form.data.risk_ccp_eligible" class="form-control" placeholder="Add Content"></textarea>
                        </div>
                    </div>
                </div>
                <div class="check-li-data clearfix">
                    <div class="col-sm-4">
                        <label class="darkcolor f13">CRM Eligible</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group form-group-custom">
                            <textarea ng-model="item.form.data.risk_crm_eligible" class="form-control" placeholder="Add Content"></textarea>
                        </div>
                    </div>
                </div>
                <div class="check-li-data clearfix">
                    <div class="col-sm-4">
                        <label class="darkcolor f13">Geo Political Risk</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group form-group-custom">
                            <textarea ng-model="item.form.data.risk_geo_political_risk" class="form-control" placeholder="Add Content"></textarea>
                        </div>
                    </div>
                </div>
                <div class="check-li-data clearfix">
                    <div class="col-sm-4">
                        <label class="darkcolor f13">Currency Risk</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group form-group-custom">
                            <textarea ng-model="item.form.data.risk_currency_risk" class="form-control" placeholder="Add Content"></textarea>
                        </div>
                    </div>
                </div>
                <div class="check-li-data clearfix">
                    <div class="col-sm-4">
                        <label class="darkcolor f13">Liquidity Risk</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group form-group-custom">
                            <textarea ng-model="item.form.data.risk_liquidity_risk" class="form-control" placeholder="Add Content"></textarea>
                        </div>
                    </div>
                </div>
                <div class="check-li-data clearfix">
                    <div class="col-sm-4">
                        <label class="darkcolor f13">Issuer Credit Risk</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group form-group-custom">
                            <textarea ng-model="item.form.data.risk_issuer_credit_risk" class="form-control" placeholder="Add Content"></textarea>
                        </div>
                    </div>
                </div>
                <div class="check-li-data clearfix">
                    <div class="col-sm-4">
                        <label class="darkcolor f13">Operational Risk</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group form-group-custom">
                            <textarea ng-model="item.form.data.risk_operational_risk" class="form-control" placeholder="Add Content"></textarea>
                        </div>
                    </div>
                </div>
                <div class="check-li-data clearfix">
                    <div class="col-sm-4">
                        <label class="darkcolor f13">Natural Hazard Risk</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group form-group-custom">
                            <textarea ng-model="item.form.data.risk_natural_hazard_risk" class="form-control" placeholder="Add Content"></textarea>
                        </div>
                    </div>
                </div>
                <div class="check-li-data clearfix">
                    <div class="col-sm-4">
                        <label class="darkcolor f13">Recommendation</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group form-group-custom">
                            <textarea ng-model="item.form.data.risk_recommendation" class="form-control" placeholder="Add Content"></textarea>
                        </div>
                    </div>
                </div>
                <div class="check-li-data clearfix">
                    <div class="col-sm-4">
                        <label class="darkcolor f13">Credit Remarks</label>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group form-group-custom">
                            <textarea ng-model="item.form.data.risk_credit_remarks" class="form-control" placeholder="Add Content"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 btn-custom clearfix mt10">
                    <button class="btn btn-primary f14 mr4" type="submit" ng-click="submitStatus = true" >Save</button>
                    <button class="btn lt-bg f14" type="button" ng-click="colShow=false">Cancel</button>
                </div>
            </div>
        </form>
    </div>

    <div ng-show="!colShow" class="column-show">
        <div class="clearfix col-lg-11 col-lg-offset-1">
            <div class="check-li-data clearfix">
                <div class="col-sm-4">
                    <label class="darkcolor f13">Eligible for Central Bank Funding</label>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <p class="f12 darkcolor">{{item.selected_form.data.eligible_for_central_bank_funding}}</p>
                    </div>
                </div>
            </div>
            <div class="check-li-data clearfix">
                <div class="col-sm-4">
                    <label class="darkcolor f13">CCP Eligible</label>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <p class="f12 darkcolor">{{item.selected_form.data.risk_ccp_eligible}}</p>
                    </div>
                </div>
            </div>
            <div class="check-li-data clearfix">
                <div class="col-sm-4">
                    <label class="darkcolor f13">CRM Eligible</label>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <p class="f12 darkcolor">{{item.selected_form.data.risk_crm_eligible}}</p>
                    </div>
                </div>
            </div>
            <div class="check-li-data clearfix">
                <div class="col-sm-4">
                    <label class="darkcolor f13">Geo Political Risk</label>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <p class="f12 darkcolor">{{item.selected_form.data.risk_geo_political_risk}}</p>
                    </div>
                </div>
            </div>
            <div class="check-li-data clearfix">
                <div class="col-sm-4">
                    <label class="darkcolor f13">Currency Risk</label>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <p class="f12 darkcolor">{{item.selected_form.data.risk_currency_risk}}</p>
                    </div>
                </div>
            </div>
            <div class="check-li-data clearfix">
                <div class="col-sm-4">
                    <label class="darkcolor f13">Liquidity Risk</label>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <p class="f12 darkcolor">{{item.selected_form.data.risk_liquidity_risk}}</p>
                    </div>
                </div>
            </div>
            <div class="check-li-data clearfix">
                <div class="col-sm-4">
                    <label class="darkcolor f13">Issuer Credit Risk</label>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <p class="f12 darkcolor">{{item.selected_form.data.risk_issuer_credit_risk}}</p>
                    </div>
                </div>
            </div>
            <div class="check-li-data clearfix">
                <div class="col-sm-4">
                    <label class="darkcolor f13">Operational Risk</label>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <p class="f12 darkcolor">{{item.selected_form.data.risk_operational_risk}}</p>
                    </div>
                </div>
            </div>
            <div class="check-li-data clearfix">
                <div class="col-sm-4">
                    <label class="darkcolor f13">Natural Hazard Risk</label>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <p class="f12 darkcolor">{{item.selected_form.data.risk_natural_hazard_risk}}</p>
                    </div>
                </div>
            </div>
            <div class="check-li-data clearfix">
                <div class="col-sm-4">
                    <label class="darkcolor f13">Recommendation</label>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <p class="f12 darkcolor">{{item.selected_form.data.risk_recommendation}}</p>
                    </div>
                </div>
            </div>
            <div class="check-li-data clearfix">
                <div class="col-sm-4">
                    <label class="darkcolor f13">Credit Remarks</label>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <p class="f12 darkcolor">{{item.selected_form.data.risk_credit_remarks}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
