<div class="right-modal modal-custom" data-modal="appStructureModal">
    <h3 class="right-modal-head border-bottom clearfix">
          <any ng-if="knowledge.id_knowledge_document>0">Edit Knowledge Management</any>
          <any ng-if="!knowledge.id_knowledge_document">Create Knowledge Management</any>
        <a class="close-right pull-right" ng-click="cancel()"><img src="images/close.png"></a>
    </h3>
    <div class="modal-body clearfix">
        <form novalidate name="knowledgeForm" class="form-bordered" ng-submit="save(knowledge,knowledgeForm)">
            <div class="row clearfix">
                <div class="col-sm-12 clearfix">
                    <div class="col-sm-5 pt15 bg-faded" win-height>

                        <div class="col-sm-12 clearfix">

                                <label class="darkcolor f13">Content Type*</label>
                                <div class="form-group clearfix form-group-custom mb10">
                                    <select class="form-control" name="document_type" ng-model="knowledge.document_type" required>
                                        <option value="">--Select--</option>
                                        <option value="document">Document</option>
                                        <option value="video">Video</option>
                                        <option value="news">News</option>
                                        <option value="blog">Blog</option>
                                    </select>
                                    <div ng-if="knowledgeForm.document_type.$error.required && submitStatus" class="error-message">Select file type.</div>
                                </div>
                        </div>
                        <div class="col-sm-12 mb10 clearfix">

                            <label class="darkcolor f13">Title*</label>
                            <div class="form-group clearfix form-group-custom mb0">
                                <input type="text" name="document_title" ng-model="knowledge.document_title"
                                       name="title"
                                       class="form-control"
                                       required >
                            </div>
                            <div ng-if="knowledgeForm.document_title.$error.required && submitStatus" class="error-message">Enter title</div>

                        </div>
                        <div class="col-sm-12 clearfix">

                                <label class="darkcolor f13">Tags*</label>
                                <div class="form-group clearfix form-group-custom">

                                    <select multiple chosen class="chosen-select" name="tags"
                                            data-placeholder="Please Select Tags"
                                            ng-model="knowledge.tags"
                                            ng-options="option.tag as option.tag for option in tagsData" required>
                                    </select>
                                    <div ng-if="knowledgeForm.tags.$error.required && submitStatus" class="error-message">Select tags</div>
                                </div>


                        </div>
                        <div class="col-sm-12 clearfix">

                            <label class="darkcolor f13">Content Status</label>
                            <div class="form-group clearfix form-group-custom mb10">
                                <select class="form-control" name="knowledge_document_status" ng-init="knowledge.knowledge_document_status = '1'" ng-model="knowledge.knowledge_document_status">
                                    <option value="0">Draft</option>
                                    <option value="1">Publish</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-sm-12 text-left mt10">
                                <button type="submit" class="btn btn-primary btn-dark f12 border-none">
                                    Save
                                </button>
                                <button type="button" class="btn btn-primary lt-bg f12 border-none" ng-click="cancel()">
                                    Cancel
                                </button>
                             <!--   <button type="submit" class="btn btn-primary pull-right f12 border-none">
                                    Publish
                                </button>-->
                        </div>
                    </div>
                    <div class="col-sm-7 pt15">
                        <div class="col-sm-12 clearfix" ng-if="knowledge.document_type == 'document'">
                            <div class="col-sm-12 clearfix p0 mb10 dark-blue"> <label class="darkcolor bold f15"><i class="icon-file f24 mr8 valign-middle dark-blue"></i> File</label></div>
                            <div class="col-sm-1 p0">
                                <span class="upload-type-imgwrap pt5 m0">
                                    <i class="icon-attachment f21"></i>
                                </span>
                            </div>
                            <div class="col-sm-11 pl0">

                                <div class="form-group clearfix form-group-custom mb5">
                                    <input type="file" ng-model="knowledge.file" name="file" ngf-select="uploadDocument($file)"
                                           class="f14 ng-pristine">
                                </div>
                                <div ng-if="fileError && submitStatus" class="error-message">Select file.</div>
                            </div>
                        </div>
                        <div class="col-sm-12 clearfix" ng-if="knowledge.document_type == 'video' || knowledge.document_type == 'news' ">
                            <div class="col-sm-12 clearfix p0 mb10 dark-blue"> <label class="darkcolor bold f15">
                                <i ng-if="knowledge.document_type == 'video'" class="icon-play f24 mr8 valign-middle dark-blue"></i>
                                <i ng-if="knowledge.document_type == 'news'" class="icon-workload f24 mr8 valign-middle dark-blue"></i>
                                URL*</label></div>
                            <div class="col-sm-1 p0">
                                <span class="upload-type-imgwrap m0">
                                   <i ng-if="knowledge.document_type == 'video'" class="icon-youtube darkcolor f24 pt2"></i>
                                   <i ng-if="knowledge.document_type == 'news'" class="icon-globe darkcolor f24 pt2"></i>
                                </span>
                            </div>
                            <div class="col-sm-11 pl0">
                                <div class="form-group clearfix form-group-custom mb5">
                                    <!--<div data-ng-if="knowledge.id_knowledge_document!=undefine && knowledge.document_type!='video'">
                                        <span data-ng-init="knowledge.document_source = ''">sdfsdfsdf</span>
                                    </div>-->
                                    <input type="url" name="document_source" ng-model="knowledge.document_video"
                                           class="form-control ng-pristine" required>
                                    <span class="f10" ng-if="knowledge.document_type == 'video'">
                                       <b> Hint:</b> Please copy and paste URL from Embed code
                                    </span>
                                    <div ng-if="knowledgeForm.document_source.$error.required && submitStatus" class="error-message">Enter url.</div>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-12 mt5 clearfix">
                            <div class="col-sm-12 pl0">
                                <label class="darkcolor f13">Description</label>
                                <div class="form-group clearfix form-group-custom">
                                    <textarea  class="form-control min-height120" name="document_description" kendo-editor k-tools="{{kendoOptions}}" k-ng-model="knowledge.document_description" required > </textarea>
                                </div>
                                <div ng-if="knowledgeForm.document_description.$error.required && submitStatus" class="error-message">Enter description.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
