<h3 class="fixed content-heading">Knowledge Management
    <div class="pull-right button-set">
    <a ui-sref="knowledge-management.knowledge-dashboard" uib-tooltip="Back"><i
                class="fa fa-close-sm"></i></a>
    </div>
</h3>

<div class="col-sm-12 fixed clearfix  z1 fixed-top full-fixed-top" ng-class="{visible:boolChangeClass}" fixed-top>
    <div class="clearfix relative details-fixed-top no-bg border-none pad0">
        <div class="col-sm-12 clearfix p0">
            <div class="page-header-wrap box-shadow mt0 clearfix relative mb15">
                <div class="col-sm-5 col-lg-6 pt10 pb10">
                    <div class="pull-left k-img-wrap" ng-if="knowledgeDocumentDetails.document_type !=  null"  knowledge-icons data-image="{{knowledgeDocumentDetails.document_type}}" ></div>
                    <span class="display-block darkcolor bold f14">{{knowledgeDocumentDetails.document_title}}</span>
                    <!--<span class="display-block dark-blue lh16 f12">Detaild Document as to how to do the SWOT Analasis for Agri Sector in Africa
                            is helpful file for the bank loan officers</span>-->
                </div>


                <div class="col-sm-7 col-lg-6">
                    <ul class="knowledgement-item-view-head-right">
                        <li ng-if="knowledgeDocumentDetails.knowledge_document_status == 0 && knowledgeDocumentDetails.uploaded_by == userId" >
                            <a data-toggle="dropdown" class="dropdown-toggle menu-toggle publish-unpublish-dropdown"> <i class="icon-globe sky-blue f32"></i> </a>
                            <ul class="dropdown-menu p-dropdown">
                                <li>
                                    <a href="javascript:;" ng-click="changeKnowledgeDocumentStatus()">Publish</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span class="light-blue display-block f12 border-left pl20">Created By</span>
                            <span class="darkcolor bold display-block f14 border-left pl20">{{knowledgeDocumentDetails.user_name}}</span>
                        </li>
                        <li>
                            <span class="light-blue display-block f12 border-left pl20">Created</span>
                            <span class="darkcolor bold display-block f14 border-left pl20">{{knowledgeDocumentDetails.date}}</span>
                        </li>
                        <li>
                            <span class="box-rating mt0 line-height14">{{knowledgeDocumentDetails.number_of_views}} <span class="f11 display-block">viewed</span></span>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>

            </div>

        </div>
    </div>
</div>


<div class="content-area animated fadeInRight" id="contentArea">

    <div class="content-container clearfix">

        <div class="col-sm-12 p0">
            <div class="page-header-wrap white-bg box-shadow clearfix relative mb15">
                <div class="col-sm-5 col-lg-6 pt10 pb10">
                    <div class="pull-left k-img-wrap" ng-if="knowledgeDocumentDetails.document_type !=  null"  knowledge-icons data-image="{{knowledgeDocumentDetails.document_type}}" ></div>
                    <span class="display-block darkcolor bold f14">{{knowledgeDocumentDetails.document_title}}</span>
                    <!--<span class="display-block dark-blue lh16 f12">Detaild Document as to how to do the SWOT Analasis for Agri Sector in Africa
                            is helpful file for the bank loan officers</span>-->
                </div>

                <div class="col-sm-7 col-lg-6">
                    <ul class="knowledgement-item-view-head-right">
                        <li ng-if="knowledgeDocumentDetails.knowledge_document_status == 0 && knowledgeDocumentDetails.uploaded_by == userId" >
                            <a data-toggle="dropdown" class="dropdown-toggle menu-toggle publish-unpublish-dropdown"> <i class="icon-globe sky-blue f32"></i> </a>
                            <ul class="dropdown-menu p-dropdown">
                                <li>
                                    <a href="javascript:;" ng-click="changeKnowledgeDocumentStatus()">Publish</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span class="light-blue display-block f12 border-left pl20">Created By</span>
                            <span class="darkcolor bold display-block f14 border-left pl20">{{knowledgeDocumentDetails.user_name}}</span>
                        </li>
                        <li>
                            <span class="light-blue display-block f12 border-left pl20">Created</span>
                            <span class="darkcolor bold display-block f14 border-left pl20">{{knowledgeDocumentDetails.date}}</span>
                        </li>
                        <li>
                            <span class="box-rating mt0 line-height14">{{knowledgeDocumentDetails.number_of_views}} <span class="f11 display-block">viewed</span></span>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>

            </div>
        </div>


        <div class="col-sm-12 plr20 ">
                    <!--{{knowledgeDocumentDetails}}-->
                <div class="col-lg-9 col-sm-8 mt5 pl0">
                    <div class="div-header clearfix mb10 border-bottom lght-bg" ng-if="knowledgeDocumentDetails.document_type == 'document'">
                        <h3 class="darkcolor f14 roboto-bold text-uppercase plr10 pt10 pb5"><i class="fa fa-paperclip f21 mr4"></i> Attachments</h3>
                         <div class="col-sm-12 pb10 p0">
                             <div class="col-sm-6 f14 lh16">
                                 <a target="_blank" href="{{knowledgeDocumentDetails.document_source}}" download title="download">
                                     <span class="sky-blue display-block">{{knowledgeDocumentDetails.file_name}}</span>
                                 </a>
                                 <!--<span class="ash-color display-block">234 KB</span>-->
                             </div>
                         </div>
                    </div>
                    <div class="white-bg col-sm-12 p20 f14 mb10">
                        <p ng-if="knowledgeDocumentDetails.document_description == ''" class="pb10 darkcolor" > ---- </p>
                        <p ng-if="knowledgeDocumentDetails.document_description != ''"  class="pb10 darkcolor" data-ng-bind-html="knowledgeDocumentDetails.document_description"></p>
                    </div>
                    <div class="clearfix"></div>
                    <div ng-if="knowledgeDocumentDetails.document_type == 'video' || knowledgeDocumentDetails.document_type == 'news'">
                        <div class="col-sm-12 pb10 light-bg">
                            <div class="col-sm-12 video-container mt15" add-iframe data-iframesrc="{{knowledgeDocumentDetails.document_source}}"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-4 mt5 pl0 pr0 clearfix">
                    <div class="white-bg" doc-height>
                        <h3 class="text-capitalize p10 pl20 text-uppercase bold darkcolor border-bottom2x"><i class="fa fa-comments  valign-middle mr10"></i> Comments</h3>
                        <div class="scroll-div-wrap scroll-right0 pt10" min-scroll>
                            <div class="people-wrap clearfix">
                                <div class="peopleImgWrap">
                                    <img class="img-circle" src="images/default-img.png" alt="image"/>
                                </div>
                                <div class="peopleDetails-wrap">
                                    <p class="peopleName f12 dark-blue"><span class="text-capitalize pull-left  bold">{{user_name}}</span><span class="pull-right darkcolor text-capitalize f11">{{ currentDateTime | date:mediumDate }}</span></p>
                                    <p class="peopleDesig ash-color">{{role_name}}</p>
                                </div>
                                <form name="commentForm" novalidate>
                                    <div class="peopleDetails-comments">
                                        <div class="form-group">
                                            <textarea class="full-width display-block form-control pl10" name="comment" ng-model="comment" required />
                                            <div ng-if="commentForm.comment.$error.required && submitStatus" class="error-message">Enter Comment.</div>
                                        </div>
                                        <div class="btn-custom mt15 mb5">
                                            <button class="btn btn-dark custom-xs border-none f12 mr4" ng-click="addKnowledgeManagementComment(comment,commentForm)">Post</button>
                                            <button class="btn lt-bg custom-xs f12 border-none" ng-click="comment = ''">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="people-wrap clearfix" ng-repeat="comment in knowledgeDocumentComment">
                                <div class="peopleImgWrap">
                                    <img class="img-circle" src="images/default-img.png" alt="image"/>
                                </div>
                                <div class="peopleDetails-wrap">
                                    <p class="peopleName f12 dark-blue"><span class="text-capitalize pull-left">{{comment.user_name}}</span><span class="pull-right darkcolor text-capitalize f11">{{comment.date}}</span></p>
                                    <p class="peopleDesig ash-color">{{comment.approval_name}}</p>
                                </div>
                                <div class="peopleDetails-comments">
                                   {{comment.comment}}
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
        </div>

    </div>
</div>

