<h3 class="fixed content-heading">Knowledge Management
    <div class="pull-right button-set">
        <a ng-click="addKnowledgeManagementModal()" uib-tooltip="Add"><i class="fa fa-add-sm"></i></a>
    </div>
</h3>

<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container clearfix">
        <div class="white-bg box-shadow knowledge-header-wrap clearfix">
            <div class="col-sm-12 p0">
                <ul>
                    <li ng-repeat="data in countData">
                        <div class="pull-left">
                            <div class="knowledge-icon-wrap darkcolor" knowledge-icons data-image="{{data.name}}" ></div>
                        </div>
                        <div class=" pl67">
                            <span class="display-block darkcolor f13">{{data.label}}</span>
                            <span class="display-block f18  bold">{{data.total}}</span>
                        </div>
                    </li>

                </ul>
            </div>

        </div>
        <div class="no-bg  overflow-hidden">

            <div class="col-sm-12 plr20">
            <div class=" col-lg-3 col-sm-4 p0 mt5">
                <h3 class="f14 bold darkcolor text-uppercase mb5">Top 10 Users</h3>
                <div class="people-list-wrap white-bg minHt550">

                    <div class="people-wrap clearfix" ng-repeat="users in usersData">
                        <div class="peopleImgWrap">
                            <img ng-src="{{users.profile_image || images/default-img.png}}">
                        </div>
                        <div class="peopleDetails-wrap">
                            <div class="width80 pull-left">
                                <p class="peopleName darkcolor text-capitalize">{{users.user_name}}</p>
                                <p class="peopleDesig ash">{{users.approval_name}}</p>
                            </div>
                            <span class="circle-count pull-right">{{users.total}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-sm-8 p0 mt5" >
                <div class="col-sm-12 pr0" data-ng-init="knowledgeManagementGraph()">
                    <h3 class="f14 bold darkcolor text-uppercase mb5">Daily Statistics</h3>
                    <div id="knowledgeManagementGraph"  knowledge-management-graph  graph="graph" ></div>
                </div>
                <div class="col-sm-12 pr0 pb20">
                    <h3 class="f14 bold dark-blue text-uppercase mt20 mb5">Top 5 Files</h3>

                        <table class="table-list-view t-str-table table table-striped row-pointer know-manage mb0" data-ng-init="knowledgeManagement()">
                            <thead>
                            <tr>
                                <td class="">Content Type</td>
                                <td class="">Description</td>
                                <td class="">Views</td>
                                <td class="">Uploaded By</td>
                                <td class="text-center">Publish</td>
                            </tr>
                            </thead>
                            <tbody>
                            <!--ng-click="goToState('knowledge-management.item-view')"-->
                            <tr ng-repeat="data in knowledgeData" >
                                <td class="" width="33%">
                                    <a ui-sref="knowledge-management.item-view({ id: data.id_knowledge_document})" class="display-block" target="_blank">
                                    <div class="tbl-image-box darkcolor pull-left" knowledge-icons data-image="{{data.document_type}}" ></div>
                                    <div class="tbl-txt text-line">
                                        <span class="sky-blue f14">{{data.document_title}}</span>
                                        <span class="display-block f11 darkcolor">{{data.date}}</span>
                                    </div>
                                    </a>
                                </td>
                                <td ><span data-ng-bind-html="data.document_description | ellipsis:100"></span><span ng-if="data.document_description == null || data.document_description == ''">----</span></td>
                                <td class="w100"><div ng-if="data.number_of_views != null">{{data.number_of_views}}</div><div ng-if="data.number_of_views == null">0</div></td>
                                <td class="w100">{{data.user_name}}</td>
                                <td class="w100 text-center"><div class="sky-blue f21" ng-if="data.knowledge_document_status==1"><i class="icon-globe"></i> </div></td>
                            </tr>

                            </tbody>
                        </table>

                    <div>
                        <a href="javascript:;" class="dark-sky-blue f13" ui-sref="knowledge-management.view">View All</a>
                    </div>
                </div>

            </div>

        </div>
        </div>

    </div>

</div>