<form class="form-bordered" name="form" novalidate>
    <div class="row clearfix">
        <div class="col-sm-12">
            <div class="icons-view width50 margin-auto mb15">
                <ul>
                    <li class="regional-bg">
                        <div class="" data-links="0">
                            <a href=""><i class="icon-globe2"></i></a>
                            <span class="box-title">Key Partners</span>
                        </div>

                    </li>
                    <li class="regional-bg">
                        <div class="" data-links="1">
                            <a href=""><i class=" icon-stars-list"></i></a>
                            <span class="box-title">Key Activities</span>
                        </div>
                        <div class="" data-links="2">
                            <a href=""><i class="icon-building"></i> </a>
                            <span class="box-title">Key Resources</span>
                        </div>

                    </li>
                    <li class="light-blue-block">
                        <div class="" data-links="3">
                            <a href=""><i class="icon-gift"></i> </a>
                            <span class="box-title">Value Propositions</span>
                        </div>

                    </li>
                    <li class="btn-danger">
                        <div class="" data-links="4">
                            <a href=""><i class="icon-heart"></i> </a>
                            <span class="box-title">Customer Relationships</span>
                        </div>
                        <div class="" data-links="5">
                            <a href=""><i class="icon-van"></i> </a>
                            <span class="box-title">Channels</span>
                        </div>


                    </li>
                    <li class="btn-danger" >
                        <div class="" data-links="6">
                            <a href=""><i class="icon-users1"></i> </a>
                            <span class="box-title">Customer Segments</span>
                        </div>

                    </li>
                </ul>
                <ul class="icon-block">
                    <li class="light-y-bg">
                        <div class="" data-links="7">
                            <a href=""><i class=" icon-calc"></i> </a>
                            <span class="box-title">Cost Structure</span>
                        </div>

                    </li>
                    <li class="light-y-bg">
                        <div class="" data-links="8">
                            <a href=""><i class="icon-usd-circle"></i> </a>
                            <span class="box-title">Revenue Streams</span>
                        </div>

                    </li>
                </ul>
            </div>

            <div class="accord-wrapper" data-ng-repeat="companyAssessmentsItem in companyAssessmentsItems" data-targets="{{$index}}">
                <div class="mb5">
                    <div class="clearfix acc-head white-color {{ companyAssessmentsItem.assessment_color }}" id="{{companyAssessmentsItem.id_assessment_item}}">
                        <h1 class="f14 text-uppercase cursor-pointer" basic-accordian>
                            {{ companyAssessmentsItem.assessment_item_name }}
                        </h1>
                    </div>
                    <div class="acc-body data-item" >
                        <ul>
                            <li class="clearfix">
                                <label class="darkcolor clearfix mb5" ng-show="permission[form_key+'_add']">
                                    <a href="javascript:;" class="pull-right ml5 valign-middle" ng-click="showInput=!showInput">
                                        <i class="icon-plus-circle f21"></i>
                                    </a>
                                </label>

                                <div class="" ng-show="showInput">
                                    <input data-ng-model="comment" type="text" class="form-control f14  display-inline-block width95 m0" value="">
                                    <div class="col-sm-12 btn-custom m0 mt8 p0">
                                        <button class="btn btn-primary f12 btn-sm mr8" ng-click="addComment(comment,companyAssessmentsItem.id_assessment_item)">Save</button>
                                        <button class="btn lt-bg f12 btn-sm" ng-click="showInput=!showInput">Cancel</button>
                                    </div>
                                </div>
                            </li>
                            <li data-ng-repeat="step in companyAssessmentsItem.step" class="list-text-wrap">
                                <p class="f12 darkcolor">{{ step.step_title }}</p>
                                <a class="delete-icon" data-ng-click="deleteComment(step.id_company_assessment_item_step,companyAssessmentsItem.id_assessment_item)">
                                    <i class="icon-trash"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>




        </div>

    </div>
</form>