<form class="form-bordered" name="applicant_info"  novalidate>
    <div class="row clearfix">
        <div class="col-sm-12 clearfix">

                <label class="control-label">Description, Nature of Business</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="business_description" ng-model="company.business_description" class="width-full min-height70 p10 f12" ></textarea>
                </div>

        </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label">Explain the History of Business</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="business_history" ng-model="company.business_history" class="width-full min-height70 p10 f12" ></textarea>
                </div>

        </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label text-line">Describe Products and Services of the Company</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="company_services" ng-model="company.company_services" class="width-full min-height70 p10 f12" ></textarea>
                </div>

        </div>
        <div class="col-sm-12 clearfix p0">
            <div class="col-sm-6">
                <label class="control-label text-line">Number of Employees</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="number_of_employees" ng-model="company.number_of_employees"  ui-number-mask="0">
                </div>
            </div>
            <div class="col-sm-6">
                <label class="control-label text-line">Number of Skilled Employees</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="number_of_skilled_employees" ng-model="company.number_of_skilled_employees"  ui-number-mask="0">
                </div>
            </div>
            </div>
        <div class="col-sm-12 clearfix p0">
            <div class="col-sm-12">
                <label class="control-label text-line">Number of Management Staff</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="number_of_management_staff" ng-model="company.number_of_management_staff"  ui-number-mask="0">
                </div>
            </div>
        </div>
        <div class="col-sm-12 btn-custom clearfix text-center" ng-if="permission[form_key+'_add']">
            <button class="btn btn-primary f14 next-btn" type="submit" ng-click="submitForm(company,formDetails,applicant_info)" tab-next >Save</button>
        </div>
        </div>
    </form>