<form class="form-horizontal form-bordered" name="applicant_info"  novalidate>
    <div class="row clearfix">
        <div class="col-sm-12 clearfix p0">
            <div class="col-sm-6">
                <label class="control-label">Business Name*</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" ng-model="company.business_name" name="business_name" required >
                    <div ng-if="applicant_info.business_name.$error.required && submitStatus" class="error-message">Enter business name.</div>
                </div>
            </div>
            <div class="col-sm-6">
                <label class="control-label">Main Sector*</label>

                <div class="form-group clearfix form-group-custom">
                    <select class="form-control"
                            ng-options="parentSector.id_sector as parentSector.sector_name for parentSector in parentSectorsList"
                            name="sector"
                            ng-change="getSubSector(company.sector)"
                            ng-model="company.sector"
                            required>
                        <option value="">--Select Sector--</option>
                    </select>
                    <div ng-if="applicant_info.sector.$error.required && submitStatus" class="error-message">
                        Select sector.
                    </div>
                </div>
            </div>
            </div>
        <div class="col-sm-12 clearfix p0">
            <div class="col-sm-6" >
                <div ng-if="company.sector != undefined" ><span ng-init="getSubSector(company.sector)"></span></div>
                <label class="control-label">Subsector</label>

                <div class="form-group clearfix form-group-custom">

                    <select class="form-control" ng-disabled="!company.sector"
                            ng-options="subSector.id_sector as subSector.sector_name for subSector in subSectorList"
                            name="subsector"
                            ng-model="company.subsector"
                            >
                        <option value="">--Select Sector--</option>
                    </select>
                    <!--<div ng-if="applicant_info.subsector.$error.required && submitStatus" class="error-message">
                        Select Subsector.
                    </div>required-->
                </div>
            </div>

            <div class="col-sm-6">
                <label class="control-label">New Business?</label>
                <div class="form-group clearfix form-group-custom">
                    <div class="radio display-inline-block mr15 mt5">
                        <div ng-if="company.new_business == ''"><span ng-init="company.new_business = 'yes'"></span></div>
                        <label class="f12"><input type="radio" ng-model="company.new_business" name="new_business" value="yes" > Yes</label></div>
                    <div class="radio display-inline-block"><label class="f12"><input type="radio" ng-model="company.new_business" name="new_business" value="no"> No</label>
                    </div>
                </div>
            </div>
            </div>
        <div class="col-sm-12 clearfix p0">
            <div class="col-sm-6">
                <label class="control-label">Business Start Date</label>
               <!-- <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="business_start_date" ng-model="company.business_start_date">
                </div>-->

                <div class="form-group clearfix form-group-custom">
                    <div class="input-group">
                        <input  type="text" class="form-control"  uib-datepicker-popup="yyyy-MM-dd"
                                data-ng-model="company.business_start_date" type="text" name="business_start_date" is-open="openCal"
                                show-weeks="false" show-button-bar="false" readonly />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                <i class="fa fa-calendar"></i></button>
                          </span>
                    </div>
                </div>
                <!--<div class="input-group">
                    <input  type="text" class="form-control"  uib-datepicker-popup="yyyy-MM-dd"
                            ng-model="company.business_start_date" type="text" name="business_start_date" is-open="openCal"
                            show-weeks="false" show-button-bar="false" readonly ng-init="openCal=false" />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                <i class="fa fa-calendar"></i></button>
                          </span>
                </div>-->
            </div>
            </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label">Comments on Core Information</label>
                <div class="form-group clearfix form-group-custom">
                    <!--kendo-editor-->
                    <textarea kendo-editor k-tools="{{kendoOptions}}" k-ng-model="company.comments_core_information" placeholder="Comments" name="comments_core_information" class="width-full p10 f12" ></textarea>
                </div>

        </div>

        <div class="col-sm-12 btn-custom clearfix text-center" ng-if="permission[form_key+'_add']">
            <button class="btn btn-primary f14 next-btn" type="submit" ng-click="submitForm(company,formDetails,applicant_info)" tab-next >Save</button>
        </div>
    </div>
</form>