<form class="form-bordered" name="form" novalidate>
    <div class="row clearfix">
        <div class="col-sm-12">
            <div class="data-item mb30">
                <div class="data-item-header">
                    <h4 class="text-uppercase clearfix light-yellow"><span class="box-text light-y-bg">M</span> Man
                        <a class="pull-right text-decoration-none pt5" ng-click="addStrengths=!addStrengths"><i class="icon-plus-circle f18"></i> </a>
                    </h4>
                </div>
                <div class="data-item-content mt10">
                    <ul>
                        <li class="clearfix" ng-show="addStrengths">
                            <textarea class="width-full min-height70 f12 p10 darkcolor">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </textarea>
                            <div class="col-sm-12 btn-custom m0 mt5 p0">
                                <button class="btn btn-primary f14 btn-sm mr8">Save</button>
                                <button class="btn lt-bg f14 btn-sm">Cancel</button>
                            </div>
                        </li>
                        <li>
                            <p class="f12 darkcolor">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <a class="delete-icon">
                                <i class="icon-trash"></i>
                            </a>
                        </li>
                        <li>
                            <p class="f12 darkcolor">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <a class="delete-icon">
                                <i class="icon-trash"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="data-item mb30">
                <div class="data-item-header">
                    <h4 class="text-uppercase clearfix orange-block-color"><span class="box-text  orange-block-bg">M</span> Methods
                        <a ng-show="permission[form_key+'_add']" class="pull-right text-decoration-none pt5" ng-click="addWeekness=!addWeekness"><i class="icon-plus-circle f18"></i> </a>
                    </h4>
                </div>
                <div class="data-item-content mt10">
                    <ul>
                        <li class="clearfix" ng-show="addWeekness">
                            <textarea class="width-full min-height70 f12 p10 darkcolor">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </textarea>
                            <div class="col-sm-12 btn-custom m0 mt5 p0">
                                <button class="btn btn-primary f14 btn-sm mr8">Save</button>
                                <button class="btn lt-bg f14 btn-sm">Cancel</button>
                            </div>
                        </li>
                        <li>
                            <p class="f12 darkcolor">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <a class="delete-icon">
                                <i class="icon-trash"></i>
                            </a>
                        </li>
                        <li>
                            <p class="f12 darkcolor">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <a class="delete-icon">
                                <i class="icon-trash"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="data-item mb30">
                <div class="data-item-header">
                    <h4 class="text-uppercase clearfix orange-block-color"><span class="box-text  orange-block-bg">M</span> Material
                        <a class="pull-right text-decoration-none pt5" ng-click="addWeekness=!addWeekness"><i class="icon-plus-circle f18"></i> </a>
                    </h4>
                </div>
                <div class="data-item-content mt10">
                    <ul>
                        <li class="clearfix" ng-show="addWeekness">
                            <textarea class="width-full min-height70 f12 p10 darkcolor">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </textarea>
                            <div class="col-sm-12 btn-custom m0 mt5 p0">
                                <button class="btn btn-primary f14 btn-sm mr8">Save</button>
                                <button class="btn lt-bg f14 btn-sm">Cancel</button>
                            </div>
                        </li>
                        <li>
                            <p class="f12 darkcolor">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <a class="delete-icon">
                                <i class="icon-trash"></i>
                            </a>
                        </li>
                        <li>
                            <p class="f12 darkcolor">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <a class="delete-icon">
                                <i class="icon-trash"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="data-item mb30">
                <div class="data-item-header">
                    <h4 class="text-uppercase clearfix light-blue-color"><span class="box-text light-blue-block">M</span> Machine
                        <a class="pull-right text-decoration-none pt5" ng-click="addOpportunities=!addOpportunities"><i class="icon-plus-circle f18"></i> </a>
                    </h4>
                </div>
                <div class="data-item-content mt10">
                    <ul>
                        <li class="clearfix" ng-show="addOpportunities">
                            <textarea class="width-full min-height70 f12 p10 darkcolor">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </textarea>
                            <div class="col-sm-12 btn-custom m0 mt5 p0">
                                <button class="btn btn-primary f14 btn-sm mr8">Save</button>
                                <button class="btn lt-bg f14 btn-sm">Cancel</button>
                            </div>
                        </li>
                        <li>
                            <p class="f12 darkcolor">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <a class="delete-icon">
                                <i class="icon-trash"></i>
                            </a>
                        </li>
                        <li>
                            <p class="f12 darkcolor">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <a class="delete-icon">
                                <i class="icon-trash"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="data-item mb30">
                <div class="data-item-header">
                    <h4 class="text-uppercase clearfix light-green-color"><span class="box-text light-green-bg">M</span> Money
                        <a class="pull-right text-decoration-none pt5" ng-click="addThreats=!addThreats"><i class="icon-plus-circle f18"></i> </a>
                    </h4>
                </div>
                <div class="data-item-content mt10">
                    <ul>
                        <li class="clearfix" ng-show="addThreats">
                            <textarea class="width-full min-height70 f12 p10 darkcolor">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </textarea>
                            <div class="col-sm-12 btn-custom m0 mt5 p0">
                                <button class="btn btn-primary f14 btn-sm mr8">Save</button>
                                <button class="btn lt-bg f14 btn-sm">Cancel</button>
                            </div>
                        </li>
                        <li>
                            <p class="f12 darkcolor">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <a class="delete-icon">
                                <i class="icon-trash"></i>
                            </a>
                        </li>
                        <li>
                            <p class="f12 darkcolor">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <a class="delete-icon">
                                <i class="icon-trash"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</form>