<form class="form-bordered" name="form" novalidate>
    <div class="row clearfix">
        <div class="col-sm-12 clearfix p0">

                <label class="control-label">Number of Family Related to him</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" ng-model="company.number_of_family_related_him" name="number_of_family_related_him" only-digits>
                </div>

        </div>
        <div class="col-sm-12 btn-custom m0 text-center clearfix" ng-if="permission[form_key+'_add']">
            <button type="submit" class="btn btn-primary f14 next-btn" ng-click="submitForm(company,formDetails,form)" tab-next>
                Save
            </button>
        </div>
    </div>
</form>