<form class="form-bordered" name="form"  novalidate>
    <div class="row clearfix">

                <div class="col-sm-12" data-ng-controller="companyOwnershipCtrl">
                    <div ng-if="!company.ownership_details">
                        <div ng-init="company.ownership_details=[]"></div>
                    </div>
                    <div class="clearfix">
                        <p class="f11 ash display-inline-block"><em>Here you can add new Ownership</em></p>
                        <button class="btn btn-primary btn-dark border-none f12 pull-right" data-ng-click="addOwnerShip()">
                            <i class="fa fa-plus-circle"></i> Add New
                        </button>
                    </div>
                    <div class="clearfix"></div>
                    <div class="table-wrapper p0 c-table pt5 table-responsive">

                        <table st-table="company.ownership_details" class="table table-striped table-bordered table-hover display table-style">
                            <thead>
                            <tr>
                                <th st-sort="first_name">First Name</th>
                                <th st-sort="last_name">Last Name</th>
                                <th st-sort="ownership_percentage">Ownership %</th>
                                <th st-sort="no_of_shares">No.Of Shares</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in company.ownership_details">
                                <td>{{row.first_name}}</td>
                                <td>{{row.last_name}}</td>
                                <td>{{row.ownership_percentage}}</td>
                                <td>{{row.no_of_shares}}</td>
                                <td>
                                    <div class="clearfix pagination-wrap">
                                        <ul class="icons-wrap text-line pull-left">
                                            <li><a href="javascript:;" ng-click="addOwnerShip(row)" class="fa fa-edit" ></a></li>
                                            <li><a href="javascript:;" class="fa fa-eye" ng-click="viewOwnership(row)"></a></li>
                                            <li><a href="javascript:;" class="fa fa-trash" ng-click="removeItem(row)"></a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot ng-if="!company.ownership_details">

                            </tfoot>
                        </table>
                    </div>
                </div>


        <div class="col-sm-12 clearfix p0">
             <div class="col-sm-6">
                <label class="control-label">Business Registered?</label>
                <div class="form-group clearfix form-group-custom">
                    <div class="radio display-inline-block mr15 mt5">
                        <div ng-if="company.business_registered == ''"><span ng-init="company.business_registered = 'Yes'"></span></div>
                        <label class="f12"><input type="radio" ng-model="company.business_registered" name="business_registered" value="Yes"> Yes</label></div>
                    <div class="radio display-inline-block"><label class="f12"><input type="radio" ng-model="company.business_registered" name="business_registered" value="No">
                        No</label></div>
                </div>
            </div>
            <div class="col-sm-6" ng-show="company.business_registered == 'Yes'">
                <label class="control-label">Registration Number</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="registration_number" ng-model="company.registration_number">
                </div>
            </div>
        </div>
        <div class="col-sm-12 clearfix p0">
            <div class="col-sm-6">
                <label class="control-label text-line">Business Physical Address</label>

                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="business_physical_address" ng-model="company.business_physical_address" >
                    <!--<div ng-show="applicant_info.business_physical_address.$error.required && submitStatus" class="error-message">Enter address.</div>-->
                </div>
            </div>


            <div class="col-sm-6">
                <label class="control-label">City</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="business_city" ng-model="company.business_city">
                </div>
            </div>
        </div>
        <div class="col-sm-12 clearfix p0">
            <div class="col-sm-6" >
                <label class="control-label">State</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="business_state" ng-model="company.business_state">
                </div>
            </div>
            <div class="col-sm-6">
                <label class="control-label">Country</label>
                <div class="form-group clearfix form-group-custom">
                    <select class="form-control"
                            ng-options="country.id_country as country.country_name for country in Countries"
                            name="business_country"
                            ng-model="company.business_country">
                        <option value="">--Select Country--</option>
                    </select>
                    <!--<input type="text" class="form-control" name="business_country" ng-model="company.business_country" >-->
                </div>
            </div>
        </div>
        <div class="col-sm-12 clearfix p0">


            <div class="col-sm-6">
                <label class="control-label">Zipcode</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="business_zipcode" ng-model="company.business_zipcode" only-digits>
                </div>
            </div>
            <div class="col-sm-6">
                <label class="control-label text-line">Operating in this place since:</label>
                <div class="input-group">
                    <input  type="text" class="form-control"  uib-datepicker-popup="yyyy-MM-dd" max-date="minDate"
                            data-ng-model="company.operating_in_this_place" type="text" name="operating_in_this_place" is-open="openCal"
                            show-weeks="false" show-button-bar="false" readonly />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                <i class="fa fa-calendar"></i></button>
                          </span>
                </div>
            </div>
        </div>
        <div class="col-sm-12 clearfix p0">
            <div class="col-sm-6">
                <label class="control-label">Business phone (main)*</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="business_phone_number" ng-model="company.business_phone_number" pattern=".{5,}" only-digits required>
                    <div ng-if="form.business_phone_number.$error.required && submitStatus" class="error-message">Enter business Phone.</div>
                    <!--<div ng-show="form.business_phone_number.$invalid && submitStatus " class="error-message">
                        Enter minimum 5 digits.
                    </div>-->
                    <div ng-if="form.business_phone_number.$touched && form.business_phone_number.$invalid && submitStatus" class="error-message">
                        Enter valid business phone.(minimum 5 digits)
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <label class="control-label">Business phone alt.</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="business_alternative_phone_number" ng-model="company.business_alternative_phone_number" ng-minlength="5" restrict-input="^[0-9-]*$">
                    <div ng-show="form.business_alternative_phone_number.$invalid && submitStatus " class="error-message">
                        Enter minimum 5 digits.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 clearfix p0">
            <div class="col-sm-6" >
                <label class="control-label">Buiness e-mail</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="email" class="form-control" name="business_email" ng-model="company.business_email" required>
                    <div ng-if="form.business_email.$error.required && submitStatus" class="error-message">Enter business email.</div>
                </div>
            </div>
            <!--<div class="col-sm-6">
                <label class="control-label">Other (web/FB/..)</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="business_social_networks" ng-model="company.business_social_networks">
                </div>
            </div>-->
        </div>
        <div class="col-sm-12 clearfix p0">
            <div class="col-sm-12 pt20">
                <div class="col-sm-12 p0" data-ng-controller="socialNetworkCtrl">
                    <div ng-if="!company.business_social_networks">
                        <div ng-init="company.business_social_networks=[]"></div>
                    </div>
                    <div class="clearfix">
                        <p class="f11 ash display-inline-block"><em>Here you can add new Network</em></p>
                        <button class="btn btn-primary btn-dark border-none f12 pull-right" data-ng-click="addNetwork()">
                            <i class="fa fa-plus-circle"></i> Add New
                        </button>
                    </div>
                    <div class="clearfix"></div>
                    <div class="table-wrapper  p0 pt5 table-responsive">
                        <table st-table="company.business_social_networks" class="table c-table table-striped table-bordered table-hover display table-style">
                            <thead>
                            <tr>
                                <th st-sort="network">Name</th>
                                <th st-sort="details">Url</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in company.business_social_networks">
                                <td>{{row.name}}</td>
                                <td>{{row.url}}</td>
                                <td>
                                    <div class="clearfix pagination-wrap">
                                        <ul class="icons-wrap pull-left">
                                            <li><a href="javascript:;" ng-click="addNetwork(row)" class="fa fa-edit" ></a></li>
                                            <li><a href="javascript:;" class="fa fa-eye" ng-click="viewNetwork(row)"></a></li>
                                            <li><a href="javascript:;" class="fa fa-trash" ng-click="removeItem(row)"></a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot ng-if="!company.business_social_networks">

                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 btn-custom clearfix text-center" ng-if="permission[form_key+'_add']">
            <button class="btn btn-primary f14 next-btn" ng-click="submitForm(company,formDetails,form)" tab-next >Save</button>
        </div>
    </div>
    </div>
</form>