<div class="right-modal clearfix modal-custom">

    <h3 class="right-modal-head ng-binding">
        {{title}} Network
        <a ng-click="cancel()" class="close-right pull-right"><img src="images/close.png"></a>
    </h3>
    <form class="form-horizontal form-bordered mt10"  name="networkForm"  novalidate>
        <div class="row clearfix">
            <div class="col-sm-12 clearfix">
                <div class="col-sm-12">
                    <label class="control-label">Name*</label>
                    <div class="form-group clearfix form-group-custom mb5">
                        <input type="text" class="form-control" ng-model="networkDetails.name" name="name" required>
                        <div ng-show="networkForm.name.$error.required && submitStatus" class="error-message">
                            Enter name
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 clearfix">
                <div class="col-sm-12 ">
                    <label class="control-label">Url</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" ng-model="networkDetails.url" name="url">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer border-none btn-custom mb0 clearfix text-center" ng-if="permission[form_key+'_add']">
        <button ng-if="!update" class="btn btn-primary f14" ng-click="save(networkDetails,networkForm)" >Submit</button>
        <button ng-if="update" class="btn btn-primary f14" ng-click="networkForm.$valid && cancel()">Update</button>
        <button class="btn btn-default f14" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>