<form class="form-bordered" name="form"  novalidate>
    <div class="row clearfix">
        <div class="col-sm-12 clearfix">

                <label class="control-label">Where is the blue sky in your environment?</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="blue_sky_environment" ng-model="company.blue_sky_environment" class="width-full p10 f12"></textarea>
                </div>

        </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label">What new needs of customers could you meet?</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="customer_needs" ng-model="company.customer_needs" class="width-full p10 f12"></textarea>
                </div>

        </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label">What are the economic trends that benefit you? Are there financial backers looking for opportunities?</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="economic_trends" ng-model="company.economic_trends" class="width-full p10 f12"></textarea>
                </div>

        </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label">What are the emerging political and social opportunities?</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="political_social_opportunities" ng-model="company.political_social_opportunities" class="width-full p10 f12"></textarea>
                </div>


        </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label">What are the technological breakthroughs?</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="technological_breakthroughs" ng-model="company.technological_breakthroughs" class="width-full p10 f12"></textarea>
                </div>


        </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label">Where niches have your competitors missed? Are there areas from which competitors are withdrawing?</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="competitors_areas" ng-model="company.competitors_areas" class="width-full p10 f12"></textarea>
                </div>


        </div>

        <div class="col-sm-12 btn-custom clearfix text-center" ng-if="permission[form_key+'_add']">
            <button class="btn btn-primary f14 next-btn" ng-click="submitForm(company,formDetails,form)" tab-next >Save</button>
        </div>
    </div>
</form>