<div class="right-modal clearfix modal-custom">

    <h3 class="right-modal-head ng-binding">
        {{title}} Ownership
        <a ng-click="cancel()" class="close-right pull-right"><img src="images/close.png"></a>
    </h3>
    <form class="form-horizontal form-bordered mt10"  name="ownershipForm"  novalidate>
        <div class="row clearfix">
            <div class="col-sm-12 clearfix">
                <div class="col-sm-6">
                    <label class="control-label">First Name*</label>
                    <div class="form-group clearfix form-group-custom md5">
                        <input type="text" class="form-control" ng-model="ownership.first_name" name="first_name" required>
                        <div ng-if="ownershipForm.first_name.$error.required && submitStatus" class="error-message">
                            Enter first name
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="control-label">Last Name</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" ng-model="ownership.last_name" name="last_name">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 clearfix">
                <div class="col-sm-6">
                    <label class="control-label">Ownership %</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" ng-model="ownership.ownership_percentage" name="ownership_percentage" only-digits >
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="control-label">No.Of Shares</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" ng-model="ownership.no_of_shares" name="no_of_shares" only-digits>
                    </div>
                </div>
            </div>

        </div>
    </form>
    <div class="modal-footer border-none btn-custom mb0 clearfix text-center" ng-if="permission[form_key+'_add']">
        <button ng-if="!update" class="btn btn-primary f14" ng-click="save(ownership,ownershipForm)" >Submit</button>
        <button ng-if="update" class="btn btn-primary f14" ng-click="ownershipForm.$valid &&cancel()">Update</button>
        <button class="btn btn-default f14" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>