<form class="form-bordered" name="form" novalidate>
    <div class="row clearfix">
        <div class="col-sm-12 clearfix">
                <label class="control-label">What is the client doing well (in sales, marketing, operations, management)?</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="client_doing_well" ng-model="company.client_doing_well"  class="width-full p10 f12"></textarea>
                </div>
            </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label">What are the client’s assets (tangibles as well as intangibles)?</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="client_assests" ng-model="company.client_assests"  class="width-full p10 f12"></textarea>
                </div>

        </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label">What are the client’s core competencies?</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="client_core_competencies" ng-model="company.client_core_competencies"  class="width-full p10 f12"></textarea>
                </div>

        </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label">Where is the client earning money with the company?</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="client_earning_money" ng-model="company.client_earning_money"  class="width-full p10 f12"></textarea>
                </div>


        </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label">What experience does the client have?</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="client_experience" ng-model="company.client_experience"  class="width-full p10 f12"></textarea>
                </div>


        </div>

        <div class="col-sm-12 btn-custom clearfix text-center" ng-if="permission[form_key+'_add']">
            <button class="btn btn-primary f14 next-btn" ng-click="submitForm(company,formDetails,form)" tab-next >Save</button>
        </div>


    </div>
</form>