 <div class="row clearfix">
        <div class="col-sm-12">
            <div class="data-item mb15" data-ng-repeat="companyAssessmentsItem in companyAssessmentsItems">
                <div class="data-item-header {{companyAssessmentsItem.assessment_color}}" >
                    <h4 class="text-uppercase bold f14 clearfix"><span class="box-text" first-alpha="{{companyAssessmentsItem.assessment_item_name}}" backround-color="false" ></span> {{ companyAssessmentsItem.assessment_item_name }}
                        <a ng-show="permission[form_key+'_add']" class="pull-right text-decoration-none pt5" ng-click="addStrengths=!addStrengths"><i class="icon-plus-circle f18"></i> </a>
                    </h4>
                </div>
                <div class="data-item-content mt10">
                    <ul>
                        <li class="clearfix" ng-show="addStrengths">
                            <form class="form-bordered" name="form" novalidate>
                                <textarea class="width-full min-height70 f12 p10 darkcolor" data-ng-model="comment"></textarea>
                                <div class="col-sm-12 btn-custom m0 p0">
                                    <button class="btn btn-primary f12 btn-sm mr8" ng-click="addComment(comment,companyAssessmentsItem.id_assessment_item)">Save</button>
                                    <button class="btn lt-bg f12 btn-sm" ng-click="addStrengths=!addStrengths">Cancel</button>
                                </div>
                            </form>
                        </li>
                        <li data-ng-repeat="step in companyAssessmentsItem.step" >
                            <p class="f12 darkcolor">{{ step.step_title }}</p>
                            <a class="delete-icon" data-ng-click="deleteComment(step.id_company_assessment_item_step)">
                                <i class="icon-trash"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>