<form class="form-bordered" name="form"  novalidate>
    <div class="row clearfix">
        <div class="col-sm-12 clearfix">

                <label class="control-label">Where are the red alerts in your environment? Is the company relying on one key supplier, client, or employee)?</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="environment_alerts" ng-model="company.environment_alerts" class="width-full p10 f12"></textarea>
                </div>

        </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label">What are the negative economic trends?</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="negative_economic_trends" ng-model="company.negative_economic_trends" class="width-full p10 f12"></textarea>
                </div>

        </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label">What are the negative political and social trends?</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="negative_political_social_trends" ng-model="company.negative_political_social_trends" class="width-full p10 f12"></textarea>
                </div>

        </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label">Where are competitors about to bite you?</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="competitors" ng-model="company.competitors" class="width-full p10 f12"></textarea>
                </div>


        </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label">Where are you vulnerable?</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="vulnerable" ng-model="company.vulnerable" class="width-full p10 f12"></textarea>
                </div>


        </div>

        <div class="col-sm-12 btn-custom clearfix text-center" ng-if="permission[form_key+'_add']">
            <button class="btn btn-primary f14 next-btn" ng-click="submitForm(company,formDetails,form)" tab-next >Save</button>
        </div>
    </div>
</form>