<form class="form-horizontal form-bordered" name="form">
    <div class="col-sm-12 clearfix p0">
    <div class="clearfix excel-table" hot-size>
        <div ng-init="company.threats_from_subsitutes = []"></div>
        <div ng-if="!company.threats_from_subsitutes" >
            <div ng-init="company.threats_from_subsitutes = []"></div>
        </div>
        <p class="f11 gray mb5 text-right"><em>Here you can directly copy and paste excel document.</em></p>
        <hot-table  settings="settings" row-headers="rowHeaders" min-spare-rows="minSpareRows" datarows="company.threats_from_subsitutes">
            <hot-column data="substitutes" title="'Substitutes'"></hot-column>
            <hot-column data="comments" title="'Comments'"></hot-column>
        </hot-table>
    </div>
    <div class="col-sm-12 btn-custom clearfix text-center" ng-if="permission[form_key+'_add']">
        <button class="btn btn-primary f14 next-btn" tab-next ng-click="submitForm(company,formDetails,form)">Save</button>
    </div>
        </div>
</form>