<div class="modal-wrap ">
    <div class="modal-body p0">
        <div class="division-wrap clearfix ">
            <form  name="uploadFinancialInfo" ng-submit="submitUpload(statementId,finance,uploadFinancialInfo)" novalidate>
                <div class="col-sm-12 p0">
                    <div class="form-group clearfix form-group-custom">
                        <div class="clearfix">
                            <div class="col-sm-8 p0">
                                <div class="f12 mr10 display-inline-block "><!--ngf-accept="'image/*'"-->
                                    <input type="file" name="financeExcel" class="width80" ngf-select="uploadFinancialExcel($file)" required />
                                    <div ng-show="isExcel" class="has-error" style="color: red">Choose a file.</div>
                                </div>
                                <div class="display-inline-block" ng-if="permission[form_key+'_add']">
                                    <button class="btn btn-primary btn-dark f12" >Upload</button>
                                </div>
                            </div>

                            <div class="pull-right col-sm-4 text-right p0">
                                <a href="{{statementData.template}}" class="f14 sky-blue" target="_blank"><i class="fa fa-download mr4"></i> Download Sample</a>
                            </div>
                        </div>
                    </div>


                </div>
            </form>
    </div>
</div>

</div>
<div data-ng-bind-html="statementData.data"></div>
