<div class="right-modal clearfix modal-custom">

    <h3 class="right-modal-head ng-binding">
        View Ownership
        <a ng-click="cancel()" class="close-right pull-right"><img src="images/close.png"></a>
    </h3>
    <form class="form-horizontal form-bordered mt10"  name="facilityForm"  novalidate>
        <div class="row clearfix">
            <div class="col-sm-12 clearfix">
                <div class="col-sm-6">
                    <label class="control-label">First Name</label>
                    <p class="f14 dark-blue">{{ownership.first_name}}</p>
                </div>
                <div class="col-sm-6">
                    <label class="control-label">Last Name</label>
                    <p class="f14 dark-blue">{{ownership.last_name}}</p>
                </div>
            </div>
            <div class="col-sm-12 clearfix">
                <div class="col-sm-6">
                    <label class="control-label">Ownership %</label>
                    <p class="f14 dark-blue">{{ownership.ownership_percentage}}</p>
                </div>
                <div class="col-sm-6">
                    <label class="control-label">No Of Shares</label>
                    <p class="f14 dark-blue">{{ownership.no_of_shares}}</p>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer border-none btn-custom mb0 clearfix text-center">
        <button class="btn btn-default f14" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>