<form class=" form-bordered" name="form"  novalidate>
    <div class="row clearfix">
        <div class="col-sm-12 clearfix">

                <label class="control-label">Where is the company looking old/outdated?</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="company_looking" ng-model="company.company_looking" class="width-full p10 f12"></textarea>
                </div>

        </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label">What areas are needed but not existing (customer service, marketing, accounting, planning)?</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="areas_needed" ng-model="company.areas_needed" class="width-full p10 f12"></textarea>
                </div>

        </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label">Where do resources lack? Is the company relying on outdated equipment? Are enough funds available?</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="resources_lack" ng-model="company.resources_lack" class="width-full p10 f12"></textarea>
                </div>

        </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label">What can be done better? Are there inefficiencies?</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="inefficiencies" ng-model="company.inefficiencies" class="width-full p10 f12"></textarea>
                </div>


        </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label">Where is the company losing money?</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="company_losing_money" ng-model="company.company_losing_money" class="width-full p10 f12"></textarea>
                </div>


        </div>

        <div class="col-sm-12 btn-custom clearfix text-center" ng-if="permission[form_key+'_add']">
            <button class="btn btn-primary f14 next-btn" ng-click="submitForm(company,formDetails,form)" tab-next >Save</button>
        </div>
    </div>
</form>