
<div class="modal-wrap">
    <div class="modal-header clearfix">
        <h3 class="modal-title pull-left mt5 ng-binding">Change Password</h3>
        <a ng-click="cancel()" class="pull-right" href="javascript:;">
            <img alt="close-image" src="images/close.png">
        </a>
    </div>
    <div class="modal-body">
        <div class="division-wrap clearfix">
            <form class="form-horizontal form-bordered">
                <div class="row clearfix">
                    <div class="form-group col-sm-12 mb20 clearfix form-group-custom relative">

                            <input type="password" class="form-control" placeholder="Old password" name="oldpassword" data-ng-model="user.oldpassword">

                    </div>
                    <div class="form-group col-sm-12 mb20 clearfix form-group-custom relative">

                            <input type="password" class="form-control" placeholder="New password" name="password" data-ng-model="user.password">

                    </div>
                    <div class="form-group col-sm-12 clearfix form-group-custom relative">

                            <input type="password" class="form-control" placeholder="Confirm password" name="cpassword" data-ng-model="user.cpassword">

                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer border-none btn-custom clearfix text-center">
        <button class="btn btn-primary f14" type="button" ng-click="save(user)">Update</button>
        <button class="btn btn-default f14" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>