

<div class="login-wrap"></div>
<div class="login-wrap-content login-100">
    <div class="login-head clearfix">
        <h1 class="condensed pull-left">Forgot Password</h1>
        <a href="#/login" class="fa fa-remove pull-right"></a>
    </div>
    <div class="clearfix login-details">
        <div class="pull-right">
            <form class="form-horizontal form-bordered" name="forgotPasswordForm" ng-submit="submitForm()" novalidate>
                <div class="row clearfix">
                    <div class="form-group col-lg-12 clearfix form-group-custom relative">
                        <div class="col-sm-12">
                            <input type="email" class="form-control" placeholder="E-Mail" ng-model="email" name="email.email_id">
                            <span class="fa fa-user auto-gen"></span>
                        </div>
                    </div>
                </div>
                <div class="text-center btn-custom">
                    <button class="btn-primary btn condensed" ng-disabled="forgotPasswordForm.$invalid" ng-click="send(email)">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>