<header class="fixed width-full">
    <div class="header-left pull-left">

        <a href="{{ site_url }}" class="pl67 display-inline-block">
            <img class="img-responsive logo" ng-src="{{company_logo || 'images/logo.png'}}" alt="QLANA"/>
        </a>
    </div>
    <div class="header-right pull-right dropdown" ng-controller="AppCtrl">
        <div class="header-user cursor-pointer" ng-click="toggleMenu(this, $event);">
            <div class="display-inline-block valign-middle line-height14 mr4 text-right">
                <label class="f14 text-right">Welcome <span
                        class="sky-blue text-capitalize">{{user_name}}</span></label>
                <span class="f11 display-block"
                      ng-if="user_role_id=='3'">Branch: {{branch_name}} | Role: {{role_name}}</span>
            </div>

            <img ng-src="{{profile_image || 'images/default-img.png'}}" alt="" class="img-circle"/>
        </div>
        <ul class="dropdown-menu" ng-show="menuOpened">
            <li><a href="#/my-profile">Profile</a></li>
            <!--<li><a href="javascript:;" ng-click="">Settings</a></li>-->
            <li><a href="#" ng-click="logout()">Logout</a></li>
        </ul>
    </div>
</header><!-- PAGE HEADER _End -->
<section class="pt50 clearboth">
    <div id="leftMenu" class="left-menu pull-left">
            <span class="cursor-pointer" id="toggleLeftMenu">
                <i class="fa fa-bars menu-toggler"></i>
            </span>
        <div>
            <ul ng-if="user_role_id=='1'">
                <li ng-class="{in: (!$state.includes('sa.master') && !$state.includes('sa.roles'))}">
                    <a ui-sref="sa.index">
                            <span>
                                <i class="fa fa-home"></i>
                            </span>
                        <label> Customers</label>
                    </a>
                </li>
                <li ng-class="{in: $state.includes('sa.master')}">
                    <a ui-sref="sa.master.sector">
                            <span>
                                <i class="fa fa-building"></i>
                            </span>
                        <label> Masters</label>
                    </a>
                </li>
            </ul>
            <ul ng-if="user_role_id=='2'">
                <li class="has-sub" parent-active>
                    <a href="javascript:;">
                            <span>
                                <i class="fa fa-cog"></i>
                            </span>
                        <label> Setup</label>
                    </a>
                    <ul class="sub-menu">
                        <li ui-sref-active="in">
                            <a ui-sref="adm.admin-setup">
                                    <span>
                                        <i class="fa fa-sitemap"></i>
                                    </span>
                                <label>Setup Page</label>
                            </a>
                        </li>
                        <li ng-class="{in: $state.includes('entity')}">
                            <a ui-sref="entity.branch-structure-view">
                                    <span>
                                        <i class="fa fa-sitemap"></i>
                                    </span>
                                <label>Entity Structure</label>
                            </a>
                        </li>
                        <li ng-class="{in: $state.includes('org')}">
                            <a ui-sref="org.org-structure-view">
                                    <span>
                                        <i class="fa fa-code-fork"></i>
                                    </span>
                                <label> Organisation Structure</label>
                            </a>
                        </li>
                        <li ng-class="{in: $state.includes('approval')}">
                            <a ui-sref="approval.approval-structure">
                                    <span>
                                        <i class="fa fa-check-square-o"></i>
                                    </span>
                                <label>Approval Structure</label>
                            </a>
                        </li>

                        <!--<li>
                            <a ui-sref="app.user-information" active-link="in">
                                    <span>
                                        <i class="fa fa-users"></i>
                                    </span>
                                <label> Users </label>
                            </a>
                        </li>-->
                    </ul>
                </li>



                <li class="has-sub" parent-active>
                    <a href="javascript:;">
                            <span>
                                <i class="fa fa-cog"></i>
                            </span>
                        <label>Company Config</label>
                    </a>
                    <ul class="sub-menu" >
                        <li  ui-sref-active="in">
                            <a ui-sref="adm.business-assessment">
                                    <span>
                                        <i class="fa fa-windows"></i>
                                    </span>
                                <label>Assessment Config</label>
                            </a>
                        </li>

                        <li ui-sref-active="in">
                            <a ui-sref="assessment.assessment-questions">
                                    <span>
                                        <i class="fa fa-question-circle"></i>
                                    </span>
                                <label>Assessment Questions</label>
                            </a>
                        </li>
                        <li ui-sref-active="in">
                            <a ui-sref="assessment.business-plan">
                                    <span>
                                        <i class="fa fa-line-chart"></i>
                                    </span>
                                <label>Business Plan</label>
                            </a>
                        </li>

                    </ul>
                </li>
                <!--<li ng-class="{in: $state.includes('product')}">
                    <a ui-sref="product.list">
                                    <span>
                                        <i class="fa fa-cubes"></i>
                                    </span>
                        <label>Products Config</label>
                    </a>
                </li>-->

                <li class="has-sub" parent-active>
                    <a href="javascript:;">
                            <span>
                                <i class="fa fa-cog"></i>
                            </span>
                        <label>Products Config</label>
                    </a>
                    <ul class="sub-menu" >
                        <li  ng-class="{in: $state.includes('product')}">
                            <a ui-sref="product.list">
                                    <span>
                                        <i class="fa fa-cubes"></i>
                                    </span>
                                <label>Products</label>
                            </a>
                        </li>

                        <li ui-sref-active="in">
                            <a ui-sref="adm.risk-assessment">
                                    <span>
                                        <i class="fa fa-tachometer"></i>
                                    </span>
                                <label>Expert Rating Model</label>
                            </a>
                        </li>
                        <li ui-sref-active="in">
                            <a ui-sref="covenant.positive">
                                    <span>
                                        <i class="fa fa-tachometer"></i>
                                    </span>
                                <label>Positive Covenant</label>
                            </a>
                        </li>
                        <li ui-sref-active="in">
                            <a ui-sref="covenant.negative">
                                    <span>
                                        <i class="fa fa-tachometer"></i>
                                    </span>
                                <label>Negative Covenant</label>
                            </a>
                        </li>
                        <li ui-sref-active="in">
                            <a ui-sref="covenant.representations">
                                    <span>
                                        <i class="fa fa-tachometer"></i>
                                    </span>
                                <label>Representations Warranties</label>
                            </a>
                        </li>
                        <li ui-sref-active="in">
                            <a ui-sref="covenant.events">
                                    <span>
                                        <i class="fa fa-tachometer"></i>
                                    </span>
                                <label>Events Of Defaults</label>
                            </a>
                        </li>
                       <!-- <li ui-sref-active="in">
                            <a ui-sref="adm.operating-currency">
                                    <span>
                                        <i class="fa fa-dollar"></i>
                                    </span>
                                <label>Operating Currency</label>
                            </a>
                        </li>-->


                    </ul>
                </li>




                <li ng-class="{in: $state.includes('knowledge-management')}">
                    <a ui-sref="knowledge-management.knowledge-dashboard">
                                    <span>
                                        <i class="fa fa-lightbulb-o"></i>
                                    </span>
                        <label>Knowledge Management</label>
                    </a>
                </li>


                <li ng-class="{in: $state.includes('collateral')}">
                    <a ui-sref="collateral.collateral-list">
                                    <span>
                                        <i class="fa fa-exclamation-triangle"></i>
                                    </span>
                        <label>Collateral</label>
                    </a>
                </li>
                <li ng-class="{in: $state.includes('operating-currency')}">
                    <a ui-sref="operating-currency.tab.primary-currency">
                                    <span>
                                        <i class="fa fa-dollar"></i>
                                    </span>
                        <label>Operating Currrency</label>
                    </a>
                </li>
                <li ng-class="{in: $state.includes('roles')}">
                    <a ui-sref="roles.roles-management">
                            <span>
                                <i class="fa fa-users"></i>
                            </span>
                        <label> Roles Management</label>
                    </a>
                </li>
            </ul>
            <ul id="menu" remove-submenu ng-if="user_role_id=='3'">

                <!--<li>-->
                <!--<a ui-sref="app.admin-manage" active-link="in">-->
                <!--<span>-->
                <!--<i class="fa fa-tasks"></i>-->
                <!--</span>-->
                <!--<label> Manage</label>-->
                <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a ui-sref="app.admin-moniter" active-link="in" >-->
                <!--<span>-->
                <!--<i class="fa fa-eye"></i>-->
                <!--</span>-->
                <!--<label> Moniter</label>-->
                <!--</a>-->
                <!--</li>-->

                <li ng-class="{in: $state.includes('contact')}">
                    <a ui-sref="contact.contact-dashboard" id="contact">
						<span>
							<i class="fa fa-book"></i>
						</span>
                        <label>Contacts</label>
                    </a>

                </li>

                <li ng-class="{in: $state.includes('company')}">
                    <a ui-sref="company.company-dashboard" id="company">
						<span>
							<i class="fa fa-university"></i>
						</span>
                        <label> Company</label>
                    </a>
                </li>
                <li ng-class="{in: $state.includes('project')}">
                    <a ui-sref="project.project-dashboard" id="project">
						<span>
							<i class="fa fa-folder-open"></i>
						</span>
                        <label>Project</label>
                    </a>
                </li>
                <li ng-class="{in: $state.includes('knowledge-management')}">
                    <a ui-sref="knowledge-management.knowledge-dashboard">
                                <span>
                                    <i class="fa fa-lightbulb-o"></i>
                                </span>
                        <label>Knowledge Management</label>
                    </a>
                </li>
                <li ui-sref-active="in">
                    <a ui-sref="deligence.pre-due-deligence">
                                    <span>
                                        <i class="fa fa-money"></i>
                                    </span>
                        <label>Pre Due Deligence</label>
                    </a>
                </li>
                <li ui-sref-active="in">
                    <a ui-sref="deligence.deligence">
                                    <span>
                                        <i class="fa fa-briefcase"></i>
                                    </span>
                        <label>Deligence</label>
                    </a>
                </li>
                <li ng-class="{in: $state.includes('crm-collateral')}">
                    <a ui-sref="crm-collateral.collateral-dashboard">
                                    <span>
                                        <i class="fa fa-exclamation-triangle"></i>
                                    </span>
                        <label>Collateral</label>
                    </a>
                </li>
                <li ng-class="{in: $state.includes('loan')}">
                    <a ui-sref="loan.loan-monitoring">
                                    <span>
                                        <i class="fa fa-line-chart"></i>
                                    </span>
                        <label>Loan Monitoring</label>
                    </a>
                </li>


                <!--<li>-->
                <!--<a ui-sref="app.project-mapping" active-link="in" >-->
                <!--<span>-->
                <!--<i class="fa fa-link"></i>-->
                <!--</span>-->
                <!--<label> Project Mapping</label>-->
                <!--</a>-->
                <!--</li>-->

            </ul>
        </div>
        <footer>
            <p class="text-line">All Rights Reserved. Q-Lana &copy; 2015</p>
        </footer>
    </div><!--Left Menu _End-->
    <div id="loader" class="content-area" ng-class="(loaderOverlay==true) ? 'page-overlay':'loader'" show-during-resolve
         http-response>
        <img id="loader-img" src="images/ajax-loader.gif" width="128" height="15" alt="LOADING...">
    </div>
    <div ui-view></div>
</section>

<!--<footer>
    <p class="display-inline-block pull-left">All Rights Reserved. Q-Lana &copy; 2015</p>
    <p class="display-inline-block pull-right">
        <a>Privacy</a>
        <a>About Us</a>
        <a>Terms</a>
        <a>Send Feedback</a>
    </p>
</footer>-->
</div>

