<nav ng-if="numPages >= 2">
    <ul class="pagination">
        <li class="first"><a ng-click="selectPage(1)"></a></li>
        <li class="previous"><a ng-click="selectPage(currentPage - 1)"></a></li>
        <li class="input-pagination"> Page<page-select></page-select> of {{numPages}} </li>
        <li class="next"><a ng-click="selectPage(currentPage + 1)"></a></li>
        <li class="last"><a ng-click="selectPage(numPages)"></a></li>
    </ul>
</nav>
