<div class="login-wrap login-wrap-new"></div>
<div id="loader" class="login-loader" show-during-resolve http-response>
    <img id="loader-img" src="images/ajax-loader.gif" width="128" height="15" alt="LOADING...">
</div>
<!--<div class="login-wrap-content">
    <div class="login-head clearfix">
        <h1 class="condensed pull-left">Login Form</h1>
    </div>
    <div class="clearfix login-details">
        <div class="pull-left">
            <img src="images/login-logo.jpg" />
        </div>
        <div class="pull-right">
            <form class="form-horizontal form-bordered" name="loginForm" ng-submit="submitForm(user)" novalidate>
                <div class="row clearfix">
                    <div class="form-group col-lg-12 clearfix form-group-custom relative">
                        <div class="col-sm-12">
                            <input type="email" class="form-control" placeholder="Email" ng-model="user.email_id" name="email_id" >
                            <span class="fa fa-user auto-gen"></span>
                        </div>
                    </div>
                    <div class="form-group col-lg-12 clearfix form-group-custom">
                        <div class="col-sm-12">
                            <input type="password" class="form-control" placeholder="Password" ng-model="user.password" name="password">
                            <span class="fa-lock fa auto-gen"></span>
                        </div>
                    </div>
                </div>
                <div class="text-left btn-custom">
                    <button class="btn-primary btn condensed" ng-disabled="loginForm.$invalid">Sign In</button>
                    <a class="condensed" href="#/forgot-password">Forgot Password ?</a>
                </div>
            </form>
        </div>
    </div>
</div>-->

<div class="login-section">

    <div class="login-header">
        <div class="fixed-wrap">
            <a href="javascript:;">
                <!--<img src="images/logo-eadb.png" />-->
                <img src="images/access_logo.PNG" />
            </a>
        </div>
    </div>
    <div class="login-content">
        <div class="fixed-wrap">
            <div class="login-content-wrap">
                <h1>Lake Turkana Wind Energy Project - Kenya</h1>
                <h2 class="text-uppercase pl10 f18 mb10 white-color">The Government of the Republic of Kenya</h2>
                    <div class="pl10">
                        <p class="f14 mb5">Earlier this month, EADB said a €623m Kenyan wind energy project it is co-financing will expand power distributed via that country’s national grid by one fifth.</p>
                        <p class="f14"> The EADB said the loan signing for the ‘Lake Turkana Window Power Project’, which took place last March, represented the “largest private investment in the country’s history”. The project includes building 365 wind turbines and adding an estimated 42 kilometers of transmission lines to connect and supply power to the national grid. The facility is expected to start generating energy in early 2016 and add around 300 megawatts electric output to Kenya’s overall generating capacity.</p>
                        <a href="http://eadb.org/project/lake-turkana-wind-energy-project/"  target="_blank" class="btn btn-dark ml10 mt10 white-color f12 border-none"> Read More</a>
                    </div>
                </div>
            <div class="form-wrapper">
                <div class="signin-wrapper">
                    <div class="form-header">
                        <h3 class="text-uppercase">Sign In</h3>
                    </div>
                    <div class="form-content">
                        <form name="loginForm" ng-submit="submitForm(user)" novalidate>
                            <div class="form-group mb10 relative">
                                <label class="f14 darkcolor">User Name</label>
                                <div class="">
                                    <input type="email" class="form-control" ng-model="user.email_id" name="email_id">

                                </div>
                            </div>
                            <div class="form-group mb10">
                                <label class="f14 darkcolor">Password</label>
                                <div class="">
                                    <input type="password" class="form-control" ng-model="user.password" name="password">
                                </div>
                            </div>
                            <div class="form-group clearfix rem-wrap">
                                <!--<label class="darkcolor f14"><input type="checkbox" class="mr4"> Remember Me</label>-->
                                <a href="javascript:;" class="f14 sky-blue forgot-pwd"> Forgot Password?</a>
                            </div>
                            <div class="text-center btn-wrapper pb20">
                                <button type="submit" class="btn btn-dark  white-color f15 mr8" ng-disabled="loginForm.$invalid">Sign In</button>
                                <button type="reset" class="btn white-color f15 lt-bg">Cancel</button>
                            </div>

                            <!--<div class="s-wrapper">
                                <h4 class="text-center f16 darkcolor bold mt20 mb20">OR</h4>
                                <a href="javascript:;"><i class="gplus-icon"></i> Sign In with Google</a>
                            </div>-->
                            <div class="l-wraper text-center">
                                <p class="f12">Powered By</p>
                                <!--<a href="http://www.thresholdsoft.com/" class="mr15" target="_blank"><img src="images/Threshold-Logo.png"> </a>
                                <a href="http://www.lfs-consulting.de/" target="_blank"><img src="images/lfs_logo.png"> </a>-->
                                <a href="javascript:;"><img src="images/login-logo.jpg"></a>
                            </div>
                        </form>
                    </div>
                    <div class="form-footer">
                        <h5 class="text-uppercase"></h5>
                    </div>
                </div>
                <div class="forgot-pwd-wrap clearfix">
                    <a class="cancel-btn pull-right p10" href="javascript:;"><i class="icon-times f16"></i> </a>
                    <div class="form-header">
                        <h3 class="text-uppercase">Forgot Password</h3>
                    </div>
                    <div class="form-content">
                        <form name="forgotPasswordForm" novalidate>
                            <div class="form-group mb10">
                                <label class="f14 darkcolor">Enter Your Email</label>
                                <div class="">
                                    <input type="email" class="form-control" ng-model="data.emailId" name="emailId">
                                </div>
                            </div>
                            <div class="text-center btn-wrapper pb20">
                                <button type="submit" class="btn btn-dark  white-color f15 mr8" ng-disabled="forgotPasswordForm.$invalid" ng-click="send(data)">Send</button>
                                <button type="reset" class="btn white-color cancel-btn f15 lt-bg">Cancel</button>
                            </div>

                            <!--<div class="s-wrapper">
                                <h4 class="text-center f16 darkcolor bold mt20 mb20">OR</h4>
                                <a href="javascript:;"><i class="gplus-icon"></i> Sign In with Google</a>
                            </div>-->
                            <div class="l-wraper mt35 text-center">
                                <p class="f12">Powered By</p>
                                <a href="http://www.thresholdsoft.com/" class="mr15" target="_blank"><img src="images/Threshold-Logo.png"> </a>
                                <a href="http://www.lfs-consulting.de/" target="_blank"><img src="images/lfs_logo.png"> </a>
                            </div>
                        </form>
                    </div>
                    <div class="form-footer">
                        <h5 class="text-uppercase"></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="login-footer">
        <div class="fixed-wrap">
            <ul>
                <li>
                    <a href="javascript:;">Home</a>
                </li>
                <li>
                    <a href="javascript:;">Resellerbin</a>
                </li>
                <li>
                    <a href="javascript:;">Features</a>
                </li>
                <li>
                    <a href="javascript:;">Membership</a>
                </li>
                <li>
                    <a href="javascript:;">Join Us</a>
                </li>
                <li>
                    <a href="javascript:;">Partners</a>
                </li>
                <li>
                    <a href="javascript:;">Contact Us</a>
                </li>
            </ul>
        </div>

    </div>-->

</div>
