<h3 class="fixed content-heading">My profile
      <!--<span class="button-set">
        <a href="#" title="Options"><i class="fa fa-ellipsis-v"></i></a>
      </span>-->
</h3>
<div class="content-area animated fadeInRight" id="contentArea">

<div class="content-container light-blue-bg">
<div class="details-container light-blue-bg ">
    <div class="admin-details-wrap">
        <div class="base-details mb15">
            <img ngf-thumbnail="userDetails.profile_image || 'images/default-user.png'" alt="admin" class="small-rounded-image  img-circle" />
            <div class="relative t10 lh14">
            <p class="f13 darkcolor bold text-capitalize">{{ userDetails.first_name }} {{ userDetails.last_name }}</p>
            <label class="f12 gray">{{ userDetails.role }}</label>
            </div>
        </div>
        <div class="btn-custom">
            <button class="btn btn-default f14  btn-sm" ng-click="open()">Change Password</button>
        </div>
        <label class="label-text">Email</label>
        <p class="label-info mb20">{{ userDetails.email_id }}</p>
        <label class="label-text">Phone</label>
        <p class="label-info mb20">+1 {{ userDetails.phone_number }}</p>
        <label class="label-text">Address</label>
        <!--<p class="label-info mb20">The Hongkong and Shanghai Banking Corporation Limited, Private Banking Department, 2nd floor 7, Mahatma Gandhi Road, Bangalore - 560 001</p>-->
        <p class="label-info mb20">{{ userDetails.address }}</p>
    </div>
</div>
<div class="details-tabs pt20 mb20">
<ul id="projectTabs" class="custom-tabs equal-five orange-list">
    <li class="active">
        <a data-select="tab1" data-tag="tab" tab-data>Messages
            <p class="orange">25</p>
        </a>
    </li>
    <li>
        <a data-select="tab2" data-tag="tab">Login History
            <p class="orange">23,Nov,2015</p>
        </a>
    </li>
</ul>
<div data-area="tab" class="white-bg overflow-hidden p10">

<div id="tab1" class="" data-content="tab" style="display: block;">
    <div class="p10">
        <!--<div class="clearfix mb15 prl10">
            <div class="pull-left profile-icons">
                <h2 class="f14 text-uppercase display-inline-block mr8 cursor-pointer">All</h2>
                <ul class="profile-icons display-inline-block">
                    <li><a href="javascript:;" class="fa fa-exclamation-triangle red-symbol cmn-style"></a></li>
                    <li><a href="javascript:;" class="fa fa fa-file-audio-o green-symbol cmn-style"></a></li>
                    <li><a href="javascript:;" class="fa fa-wrench blue-symbol cmn-style"></a></li>
                    <li><a href="javascript:;" class="fa fa-star-o gray-symbol cmn-style"></a></li>
                    <li><a href="javascript:;" class="fa fa-exchange purple-symbol cmn-style"></a></li>
                </ul>
            </div>
            <div class="pull-right">
                <h1 class="f14 text-uppercase display-inline-block mr8">total:</h1>
                <ul class="requests display-inline-block">
                    <li><a href="javascript:;">Requests (22) </a></li>
                    <li><a href="javascript:;">New (2) </a></li>
                    <li><a href="javascript:;">Open (20) </a></li>
                </ul>
            </div>
        </div>-->
        <table class="table mb0 table-striped border-none table-hover display table-style" st-pipe="callServerNotification" st-table="displayed">
            <thead>
            <thead>
            <tr>
                <th> </th>
                <th>Date</th>
                <th>Description</th>
                <th>Sender</th>
                <th>Type</th>
                <th> </th>
            </tr>
            </thead>
            <tbody ng-show="!isLoading">
            <tr ng-repeat="row in notification">
                <td><a href="javascript:;" class="fa fa-exclamation-triangle red-symbol cmn-style"></a></td>
                <td> {{ row.date | date:'mediumDate' }} </td>
                <td data-ng-bind-html="row.notification_template"></td>
                <td>{{ row.from_user }}</td>
                <td>{{ row.notification_type }}</td>
                <td><a class="others-menu mt5" href="javascript:;"> <img alt="others-image" src="images/others.png"> </a> </td>
            </tr>
            </tbody>
            <tbody ng-show="isLoading">
            <tr>
                <td colspan="4" class="text-center">Loading ... </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="6" class="text-center">
                    <div st-items-by-page="10" st-pagination="" st-template="partials/pagination.custom.html" class="pull-right"></div>
                </td>
            </tr>
            </tfoot>
        </table>

    </div>
</div>

<div id="tab2" class="" data-content="tab" style="display: none;">
    <div class="p10 p-b-0">
        <table class="table mb0 table-striped border-none table-hover display table-style" st-pipe="callServer" st-table="displayed">
            <thead>
            <thead>
            <tr>
                <th>User</th>
                <th>Date</th>
                <th>Client Browser</th>
                <th width="15%">Client IP</th>
                <!--<th>No. of Hours</th>-->
            </tr>
            </thead>
            <tbody ng-show="!isLoading">
            <tr ng-repeat="row in displayed">
                <td>{{row.name}}</td>
                <td>{{row.created_at}}</td>
                <td>{{row.client_browser}}</td>
                <td>{{row.client_remote_address}}</td>
            </tr>
            </tbody>
            <tbody ng-show="isLoading">
            <tr>
                <td colspan="4" class="text-center">Loading ... </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="6" class="text-center">
                    <div st-items-by-page="10" st-pagination="" st-template="partials/pagination.custom.html" class="pull-right"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
</div>
</div>
</div>
</div>
