<div class="right-modal modal-custom overflow-x-visible" data-modal="addAssessment">
    <h3 class="right-modal-head">
        {{title}}
        <a class="close-right pull-right" ng-click="cancel()"><img src="images/close.png"></a>
    </h3>
    <form class="form-bordered" name="form" ng-submit="save(category,form)" novalidate>

        <div class="form-group clearfix p10  form-group-custom white-bg m0">
            <div class="col-sm-12">
                <label class="darkcolor f14">Category Name</label>

                <div class="form-group clearfix form-group-custom">
                    <input type="text" name="assessment_question_category_name"
                           data-ng-model="category.assessment_question_category_name" class="form-control "
                           placeholder="Type your Category Name" required/>
                    <div ng-if="form.assessment_question_category_name.$error.required && submitted"
                         class="error-message">This field is required
                    </div>
                </div>
            </div>

            <div class="col-sm-12" ng-init="sector_all = (category.sector_id==0)?true:false">
                <label class="darkcolor f14">All Sector</label>
                <input type="checkbox" ng-model="sector_all" ng-checked="category.sector_id==0" ng-change="category.sector_id=0"/>
            </div>
            <div class="col-sm-12" ng-if="!sector_all">
                <label class="darkcolor f14">Sector</label>

                <div class="form-group clearfix form-group-custom">
                    <select multiple chosen class="chosen-select" name="sector_id"
                            data-placeholder="Please Select Sector"
                            ng-model="category.sector_id"
                            ng-options="option.id_sector as option.sector_name for option in sectorsList" required>
                    </select>
                    <div ng-if="form.sector_id.$error.required && submitted"
                         class="error-message">This field is required
                    </div>
                </div>
            </div>


            <div class="col-sm-12 mt10 mb10 text-center">
                <button type="submit" class="blue-btn"
                        ng-click="submitted=true;form.$valid;">Save
                </button>
                <button type="button" class="light-btn" ng-click="cancel()">
                    Cancel
                </button>
            </div>
        </div>
    </form>
</div>