<div class="right-modal modal-custom">
<div class="question-wrap col-sm-12 white-bg p0">
    <div class="col-sm-12 col-lg-12 clearfix">

            <h3 class="f16 darkcolor pt10 pb15 mb15 overflow-hidden bold right-modal-head clearfix">
                <!--<i class="icon-right-circle valign-middle f18 mr10"></i>-->
               <!-- <ANY ng-switch="question.question_type">
                    <ANY ng-switch-when="text"><i class="icon-input-text light-color valign-middle f18 mr10"></i> Text</ANY>
                    <ANY ng-switch-when="date"><i class="icon-calendar1 light-color valign-middle f18 mr10"></i> Date Picker</ANY>
                    <ANY ng-switch-when="textarea"><i class="icon-short-text light-color valign-middle f18 mr10"></i> Text Editer</ANY>
                    <ANY ng-switch-when="radio"><i class="icon-yes-no light-color valign-middle f18 mr10"></i> Yes / NO</ANY>
                    <ANY ng-switch-when="dropdown"><i class="icon-list light-color valign-middle f18 mr10"></i> DropDown</ANY>
                    <ANY ng-switch-when="file"><i class="icon-cloud-export light-color valign-middle f18 mr10"></i> File</ANY>
                    <ANY ng-switch-when="checkbox"><i class="icon-right-circle light-color valign-middle f18 mr10"></i> checkbox</ANY>
                    <ANY ng-switch-default></ANY>
                </ANY>-->

                <span ng-if="!question.id_assessment_question">Add Question</span>
                <span ng-if="question.id_assessment_question">Edit Question</span>
                <a class=" close-right pull-right" href="javascript:;" ng-click="cancel()">
                    <img src="images/close.png">
                </a>

            </h3>

        <form class="form-bordered" name="form" ng-submit="form.$valid && save(question,form)" novalidate>
            <div class="col-sm-12 clearfix mb15">
                <label class="f14 darkcolor">Select Category</label>
                <div class="width220 display-inline-block">
                    <select class="form-control   ml15" ng-model="question.assessment_question_category_id"
                            ng-options="option.id_assessment_question_category as option.assessment_question_category_name for option in categoryList" required>
                        <option value="">--Select Category--</option>
                    </select>
                    <div ng-show="!question.assessment_question_category_id && submitted" class="error-message plr15">Required</div>
                </div>

            </div>
            <div class="col-sm-12 clearfix mt5">
                <p class="darkcolor f14">Question Title</p>
                <div class="form-group mb0 clearfix form-group-custom min-height77">
                    <textarea name="assessment_question"
                              ng-model="question.assessment_question"
                              class="width-full p10 f12 min-height70" placeholder="Enter your question here" required></textarea>
                    <div ng-if="form.assessment_question.$error.required && submitted" class="error-message bottom-10">Required</div>

                </div>
            </div>

            <div class="col-sm-12 clearfix mtb10">
                <label class="f14 darkcolor mr20">Question Type</label>
                <div class="width220 display-inline-block">
                    <select  class="form-control" data-ng-model="question.question_type" required ng-disabled = "true">
                        <option value="text">Text</option>
                        <option value="textarea">Textarea</option>
                        <option value="radio">Radio</option>
                        <option value="dropdown">Dropdown</option>
                        <option value="checkbox">Checkbox</option>
                        <option value="file">file</option>
                        <option value="date">Date </option>
                    </select>
                    <div ng-if="!question.question_type && submitted" class="error-message">Required</div>
                </div>
            </div>
            <div class="col-sm-12 border-bottom pb15" ng-if="showAddOptions(question)">
                <h3 class="f15 darkcolor pt10 pb5 overflow-hidden  text-uppercase acc-heading clearfix">Choices</h3>

                <div class="choice-wrap mb10" ng-repeat="option in question.question_option">
                    <label class="dark-blue mr4">{{$index+1}}</label>
                    <div class="width220 display-inline-block valign-middle relative">
                        <input dynamic-name="option.option_name" type="text" class="form-control" ng-model="option.option_title"
                               placeholder="Option {{$index+1}}"
                               value="{{option.option_title}}" required>
                        <div ng-if="!option.option_title && submitted" class="error-message">Required</div>
                    </div>



                    <a href="javascript:;" ng-click="deleteOption(question, option)" ng-show="$index!=0"><i
                            class="icon-minus-circle red f21"></i></a>
                    <a href="javascript:;" ng-click="addOption(question)"
                       ng-show="($index+1)==question.question_option.length"><i
                            class="icon-plus-circle green f21"></i></a>
                </div>

            </div>
            <div class="col-sm-12">
                <h3 class="f15 darkcolor ptb10 overflow-hidden  text-uppercase acc-heading clearfix">Settings</h3>
                <div class="switch-view">
                    <div class="mb10">
                        <h5 class="f14 darkcolor display-inline-block">
                            <a href="javascript:;"><i class="fa fa-question-circle darkcolor  mr10"></i></a>
                            This Question is Required
                        </h5>
                        <div class="onoffswitch pull-right">
                            <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="question.required"
                                   name="onoffswitch_toggle" class="onoffswitch-checkbox" id="setting1">
                            <label class="onoffswitch-label assessment-switch" for="setting1">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-12 text-left mtb25 p0">
                        <button type="submit" class="blue-btn"
                                ng-click="submitted=true;">Save
                        </button>
                        <button type="button" class="light-btn" ng-click="cancel()">
                            Cancel
                        </button>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <!--<div class="col-sm-5 col-lg-6 clearfix">
        <div class="p8 clearfix"><a class="f21 darkcolor  pull-right" href="javascript:;" ng-click="cancel()"><i
                class="icon-times"></i> </a></div>
        <div class="q-wrap" ng-if="question.assessment_question == null">
            <div class="preview-wrap">Question Preview</div>
        </div>
        <div class="q-wrap" ng-if="question.assessment_question != null">
            <div class="darkcolor f15 clearfix">
                <h3 class="ash mb10 f15">Question Preview</h3>
                <em ng-show="question.required" class="red mr10 display-inline-block pull-left">*</em>
                <any class="width90 pull-left f15 overflow-hidden " data-ng-bind-html="question.assessment_question"></any>
            </div>
            <div class="clearfix">
                <ul class="radio-list plr15 mt5"
                    ng-if="question.question_type=='radio'|| question.question_type=='checkbox'">
                    <li class="darkcolor form-group f14 border-none pad0 mb3"
                        ng-repeat="option in question.question_option">
                        <input class="mr4" type="{{question.question_type}}" name="radio"
                               ng-model="option.option_value"> {{option.option_title}}
                    </li>
                </ul>
                <div class="radio-list mt5" ng-if="question.question_type=='dropdown'">
                    <select class="form-control width220" ng-model="question.question_value">
                        <option ng-repeat="option in question.question_option"
                                value="{{option.option_id}}">
                            {{option.option_title}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>-->
</div>
</div>

