<div id="tab5" class="" data-content="tab">


        <table class="table mb0 table-striped table-bordered table-hover display table-style" st-pipe="callServer" st-table="branchList">
            <thead>
            <tr>
                <th>Legal Name</th>
                <th>Branch Type</th>
                <th>Code</th>
                <th>No.of Users</th>
            </tr>
            </thead>
            <tbody ng-show="!isLoading">
            <tr ng-repeat="row in branchList">
                <td>{{row.legal_name}}</td>
                <td>{{row.branch_type_name}}</td>
                <td>{{row.branch_code}}</td>
                <td>{{row.branch_users}}</td>
            </tr>
            </tbody>
            <tbody ng-show="isLoading">
            <tr>
                <td colspan="4" class="text-center">Loading ...</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-items-by-page="10" st-pagination="" st-template="partials/pagination.custom.html" class="pull-right"></div>
                </td>
            </tr>
            </tfoot>
        </table>



</div>