<div id="tab1" class="" data-content="tab" >
    <div class="col-sm-12 clearfix clearboth p0">
        <h3 class="heading-small-lined">Plan Info
            <!--<div class="toggle toggle-danger" toggle-checkbox></div>-->

            <div class="onoffswitch  ml10 -mt8 pull-right">
                <input type="checkbox"  name="onoffswitch_toggle" class="onoffswitch-checkbox" id="toggle-switch">
                <label class="onoffswitch-label" for="toggle-switch">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
            <label class="pull-right f12 pr10 -mt2">Active </label>
        </h3>
        <div class="col-sm-12 clearfix clearboth">
            <div class="col-sm-3">
                <label class="label-text">Package</label>
                <p class="label-info">Gold</p>
            </div>
            <div class="col-sm-3">
                <label class="label-text">Expired On</label>
                <p class="label-info">20 December, 2020</p>
            </div>
            <div class="col-sm-3">
                <label class="label-text">Created On</label>
                <p class="label-info">25 December, 2014</p>
            </div>
            <div class="col-sm-3">
                <label class="label-text display-block">Remaining Days</label>
                <p class="label-info red-btn">1354 Days</p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 clearfix clearboth p0">
        <h3 class="heading-small-lined mt20">Login Track

            <select class="heading-dd pull-right">
                <option value="">--Select--</option>
                <option value="1" selected>November</option>
                <option value="2">December</option>
            </select>

            <label class="pull-right f12 pr10 -mt2">
                <i class="fa fa-square orange"></i> User 1
                &nbsp;&nbsp;
                <i class="fa fa-square blue"></i> User 2
            </label>
        </h3>
        <div class="col-sm-12 clearfix clearboth">
            <img ng-src="images/login-track.jpg" style="width: 100%" class="img-responsive" alt="login-track" />
        </div>
    </div>
    <div class="col-sm-12 clearfix clearboth p0">
        <div class="col-sm-6 pl0">
            <h3 class="heading-small-lined mt20">Loan Info</h3>
            <img ng-src="images/loan-info-chart.jpg" class="img-responsive" alt="loan-info" />
        </div>
        <div class="col-sm-6 pr0">
            <h3 class="heading-small-lined mt20">Requests</h3>
            <img ng-src="images/request-chart.jpg" class="img-responsive" alt="request" />
        </div>
    </div>
</div>