<div id="tab3" data-content="tab">



        <table class="table table-striped mb0 table-bordered table-hover display table-style" st-pipe="callServer" st-table="userList">
            <thead>
            <tr>
                <th st-sort="first_name">User</th>
                <th>Details</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody ng-show="!isLoading">
            <tr ng-repeat="row in userList">


                <td class="text-capitalize"><img class="mr8 maxhw40" ng-src="{{row.profile_image}}"/>{{row.first_name}} {{row.last_name}}</td>
                <td> {{row.role_name}}
                    <ul class="legend-list">
                        <li>PH: {{row.phone_number}}</li>
                        <li>{{row.email_id}}</li>
                    </ul>
                </td>
                <td>
                    <span class="gray">{{row.created_date_time}} |</span>
                    <span class="text-uppercase bold" ng-class="row.user_status=='1'?'green':'red'"><span ng-if="row.user_status=='1'">Active</span>
                    <span ng-if="row.user_status != '1'">Inactive</span></span>
                </td>


            </tr>
            </tbody>
            <tbody ng-show="isLoading">
            <tr>
                <td colspan="4" class="text-center">Loading ...</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-items-by-page="10" st-pagination="" st-template="partials/pagination.custom.html" class="pull-right"></div>
                </td>
            </tr>
            </tfoot>
        </table>




</div>