<div class="right-modal modal-custom" data-modal="addedcompanies">
    <h3 class="right-modal-head">
        <i class="fa fa-companies"></i> Companies
        <a class="close-right pull-right" ng-click="cancel()"><img src="images/close.png"></a>
    </h3>

    <form class="form-horizontal form-bordered" name="form" novalidate>
        <div class="clearfix">
            <div class="col-sm-12 p0 attachment-list">
                <div class="p15 bg-box" ng-if="permission.companies_add">
                    <div class="mapping-search">
                        <!--<input type="text" class="form-control" placeholder="Search Companies" style="padding: 8px;">
                        <span class="input-group-addon cursor-pointer"><i class="fa fa-search"></i> </span>-->

                        <input class="form-control" style="padding: 8px;"
                               placeholder="Search Companies"
                               type="text" ng-model="asyncSelected"
                               typeahead-on-select="onSelect($item, $model, $label)"
                               uib-typeahead="contacts as contacts.company_name for contacts in getCompanyList($viewValue)"
                               typeahead-template-url="companyListTemplate.html"
                               typeahead-loading="loadingContacts"
                               typeahead-no-results="noResults">
                        <i class="fa  fa-search icon-search f16 pt2 darkblue"></i>
                        <a data-ng-click="addCompany()" data-ng-show="visibleAddButton" class="go"><i
                                class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-sm-12 mb10 bg-box" data-ng-if="visibleDesignationDropDown">
                    <div class="col-sm-6 p-l-0">
                        <div class="col-sm-2 p0 text-img">
                            <span first-alpha="{{selectedItem.company_name}}"></span>
                        </div>
                        <div class="col-sm-10 p-l-0">
                            <p class="f14 bold p-l-0">{{ selectedItem.company_name }}</p>
                            <a class="display-block p-l-0 f12 sky-blue" href="mailto:{{ selectedItem.email }}">{{
                                selectedItem.email }}</a>
                            <div class="col-sm-12 p-l-0 mb0 form-group clearfix form-group-custom">
                                <input type="checkbox" class="mr4" name="is_primary_company" ng-model="designationForm.is_primary_company"><label class="display-inline-block valign-top">Is
                                Primary</label>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6  p-r-0">
                        <div id="designation"><label class="label-text">Designation*</label>

                            <div class="form-group clearfix form-group-custom">
                                <select class="form-control" name="designation_name"
                                        ng-model="designationForm.id_crm_company_designation" required>
                                    <option value="">--Select Designation--</option>
                                    <option ng-repeat="designation in companyDesignations"
                                            ng-value="designation.id_crm_company_designation">
                                        {{designation.designation_name}}
                                    </option>
                                </select>
                                <div ng-if="form.designation_name.$error.required && submitStatus" class="error-message">Select Designation.</div>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-12  text-center mt10">
                        <button class="btn btn-primary border-none btn-dark f12 mr4" ng-click="save(designationForm,form)"> <i class="fa fa-plus-circle"></i> Add</button>
                        <button class="btn btn-primary f12 border-none lt-bg" ng-click="cancelAssign()">Cancel</button>
                    </div>
                </div>

                <div class="list-header col-sm-12 mt15 clearfix pb5">
                    <h4 class="text-uppercase dark-blue f14">Assigned Companies</h4>
                </div>
                <div class="list-table col-sm-12 companies-list">
                    <ul class="list-items">
                        <li class="clearfix border mb3" ng-repeat="row in selectedCompanyList">
                            <a target="_blank" ui-sref="company.company-creation({id:(row.id_crm_company | decode)})">
                            <div class="col-sm-1 text-img">
                                    <span first-alpha="{{row.company_name}}"></span>
                            </div>
                            </a>
                            <div class="col-sm-1 text-center"><span ng-if="row.is_primary_company==1"><i class="fa fa-star red"></i></span></div>
                            <div class="col-sm-3">
                                <p class="f14"><a class="darkcolor" target="_blank" ui-sref="company.company-creation({id:(row.id_crm_company | decode)})">{{ row.company_name }}</a></p>
                                <a class="display-block text-line f12 sky-blue" href="mailto:{{ row.email }}">{{ row.email }}</a>
                                <!--<a class="display-block f12 sky-blue" href="javascript:;">Sanfransisco Pvt.Ltd</a>-->
                            </div>
                            <div class="col-sm-3 text-center">
                                <p class="f12 gray">{{ row.phone_number }} </p>
                            </div>
                            <div class="col-sm-2 map-chart text-center">
                                <span class="chart" easypiechart percent="row.percentage" options="anotherOptions">
                                <span class="percent" ng-bind="row.percentage"></span>
                            </span>
                            </div>
                            <!--<div class="col-sm-1 text-center">-->
                                <a ng-if="permission.companies_add" href="javascript:;" class="pull-right mr15 mt15" ng-click="removeContactCompany(row.id_crm_company_contact)"><img class="h13" src="images/close.png"> </a>
                           <!-- </div>-->
                        </li>
                    </ul>
                    <div class="text-center f12" ng-if="companyList.length == 0">
                        No companies found
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>


<script type="text/ng-template" id="companyListTemplate.html">
    <a>
        <div class="list-item p5 clearfix">
            <div class="list-desc col-sm-8">
                <p class="list-item-title blue">{{match.model.company_name}}</p>
            </div>
        </div>
    </a>
</script>