<h3 class="fixed content-heading">View Contact
    <div class="pull-right button-set">
<!--        <a uib-tooltip="Touchpoints" modal="touchpoints" ng-click="touchpointsModal()"><i class="fa fa-touchpoint"></i>
        </a>
        <span ng-hide="companyContactsDetails.crm_contact_type_id == '1'">
        <a uib-tooltip="Companies" modal="addedcompanies" ng-click="AddedCompaniesModal()"><i class="fa fa-company"></i>
        </a></span>&lt;!&ndash;<div ng-if="companyContactsDetails.crm_contact_type_id != '1'"></div>&ndash;&gt;
        <a uib-tooltip="Attachments" modal="attachment" ng-click="quickAttachmentModal()"><i class="fa fa-paperclip"></i>
        </a>

        &lt;!&ndash;<a ui-sref="contact.contact-creation" uib-tooltip="Add" ng-click="addNewContact()"><i class="fa fa-plus"></i></a>&ndash;&gt;
        <a uib-tooltip="Edit" ui-sref="contact.contact-creation({id:(currentContactViewId | decode )})"><i class="fa fa-pencil"></i></a>-->
        <a ui-sref="contact.contact-dashboard" uib-tooltip="Back"><i class="fa fa-close-sm"></i></a>
    </div>
</h3>
<div class="col-sm-12 fixed clearfix  z1 fixed-top full-fixed-top" ng-class="{visible:boolChangeClass}" fixed-top>
    <div class="clearfix relative details-fixed-top border-none no-bg pad0">
        <div class="col-sm-12 clearfix p0">
            <div class="page-header-wrap mt0  box-shadow clearfix">
                <div class="display-inline-block wrapper-list c-wrap-list pt10 col-sm-10 clearfix" >
                    <ul>
                        <li>
                            <img alt="User" ng-src="{{companyContactsDetails.profile_image || 'images/default-user.png'}}"
                                 class="img-circle height50">
                            {{ companyContactsDetails.first_name }} {{ companyContactsDetails.last_name }}
                        </li>
                        <li>
                            <span class="f12">Email</span>
                            <label ng-if="companyContactsDetails.email != null"
                                   class="display-block heading line-height14 md-width90 text-line"
                                   title="{{companyContactsDetails.email}}">{{companyContactsDetails.email}}</label>
                            <label ng-if="companyContactsDetails.email == null"
                                   class="display-block heading line-height14">------</label>
                        </li>
                        <li>
                            <p class="f12 word-break">Company</p>
                            <label ng-if="companyContactsDetails.company_name != null"
                                   class="display-block heading line-height14 md-width90 text-line"
                                   title="{{companyContactsDetails.company_name}}">{{companyContactsDetails.company_name}}</label>
                            <label ng-if="companyContactsDetails.company_name == null"
                                   class="display-block heading line-height14">------</label>


                        </li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
</div>


<div class="content-area animated fadeInRight" id="contentArea">

    <div class="content-container mb20 clearfix">

        <div class="col-sm-12 clearfix p0">
            <div class="page-header-wrap white-bg box-shadow clearfix relative mb15">
                <div class="col-sm-10  pt10 pb10">
                    <ul class="pheader-list pheader-fix-wrap">
                        <li>
                            <img alt="User" ng-src="{{companyContactsDetails.profile_image || 'images/default-user.png'}}"
                                 class="img-circle height50">
                            {{ companyContactsDetails.first_name }} {{ companyContactsDetails.last_name }}
                        </li>
                        <li>
                            <span class="f12">Email</span>
                            <label ng-if="companyContactsDetails.email != null"
                                   class="display-block heading line-height14 md-width90 text-line"
                                   title="{{companyContactsDetails.email}}">{{companyContactsDetails.email}}</label>
                            <label ng-if="companyContactsDetails.email == null"
                                   class="display-block heading line-height14">------</label>
                        </li>
                        <li>
                            <p class="f12 word-break">Company</p>
                            <label ng-if="companyContactsDetails.company_name != null"
                                   class="display-block heading line-height14 md-width90 text-line"
                                   title="{{companyContactsDetails.company_name}}">{{companyContactsDetails.company_name}}</label>
                            <label ng-if="companyContactsDetails.company_name == null"
                                   class="display-block heading line-height14">------</label>


                        </li>
                    </ul>
                </div>
<!--                <div class="display-inline-block pull-right relative">
                    <div class="display-inline-block pull-right relative custom-list">
                        <a class="menu-toggle dropdown-toggle mr10 mt30" data-toggle="dropdown" href="javascript:;"><i
                                class="fa fa-bars"></i></a>
                        <ul class="dropdown-menu">
                            <div ng-repeat="contactForm in companyContactsDetails" data-ng-init="$sectionIndex = $index">
                                <li ng-repeat="contactInfo in contactForm.form">
                                    <a ng-click="getFormData(contactInfo.id_form)"
                                       ng-init="$first && $sectionIndex==0 && getFormData(contactInfo.id_form)">{{
                                        contactInfo.form_name}}</a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="textinfo-block border-top col-sm-12 pb10 plr30" ng-show="infoBoxnew">
                    <label class="f12">Description</label>
                    <p class="f14 darkcolor">{{companyDescription}}</p>
                </div>
                <div class="slide-img" ng-click="infoBoxnew =!infoBoxnew"></div>
                -->
            </div>
        </div>

        <div class="col-sm-12 plr20 mt15">
         <!--   <a href="#topSection" class="fixed z9 r220 b30 go-top" style="display:none"><i class="fa fa fa-chevron-up"></i></a>

            <div class="col-sm-12 clearfix clearboth p0 white-bg box-shadow">
                <div id="topSection" class="details-container relative c-wrap pl67 col-sm-12 clearfix pb10 border-bottom">
                    <div class="absolute t0 l0">
                        <img alt="User" ng-src="{{companyContactsDetails.profile_image || 'images/default-user.png'}}"
                             class="details-user-pic img-circle">
                    </div>
                    <div class="col-sm-12 clearfix p0">
                        <div class="display-inline-block pull-right relative col-sm-1 col-lg-1 p0">
                            <div class="display-inline-block pull-right relative custom-list mt15" >
                                <a class="menu-toggle dropdown-toggle" data-toggle="dropdown" href="javascript:;"><i class="fa fa-ellipsis-v"></i>
                                </a>

                                <ul class="dropdown-menu">
                                    <div ng-repeat="contactForm in companyContactForms" data-ng-init="$sectionIndex = $index">
                                        <ul class="c-menu">
                                            <li>
                                                <a class="f14 cursor-default">{{contactForm.section_name}}</a>
                                                <ul class="pl5">
                                                    <li ng-repeat="contactInfo in contactForm.form">
                                                        <a href="javascript:;" ng-click="gotoElement(contactInfo.form_name)">{{
                                                            contactInfo.form_name
                                                            }}</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>

                                    </div>
                                </ul>
                            </div>
                        </div>
                        <div class="display-inline-block con-view col-sm-11 col-lg-7 p0 mb5">
                            <ul>
                                <li class="display-inline-block valign-top">
                                    <h3 class="darkcolor f15 mr40 text-capitalize">{{ companyContactsDetails.first_name }}</h3>

                                    <p class="gray f12">
                                        <span class="mr15 clr-blue text-line display-block">{{ companyContactsDetails.email }}</span>
                                        <span class="mr15">{{ companyContactsDetails.phone_number }}</span>
                                    </p>
                                </li>
                                <li class="display-inline-block valign-top">
                                    <p class="gray f12">
                                        <label class="display-block f13 ash">Last Updated</label>
                                        <span class="darkcolor">{{ companyContactsDetails.updated_date_time }}</span>
                                    </p>
                                </li>
                            </ul>

                        </div>
                        <div class="display-inline-block companies-view col-lg-4 col-sm-11 p0 ">
                            <ul>
                                <li ng-repeat="row in selectedCompanyList" class="display-inline-block" ng-show="$first">
                                    <div class="col-sm-12 p0">
                                        <h4 class="darkcolor f14 text-capitalize">{{ row.company_name }}</h4>
                                        <p class="text-capitalize gray f12">{{row.designation_name}}</p>
                                    </div>

                                </li>
                            </ul>
                        </div>


                        &lt;!&ndash;<a href="#" class="url mt5 f12 clearboth">{{ companyContactsDetails.company_name }}</a>&ndash;&gt;

                    </div>
                </div>
                <div ng-hide="companyContactsDetails.crm_contact_type_id == '1'" class="col-sm-12 clearfix clearboth pb10  border-bottom ">
                    <h3 class="heading pt10" id="loansHead">Loans Performance</h3>

                    <div id="loansPerformance" donut-graph style="height: 200px"></div>
                </div>
            </div>-->

            <!--Repeat this bottom section for Forms-->
            <div id="scrollArea" ng-repeat="contactForm in companyContactForms">
            <div class="col-sm-12 clearfix p0 mt20 white-bg colored-border-top4 box-shadow" ng-repeat="contactInfo in contactForm.form" id="{{contactInfo.form_name}}" >

                    <div class="form-head-wrap col-sm-12 clearfix">
                        <h3 class="heading pt10"> {{ contactInfo.form_name }}</h3>
                    </div>
                    <div class="col-sm-12 clearfix" >
                        <div class="col-sm-12 clearfix p0 mtb10">
                            <div ng-repeat="viewForm in contactInfo.field_data"  class="clearfix min-height70" ng-class="{'col-sm-12 col-lg-12 ': viewForm.field_type=='json','col-sm-4 col-lg-3 ': viewForm.field_type!='json'}">
                                <div ng-if="viewForm.field_type != 'json'">
                                    <label class="label-text">{{ viewForm.field_label }}</label>

                                    <p ng-if="viewForm.field_value != ''" class="label-info mb5 text-line">{{ viewForm.field_value }}</p>

                                    <p ng-if="viewForm.field_value == ''" class="label-info mb5">-----</p>
                                </div>
                                <div ng-if="viewForm.field_type == 'json'">
                                    <!--<div class="col-sm-12 clearfix mtb10 ptb10 excel-table">
                                        <hot-table settings="settings" datarows="viewForm.field_value" height="265">
                                        </hot-table>
                                    </div>-->
                                    <div class="col-sm-12 clearfix p0 ">
                                        <label class="label-text">{{ viewForm.field_label }}</label>
                                        <div class="">
                                            <table class="table table-view table-customise">
                                                <thead>
                                                <tr ng-repeat="(key, value) in viewForm.field_value" ng-if="$first" >
                                                    <th class="f13" ng-repeat="(chKey, chValue) in value" >{{ chKey | underscoreless }}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr  ng-repeat="(key, value) in viewForm.field_value" >
                                                    <td class="f12" ng-repeat="(cKey, cValue) in value" ><span data-ng-if="cValue != null || cValue != '' " >{{ cValue }}</span><span ng-if="cValue == null || cValue == '' " > &nbsp;</span></td>
                                                </tr>
                                                </tbody>
                                                <p ng-if="viewForm.field_value == '' || viewForm.field_value == null" class="label-info">-----</p>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
             <!--               <div ng-if="contactInfo.field_data.length == 0" class="text-center">
                                <p class="f12">No information available. Click below to update</p>
                                <span>
                                    <a uib-tooltip="Edit" class="button-round" ui-sref="contact.contact-creation({id:(currentContactViewId | decode)})"><i class="fa fa-pencil"></i></a>
                                </span>
                            </div>-->
                        </div>
                    </div>
                </div>

            </div>
            <!--Form Section With Heading-->


        </div>
        <!--Details Area _End-->

    </div>
</div>

