<h3 class="fixed content-heading">
           <span ng-if="crm_contact_id == undefined"> New  </span>
           <span ng-if="crm_contact_id != undefined"> update </span>
    Contact
        <span class="button-set">
            <!--<a class="display-block"  uib-tooltip="Information"><i class="fa fa-info-circle"></i></a>-->
            <a ui-sref="contact.contact-list({id:(currentContactViewId | decode) })" class="display-block" uib-tooltip="Back"><i class="fa fa-close-sm"></i></a>
        </span>
</h3>
<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container p20 clearfix light-blue-bg-new">
        <div class="info-box mb20 box-shadow">
            <ul>
                <li >
                    <span ng-if="contact_created_date != undefined">
                        <label class="label-text">Created On</label>
                        <p class="label-info">{{contact_created_date}}</p>
                        <!--<p class="label-info">23rd June, 2015 / 47 Days</p>-->
                    </span>
                </li>
                <li >
                    <span ng-if="first_name != undefined">
                        <label class="label-text">First Name</label>
                        <p class="label-info">{{first_name}}</p>
                        <!--<p class="label-info">23rd June, 2015 / 47 Days</p>-->
                    </span>
                </li>
                <li >
                    <span ng-if="last_name != undefined">
                        <label class="label-text">Email</label>
                        <p class="label-info">{{email}}</p>
                        <!--<p class="label-info">23rd June, 2015 / 47 Days</p>-->
                    </span>
                </li>
                <!--<li >
                    <span ng-if="gender != undefined">
                        <label class="label-text">Gender</label>
                        <p class="label-info">{{gender}}</p>
                        &lt;!&ndash;<p class="label-info">23rd June, 2015 / 47 Days</p>&ndash;&gt;
                    </span>
                </li>-->
                <li >
                    <span>
                      <label class="label-text">Contact Type</label>
                                <select class="form-control" name="contact_type" ng-model="contact_type"
                                        ng-options="contactType.id_crm_contact_type as contactType.crm_contact_type_name for contactType in contactTypes" >
                                </select>
                    </span>
                    <span class="mt5">
                        <a href="javascript:;" class="btn btn-dark f12 white-color ml5 mt20 mt5" data-ng-click="getChangeContactType(contact_type)">Update</a>
                    </span>
                </li>


                <li class="status-chart">
                    <span class="chart" easypiechart percent="percentage" options="anotherOptions">
                        <span class="percent" ng-bind="percentage"></span>
                    </span>
                </li>
            </ul>
        </div>
        <div class="left-panel pull-left c-left-panel">
            <div class="pull-left p10">
                <ul class="tab-accord-list">
                    <li ng-repeat="section in contactObj" ng-init="sectionIndex = $index">
                        <a data-tabs="#tab_{{section.id_section}}">
                            <i class="fa" class="fa" ng-class="getCheckSection(section.id_section)"  ></i>
                            <!--fa-check-circle green-->
                            <!--<i class="fa fa-exclamation-circle orange"></i>-->
                            <!--<i class="fa fa-times-circle red"></i>-->
                            {{section.section_name}}
                        </a>
                        <ul class="sub-list">
                            <li ng-class="{'active': formData.id_form==form.id_form}"  ng-repeat="form in section.form" ng-click="loadTemplate(form,section.id_section);checkFieldEdited(form)"  >
                                <div ng-if="sectionIndex==0 && $index==0" ng-init="loadTemplate(form, section.id_section)"></div>
                                <i class="fa" ng-class="getCheck(form.id_form)"></i><span class="f12">{{form.form_name}}</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--contact-left-panel-->
        </div>
        <div class="contact-right-panel c-right-panel" ng-if="formData">
            <div class="right-section-wrap">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="accordion_head clearfix p10 head-wrap-new">
                            <h1 class="f15 bold darkcolor">{{formData.form_name}}</h1>
                                    <!--<span class="pull-right">
                                    <a title="Options" href="#"><i class="fa" ng-class="getCheck(formData.id_form)"></i></a>
                                    <a href="javascript:;" data-toggle="dropdown" class="menu-toggle dropdown-toggle">
                                        <i class="fa fa-bars"></i> </a>
                                    </span>-->
                            <!--<span ng-click="opened(group, $index)">{{form.form_name}}</span>-->
                        </div>
                    </div>
                    <div class="panel-body ">
                        <div class="col-lg-12 white-bg clearfix">

                                <div ng-include="'partials/crm/contact/forms/'+formData.form_template" onload="formDetails=formData"></div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Details Area _End-->
    </div>
</div>
</div>
