<h3 class="fixed content-heading">
    Contacts
        <span class="button-set">
           <!-- <a ui-sref="contact.contact-list" class="display-block" uib-tooltip="Back"><i class="fa fa-times"></i></a>-->
        </span>
</h3>
<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg">

        <div class="right-fixed-container clearfix custom-right">
            <div class="col-sm-12 p0 mt10 clearfix clearboth">

                <div class="legend-view col-sm-12 p5 pt10 hierarchical_show" hierarchical-show>
                    <div class="col-sm-3">
                        <div class="legend-block blue-bg">
                            <i class="fa icon-mail"></i>

                            <div class="legend-label">
                                <label>
                                    No. of Contacts
                                </label>
                                <b class="f21">{{totalContactCount}}</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="legend-block light-yellow-bg">
                            <i class="fa icon-wallet-open "></i>

                            <div class="legend-label">
                                <label>
                                    Pipeline Contacts
                                </label>
                                <b class="f21">0</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="legend-block green-bg">
                            <i class="fa icon-users2"></i>

                            <div class="legend-label">
                                <label>
                                    Approved Contacts
                                </label>
                                <b class="f21">0</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="legend-block sky-blue-bg">
                            <i class="fa  icon-clipped-file"></i>

                            <div class="legend-label">
                                <label>
                                    Monitoring Contacts
                                </label>
                                <b class="f21">0</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-wrapper no-bg pt0 overflow-hidden" ng-show="permission.contact_list || permission.contact_add">
                    <table   class="table-list-view p-table table mb0 c-table-view table-striped row-pointer mt5" st-pipe="callServer" st-table="displayed">
                        <thead>
                        <tr>
                            <td colspan="7" class="pad0 border-none">
                                <div class="action-head">
                                    <div class="table-search pull-left">
                                        <input type="text" class="form-control" placeholder="Name / Phone / Email" st-search>
                                        <i class="fa icon-search"></i>
                                    </div>
                                    <!--<a class="pull-right" ng-click="filterShow=!filterShow"><i class="fa fa-filter f24 dark-blue"></i></a>

                                    <div class="filter-box clearboth" ng-show="filterShow">
                                        <h3 class="heading f14 dark-blue mb10">Filters
                                            <a class="pull-right" ng-click="filterShow=!filterShow"><img ng-src="images/icons/close.png" class="close-sm"/></a>
                                        </h3>

                                        <div class="row clearfix clearboth">
                                            <div class="col-sm-12">
                                                <label class="control-label">Contact Name</label>

                                                <div class="form-group clearfix form-group-custom">
                                                    <input type="text" class="form-control" st-search="row.first_name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>-->
                                </div>


                            </td>
                        </tr>
                       <!-- <tr class="table-head-row">
                            <th colspan="2" class="border-none">
                                Contact Name
                            </th>
                            <th class="border-none">
                                Designation
                            </th>
                            <th class="border-none">
                                Company
                            </th>
                            <th class="border-none">
                                Contact Details
                            </th>
                            <th class="border-none text-center">
                               Created By
                            </th>
                        </tr>
-->
                        </thead>

                        <tbody ng-if="companyContacts.length>0" class="hierarchical_slide" hierarchical-slide ><!--ng-click="contactView(row.id_crm_contact)"-->
                        <tr ng-click="gotoState(row)" ng-repeat="row in companyContacts">
                            <td class="img"><span first-alpha="{{row.first_name}}"></span></td>
                            <td>
                                <label class="label-text display-block">Contact Name : </label>
                                <label class="font-lato bold f13 darkcolor" title="{{row.first_name}}">{{row.first_name}}</label>
                            </td>
                            <td>
                                <label class="label-text display-block">Designation : </label>
                                <label class="font-lato bold f13 darkcolor" title="{{row.designation}}">{{row.designation}}<div ng-show="row.designation==null">---</div></label>
                            </td>
                            <td>
                                <label class="label-text display-block">Company : </label>
                                <label class="font-lato bold f13 darkcolor" title="{{row.company_name}}">{{row.company_name}}<div ng-show="row.company_name==null">---</div></label>
                            </td>
                            <td>
                                <label class="sky-blue"><span class="label-text">E-Mail : </span><span class="c-label" title="{{row.email}}">{{row.email}}</span></label>
                                <label class=""><span class="label-text">Phone : </span><span class="c-label" title="{{row.phone_number}}">{{row.phone_number}}</span></label>
                            </td>
                            <td>
                                <label><span class="label-text">Owner : </span><span class="c-label" title="{{row.username}}">{{row.username}}</span></label>
                                <label><span class="label-text">Branch : </span><span class="c-label" title="{{row.legal_name}}">{{row.legal_name}}</span></label>
                            </td>

                            <!--<td><a><i class="fa fa-ellipsis-v"></i></a></td>-->
                        </tr>
                        </tbody>
                        <tfoot ng-if="companyContacts">
                        <tr>
                            <td colspan="7" class="text-center">
                                <div st-items-by-page="10" st-pagination="" st-template="partials/list-pagination.custom.html" class="pull-right"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
            <div class="right-fixed mt20 trans-pos-top" scroll-pos >
                <div class="col-sm-12 p0 border" ng-show="permission.contact_add">
                    <h3 class="custom-head">ADD QUICK NEW CONTACT</h3>

                    <div class="form-group clearfix p10 form-group-custom white-bg m0 sm-form"><!--ng-submit="submitQuickContact(contact,form,moreFields)"-->
                        <form class="" name="form" novalidate>
                            <label class="control-label">First Name*</label>

                            <div class="form-group clearfix form-group-custom">
                                <input type="text" class="form-control" ng-model="contact.first_name" name="first_name" required>

                                <div ng-if="form.first_name.$error.required && submitted" class="error-message">Enter
                                    first
                                    name.
                                </div>
                            </div>
                            <label class="control-label">Last Name</label>

                            <div class="form-group clearfix form-group-custom">
                                <input type="text" class="form-control" ng-model="contact.last_name" name="last_name">

                                <!--<div ng-show="form.last_name.$error.required && submitted" class="error-message">Enter last
                                    name.
                                </div>-->
                            </div>
                            <label class="control-label">Email*</label>

                            <div class="form-group clearfix form-group-custom">
                                <input type="email" class="form-control" ng-model="contact.email" name="email" required>

                                <div ng-if="form.email.$error.required && submitted" class="error-message">Enter email
                                </div>
                                <div ng-if="form.email.$error.email && submitted" class="error-message">Enter a valid
                                    email
                                </div>

                            </div>
                            <label class="control-label">Phone Number</label>

                            <div class="form-group clearfix form-group-custom">
                                <any ng-init="contact.phone_number=''"></any>
                                <input type="text" class="form-control" ng-model="contact.phone_number" name="phone_number" ng-minlength="5" only-digits >
                                <div ng-show="form.phone_number.$invalid && submitted " class="error-message">
                                    Enter minimum 5 digits.
                                </div>
                            </div>
                            <div class="form-group clearfix form-group-custom" >
                                <label class="control-label">Contact Type*</label>
                                <select class="form-control" name="crm_contact_type_id" ng-model="contact.crm_contact_type_id" required>
                                    <option value="">--Select Contact Type--</option>
                                    <option ng-repeat="contactType in contactTypes" ng-value="contactType.id_crm_contact_type">
                                        {{contactType.crm_contact_type_name}}
                                    </option>
                                </select>
                                <div ng-if="form.crm_contact_type_id.$error.required && submitted" class="error-message">Select contact type
                                </div>
                            </div>
                              <!--<div class="form-group clearfix form-group-custom">
                                <label class="label-text">Company</label>
                                <input class="form-control" style="padding: 8px;"
                                       placeholder="Search Companies"
                                       type="text" ng-model="contacts"
                                       typeahead-on-select="contact.crm_company_id = contacts.id_crm_company;onSelect($item, $model, $label)"
                                       uib-typeahead="contacts as contacts.company_name for contacts in getCompanyList($viewValue)"
                                       typeahead-template-url="companyListTemplate.html"
                                       typeahead-loading="loadingContacts"
                                       typeahead-no-results="noResults" name="company_name" required autocomplete="off" ng-change="change(contacts)">
                                <div ng-if="form.company_name.$error.required && submitted" class="error-message">Enter a company name
                                </div>
                            </div>

                            <div class="form-group clearfix form-group-custom" >
                                <label class="label-text">Designation</label>
                                <select class="form-control" name="designation_name" ng-model="contact.crm_company_designation_id" required>
                                    <option value="">--Select Designation--</option>
                                    <option ng-repeat="designation in companyDesignations" ng-value="designation.id_crm_company_designation">
                                        {{designation.designation_name}}
                                    </option>
                                </select>
                                <div ng-if="form.designation_name.$error.required && submitted" class="error-message">Select Designation
                                </div>
                            </div>-->
                            <div class="col-lg-12 clearfix text-center btn-custom mb10 mt20">
                                <button type="submit" class="btn btn-primary f12 border-none lt-bg mr4" ng-click="submitted = true ; moreFields = false;submitQuickContact(contact,form,moreFields)" ng-disabled="submitBtnDisabled">
                                    Save
                                </button>
                                <button class="btn btn-primary f12 border-none btn-green" ng-click="submitted = true;moreFields = true;submitQuickContact(contact,form,moreFields)" ng-disabled="submitBtnDisabled">
                                    Save & Continue
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="companyListTemplate.html">
    <a>
        <div class="list-item p5 clearfix">
            <div class="list-desc col-sm-8">
                <p class="list-item-title blue">{{match.model.company_name}}</p>
            </div>
        </div>
    </a>
</script>
