<h3 class="fixed content-heading">View Contact
    <div class="pull-right button-set">
        <!--      <a ng-if="permission.touchpoints_view || permission.touchpoints_add"  uib-tooltip="Touchpoints" modal="touchpoints" ng-click="touchpointsModal()"><i class="fa fa-touchpoint"></i>
              </a>-->
        <span ng-hide="companyContactsDetails.crm_contact_type_id == '1'">
        <a ng-if="permission.companies_view || permission.companies_add" uib-tooltip="Companies" modal="addedcompanies"
           ng-click="AddedCompaniesModal()"><i class="fa fa-company"></i>
        </a></span><!--<div ng-if="companyContactsDetails.crm_contact_type_id != '1'"></div>-->
        <a ng-if="permission.attachements_view || permission.attachements_add" uib-tooltip="Attachments"
           modal="attachment" ng-click="quickAttachmentModal()"><i
                class="fa fa-paperclip"></i>
        </a>
        <a ui-sref="contact.contact-dashboard" uib-tooltip="Back"><i class="fa fa-close-sm"></i></a>
    </div>
</h3>

<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg relative" data-ng-init="isEdit = false">
        <div class="col-sm-7 col-lg-8 p0">
            <div class="page-header-wrap mb0 min-height-auto box-shadow clearfix">
                <div class="display-inline-block wrapper-list col-sm-12 p10 clearfix">
                    <h2 class="f15 lh26 mb5 clearfix dark-sky-blue">
                        <img alt="User" ng-src="{{companyContactsDetails.profile_image || 'images/default-user.png'}}"
                             class="img-circle height50">
                        {{ companyContactsDetails.first_name }} {{ companyContactsDetails.last_name }}

                        <div class="pull-right" ng-if="permission.complete_view_view">
                            <a href="javascript:;"
                               ui-sref="contact.contact-complete-view({id:(currentContactViewId | decode )})"
                               class="btn-wrap">
                                <span class="input-addon"><i class="icon-eye"></i> </span> Complete View
                            </a>
                        </div>
                    </h2>
                    <ul class="pheader-list phead-list">
                        <li>
                            <span class="f12">Email</span>
                            <label ng-if="companyContactsDetails.email != null"
                                   class="display-block heading line-height14 md-width90 text-line"
                                   title="{{companyContactsDetails.email}}">{{companyContactsDetails.email}}</label>
                            <label ng-if="companyContactsDetails.email == null"
                                   class="display-block heading line-height14">------</label>
                        </li>
                        <li ng-if="companyContactsDetails.crm_contact_type_id != '1'">
                            <span class="f12 word-break">Company</span>
                            <label ng-if="companyContactsDetails.company_name != null"
                                   class="display-block heading line-height14"
                                   title="{{companyContactsDetails.company_name}}">{{companyContactsDetails.company_name}}</label>

                            <div ng-if="companyContactsDetails.company_name == null && companyContactsDetails.crm_contact_type_id != '1'"
                                 class="display-block m-4 heading line-height14">
                                <button ng-click="AddedCompaniesModal()"
                                        class="btn btn-primary lt-bg border-none f12 mt5 ng-scope">
                                    <i class="fa fa-plus-circle"></i>
                                    <span>Add</span>
                                </button>
                            </div>


                        </li>
                        <li>
                            <span ng-if="permission.contact_type_add || permission.contact_type_view">
                              <label class="f12 display-block word-break">Contact Type</label>
                                        <select class="form-control display-inline-block headrlist-input mb5"
                                                name="contact_type" ng-model="contact_type"
                                                ng-options="contactType.id_crm_contact_type as contactType.crm_contact_type_name for contactType in contactTypes">
                                        </select>
                                <span class="" ng-if="permission.contact_type_add">
                                    <a href="javascript:;" class="btn btn-dark f12 white-color"
                                       data-ng-click="getChangeContactType(contact_type)">Update</a>
                                </span>
                            </span>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="page-view-wrap clearfix">
                <div class="col-sm-12 plr20 pb15">
                    <div class="border-pattern clearfix"></div>
                    <div class="list-view-str">

                        <ul>
                            <li ng-init="sectionIndex=$index" ng-repeat="section in contactForms ">
                                <div class="list-str">
                                    <h4 class="f14 bold text-uppercase dark-blue pt10 pb10">
                                        {{section.section_name}}</h4>
                                    <!--<div class="list-data white-bg p10" ng-repeat="form in section.form" ng-click="goToEditCtrl('keyData',form.id_form,form.form_template)">-->
                                    <any ng-repeat="form in section.forms | filter:searchText">

                                        <div class="list-data white-bg p10"
                                             ng-if="permission[form.form_key+'_view']"
                                             ng-click="goToEditCtrl({'tag':form.form_name,'sectionName':'business_key_data','formId':form.id_form,'template':form.form_template,'form_key':form.form_key})">
                                            <div class="list-img pull-left dark-blue"
                                                 ng-class="(form.status==1)?'box-active':''">
                                                <i class="fa {{form.form_class}} "></i>
                                            </div>
                                            <div ng-if="sectionIndex==0 && $index==0"
                                                 ng-init="loadTemplate(form, section.id_section)"></div>
                                            <div class="list-text overflow-hidden">
                                                <h5 class="f14 darkcolor">{{form.form_name}}</h5>

                                            </div>
                                        </div>

                                        <div class="list-data white-bg p10 disabled"
                                             ng-if="!permission[form.form_key+'_view']">
                                            <div class="list-img pull-left dark-blue"
                                                 ng-class="(form.status==1)?'box-active':''">
                                                <i class="fa {{form.form_class}} "></i>
                                            </div>
                                            <div ng-if="sectionIndex==0 && $index==0"
                                                 ng-init="loadTemplate(form, section.id_section)"></div>
                                            <div class="list-text overflow-hidden">
                                                <h5 class="f14 darkcolor">{{form.form_name}}</h5>
                                            </div>
                                        </div>
                                    </any>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-5 col-lg-4  p0 right-section-wrapper parent" ng-if="permission.touchpoints_view">
            <div class="right-section white-bg br-left">
                <touch-point-view module-type="contact" module-id="{{currentContactViewId}}"></touch-point-view>
            </div>
        </div>
    </div>


</div>


