<h3 class="fixed content-heading">Contact Information
    <div class="pull-right button-set">
        <!--<any ng-controller="CompanyCreationCtrl">
            <a uib-tooltip="Touchpoints" modal="touchpoints" ng-click="touchpointsModal()"><i
                    class="fa fa-touchpoint"></i>
            </a>
            <a ng-click="quickAttachmentModal()" modal="attachment" uib-tooltip="Attachments"><i
                    class="fa fa-paperclip"></i>
            </a>
            <a uib-tooltip="Contacts" modal="addedcontacts" ng-click="AddedContactsModal()"><i class="fa fa-book"></i>
            </a>
        </any>-->

        <a ui-sref="contact.contact-form-list({id:(currentContactViewId | decode )})" uib-tooltip="Back"><i
                class="fa fa-close-sm"></i></a>
    </div>
</h3>

<div class="col-sm-12 fixed clearfix  z1 fixed-top full-fixed-top" ng-class="{visible:boolChangeClass}" fixed-top>
    <div class="clearfix relative details-fixed-top border-none no-bg pad0">
        <div class="col-sm-12 clearfix p0">
            <div class="page-header-wrap mt0  box-shadow clearfix">
                <div class="display-inline-block wrapper-list c-wrap-list pt10 col-sm-12 clearfix" >
                    <ul>
                        <li class="heading">
                            <img alt="User" ng-src="{{companyContactsDetails.profile_image || 'images/default-user.png'}}"
                                 class="img-circle height50">
                            {{ companyContactsDetails.first_name }} {{ companyContactsDetails.last_name }}
                        </li>
                        <li>
                            <span class="f12">Email</span>
                            <label ng-if="companyContactsDetails.email != null"
                                   class="display-block heading line-height14 md-width90 text-line"
                                   title="{{companyContactsDetails.email}}">{{companyContactsDetails.email}}</label>
                            <label ng-if="companyContactsDetails.email == null"
                                   class="display-block heading line-height14">------</label>
                        </li>
                        <li>
                            <p class="f12 word-break">Company</p>
                            <label ng-if="companyContactsDetails.company_name != null"
                                   class="display-block heading line-height14 md-width90 text-line"
                                   title="{{companyContactsDetails.company_name}}">{{companyContactsDetails.company_name}}</label>
                            <label ng-if="companyContactsDetails.company_name == null"
                                   class="display-block heading line-height14">------</label>


                        </li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
</div>

<div class="content-area animated fadeInRight" id="contentArea">

    <div class="content-container clearfix">
        <div class="col-sm-12 p0">
            <div class="page-header-wrap white-bg box-shadow clearfix relative mb15">
                <div class="display-inline-block wrapper-list c-wrap-list pt10 col-sm-12 clearfix">
                    <ul>
                        <li class="heading">
                            <img alt="User" ng-src="{{companyContactsDetails.profile_image || 'images/default-user.png'}}"
                                 class="img-circle height50">
                            {{ companyContactsDetails.first_name }} {{ companyContactsDetails.last_name }}
                        </li>
                        <li>
                            <span class="f12">Email</span>
                            <label ng-if="companyContactsDetails.email != null"
                                   class="display-block heading line-height14 md-width90 text-line"
                                   title="{{companyContactsDetails.email}}">{{companyContactsDetails.email}}</label>
                            <label ng-if="companyContactsDetails.email == null"
                                   class="display-block heading line-height14">------</label>
                        </li>
                        <li>
                            <span class="f12 word-break">Company</span>
                            <label ng-if="companyContactsDetails.company_name != null"
                                   class="display-block heading line-height14 md-width90 text-line"
                                   title="{{companyContactsDetails.company_name}}">{{companyContactsDetails.company_name}}</label>
                            <label ng-if="companyContactsDetails.company_name == null"
                                   class="display-block heading line-height14">------</label>


                        </li>
                    </ul>
                </div>
<!--
                <div class="textinfo-block col-sm-12 border-top pt5 pb10 plr30" ng-show="infoBox">
                    <label class="f12">Description</label>
                    <p class="f14 darkcolor m-4">{{companyDescription}}</p>
                </div>
                <div class="slide-img" ng-click="infoBox=!infoBox"></div>-->
            </div>
        </div>

        <div class="col-sm-12 plr20 mb20 mt5 ">

            <div class="col-lg-9 col-sm-8 mt5 pl0">
                <div class="div-header clearfix  border-bottom white-bg">
                    <h3 class="darkcolor display-inline-block f14 roboto-bold text-uppercase p15">{{sectionName}}</h3>
                    <div class="pull-right cust-pagination mt10 mb0 mr10">
                        <ul>
                            <li ng-show="prevBtnShow">
                                <a href="javascript:;" ng-click="prevForm()"><i class="icon-angle-left"></i> </a>
                            </li>
                            <li ng-show="nextBtnShow">
                                <a href="javascript:;" ng-click="nextForm()"><i class="icon-angle-right"></i> </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="white-bg">
                    <div class="col-sm-12 white-bg p0">
                        <div class="pb10 clearfix mb5 p15" ng-if="template != null" ng-show="permission[form_key+'_view']">
                            <h4 class="dark-blue mb10 bold f15">{{formName}}</h4>
                            <div class="col-sm-12 mt5" ng-include="'partials/crm/contact/forms/'+template"></div>
                        </div>
                        <div class="pb10 clearfix mb5 p15"  ng-show="!permission[form_key+'_view']">
                            <h4 class="dark-blue mb10 bold f15">{{formName}}</h4>
                            <div class="col-sm-12 mt5">
                                <h3>Permission Denied</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 mt5 pl0 pr0">
                <div class="white-bg">
                    <div class="tabs-wrap" doc-height>
                        <uib-tabset justified="true">
                            <uib-tab heading="Intelligence">
                                <div class="scroll-div-wrap" min-scroll>
                                    <!--<div class="pt20 pb20">
                                        <div class="mapping-search">
                                            <input class="form-control"
                                                   placeholder="Search"
                                                   type="text">
                                            <i class="fa  fa-search icon-search f16 pt2 darkblue"></i>
                                        </div>
                                        <div class="search-filter">
                                            <div class="">
                                                <span class="f12 text-uppercase darkcolor">Filters: </span>
                                                <ul class="filter-list">
                                                    <li class="relative">
                                                        <a href="javascript:;"
                                                           class="sky-blue dropdown-toggle menu-toggle"
                                                           data-toggle="dropdown">Sector</a>
                                                        <ul class="dropdown-menu custom-dropdown mr10">
                                                            <li>
                                                                <input type="text" class="form-control f13"
                                                                       placeholder="Search">
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;">Business Key Data</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;">Family Business Information</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;">Financial Information</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;">Business Assessment</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>-->
                                    <ul>
                                        <li class="people-wrap clearfix" ng-repeat="data in knowledgeDetails">
                                            <a class="display-block" href="javascript:;" target="_blank"
                                               ui-sref="company.business-assessment({id:(data.id_crm_company | decode )})">
                                                <div class="pull-left p5 img-wrap">
                                                    <span first-alpha="{{data.company_name}}"></span>
                                                </div>
                                                <div class="p5">
                                                    <p class="darkcolor bold f12">{{data.company_name}}</p>
                                                    <p class="f12 dark"
                                                       data-ng-bind-html="data.company_description | ellipsis:60"></p>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="no-knowledgedata-view"
                                         ng-show="knowledgeDetails=='' || knowledgeDetails==null ">No intelligence data
                                        available on this topic.
                                        <div class="text-center"><a
                                                class="btn lt-bg btn-primary f14 border-none display-inline-block mt10">Ask
                                            for Help</a></div>
                                    </div>

                                    <!--<div class="people-wrap clearfix" ng-repeat="data in knowledgeDetails" >
                                        <div class="p5" ui-sref="company.business-assessment({id:(data.id_crm_company | decode )})">
                                            <p class="sky-blue f12">{{data.company_name}}</p>
                                            <p class="f12">{{data.company_description}}</p>
                                        </div>
                                    </div>-->
                                </div>
                            </uib-tab>
                            <uib-tab heading="Knowledge">
                                <div class="scroll-div-wrap" min-scroll>
                                    <!--<div class="pt20 pb20">
                                        <div class="mapping-search">

                                            <input class="form-control"
                                                   placeholder="Search"
                                                   type="text">
                                            <i class="fa  fa-search icon-search f16 pt2 darkblue"></i>
                                        </div>
                                    </div>-->
                                    <div class="people-wrap clearfix" ng-repeat="data in knowledgeData"
                                         ng-click="modalOpen(data)">
                                        <a ui-sref="knowledge-management.item-view({ id: data.id_knowledge_document})"
                                           target="_blank" class="display-block">
                                            <div class="pull-left p5 k-img" knowledge-icons
                                                 data-image="{{data.document_type}}"></div>
                                            <div class="pl100 p5">
                                                <p class="darkcolor bold mb3 f14">{{data.document_title}} </p>
                                                <p class="f12 mb3"
                                                   data-ng-bind-html="data.document_description | ellipsis:50"></p>
                                                <p class="sky-blue f14"><i
                                                        class="fa fa-eye f18 mr4 darkcolor valign-top display-inline-block"></i>
                                                    No. of views <span class="darkcolor ml5 bold">{{data.number_of_views}}</span>
                                                </p>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="no-knowledgedata-view"
                                         ng-show="knowledgeData == '' || knowledgeData ==null">No knowledge base
                                        available on this topic
                                        <div ui-sref="knowledge-management.knowledge-dashboard" class="text-center"><a
                                                class="btn lt-bg btn-primary f14 border-none display-inline-block mt10">Click
                                            to Add</a></div>
                                    </div>
                                </div>
                            </uib-tab>

                            <uib-tab heading="People">
                                <div class="scroll-div-wrap" min-scroll>
                                    <!--<div class="pt20 pb20">
                                        <div class="mapping-search">

                                            <input class="form-control"
                                                   placeholder="Search"
                                                   type="text">
                                            <i class="fa  fa-search icon-search f16 pt2 darkblue"></i>
                                        </div>
                                    </div>-->
                                    <div class="people-wrap clearfix" ng-repeat="row in peopleDetails">
                                        <div class="peopleImgWrap">
                                            <!--<img class="img-circle" src="images/default-img.png" alt="image"/>-->
                                            <img ng-src="{{row.profile_image || 'images/default-img.png'}}"/>
                                        </div>
                                        <div class="peopleDetails-wrap">
                                            <p class="peopleName darkcolor bold f12">{{row.username}}</p>
                                            <p class="peopleDesig">{{row.approval_name}}</p>
                                        </div>
                                    </div>
                                    <!--<div class="pt20 pb20">
                                        <div class="mapping-search">

                                            <input class="form-control" style="padding: 8px;"
                                                   placeholder="Start Conversation"
                                                   type="text">
                                            <i class="fa  fa-search  icon-comment3 f16 pt2 darkblue"></i>
                                        </div>
                                    </div>-->

                                    <div class="no-knowledgedata-view"
                                         ng-show="peopleDetails == null || peopleDetails == ''">No contacts available on
                                        this topic
                                        <div class="text-center"><a
                                                class="btn lt-bg btn-primary f14 border-none display-inline-block mt10">Click
                                            to Add</a></div>
                                    </div>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </div>


                </div>
            </div>

        </div>

    </div>
</div>
<script type="text/ng-template" id="knowledge-details.html">
    <div class="modal-wrap right-modal modal-custom">
        <div class="clearfix">
            <h3 class="right-modal-head">
                <i class="fa fa-sitemap mr8"></i>{{knowledgeData.document_title}}
                <a ng-click="cancel()" class="close-right pull-right"><img src="images/close.png"></a>
            </h3>
        </div>
        <div class="modal-body clearfix">

            <!--<div class="col-sm-12">
                <div class="form-group clearfix form-group-custom mb10">
                    <div class="col-sm-2"><label class="control-label">Title:</label></div>
                    <div class="col-sm-8">
                        {{knowledgeData.document_title}}
                    </div>
                </div>
            </div>-->
            <div class="col-sm-12 p0">
                <div class="form-group clearfix form-group-custom mb10">
                    <!--<div class="col-sm-2"><label class="control-label">Description:</label></div>-->
                    <div class="col-sm-12 p0 f14" data-ng-bind-html="knowledgeData.document_description"></div>
                </div>
            </div>
            <div class="col-sm-12 p0" ng-if="knowledgeData.document_type == 'document'">
                <div class="form-group clearfix form-group-custom mb10">
                    <div class="col-sm-2"><label class="f13 ash">File:</label></div>
                    <div class="col-sm-8 p0">
                        <div class="btn-custom mt10">
                            <a href="{{knowledgeData.document_source}}" download class="f14 sky-blue" target="_blank">Download</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p0" ng-if="knowledgeData.document_type == 'video'">
                <div class="form-group clearfix form-group-custom mb10">
                    <!--<div class="col-sm-2"><label class="control-label">Video:</label></div>-->
                    <div class="col-sm-12 p0" add-iframe data-iframesrc="{{knowledgeData.document_source}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
