<div class="right-modal modal-custom" data-modal="attachment">
    <h3 class="right-modal-head">
       <i class="fa fa-paperclip mr8"></i> ATTACHMENTS
        <a class="close-right pull-right" ng-click="cancel()"><img src="images/close.png"></a>
    </h3>

    <form class="form-horizontal form-bordered" name="form"  novalidate >
    <div class="clearfix">

            <div class="col-sm-12 p0 bg-box" >
                <div class="dropzone plr15" ng-if="permission.attachements_add">
                    <div ngf-select="uploadFiles($files)" ngf-drop="uploadFiles($files)" class="drop-box"
                          ngf-drag-over-class="'dragover'" ngf-multiple="true"  ngf-pattern="'.png,.jpg,.zip,.jpeg,.xl,.xls,.xlsx,.doc,.docx,.pdf,.rtf'" >
                            Select File<span > or Drop File</span>
                    </div>
                </div>
                <div class="attached-list mt20" ng-show="uploadImage.length">
                     <!-- <img  ngf-thumbnail="f" class="image-view" alt="Image"/>-->
                        <ul class="files-list mb10">
                            <li ng-repeat="f in uploadImage" class="clearfix">
                                <div class="col-sm-12 p-l-0 p-r-0">
                                    <div class="col-sm-9">
                                        <label class="sky-blue f14">{{ f.name }}</label>
                                    </div>
                                    <div class="col-sm-2 text-right">
                                        <p class="sky-blue f14">{{f.progress}}%</p>
                                    </div>
                                </div>
                                <div class="col-sm-12 p-l-0 p-r-0">
                                    <div class="col-sm-4 f-list-wrap">
                                        <select ng-model="f.document_type"   name="{{f.documentTypeName}}"  required >
                                            <option value="">Select Type</option>
                                            <option ng-repeat="documentsType in documentsTypes" value="{{documentsType.id_crm_document_type}}" >{{ documentsType.document_type_name }}</option>
                                        </select>
                                        <div ng-show="form.{{f.documentTypeName}}.$error.required && submitStatus" class="error-message">Select type.</div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="f-list-wrap">
                                            <input type="text"  ng-model="f.description" placeholder="Description" name="{{f.descriptionName}}" required />
                                            <div ng-show="form.{{f.descriptionName}}.$error.required && submitStatus" class="error-message">Comments.</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-1 p-l-0 text-center">
                                        <span ng-click="removeImage(f,$index)" class="close-btn"><i class="fa fa-trash-o"></i></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    <div class="clearfix col-sm-12 text-center border-bottom pb20 mt0 pt5">
                        <button class="btn btn-primary border-none btn-dark f12 mr8" type="button" ng-click="save(upload,form)">Attach</button>
                        <button class="btn btn-primary f12 border-none lt-bg" data-ng-click="cancel()">Cancel</button>
                    </div>



                </div>


            </div>

            <div class="col-sm-12 attachment-list" ng-show="uploadedDocuments.length > 0">
                <div class="list-header clearfix mt20 mb10 ">
                    <h4 class="text-uppercase f14 col-sm-6 pl0 darkcolor bold mt20">Attached Files</h4>
                    <div class="pull-right col-sm-6 pr0">
                        <!--<div class="input-group">
                            <input type="text" class="form-control " style="padding: 7px;" ng-model="search.document_type_name">
                            <span class="input-group-addon cursor-pointer"><i class="fa icon-search f18 darkblue"></i> </span>
                        </div>-->
                        <div class="mapping-search">
                            <input type="text" class="form-control" style="padding: 7px;" ng-model="search.document_type_name">
                            <i class="fa fa-search icon-search f16 pt2 darkblue"></i>
                        </div>
                    </div>
                </div>
                <div class="list-table"  >
                    <ul class="list-headers clearfix">
                        <li class="col-sm-1"></li>
                        <li class="col-sm-3">File</li>
                        <li class="col-sm-7">Description</li>
                        <li class="col-sm-1"></li>
                    </ul>
                    <ul class="list-items min-height120 scroll-div-wrap">
                        <li class="clearfix border-bottom" uploadedDocuments ng-repeat=" uploadedDocument in uploadedDocuments | filter:search" >
                            <div class="col-sm-1" upload-file  data-fileType="{{ uploadedDocument.document_mime_type }}" ><i class=""></i> </div>
                            <div class="col-sm-3">
                                <!--<p class="f14">{{ uploadedDocument.document_name | getFileName:uploadedDocument.document_name }}</p>-->
                                <p class="f14 text-line" title="{{uploadedDocument.document_type_name}}">{{ uploadedDocument.document_type_name }}</p>
                                <span class="display-block ash f11" ng-bind="uploadedDocument.date | date:'mediumDate'"></span>
                            </div>
                            <div class="col-sm-7 word-break">
                                <p class="f12">{{ uploadedDocument.document_description }}</p>
                            </div>
                            <div class="col-sm-1 text-center">
                                <ul>
                                    <!--<li><a onclick="editLevel(this);"><img class="h13" src="images/others.png"></a></li>
                                    <li><a ng-click="delete(data)" ng-show="data.nodes.length">Delete</a></li>-->
                                    <li class="custom-list attch-li">
                                        <!--<a href="{{ uploadedDocument.full_path }}" download> <i class="fa fa-download"></i> </a>-->
                                        <a href="javascript:;" class="menu-toggle mt5 dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-v f16"></i></a>
                                        <ul class="dropdown-menu cust-dropdown">
                                            <li>
                                                <a href="{{ uploadedDocument.full_path }}" class="darkcolor" download>Download</a>
                                            </li>
                                        </ul>
                                    </li>

                                </ul>
                            </div>
                        </li>
                    </ul>
                    <!--<div ng-hide="uploadedDocuments.length  > 0" class="text-center"><p class="f12">No Attachments</p> </div>-->
                </div>
            </div>
    </div>
</form>
    </div>