<div class="right-modal" data-modal="contact">
    <h3 class="right-modal-head">
        Create Quick Contact
        <a class="close-right pull-right" ng-click="cancel()"><i class="fa fa-times"></i></a>
    </h3>

    <form class="form-horizontal form-bordered" name="form"  novalidate>
    <div class="row clearfix">
        <div class="col-sm-12 clearfix">
            <div class="col-sm-4">
                <label class="control-label">First Name*</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" ng-model="contact.first_name" name="first_name" required >
                    <div ng-if="form.first_name.$error.required" class="error-message">Enter first name.</div>
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Last Name*</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" ng-model="contact.last_name" name="last_name" required>
                    <div ng-if="form.last_name.$error.required" class="error-message">Enter last name.</div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 clearfix">
            <div class="col-sm-4">
                <label class="control-label">Email*</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" ng-model="contact.email" name="email" required >
                    <div ng-if="form.first_name.$error.required" class="error-message">Enter email.</div>
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Phone Number*</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" ng-model="contact.phone_number" name="phone_number" required>
                    <div ng-if="form.last_name.$error.required" class="error-message">Enter phone number.</div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 btn-custom clearfix text-center">
            <button type="submit" class="btn btn-primary f14 next-btn" ng-click="submitQuickContact(contact,form)" tab-next >Save</button>
        </div>
    </div>
</form>
    </div>