<div class="right-modal modal-custom" data-modal="touchpoints">
    <h3 class="right-modal-head clearfix">
        <div class="col-sm-4 p-l-0">
            <i class="fa fa-touchpoints mr8"></i>Touchpoints
        </div>
        <div class="col-sm-7 p0">
            <div class="col-sm-6 p0">
                <button ng-show="permission.touchpoints_add" class="btn white-color lt-bg f16 border-none mr8 border-radius0"  type="button" ng-click="togglePoint = !togglePoint">
                    <i class="fa fa-plus-circle"></i>

                </button>
                <button type="button" class="btn btn-orange border-none border-radius0 mr8 relative"   ng-click="showAllReminders();"><i class="fa fa-clock-o" ></i> <span class="count-num">{{ reminder }}</span></button>
                <button type="button" class="btn white-color lt-bg f16 border-none  border-radius0" ng-click="showAllTouchPoints();">All</button>
                <!--<<button type="button" class="btn btn-primary sky-blue-bg border-none border-radius0"><i class="fa fa-phone"></i></button>
                <button type="button" class="btn btn-primary sky-blue-bg border-none border-radius0"><i class="fa fa-comments"></i></button>
                <button type="button" class="btn btn-primary sky-blue-bg border-none border-radius0"><i class="fa fa-mobile f18"></i></button>-->

                <!--<button ng-repeat="touchPoint in touchPointList" touch-points data-tauchpoint="{{touchPoint.crm_touch_point_type}}" data-isMenu="true" type="button"  class="btn btn-primary border-none border-radius0 mr4" ng-click="activeTouchPoint(touchPoint.id_crm_touch_point_type)" ng-init="$first && activeTouchPoint(touchPoint.id_crm_touch_point_type)" ng-class="{active: currentTouchPoint == touchPoint.id_crm_touch_point_type }"><i ></i></button>-->

            </div>
            <div class="col-sm-6 pr0 ">
                <select class="form-control h32"
                        ng-options="touchPoint.id_crm_touch_point_type as touchPoint.crm_touch_point_type for touchPoint in touchPointList"
                        ng-change="changedValue(crm_touch_point_type_filter)"
                        name="crm_touch_point_type_filter"
                        ng-model="crm_touch_point_type_filter">
                    <option value="">Filter Touchpoints</option>

                </select>
            </div>

        </div>



        <a class="close-right pull-right" ng-click="cancel()"><img src="images/close.png"></a>
    </h3>
        <div class="col-sm-12 p0 white-bg clearfix">
            <form name="form" novalidate>
            <div class="col-sm-12 bg-box clearfix" ng-show="togglePoint">
                <h4 class="f14 text-uppercase darkcolor">Add Touchpoint</h4>
                <div class="col-sm-6 p-l-0">
                    <div class="form-group clearfix form-group-custom">
                        <label class="control-label">Date *: </label>
                        <div class="input-group">

                            <input  type="text" class="form-control white-bg" min-date="minDate" uib-datepicker-popup
                                    data-ng-model="postField.reminder_date" type="text" name="when" is-open="openCal"
                                    show-weeks="false" show-button-bar="false" readonly required />
                          <span class="input-group-btn ">
                            <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                <i class="fa fa-calendar"></i></button>
                          </span>
                        </div>
                            <div ng-if="form.reminder_date.$error.required && submitStatus" class="error-message">Select Date & Time.</div>


                    </div>
                </div>
                <div class="col-sm-6 p-r-0">
                    <div class="form-group clearfix form-group-custom">
                        <label class="control-label">Touchpoint Type *: </label>
                        <select class="form-control"
                                ng-options="touchPoint.id_crm_touch_point_type as touchPoint.crm_touch_point_type for touchPoint in touchPointList"
                                name="crm_touch_point_type_id"
                                ng-model="postField.crm_touch_point_type_id" required>
                            <option value="">--Select--</option>
                        </select>
                        <div ng-if="form.crm_touch_point_type_id.$error.required && submitStatus" class="error-message">Select Touchpoint.</div>
                    </div>
                </div>
                <div class="col-sm-12 p0">
                    <div class="form-group">
                        <label class="control-label">Description *: </label>
                        <textarea class="textarea-full display-block f12 p10" required ng-model="postField.touch_point_description"  name="touch_point_description" ></textarea>
                        <div ng-if="form.touch_point_description.$error.required && submitStatus" class="error-message">Enter Description.</div>
                    </div>
                </div>
                <div class="col-sm-12 p0">
                    <div class="col-sm-6 p-l-0">
                        <label class="f12"><input type="checkbox" name="reminder" data-ng-model="postField.reminder" class="mr4 valign-middle m-2"> Set Reminder</label>
                    </div>
                    <div class="col-sm-6 text-right p-r-0">
                        <button type="button" class="btn btn-primary f12 btn-dark border-none mr4" ng-click="submit(postField,form)" >Save</button>
                        <button type="button" class="btn btn-primary lt-bg f12 border-none" data-ng-click="togglePoint = false">Cancel</button>
                    </div>

                </div>

            </div>
            </form>
            <div class="col-sm-12  ptb10 f12 wrap-list">
                <ul>
                    <li class="clearfix pb5"  ng-repeat="touchPoint in touchPointsList" >
                        <div class="col-sm-1 text-center p0 white-color">
                            <div class="ptb10 date-box">
                                <p ng-bind="touchPoint.date | date:'mediumDate'"></p>
                            </div>
                        </div>

                        <div class="col-sm-11 p0" >
                            <div class="col-sm-12 p0 white-bg mb10 touch-box" ng-repeat="touchChild in touchPoint.touch_point" >
                                <div class="col-sm-12 p0">
                                    <div class="col-sm-1 p0 pl10">
                                        <span class="f18 dark-blue" touch-points data-tauchpoint="{{touchChild.touch_point_type_name}}" data-isreminder="{{touchChild.reminder}}" >
                                            <i ></i>
                                        </span>
                                    </div>
                                    <div class="col-sm-11 p0 p5 text-right">
                                        <!--<p class="ash-color">12:00 AM by <span class="clr-blue">Srinivas</span></p>-->

                                            <span class="display-block f12">by
                                                <label class="clr-blue">{{ touchChild.user_name }}</label>
                                                <label ng-bind="touchChild.created_date | date:'mediumDate'"></label>
                                            </span>


                                    </div>
                                </div>
                                <div class="col-sm-12 p0 pb5 pl10">
                                    <p class="dark f14">{{ touchChild.touch_point_description }} </p>
                                </div>
                                <!--<div class="col-sm-2 f16 pr10 ash-color">
                                    <p class="tright-align"> <i class="fa fa-pencil"></i> </p>
                                    <p class="tright-align "> <i class="fa fa-trash"></i> </p>
                                </div>-->
                            </div>
                        </div>










                    </li>
                    <div ng-hide="touchPointsList.length" class="text-center">
                        <p class="f12">No Touchpoints</p>
                    </div>

                    <!--<li class="clearfix pb20">
                        <div class="col-sm-2 text-center pl0 white-color">
                            <div class="lt-bg ptb10 border-radius10 date-box">
                                <p>24 Jan
                                    <label class="display-block">2015</label>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-10 pr0 light-o-bg">
                            <div class="light-orange-bg pl10 p15 clearfix ">
                                <div class="col-sm-1 p0"> <span class="f21 alarm-clr"> <i class="fa fa-clock-o"></i> </span> </div>
                                <div class="col-sm-9 p0 ">
                                    <p> <span class="pr5">10:00 AM</span> by <span class="clr-blue" >Raghuram</span> (Admin) </p>
                                    <label class="display-inline-block f14">Moved from Contact to Lead</label>
                                </div>
                                <div class="col-sm-2 p0 pt5"> <span class="pull-right f21 pr10 "> <a class="ashh" href="javascript:;"> <i class="fa fa-ellipsis-v"></i> </a> </span> </div>
                            </div>
                        </div>
                    </li>-->



                </ul>
            </div>
        </div>
</div>

<script type="text/ng-template" id="companyListTemplate.html">
    <a>
        <div class="list-item p5 clearfix">
            <div class="list-desc col-sm-8">
                <p class="list-item-title blue">{{match.model.company_name}}</p>
            </div>
        </div>
    </a>
</script>