<h3 class="fixed content-heading">New Contact
        <span class="button-set">
            <a class="display-block"><i class="fa fa-info-circle"></i></a>
            <a ui-sref="contact.contact-list" class="display-block"><i class="fa fa-times"></i></a>
        </span>
</h3>
<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg">
        <div class="info-box">
            <ul>
                <li>
                    <img class="img-circle maxhw40 pull-left mr8" ng-src="images/hsbc-admin.png" alt="contact"/>
                    <span>
                        <label class="label-text">Company</label>
                        <p class="label-info">Raymundo Solutions Pvt. Ltd.</p>
                    </span>
                </li>
                <li>
                    <i class="fa fa-calendar"></i>
                    <span>
                        <label class="label-text">Created On</label>
                        <p class="label-info">23rd June, 2015 / 47 Days</p>
                    </span>
                </li>
                <li>
                    <i class="fa fa-money"></i>
                    <span>
                        <label class="label-text">Income</label>
                        <p class="label-info">$ 1,350,000</p>
                    </span>
                </li>
                <li class="status-chart">
                    <span class="chart" easypiechart percent="65" options="anotherOptions">
                        <span class="percent" ng-bind="65"></span>
                    </span>
                </li>
            </ul>
        </div>


        <div class="left-panel pull-left mt40">
            <div class="pull-left p10">

                <ul class="tab-accord-list tabs">
                    <li class="show" tab-content ng-repeat="contact in contactObj">
                        <a data-tabs="#tab_{{contact.id_section}}" ><i class="fa fa-check-circle green"></i>{{contact.section_name}}</a>
                        <ul class="sub-list" >
                            <li data-link="section_{{form.id_form}}" ng-repeat="form in contact.form" ng-click="openAccordion(form.id_form);" trigger-accord>
                                <i class="fa fa-check green"></i><span class="f12">{{form.form_name}}</span>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!--contact-left-panel-->
        </div>
        <div class="contact-right-panel mt40">

            <div class="right-section-wrap">


                <div class="mapping-box">
                    <ul class="map-tabs">
                        <li class="done">
                            <i class="fa fa-user"></i>
                            <span class="map-desc">
                                Personal Information
                                <label class="label-text">Pulling Data from Contacts</label>
                            </span>
                            <span class="chart" easypiechart percent="65" options="anotherOptions">
                                <span class="percent" ng-bind="65"></span>
                            </span>
                        </li>
                        <li class="active">
                            <i class="fa fa-user"></i>
                            <span class="map-desc">
                                Personal Information
                                <label class="label-text">Pulling Data from Contacts</label>
                            </span>
                            <span class="chart" easypiechart percent="65" options="anotherOptions">
                                <span class="percent" ng-bind="65"></span>
                            </span>
                        </li>
                        <li>
                            <i class="fa fa-user"></i>
                            <span class="map-desc">
                                Personal Information
                                <label class="label-text">Pulling Data from Contacts</label>
                            </span>
                            <span class="chart" easypiechart percent="65" options="anotherOptions">
                                <span class="percent" ng-bind="65"></span>
                            </span>
                        </li>
                    </ul>

                    <div class="map-inputs-area">
                        <div class="col-sm-12 p0">
                            <div class="form-group mapping-search">
                                <input type="text" class="form-control" placeholder="Search for Placeholder" />
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                        <p class="col-sm-12 clearfix clearboth text-center text-uppercase mt10">OR</p>
                        <div class="col-sm-12 btn-custom clearfix text-center">
                            <button class="btn btn-primary f14 ng-binding" type="submit">Create New Contact</button>
                        </div>
                    </div>
                </div>




                <div class="tab-data animated fadeInRight clearboth" ng-repeat="contact in contactObj" id="tab_{{contact.id_section}}" ng-style="{'display':($first?'block':'')}">
                    <accordion class="custom-accordion-uib">
                        <accordion-group ng-repeat="form in contact.form" is-open="accordionGroups[form.id_form]">
                            <accordion-heading>
                                <div class="head-wrap accordion_head clearfix p10 head-wrap-new">
                                    <h1 class="f16 blue roboto-condensed mt5">{{form.form_name}}</h1>
                                    <span class="pull-right">
                                    <a title="Options" href="#"><i class="fa fa-check"></i></a>
                                    <a href="javascript:;" data-toggle="dropdown" class="menu-toggle dropdown-toggle">
                                        <i class="fa fa-bars"></i> </a>
                                    </span>
                                    <!--<span ng-click="opened(group, $index)">{{form.form_name}}</span>-->
                                </div>
                            </accordion-heading>
                            <div ng-include="'partials/crm/contact/'+form.form_template" ></div>

                        </accordion-group>
                    </accordion>

                    <!--<div class="acc_wra_body white-bg bom in contact.form">-->
                    <!--<div class="head-wrap accordion_head clearfix p10 head-wrap-new" data-head="section_{{form.form_id}}" accordian-tabbed>-->
                    <!--<h1 class="f14 blue bold">{{form.form_name}}</h1>-->
                    <!--<span class="pull-right">-->
                    <!--<a title="Options" href="#"><i class="fa fa-check"></i></a>-->
                    <!--<a href="javascript:;" data-toggle="dropdown" class="menu-toggle dropdown-toggle">-->
                    <!--<i class="fa fa-bars"></i> </a>-->
                    <!--</span>-->
                    <!--</div>-->
                    <!--<div class="accordion_body white-bg border border-top-none" ng-style="{'display':($first?'block':'none')}">-->
                    <!--<div ng-include="form.template_url">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <!--Details Area _End-->
    </div>
</div>
</div>
