<h3 class="fixed content-heading">New Contact
        <span class="button-set">
            <a class="display-block"><i class="fa fa-info-circle"></i></a>
            <a ui-sref="contact.contact-list" class="display-block"><i class="fa fa-times"></i></a>
        </span>
</h3>
<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg">
        <div class="info-box">
            <ul>
                <li>
                    <i class="fa fa-calendar"></i>
                    <span>
                        <label class="label-text">Created On</label>
                        <p class="label-info">23rd June, 2015 / 47 Days</p>
                    </span>
                </li>
                <li>
                    <i class="fa fa-money"></i>
                    <span>
                        <label class="label-text">Income</label>
                        <p class="label-info">$ 1,350,000</p>
                    </span>
                </li>
            </ul>
        </div>


        <div class="left-panel pull-left mt40">
            <div class="pull-left p10">
                <ul class="tab-accord-list tabs">
                    <li class="show" tab-content ng-repeat="contact in contactObj">
                        <a data-tabs="#tab_{{contact.module_id}}"><i class="fa fa-check-circle green"></i>{{contact.section_name}}</a>
                        <ul class="sub-list">
                            <li ng-repeat="form in contact.form"><i class="fa fa-check green"></i><span class="f12">{{form.form_name}}</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--contact-left-panel-->
        </div>
        <div class="contact-right-panel mt40">
            <div class="right-section-wrap">
                <div class="tab-data animated fadeInRight" ng-repeat="contact in contactObj" id="tab_{{contact.module_id}}" style="display: block;">
                    <div ng-repeat="form in contact.form">
                        <div class="head-wrap accordion_head clearfix p10 head-wrap-new" accordian-content>
                            <h1 class="f16 blue bold">{{form.form_name}}</h1>
                            <span class="pull-right">
                                <a title="Options" href="#"><i class="fa fa-check"></i></a>
                                <a href="javascript:;" data-toggle="dropdown" class="menu-toggle dropdown-toggle">
                                    <i class="fa fa-bars"></i> </a>
                            </span>
                        </div>
                        <div class="accordion_body white-bg border border-top-none" style="display: block;">
                            <div ng-include="form.template_url">
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <!--<div class="left-panel pull-left mt40">-->
            <!--<div class="pull-left p10">-->
            <!--<ul class="tab-accord-list tabs">-->
            <!--<li class="show" tab-content><a data-tabs="#tab1"><i class="fa fa-check-circle green"></i>Basic-->
            <!--Information</a>-->
            <!--<ul class="sub-list">-->
            <!--<li><i class="fa fa-check green"></i><span class="f12">Applicant Information</span></li>-->
            <!--<li><i class="fa fa-check"></i><span class="f12">Family and Residence Information</span>-->
            <!--</li>-->
            <!--<li><i class="fa fa-check"></i><span class="f12">Personal Financial Information</span></li>-->
            <!--<li><i class="fa fa-check"></i><span class="f12">Individual Person - Other Income</span>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</li>-->
            <!--<li class="show" tab-content><a data-tabs="#tab2"><i class="fa fa-check-circle"></i>Income-->
            <!--Information</a>-->
            <!--<ul class="sub-list">-->
            <!--<li><i class="fa fa-check green"></i><span class="f12">Basic </span></li>-->
            <!--<li><i class="fa fa-check"></i><span class="f12">Other Sources on Household Income</span>-->
            <!--</li>-->
            <!--<li><i class="fa fa-check"></i><span class="f12">Non Business Expenditure</span></li>-->
            <!--</ul>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--&lt;!&ndash;contact-left-panel&ndash;&gt;-->
            <!--</div>-->
            <div class="contact-right-panel mt40">
                <div class="right-section-wrap">
                    <div class="tab-data animated fadeInRight" id="tab1" style="display: block;">
                        <div class="head-wrap accordion_head clearfix p10 head-wrap-new" accordian-content>
                            <h1 class="f16 blue bold">Applicant's information</h1>
                            <span class="pull-right">
                                <a title="Options" href="#"><i class="fa fa-check"></i></a>
                                <a href="javascript:;" data-toggle="dropdown" class="menu-toggle dropdown-toggle">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </span>
                        </div>
                        <div class="accordion_body white-bg border border-top-none">
                            <form class="form-horizontal form-bordered">
                                <div class="row clearfix m0">
                                    <div class="col-sm-12 clearfix p0">
                                        <div class="col-sm-4">
                                            <label class="control-label">Last Name*</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label">First Name*</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label">Gender*</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <div class="radio display-inline-block mr15 mt5">
                                                    <label class="f12"><input
                                                            type="radio" name="radio" checked=""> Male</label></div>
                                                <div class="radio display-inline-block"><label class="f12"><input
                                                        type="radio" name="radio"> Female</label></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 clearfix p0">
                                        <div class="col-sm-4">
                                            <label class="control-label">Date of Birth*</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label">Place of Birth</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 clearfix p0">
                                        <div class="col-sm-4">
                                            <label class="control-label">ID Number</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label">Place/Date of Issue</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label">Marital Status</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <div class="radio display-inline-block mr15 mt5">
                                                    <label class="f12"><input
                                                            type="radio" name="status" checked=""> Yes</label></div>
                                                <div class="radio display-inline-block"><label class="f12"><input
                                                        type="radio" name="status"> No</label></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 clearfix p0">
                                        <div class="col-sm-4">
                                            <label class="control-label">Education</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label">Employment Status</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label">Employment</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 clearfix p0">
                                        <div class="col-lg-12">
                                            <label class="control-label">Is the client in good health?</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <div class="radio display-inline-block mr15"><label class="f12"><input
                                                        type="radio" name="good" checked=""> Yes</label></div>
                                                <div class="radio display-inline-block"><label class="f12"><input
                                                        type="radio" name="good"> No</label></div>
                                            <textarea placeholder="Comments"
                                                      class="width-full p10 f14">Comments</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 clearfix p0">
                                        <div class="col-lg-12">
                                            <label class="control-label">Does the client have life insurance</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <div class="radio display-inline-block mr15"><label class="f12"><input
                                                        type="radio" name="insurance" checked=""> Yes</label></div>
                                                <div class="radio display-inline-block"><label class="f12"><input
                                                        type="radio" name="insurance"> No</label></div>
                                            <textarea placeholder="Comments"
                                                      class="width-full p10 f14">Comments</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 btn-custom clearfix text-center">
                                        <button class="btn btn-primary f14 next-btn" tab-next>Save and Continue</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="head-wrap clearfix p10 head-wrap-new accordion_head mt10">
                            <h1 class="f16 blue bold">Family and Residence Information</h1>
                        <span class="pull-right">
                            <a title="Options" href="#"><i class="fa fa-check"></i></a>
                            <a href="javascript:;" data-toggle="dropdown" class="menu-toggle dropdown-toggle"><i
                                    class="fa fa-bars"></i> </a>
                        </span>
                        </div>
                        <div class="accordion_body white-bg border border-top-none">
                            <form class="form-horizontal form-bordered">
                                <div class="row clearfix m0">
                                    <div class="col-sm-12 clearfix p0">
                                        <div class="col-sm-4">
                                            <label class="control-label">Last Name*</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label">First Name*</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label">Gender*</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <div class="radio display-inline-block mr15 mt5">
                                                    <label class="f12"><input
                                                            type="radio" name="radio" checked=""> Male</label></div>
                                                <div class="radio display-inline-block"><label class="f12"><input
                                                        type="radio" name="radio"> Female</label></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 clearfix p0">
                                        <div class="col-sm-4">
                                            <label class="control-label">Date of Birth*</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label">Place of Birth</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 clearfix p0">
                                        <div class="col-sm-4">
                                            <label class="control-label">ID Number</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label">Place/Date of Issue</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label">Marital Status</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <div class="radio display-inline-block mr15 mt5">
                                                    <label class="f12"><input
                                                            type="radio" name="status" checked=""> Yes</label></div>
                                                <div class="radio display-inline-block"><label class="f12"><input
                                                        type="radio" name="status"> No</label></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 clearfix p0">
                                        <div class="col-sm-4">
                                            <label class="control-label">Education</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label">Employment Status</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label">Employment</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 clearfix p0">
                                        <div class="col-sm-12">
                                            <label class="control-label">Is the client in good health?</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <div class="radio display-inline-block mr15"><label class="f12"><input
                                                        type="radio" name="good" checked=""> Yes</label></div>
                                                <div class="radio display-inline-block"><label class="f12"><input
                                                        type="radio" name="good"> No</label></div>
                                            <textarea placeholder="Comments"
                                                      class="width-full p10 f14">Comments</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 clearfix p0">
                                        <div class="col-lg-12">
                                            <label class="control-label">Does the client have life insurance</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <div class="radio display-inline-block mr15"><label class="f12"><input
                                                        type="radio" name="insurance" checked=""> Yes</label></div>
                                                <div class="radio display-inline-block"><label class="f12"><input
                                                        type="radio" name="insurance"> No</label></div>
                                            <textarea placeholder="Comments"
                                                      class="width-full p10 f14">Comments</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 btn-custom clearfix text-center">
                                        <button class="btn btn-primary f14 next-btn">Save and Continue</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="head-wrap clearfix p10 head-wrap-new accordion_head mt10">
                            <h1 class="f16 blue bold">Personal Financial Information </h1>
                        <span class="pull-right">
                            <a title="Options" href="#"><i class="fa fa-check"></i></a>
                            <a href="javascript:;" data-toggle="dropdown" class="menu-toggle dropdown-toggle"><i
                                    class="fa fa-bars"></i> </a>
                        </span>
                        </div>
                        <div class="accordion_body white-bg border border-top-none">
                            <form class="form-horizontal form-bordered">
                                <div class="row clearfix m0">
                                    <div class="col-sm-12 clearfix p0">
                                        <div class="col-sm-4">
                                            <label class="control-label">Last Name*</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label">First Name*</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label">Gender*</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <div class="radio display-inline-block mr15 mt5">
                                                    <label class="f12"><input
                                                            type="radio" name="radio" checked=""> Male</label></div>
                                                <div class="radio display-inline-block"><label class="f12"><input
                                                        type="radio" name="radio"> Female</label></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 clearfix p0">
                                        <div class="col-sm-4">
                                            <label class="control-label">Date of Birth*</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label">Place of Birth</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 clearfix p0">
                                        <div class="col-sm-4">
                                            <label class="control-label">ID Number</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label">Place/Date of Issue</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label">Marital Status</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <div class="radio display-inline-block mr15 mt5">
                                                    <label class="f12"><input
                                                            type="radio" name="status" checked=""> Yes</label></div>
                                                <div class="radio display-inline-block"><label class="f12"><input
                                                        type="radio" name="status"> No</label></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 clearfix p0">
                                        <div class="col-sm-4">
                                            <label class="control-label">Education</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label">Employment Status</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label">Employment</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 clearfix p0">
                                        <div class="col-lg-12">
                                            <label class="control-label">Is the client in good health?</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <div class="radio display-inline-block mr15"><label class="f12"><input
                                                        type="radio" name="good" checked=""> Yes</label></div>
                                                <div class="radio display-inline-block"><label class="f12"><input
                                                        type="radio" name="good"> No</label></div>
                                            <textarea placeholder="Comments"
                                                      class="width-full p10 f14">Comments</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 clearfix p0">
                                        <div class="col-lg-12">
                                            <label class="control-label">Does the client have life insurance</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <div class="radio display-inline-block mr15"><label class="f12"><input
                                                        type="radio" name="insurance" checked=""> Yes</label></div>
                                                <div class="radio display-inline-block"><label class="f12"><input
                                                        type="radio" name="insurance"> No</label></div>
                                            <textarea placeholder="Comments"
                                                      class="width-full p10 f14">Comments</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 btn-custom clearfix text-center">
                                        <button class="btn btn-primary f14 next-btn">Save and Continue</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-data animated fadeInRight" id="tab2">
                        <div class="head-wrap clearfix p10 head-wrap-new accordion_head mt10">
                            <h1 class="f16 blue bold">Other Sources on Household Income </h1>
                        <span class="pull-right">
                            <a title="Options" href="#"><i class="fa fa-check"></i></a>
                            <a href="javascript:;" data-toggle="dropdown" class="menu-toggle dropdown-toggle"><i
                                    class="fa fa-bars"></i> </a>
                        </span>
                        </div>
                        <div class="accordion_body white-bg border border-top-none" style="display: block">
                            <form class="form-horizontal form-bordered">
                                <div class="row clearfix m0">
                                    <div class="col-sm-12 clearfix p0">
                                        <div class="col-sm-4">
                                            <label class="control-label">Salary Of</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <label><input type="radio" name="salary" class=""> Self</label>
                                                <label><input type="radio" name="salary" class=""> Spouse</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label">Income Of</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <label><input type="radio" name="income" class=""> Monthly</label>
                                                <label><input type="radio" name="income" class=""> Yearly</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="control-label">Currency</label>

                                            <div class="form-group clearfix form-group-custom">
                                                <select>
                                                    <option value="">Select</option>
                                                    <option value="1">Dollar</option>
                                                    <option value="2">Rupee</option>
                                                    <option value="3">Euro</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 clearfix p0">
                                        <h3 class="form-heading">Other Income</h3>

                                        <div class="col-sm-12 clearfix">
                                            <table class="form-table  mt5">
                                                <thead>
                                                <tr>
                                                    <th>Income Type</th>
                                                    <th>Income</th>
                                                    <th>&nbsp;</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        Realestates
                                                    </td>
                                                    <td>
                                                        $ 1,400,000
                                                    </td>
                                                    <td>
                                                        <a class="custom-color-btn"><i class="fa fa-pencil"></i></a>
                                                        <a class="custom-color-btn"><i class="fa fa-plus"></i></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Realestates
                                                    </td>
                                                    <td>
                                                        $ 1,400,000
                                                    </td>
                                                    <td>
                                                        <a class="custom-color-btn"><i class="fa fa-pencil"></i></a>
                                                        <a class="custom-color-btn" add-income><i class="fa fa-plus"></i></a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                                <tfoot>
                                                <tr>

                                                </tr>
                                                </tfoot>

                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 btn-custom clearfix text-center">
                                        <button class="btn btn-primary f14 next-btn">Save and Continue</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--Details Area _End-->
        </div>
    </div>
</div>
