
<h3 class="fixed content-heading">Contacts
    <div class="pull-right add-section">
        <a ui-sref="contact.contact-group"  uib-tooltip="Contact Group"><i class="fa fa-users"></i></a>
        <a ui-sref="contact.contact-creation" uib-tooltip="Add Contact"><i class="fa fa-plus"></i></a>
    </div>
</h3>
                <div id="contentArea" class="content-area animated fadeInRight">
                  	<div class="content-container clearfix c-list">
						<!--<div class="alpha-list pull-left">
                        	<a ui-sref="contacts.contacts-creation" class="display-block"><i class="fa fa-plus"></i></a>
							<a href="javascript:;" class="display-block"><i class="fa fa-users"></i></a>
                            <ul data-list="alpha" >
                                <li ng-repeat="alpha in ALPHA_DATA" selected-alpha> <span>{{ alpha.alpha }}</span> </li>
                            </ul>
                        </div>--><!--Alpha List _End-->
                        <div class="result-list pull-left">
                        	<div class="search-result">
                            	<div class="search-input position-relative  pull-left">
                                	<input class="f12 p2" type="text" placeholder="Search..." />
                                    <i class="fa fa-search"></i>
                                </div>
                                <div class="pull-left">
                                	<a href="#" class="filter-search text-center display-inline-block valign-middle">
                                    	<i class="fa fa-filter"></i>
                                    </a>
                                </div>
                                <p class="clearboth"></p>
                            </div>
                            <div id="groups" class="groups-list">
                                <ul class="pb10 selected-result-list" data-list="groups" result-height>
                                    <li ng-repeat="results in GROUPS_LIST" class="relative" selected-result>
                                        <i class="fa fa-star green l4 t15 absolute f12"></i>
                                        <label> {{ results.Name }}</label>
                                        <span> {{ results.Members }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div><!--Result List _End-->                        
                        <div class="details-area pull-left p10">
                        	<div class="page-header border-bottom">
                                <h1 class="page-title display-inline-block f18 fontBold blue">Defaulters (20)</h1>
                                <div class="pull-right">
                                    <div class="search-box">
                                        <form>
                                            <input type="text" name="search" placeholder="Search...">
                                            <span><i class="fa fa-search"></i></span>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="list-wrap">
                                <ul>
                                    <li class="list-item p5 clearfix">
										<a ui-sref="contact.contact-list" class="link"></a>
                                        <div class="col-sm-1 p0">
                                            <div class="img-box ">
                                                <img src="images/salido.png" class="img-circle">
                                            </div>
                                        </div>
                                        <div class="list-desc col-sm-8">
                                            <p class="list-item-title blue">Agnus Ogles</p>
                                            <ul>
                                                <li>United Kingdom</li>
                                                <li>PH: 39998 89899</li>
                                                <li>agnus@gmail.com</li>
                                            </ul>
                                            <p class="display-inline-block rate-star">
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                            </p>
                                        </div>
                                        <div class="list-status col-sm-3">
                                            <label class="ash">Pending sofar</label>
                                            <span class="blue f16">$ 4,255,000</span>
                                        </div>
                                    </li>
                                    <li class="list-item p5 clearfix">
                                        <div class="col-sm-1 p0">
                                            <div class="img-box ">
                                                <img src="images/jayerowe.png" class="img-circle">
                                            </div>
                                        </div>
                                        <div class="list-desc col-sm-8">
                                            <p class="list-item-title blue">Jaye Rowe</p>
                                            <ul>
                                                <li>USA</li>
                                                <li>PH: 39998 89899</li>
                                                <li>jayerowe@gmail.com</li>
                                            </ul>
                                            <p class="display-inline-block rate-star">
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                            </p>
                                        </div>
                                        <div class="list-status col-sm-3">
                                            <label class="ash">Default Days</label>
                                            <span class="blue f16">45 Days</span>
                                        </div>
                                    </li>
                                    <li class="list-item p5 clearfix">
                                        <div class="col-sm-1 p0">
                                            <div class="img-box ">
                                                <img src="images/default-img.png" class="img-circle">
                                            </div>
                                        </div>
                                        <div class="list-desc col-sm-8">
                                            <p class="list-item-title blue">Raymundo Salido</p>
                                            <ul>
                                                <li>India</li>
                                                <li>PH: 39998 89899</li>
                                                <li>agnus@gmail.com</li>
                                            </ul>
                                            <p class="display-inline-block rate-star">
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                            </p>
                                        </div>
                                        <div class="list-status col-sm-3">
                                            <label class="ash">Default Days</label>
                                            <span class="blue f16">45 Days</span>
                                        </div>
                                    </li>
                                    <li class="list-item p10 clearfix light-orange">
                                        <div class="col-sm-1 p0">
                                            <div class="img-box ">
                                                <img src="images/fred-toon.png" class="img-circle">
                                            </div>
                                        </div>
                                        <div class="list-desc col-sm-8">
                                            <p class="list-item-title blue">Fred Toon</p>
                                            <ul>
                                                <li>AUS</li>
                                                <li>PH: 39998 89899</li>
                                                <li>agnus@gmail.com</li>
                                            </ul>
                                            <p class="display-inline-block rate-star">
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                            </p>
                                        </div>
                                        <div class="list-status col-sm-3">
                                            <label class="ash">Due Pending</label>
                                            <span class="blue f16">42%</span>
                                        </div>
                                    </li>
                                    <li class="list-item p5 clearfix">
                                        <div class="col-sm-1 p0">
                                            <div class="img-box ">
                                                <img src="images/salido.png" class="img-circle">
                                            </div>
                                        </div>
                                        <div class="list-desc col-sm-8">
                                            <p class="list-item-title blue">Edgardo Woodyard</p>
                                            <ul>
                                                <li>United Kingdom</li>
                                                <li>PH: 39998 89899</li>
                                                <li>edgardo@gmail.com</li>
                                            </ul>
                                            <p class="display-inline-block rate-star">
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                            </p>
                                        </div>
                                        <div class="list-status col-sm-3">
                                            <label class="ash">NPA</label>
                                            <span class="blue f16">$ 120,000</span>
                                        </div>
                                    </li>
                                    <li class="list-item p5 clearfix">
                                        <div class="col-sm-1 p0">
                                            <div class="img-box ">
                                                <img src="images/salido.png" class="img-circle">
                                            </div>
                                        </div>
                                        <div class="list-desc col-sm-8">
                                            <p class="list-item-title blue">Agnus Ogles</p>
                                            <ul>
                                                <li>United Kingdom</li>
                                                <li>PH: 39998 89899</li>
                                                <li>agnus@gmail.com</li>
                                            </ul>
                                            <p class="display-inline-block rate-star">
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                            </p>
                                        </div>
                                        <div class="list-status col-sm-3">
                                            <label class="ash">Pending sofar</label>
                                            <span class="blue f16">$ 4,255,000</span>
                                        </div>
                                    </li>
                                    <li class="list-item p5 clearfix">
                                        <div class="col-sm-1 p0">
                                            <div class="img-box ">
                                                <img src="images/jayerowe.png" class="img-circle">
                                            </div>
                                        </div>
                                        <div class="list-desc col-sm-8">
                                            <p class="list-item-title blue">Jaye Rowe</p>
                                            <ul>
                                                <li>USA</li>
                                                <li>PH: 39998 89899</li>
                                                <li>jayerowe@gmail.com</li>
                                            </ul>
                                            <p class="display-inline-block rate-star">
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                            </p>
                                        </div>
                                        <div class="list-status col-sm-3">
                                            <label class="ash">Default Days</label>
                                            <span class="blue f16">45 Days</span>
                                        </div>
                                    </li>
                                    <li class="list-item p5 clearfix">
                                        <div class="col-sm-1 p0">
                                            <div class="img-box ">
                                                <img src="images/default-img.png" class="img-circle">
                                            </div>
                                        </div>
                                        <div class="list-desc col-sm-8">
                                            <p class="list-item-title blue">Raymundo Salido</p>
                                            <ul>
                                                <li>India</li>
                                                <li>PH: 39998 89899</li>
                                                <li>agnus@gmail.com</li>
                                            </ul>
                                            <p class="display-inline-block rate-star">
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                            </p>
                                        </div>
                                        <div class="list-status col-sm-3">
                                            <label class="ash">Default Days</label>
                                            <span class="blue f16">45 Days</span>
                                        </div>
                                    </li>
                                    <li class="list-item p10 clearfix light-orange">
                                        <div class="col-sm-1 p0">
                                            <div class="img-box ">
                                                <img src="images/fred-toon.png" class="img-circle">
                                            </div>
                                        </div>
                                        <div class="list-desc col-sm-8">
                                            <p class="list-item-title blue">Fred Toon</p>
                                            <ul>
                                                <li>AUS</li>
                                                <li>PH: 39998 89899</li>
                                                <li>agnus@gmail.com</li>
                                            </ul>
                                            <p class="display-inline-block rate-star">
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                                <span><i class="fa fa-star"></i></span>
                                            </p>
                                        </div>
                                        <div class="list-status col-sm-3">
                                            <label class="ash">Due Pending</label>
                                            <span class="blue f16">42%</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!--Details Area _End-->
                        <div id="actionPanel" class="action-panel p10">
                        	<h3 class="heading mb10 text-lowercase">Loans Given ($ 1,85,000)</h3>
                            <div>
                                <button class="btn btn-small-plr btn-success f12" type="button">
                                    <i class="fa fa-comment"></i> SMS
                                </button>
                                <button class="btn btn-small-plr btn-success f12" type="button">
                                    <i class="fa fa-envelope"></i> e-Mail
                                </button>
                                <button class="btn btn-small-plr btn-success f12" type="button">
                                    <i class="fa fa-mobile"></i> Call
                                </button>
                            </div>
                            <h3 class="heading mt20">Group Performance</h3>
                            <div id="loansPerformance" style="height: 180px;width:180px"></div><!--Loans-->
                            <ul class="highchart-legend">
                            	<li><span class="light-blue2-bg"></span>Loans Payment</li>
                                <li><span class="light-black-bg"></span>New Loans</li>
                                <li><span class="light-green-bg"></span>Pending Loans</li>
                                <li><span class="orange-bg"></span>Cancelled Loans</li>
                            </ul>
                            <h3 class="heading mt15">Communication Timeline</h3>
                            <p class="communication-types mb5">
                            	<span><i class="fa fa-comment"></i></span>
                                <span><i class="fa fa-mobile f18"></i></span>
                                <span><i class="fa fa-envelope"></i></span>
                                <span><i class="fa fa-user"></i></span>
                            </p>
                            <div class="add-timeline">
                            	<input type="text" placeholder="Enter in Timeline"/>
                                <a href="#"><i class="fa f21 fa-plus"></i></a>
                            </div>
                            <ul class="timeline">
                            	<li>
                                	<span class="recent">04:40 PM</span>
                                    <div class="curve-block">02/11/2015 <i class="fa fa-comment pull-right"></i></div>
                                </li>
                                <li>
                                	<span>04:40 PM</span>
                                    <div class="curve-block">30/10/2015 <i class="fa fa-mobile pull-right"></i></div>
                                </li>
                                <li>
                                	<span>09:30 AM</span>
                                    <div class="curve-block">29/10/2015 <i class="fa fa-user pull-right"></i></div>
                                </li>
                                <li>
                                	<span>11:45 AM</span>
                                    <div class="curve-block">27/10/2015 <i class="fa fa-envelope pull-right"></i></div>
                                </li>
                            </ul><!--Timeline-->
                            
                            
                            
                            <h3 class="heading mt15 mb10">Fix an Appointment</h3>
                            <div class="appintment-section">
                                <div class="form-group custom-form">
                                    <div class='input-group date' id='appointment'>
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar">
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-12 p0">
                                    <div class="form-group custom-form">
                                        <select class="form-control" multiple="multiple" text="Type" single="true" selectAll="false" position="top">
                                            <option value="1">General</option>
                                            <option value="2">Marketing</option>
                                            <option value="3">Careers</option>
                                            <option value="4">Other</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12 p0">
                                    <textarea class="width-full p5 f12 gray" rows="3" placeholder="Enter your message"></textarea>
                                </div>
                                <div class="col-sm-12 p0 btn-custom mt10">
                                    <button class="btn btn-primary f14">Save</button>
                                </div>
                            </div>
                            
                        </div><!--Right Panel-->
                        
                    </div>
                </div>
