<div class="right-modal modal-custom clearfix" data-modal="addfacilitymodal">

    <h3 class="right-modal-head ng-binding">
        {{title}} Facility
        <a ng-click="cancel()" class="close-right pull-right"><img src="images/close.png"></a>
    </h3>
    <form class="form-horizontal form-bordered mt10"  name="facilityForm"  novalidate>
        <div class="row clearfix">
            <div class="col-sm-12 clearfix">
                <div class="col-sm-6">
                    <label class="control-label">Loan Currency*</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" ng-model="facility.name" name="name" required>
                        <div ng-show="facilityForm.name.$error.required && submitStatus" class="error-message">
                            Enter name
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="control-label">Loan Currency</label>
                    <div class="form-group clearfix form-group-custom">
                        <div ng-init="facility.currency = 'USD'"></div>
                        <input type="text" readonly  class="form-control" ng-model="facility.currency" name="currency">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 clearfix">
                <div class="col-sm-6">
                    <label class="control-label">Amount</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" ng-model="facility.amount" name="amount">
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="control-label">Tenore</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" ng-model="facility.tenore" name="tenore">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 clearfix">
                <div class="col-sm-6">
                    <label class="control-label">Amortization Structre</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" ng-model="facility.amortizationStructre" name="amortizationStructre">
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="control-label">Facility ID</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" ng-model="facility.FacilityId" name="FacilityId">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 clearfix">
                <div class="col-sm-12">
                    <label class="control-label">Purpose</label>
                    <div class="form-group clearfix form-group-custom">
                        <textarea placeholder="Comments" ng-model="facility.purpose" name="purpose" class="width-full p10 f12"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 clearfix">
                <div class="col-sm-12">
                    <label class="control-label">Repayment structure</label>
                    <div class="form-group clearfix form-group-custom">
                        <textarea placeholder="Comments" ng-model="facility.repaymentStructure" name="repaymentStructure" class="width-full p10 f12"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 clearfix">
                <div class="col-sm-12">
                    <label class="control-label">Fees and Commissions</label>
                    <div class="form-group clearfix form-group-custom">
                        <textarea placeholder="Comments" ng-model="facility.feesAndCommissions" name="feesAndCommissions" class="width-full p10 f12"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 clearfix">
                <div class="col-sm-12">
                    <label class="control-label">Covenants</label>
                    <div class="form-group clearfix form-group-custom">
                        <textarea placeholder="Comments" ng-model="facility.covenants" name="covenants" class="width-full p10 f12"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 clearfix">
                <div class="col-sm-12">
                    <label class="control-label">Collateral</label>
                    <div class="form-group clearfix form-group-custom">
                        <textarea placeholder="Comments" ng-model="facility.collateral" name="collateral" class="width-full p10 f12"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 clearfix">
                <div class="col-sm-12">
                    <label class="control-label">Comments</label>
                    <div class="form-group clearfix form-group-custom">
                        <textarea placeholder="Comments" ng-model="facility.comments" name="comments" class="width-full p10 f12"></textarea>
                    </div>
                </div>
            </div>

        </div>
    </form>
    <div class="modal-footer border-none btn-custom clearfix text-center">
        <button ng-if="!update" class="btn btn-primary f14" ng-click="save(facility,facilityForm)" >Submit</button>
        <button ng-if="update" class="btn btn-primary f14" ng-click="facilityForm.$valid && cancel()">Update</button>
        <button class="btn btn-default f14" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>