<form class="form-horizontal form-bordered" name="form" novalidate>
    <div class="row clearfix">
        <div class="col-sm-12 clearfix">
            <div class="col-sm-12 p20" data-ng-controller="facilityComponentsCtrl" ng-click="init({id:'1'})">
                    <!--<div ng-init="project.facility_details = []"></div>-->
                    <div ng-if="!project.facility_details">
                        <div ng-init="project.facility_details=[]"></div>
                    </div>
                    <div class="clearfix">
                        <p class="f11 ash display-inline-block"><em>Here you can add new facility</em></p>
                        <button class="btn btn-primary btn-dark border-none f12 pull-right" ng-click="addFacility()" modal="addfacilitymodal">
                            <i class="fa fa-plus-circle"></i> Add New Facility
                        </button>
                    </div>
                    <div class="clearfix"></div>
                    <div class="table-wrapper p0 pt5">
                        <table st-table="project.facility_details" class="table table-striped table-bordered table-hover display table-style">
                            <thead>
                            <tr>
                                <th st-sort="name">Name</th>
                                <th st-sort="currency">Currency</th>
                                <th st-sort="amount">Amount</th>
                                <th st-sort="tenore">Tenore</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in project.facility_details">
                                <td>{{row.name}}</td>
                                <td>{{row.currency}}</td>
                                <td>{{row.amount}}</td>
                                <td>{{row.tenore}}</td>
                                <td>
                                    <div class="clearfix pagination-wrap">
                                        <ul class="icons-wrap pull-left">
                                        <li><a href="javascript:;" ng-click="addFacility(row)" class="fa fa-edit" ></a></li>
                                        <li><a href="javascript:;" class="fa fa-eye" ng-click="viewFacility(row)"></a></li>
                                        <li><a href="javascript:;" class="fa fa-trash" ng-click="removeItem(row)"></a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                            <tfoot ng-if="!project.facility_details.length">
                            <!--<td colspan="5">
                                <div class="text-center">
                                    <button class="btn btn-primary f12" data-ng-click="addFacility()">
                                        <i class="fa fa-plus-circle"></i> Add New Facility
                                    </button>
                                </div>
                            </td>-->
                            </tfoot>
                        </table>
                    </div>
                </div>
        </div>
        <div class="col-sm-12 btn-custom clearfix text-center">
            <button type="submit" class="btn btn-primary f14 next-btn" ng-click="submitForm(project,formDetails,form)" tab-next>
                Save
            </button>
        </div>
    </div>
</form>