<div class="right-modal modal-custom">

    <h3 class="right-modal-head ng-binding">
        View Facility
        <a ng-click="cancel()" class="close-right pull-right"><img src="images/close.png"></a>
    </h3>
    <form class="form-horizontal form-bordered mt10"  name="facilityForm"  novalidate>
        <div class="row clearfix">
            <div class="col-sm-12 clearfix">
                <div class="col-sm-6">
                    <label class="control-label">L</label>
                    <p class="f14 dark-blue">{{facility.name}}</p>
                </div>
                <div class="col-sm-6">
                    <label class="control-label">Loan Currency</label>
                    <p class="f14 dark-blue">{{facility.currency}}</p>
                </div>
            </div>
            <div class="col-sm-12 clearfix">
                <div class="col-sm-6">
                    <label class="control-label">Loan Amount</label>
                    <p class="f14 dark-blue">{{facility.amount}}</p>
                </div>
                <div class="col-sm-6">
                    <label class="control-label">Expected Start Date</label>
                    <p class="f14 dark-blue">{{facility.tenore}}</p>
                </div>
            </div>
            <div class="col-sm-12 clearfix">
                <div class="col-sm-6">
                    <label class="control-label">Amortization Structre</label>
                    <p class="f14 dark-blue">{{facility.amortizationStructre}}</p>
                </div>
                <div class="col-sm-6">
                    <label class="control-label">Facility ID</label>
                    <p class="f14 dark-blue">{{facility.FacilityId}}</p>
                </div>
            </div>
            <div class="col-sm-12 clearfix">
                <div class="col-sm-12">
                    <label class="control-label">Purpose</label>
                    <p class="f14 dark-blue">{{facility.purpose}}</p>
                </div>
            </div>
            <div class="col-sm-12 clearfix">
                <div class="col-sm-12">
                    <label class="control-label">Repayment structure</label>
                    <p class="f14 dark-blue">{{facility.repaymentStructure}}</p>
                </div>
            </div>
            <div class="col-sm-12 clearfix">
                <div class="col-sm-12">
                    <label class="control-label">Fees and Commissions</label>
                    <p class="f14 dark-blue">{{facility.feesAndCommissions}}</p>
                </div>
            </div>
            <div class="col-sm-12 clearfix">
                <div class="col-sm-12">
                    <label class="control-label">Covenants</label>
                    <p class="f14 dark-blue">{{facility.covenants}}</p>
                </div>
            </div>
            <div class="col-sm-12 clearfix">
                <div class="col-sm-12">
                    <label class="control-label">Collateral</label>
                    <p class="f14 dark-blue">{{facility.collateral}}</p>
                </div>
            </div>
            <div class="col-sm-12 clearfix">
                <div class="col-sm-12">
                    <label class="control-label">Comments</label>
                    <p class="f14 dark-blue">{{facility.comments}}</p>
                </div>
            </div>

        </div>
    </form>
    <div class="modal-footer border-none btn-custom clearfix text-center">
        <button class="btn btn-default f14" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>