<h3 class="fixed content-heading"> Loan
    <ul class="pull-right button-set">
        <li><a href="javascript:;" ng-click="back()" active-link="heading-active" uib-tooltip="Back"><i
                class="fa fa-close-sm "></i></a></li>
    </ul>
</h3>

<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg p20 mb20 relative">
        <!--<img src="images/collateral-types.png" class="width-full">-->
        <div class="clearfix col-sm-12 p0">
            <div class="acc-wrapper">
                <div ng-if="collateralParams.collateral_module == 1" class="acc-box mb3">
                    <div class="clearfix acc-head p0 border-bottom white-bg white-color">


                            <h2 class="f15 p10 overflow-hidden bold darkcolor cursor-pointer"
                                basic-accordian>
                                <span class="acc-blue-count-num">1</span>
                                {{collateralParams.formName}}</h2>

                    </div>
                    <div class="acc-body clearfix white-bg pl0" style="display: block" ng-if="collateralParams.templateName!=null">
                            <div ng-include="'partials/crm/collateral/forms/'+collateralParams.templateName"></div>

                    </div>
                </div>
                <div ng-if="collateralParams.collateral_module == 2" class="acc-box mb3">
                    <div class="clearfix acc-head p0 border-bottom white-bg white-color">


                            <h2 class="f15 p10 overflow-hidden bold darkcolor cursor-pointer"
                                basic-accordian>
                                <span class="acc-blue-count-num">2</span>
                                Documents</h2>


                    </div>
                    <div class="acc-body clearfix white-bg pl0" style="display: block" ng-controller="collateralAssessmentQuestionsCheckList">
                        <div class="col-sm-12 white-bg p0 p15">
                            <div  ng-include="'partials/crm/collateral/pre-disbursement-checklist.html'"></div>
                        </div>

                    </div>
                </div>
                <div ng-if="collateralParams.collateral_module == 3" class="acc-box mb3">
                    <div class="clearfix acc-head p0 border-bottom white-bg white-color">


                            <h2 class="f15 p10 overflow-hidden bold darkcolor cursor-pointer"
                                basic-accordian>
                                <span class="acc-blue-count-num">3</span>
                                Checklist</h2>

                    </div>
                    <div class="acc-body clearfix white-bg pl0" style="display: block">
                        <div class="col-sm-12 clearfix mt20" ng-if="item.collateral_stage_template != null" ng-repeat="item in stageFormList">
                           <!-- <h3  class="f15 p10 overflow-hidden bold darkcolor cursor-pointer"><span> {{item.collateral_stage_name}}</span></h3>-->
                           <div class="clearfix" >
                               <div ng-include="'partials/crm/collateral/forms/stages/'+item.collateral_stage_template" onload="item=item"></div>
                           </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
