<h3 class="fixed content-heading"> Collateral List
    <!--<ul class="pull-right button-set">
        <li><a href="javascript:;" active-link="heading-active" uib-tooltip="Add New"><i
                class="fa fa-add-sm "></i></a></li>
    </ul>-->
</h3>

<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg p20 mb20 relative">
        <!--<img src="images/collateral-list.png" class="width-full">
        <a ui-sref="collateral.loan" style="position: absolute;width: 100%;left: 0;height: 100%;top:0;z-index: 1"></a>-->

        <div class="table-wrapper no-bg p0 overflow-hidden">
            <table class="table-list-view t-l-view table row-pointer">
                <thead>
                 <tr class="table-head-row">
                     <th class="border-none">
                         Collateral ID
                     </th>
                     <th class="border-none">
                         Property Type
                     </th>
                     <th class="border-none">
                         Project ID
                     </th>
                     <th class="border-none">
                         Owner
                     </th>
                     <th class="border-none">
                        Value
                     </th>
                     <th class="border-none">
                         Status
                     </th>
                     <th class="border-none text-center">

                     </th>
                 </tr>
                </thead>

                <tbody class="hierarchical_slide" hierarchical-slide><!--ng-click="contactView(row.id_crm_contact)"-->
                <tr ui-sref="collateral.loan">
                    <td>
                        <label>2354687</label>
                    </td>
                    <td>
                        <label>Agricultural Land</label>
                    </td>
                    <td>
                        <label>Industry</label>
                    </td>
                    <td>
                        <label>Willium</label>
                    </td>
                    <td>
                        <label>Not Estimated</label>
                    </td>
                    <td>
                        <label>In Progress</label>
                    </td>
                    <td class="text-center">
                        <label></label>
                    </td>

                </tr>
                <tr ui-sref="collateral.loan">
                    <td>
                        <label>2354687</label>
                    </td>
                    <td>
                        <label>Agricultural Land</label>
                    </td>
                    <td>
                        <label>Industry</label>
                    </td>
                    <td>
                        <label>Willium</label>
                    </td>
                    <td>
                        <label>1,85,000</label>
                    </td>
                    <td>
                        <label class="text-success">Completed</label>
                    </td>
                    <td class="text-center">
                        <label></label>
                    </td>

                </tr>
                <tr ui-sref="collateral.loan">
                    <td>
                        <label>2354687</label>
                    </td>
                    <td>
                        <label>Agricultural Land</label>
                    </td>
                    <td>
                        <label>Industry</label>
                    </td>
                    <td>
                        <label>Willium</label>
                    </td>
                    <td>
                        <label>25,000</label>
                    </td>
                    <td>
                        <label class="text-success">Completed</label>
                    </td>
                    <td class="text-center">
                        <label></label>
                    </td>

                </tr>
                <tr ui-sref="collateral.loan">
                    <td>
                        <label>2354687</label>
                    </td>
                    <td>
                        <label>Agricultural Land</label>
                    </td>
                    <td>
                        <label>Industry</label>
                    </td>
                    <td>
                        <label>Willium</label>
                    </td>
                    <td>
                        <label>Not Estimated</label>
                    </td>
                    <td>
                        <label>In Progress</label>
                    </td>
                    <td class="text-center">
                        <label><i class="icon-comment1 f21"></i> </label>
                    </td>

                </tr>
                </tbody>

            </table>

        </div>

    </div>
</div>
