<h3 class="fixed content-heading">
    Collateral Dashboard
    <!-- <span class="button-set">
        <a ui-sref="project.project-creation" uib-tooltip="Add" ng-click="addNewProject()"><i class="fa fa-plus"></i></a>
     </span>-->
</h3>
<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg">

        <div class="right-fixed-container clearfix">
            <div class="col-sm-12 p0 mt10 clearfix clearboth">

                <div class="legend-view col-sm-12 p5 pt10 hierarchical_show" hierarchical-show>
                    <div class="col-sm-3">
                        <div class="legend-block blue-bg">
                            <i class="fa icon-mail"></i>

                            <div class="legend-label">
                                <label>
                                    Collateral
                                </label>
                                <b class="f21">0</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="legend-block light-yellow-bg">
                            <i class="fa icon-wallet-open"></i>

                            <div class="legend-label">
                                <label>
                                    Pipeline Projects
                                </label>
                                <b class="f21">0</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="legend-block green-bg">
                            <i class="fa icon-users2"></i>

                            <div class="legend-label">
                                <label>
                                    Approved Projects
                                </label>
                                <b class="f21">0</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="legend-block sky-blue-bg">
                            <i class="fa icon-clipped-file"></i>

                            <div class="legend-label">
                                <label>
                                    Monitoring Projects
                                </label>
                                <b class="f21">0</b>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-wrapper no-bg pt0 overflow-hidden">
                    <table class="table-list-view p-table table mb0 table-striped row-pointer" st-pipe="callServer"
                           st-table="displayed">
                        <thead>
                        <tr>
                            <td colspan="7" class="pad0 border-none">
                                <div class="action-head">
                                    <div class="table-search pull-left">
                                        <input type="text" class="form-control" placeholder="Title" st-search>
                                        <i class="fa icon-search"></i>
                                    </div>
                                </div>


                            </td>
                        </tr>

                        </thead>

                        <tbody ng-if="collateralList.length>0" class="hierarchical_slide" hierarchical-slide>
                        <tr ng-click="gotoState(row)" ng-repeat="row in collateralList">
                            <td class="img"><span first-alpha="{{row.project_title}}"></span></td>
                            <td>
                                <label class="label-text display-block">Collateral Code : </label>
                                <label title="{{row.project_title}}"><b>{{row.collateral_code}}</b></label>
                            </td>
                            <!--<td>{{row.project_description}}</td>
                            <td>Threshold Software Solutions Pvt. Ltd.</td>-->
                            <td>
                                <label class="label-text display-block">Project Title : </label>
                                <label title="{{row.project_title}}"><b>{{row.project_title}}</b></label>
                            </td>
                            <td>
                                <label class="label-text display-block">Owner : </label>
                                <label title="{{row.username}}"><b>{{row.username}}</b></label>
                            </td>
                            <td>
                                <label class="label-text display-block">Facility Name : </label>
                                <label title="{{row.loan_amount}}"><b>{{row.facility_name}}</b></label>
                            </td>
                            <td>
                                <label class="label-text display-block">Total Exposure : </label>
                                <label title="{{row.loan_amount}}"><b>{{row.loan_amount}}</b></label>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="7" class="text-center">
                                <div st-items-by-page="10" st-pagination=""
                                     st-template="partials/list-pagination.custom.html" class="pull-right"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>


                </div>
            </div>
            <div class="right-fixed  mt20 trans-pos-top" scroll-pos>
                <div class="col-sm-12 p0 border">
                    <h3 class="custom-head">ADD QUICK NEW Collateral</h3>

                    <div class="form-group clearfix p10  form-group-custom white-bg m0">
                        <form class="form-horizontal form-bordered" name="form" novalidate ng-submit="form.$valid && submitQuickCollateral(moreFields) ">


                            <label class="label-text">Collateral Code*</label>

                            <div class="form-group clearfix form-group-custom">
                                <input type="text" class="form-control" ng-model="collateral.collateral_code"
                                       name="collateral_code" class="form-control" required>

                                <div ng-if="form.collateral_code.$error.required && submitted" class="error-message">
                                    Enter Collateral Code.
                                </div>
                            </div>

                            <label class="label-text">Project *</label>
                            <div class="form-group clearfix form-group-custom">

                                <select chosen
                                        data-placeholder-text-single="'Choose a Project'"
                                        no-results-text="'Could not find any Project :('"
                                        ng-change="getFacilityList(id_crm_project)"
                                        class="form-control" name="id_crm_project" ng-model="id_crm_project"
                                        ng-options="project.id_crm_project as project.project_title  for project in projectList" required>
                                    <option value="">--Select Project--</option>
                                </select>
                                <div ng-if="form.id_crm_project.$error.required && submitted" class="error-message">
                                    Select Project
                                </div>

                            </div>
                            <label class="label-text">Facility *</label>
                            <div class="form-group clearfix form-group-custom">
                                <select chosen
                                        class="form-control" ng-disabled="!id_crm_project"
                                        ng-options="facility.id_project_facility as facility.facility_name  for facility in facilityList"
                                        ng-model="collateral.project_facility_id" name="project_facility_id" required>
                                    <option value="">--Select Facility--</option>
                                </select>
                                <div ng-if="form.id_project_facility.$error.required && submitted" class="error-message">
                                    Select Facility Type
                                </div>

                            </div>
                            <label class="label-text">Collateral Type *</label>
                            <div class="form-group clearfix form-group-custom">

                                <select chosen
                                        data-placeholder-text-single="'Choose a Project'"
                                        no-results-text="'Could not find any Project :('"
                                        class="form-control" name="collateral_type_id" ng-model="collateral.collateral_type_id"
                                        ng-options="collateralType.id_collateral_type as collateralType.collateral_type_name for collateralType in collateralTypeList" required>
                                    <option value="">--Select Collateral Type--</option>
                                </select>
                                <div ng-if="form.collateral_type_id.$error.required && submitted" class="error-message">
                                    Select Collateral Type
                                </div>

                            </div>

                            <div class="col-lg-12 btn-custom clearfix text-center mb10 mt20">
                                <button type="submit" class="btn btn-primary f12 border-none lt-bg mr4"
                                        ng-click="submitted = true; moreFields = false;">
                                    Save
                                </button>
                                <button type="submit" class="btn btn-green f12 border-none lt-bg"
                                        ng-click="submitted = true;moreFields = true;">
                                    Save & Continue
                                </button>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="companyListTemplate.html">
    <a>
        <div class="list-item p5 clearfix">
            <div class="list-desc col-sm-8">
                <p class="list-item-title blue">{{match.model.company_name}}</p>
            </div>
        </div>
    </a>
</script>
