<h3 class="fixed content-heading"> Loan
    <div class="pull-right button-set">
        <!-- <a uib-tooltip="Touchpoints" modal="touchpoints" ng-click="touchpointsModal()"><i class="fa fa-touchpoint"></i> </a>-->
        <!-- <a uib-tooltip="Attachments" modal="attachment" ng-click="quickAttachmentModal()"><i class="fa fa-paperclip"></i> </a>
         <a ui-sref="contact.contact-creation" uib-tooltip="Add" ng-click="addNewContact()"><i class="fa fa-plus"></i></a>
         <a uib-tooltip="Edit"  ui-sref="project.project-creation({id:(currentProjectViewId | decode )})" ><i class="fa fa-pencil"></i></a>-->
        <!--      <a ng-click="AddedCompaniesModal()" modal="addedcompanies" uib-tooltip="Companies">
                  <i class="fa fa-company"></i>
              </a>-->
        <!--<a ng-click="AddedContactsModal()" modal="addedcontacts" uib-tooltip="Contacts">
            <i class="fa fa-book"></i>
        </a>
        <a  ng-click="teamModal()"  modal="addTeam" uib-tooltip="Team">
            <i class="fa fa-user-plus"></i>
        </a>
         <a  ng-click="addTasksModal()"  modal="addtasks" uib-tooltip="Tasks">
            <i class="fa fa-tasks"></i>
        </a>
        <a ng-click="meetingModal()" uib-tooltip="Meeting">
             <i class="fa fa-meeting"></i>
         </a>-->
        <a ui-sref="crm-collateral.collateral-dashboard" uib-tooltip="Back"><i class="fa fa-close-sm"></i></a>
    </div>
</h3>

<div id="contentArea" class="content-area animated fadeInRight">

    <div class="content-container clearfix light-blue-bg relative">
        <div class="col-sm-7 p0 col-lg-8">
            <!--<a href="#topSection" class="fixed z9 r220 b30 go-top" style="display:none"><i class="fa fa fa-chevron-up"></i></a>-->

            <div class="clearfix p0  page-header-wrap mb0  box-shadow">
                <div id="topSection" class="details-container relative col-sm-12 clearfix">

<!--
                    <div class="col-sm-1 p0">
                        <div class="img-box-new mt20"><img class="img-circle img-responsive" src="images/salido.png">
                        </div>
                    </div>

-->
                    <div class="col-sm-11 clearfix p0">
                        <div class="display-inline-block wrapper-list col-sm-12 p0 pt10 pb10 clearfix">
                 <!--           <h3 class="f15 lh26 mb5 clearfix dark-sky-blue">Rajesh <span class="ash f11">CEO</span>
                                <div class="pull-right">
                                    <a href="javascript:;" class="btn-wrap">
                                        <span class="input-addon"><i class="icon-eye"></i> </span> Complete View
                                    </a>
                                </div>
                            </h3>-->
                            <ul>
                              <!--  <li class="lh14">
                                    <a class="f12 sky-blue text-line"
                                       href="mailto:rajesh@gmail.com">rajesh@gmail.com</a>
                                    <p class="f12">9855698989</p>
                                </li>-->
                                <li>
                                    <p class="f12">Collateral Code</p>
                                    <h3 class="f13 heading">{{collateralInfo.collateral_code}}</h3>

                                </li>
                                <li>
                                    <p class="f12">Collateral Type</p>
                                    <h3 class="f13 heading">{{collateralInfo.collateral_type_name}}</h3>

                                </li>
                            </ul>


                        </div>
                    </div>
                  </div>
            </div>

            <!--Repeat this bottom section for Forms-->
            <div class="page-view-wrap mt20 clearfix">
                <div class="col-sm-12 plr20">
                    <div class="list-view-str">
                        <ul>
                            <li>
                                <div class="list-str">
                                    <h4 class="f14 bold text-uppercase dark-blue pt10 pb10">Basic Information</h4>

                                    <div class="list-data white-bg p10"
                                         ng-click="goToEdit({'formName':'Collatral Details','templateName':'collateral-details.html','type':'collateralInfo'})">
                                        <div class="list-img pull-left box-active dark-blue">
                                            <i class="fa icon-clipped-file"></i>
                                        </div>
                                        <div class="list-text overflow-hidden">
                                            <h5 class="f14 darkcolor">Collateral Details</h5>
                                            <span class="ash f12">{{collateralInfo.collateral_code}}</span>
                                        </div>
                                    </div>


                                </div>
                            </li>
                            <li>
                                <div class="list-str">
                                    <h4 class="f14 bold text-uppercase dark-blue pt10 pb10">Collateral Types</h4>

                                    <div class="list-data white-bg p10">
                                        <div class="list-img pull-left box-active dark-blue">
                                            <i class="fa icon-actions"></i>
                                        </div>
                                        <div class="list-text overflow-hidden">
                                            <h5 class="f14 darkcolor">{{collateralInfo.collateral_type_name}}</h5>
                                            <span class="ash f12">--</span>
                                        </div>
                                    </div>
                                     <div class="list-data c-add-icon" uib-tooltip="{{collateralInfo.collateral_type_name}}"
                                          ng-click="goToEdit({'formName':collateralInfo.collateral_type_name,'templateName':collateralInfo.collateral_type_template,'type':'collateralType','collateral_type_id':collateralInfo.collateral_type_id,'collateral_module':1})">
                                         <div class="list-img sky-blue">
                                             <i class="icon-list2"></i>
                                         </div>
                                     </div>
                                    <div class="list-data c-add-icon"  uib-tooltip="Documents"
                                         ng-click="goToEdit({'formName':collateralInfo.collateral_type_name,'templateName':collateralInfo.collateral_type_template,'type':'collateralType','collateral_type_id':collateralInfo.collateral_type_id,'collateral_module':2})">
                                        <div class="list-img sky-blue">
                                            <i class="icon-folders"></i>
                                        </div>
                                    </div>
                                    <div class="list-data c-add-icon" uib-tooltip="Checklist"
                                         ng-click="goToEdit({'formName':collateralInfo.collateral_type_name,'templateName':collateralInfo.collateral_type_template,'type':'collateralType','collateral_type_id':collateralInfo.collateral_type_id,'collateral_module':3})">
                                        <div class="list-img sky-blue">
                                            <i class="icon-right-circle"></i>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <!--              <li>
                                              <div class="list-str">
                                                  <h4 class="f14 bold text-uppercase dark-blue pt10 pb10">Facility Information</h4>

                                                  <div class="list-data white-bg p10">
                                                      <div class="list-img pull-left box-active dark-blue">
                                                          <i class="fa icon-info"></i>
                                                      </div>
                                                      <div class="list-text overflow-hidden">
                                                          <h5 class="f14 darkcolor">Facility Details </h5>
                                                      </div>
                                                  </div>
                                              </div>
                                          </li>
                                          <li>
                                              <div class="list-str">
                                                  <h4 class="f14 bold text-uppercase dark-blue pt10 pb10">Recovery Process</h4>

                                                  <div class="list-data white-bg p10">
                                                      <div class="list-img pull-left dark-blue">
                                                          <i class="fa icon-edit-sqare"></i>
                                                      </div>
                                                      <div class="list-text overflow-hidden">
                                                          <h5 class="f14 darkcolor">Recovery Report</h5>
                                                      </div>
                                                  </div>
                                              </div>
                                          </li>
              -->

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-lg-4  p0 right-section-wrapper parent">
            <div class="right-section white-bg br-left">
                <!--comment start-->
                <div class="right-header p15 border-bottom">
                    <h3 class="darkcolor clearfix text-uppercase">
                        <span class="display-inline-block f14 bold pt5">Touchpoints</span>
                        <a class="pull-right" ng-click="togglePoint = !togglePoint"><i
                                class="icon-plus-circle f21 sky-blue"></i> </a>
                    </h3>
                </div>
                <div class="right-content p0">
                    <!-- <div class="width220 mb20">
                         <select class="form-control">
                             <option>Filter By</option>
                             <option>1</option>
                             <option>1</option>
                         </select>
                     </div>-->
                    <form name="form" novalidate>
                        <div class="col-sm-12 mb10 bg-box clearfix" ng-show="togglePoint">
                            <h4 class="f14 text-uppercase darkcolor">Add Touchpoint</h4>
                            <div class="col-sm-6 p-l-0">
                                <div class="form-group clearfix form-group-custom">
                                    <label class="control-label">Date *: </label>
                                    <div class="input-group">

                                        <input type="text" class="form-control white-bg" min-date="minDate"
                                               uib-datepicker-popup
                                               data-ng-model="postField.reminder_date" type="text" name="when"
                                               is-open="openCal"
                                               show-weeks="false" show-button-bar="false" readonly required/>
                          <span class="input-group-btn ">
                            <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                <i class="fa fa-calendar"></i></button>
                          </span>
                                    </div>
                                    <div ng-if="form.reminder_date.$error.required && submitStatus"
                                         class="error-message">Select Date & Time.
                                    </div>


                                </div>
                            </div>
                            <div class="col-sm-6 p-r-0">
                                <div class="form-group clearfix form-group-custom">
                                    <label class="control-label">Touchpoint Type *: </label>
                                    <select class="form-control"
                                            ng-options="touchPoint.id_crm_touch_point_type as touchPoint.crm_touch_point_type for touchPoint in touchPointList"
                                            name="crm_touch_point_type_id"
                                            ng-model="postField.crm_touch_point_type_id" required>
                                        <option value="">--Select--</option>
                                    </select>
                                    <div ng-if="form.crm_touch_point_type_id.$error.required && submitStatus"
                                         class="error-message">Select Touchpoint.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 p0">
                                <div class="form-group">
                                    <label class="control-label">Description *: </label>
                                    <textarea class="textarea-full display-block f12 p10" required
                                              ng-model="postField.touch_point_description"
                                              name="touch_point_description"></textarea>
                                    <div ng-if="form.touch_point_description.$error.required && submitStatus"
                                         class="error-message">Enter Description.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 p0">
                                <div class="col-sm-6 p-l-0">
                                    <label class="f12"><input type="checkbox" name="reminder"
                                                              data-ng-model="postField.reminder"
                                                              class="mr4 valign-middle m-2"> Set Reminder</label>
                                </div>
                                <div class="col-sm-6 text-right p-r-0">
                                    <button type="button" class="btn btn-primary f12 btn-dark border-none mr4"
                                            ng-click="submit(postField,form)">Save
                                    </button>
                                    <button type="button" class="btn btn-primary lt-bg f12 border-none"
                                            data-ng-click="togglePoint = false">Cancel
                                    </button>
                                </div>

                            </div>

                        </div>
                    </form>
                    <div class="pl10 pr10 tp-wrap">
                        <!--<ul>
                            <li ng-repeat="touchPoint in touchPointsList">
                                <div ng-repeat="touchChild in touchPoint.touch_point">

                                    <div class="icons-wrapper display-inline-block valign-top">
                                        <div class="icons-div">
                                     <span class="f16" newtouch-points touch-points data-tauchpoint="{{touchChild.touch_point_type_name}}">
                                         <i class="white-color"></i>
                                     </span>
                                        </div>
                                    </div>
                                    <div class="p-content display-inline-block valign-middle mb5">
                                        <div class="col-sm-12 p0">
                                            <h5 class="f13 roboto-bold col-sm-7 p0">{{touchChild.touch_point_type_name}}</h5>
                                    <span class="f11 pull-right text-right ash col-sm-5 p0">{{ touchChild.created_date }}
                                        &lt;!&ndash; -<label class="ash">2 Days Taken</label>&ndash;&gt; </span>
                                        </div>
                                        <div class="col-sm-12 p0">
                                            <div class="col-sm-7 p0">
                                                <p class="sky-blue f12">
                                                    <label class="min-width40 display-inline-block ash">From:</label>
                                                    {{ touchChild.user_name }}
                                                </p>
                                            </div>
                                            <div class="col-sm-5 p0 pull-right">
                                                <div class="col-sm-9 p0">
                                                    <label class="display-block ash f12">Status</label>
                                                    <label class="label cust-label label-success white-space">
                                                        Completed
                                                    </label>
                                                </div>
                                                <div class="col-sm-3 p0 text-right mt10 f21">
                                                    <a href="javascript:;" uib-tooltip="Description" ng-click="commentWrap =! commentWrap"><i class="fa icon-comment3 ash"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="comment-wrapper pt10 border-top" ng-show="commentWrap">
                                            <h5 class="f13 roboto-bold clearfix">Description
                                                <a href="javascript:;" class="pull-right" ng-click="commentWrap = false"> <i class="fa icon-times f16"></i> </a>
                                            </h5>
                                            <ul>
                                                <li class="f11 dark mb10">{{touchChild.touch_point_description}}</li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </li>
                            <div ng-hide="touchPointsList.length" class="text-center">
                                <p class="f12">No Touchpoints</p>
                            </div>
                        </ul>-->
                        <div class="t-tabs tabs-wrap">
                            <uib-tabset justified="true">
                                <uib-tab heading="All">
                                    <div class="t-tab-content scroll-div-wrap-parent" parent-scroll>
                                        <div class="t-box" ng-repeat="touchPointsTypes in getCompanyAllTouchPointsTypes"
                                             icon-alltouchpoints-types
                                             data-tuchpointType="{{touchPointsTypes.activity_type}}"
                                             data-isremainder="{{touchPointsTypes.activity_reminder}}">
                                            <div class="t-box-top">
                                                <div class="t-icon">
                                                    <span class=""><i></i> </span>
                                                </div>
                                                <div class="t-content clearfix">
                                                    <h4 class="text-uppercase mb5 clearfix f12 darkcolor bold">
                                                        <span class=" col-sm-8 word-break p0 pt2">{{touchPointsTypes.activity_name}}</span>
                                                        <span class="text-right text-capitalize col-sm-4 pr0 sky-blue f12 bold">{{touchPointsTypes.activity_created_by}}</span>
                                                    </h4>
                                                    <p class="f12 darkcolor"
                                                       ng-bind-html="touchPointsTypes.activity_description | ellipsis:100"></p>
                                                </div>
                                            </div>
                                            <div class="t-box-bottom clearfix">
                                                <div class="col-sm-12 pl0">
                                                    <p class="f11 pl5 darkcolor">{{touchPointsTypes.activity_date_time}}
                                                        <!--- <span class="ash">2 Hours taken</span>--></p>
                                                </div>
                                                <!--<div class="col-sm-4 p0 text-right lh18">
                                                    <span class="f11 display-inline-block valign-top mr4">Status</span>
                                                    <label class="label f11 font-normal valign-top label-success">Accepted</label>
                                                </div>-->
                                            </div>
                                        </div>
                                    </div>

                        </div>
                        </uib-tab>
                        <!--<uib-tab heading="Current">
                        </uib-tab>
                        <uib-tab heading="Active">
                        </uib-tab>
                        <uib-tab heading="Personal">
                        </uib-tab>-->
                        </uib-tabset>


                    </div>
                </div>

            </div>
            <!--comment end-->

        </div>
    </div>

</div>
</div>
