<div class="right-modal clearfix modal-custom" >
    <h3 class="right-modal-head clearfix">
        <div class="col-sm-10 p-l-0">
            <i class="fa fa-building mr8"></i>{{branch.legal_name}}
        </div>
        <a class="close-right pull-right" ng-click="cancel()"><img src="images/close.png"></a>
    </h3>
    <div class="col-sm-12 clearfix mtb10">

        <div class="row">
            <div class="col-sm-12 clearfix mtb10">
                <div class="col-sm-3 mb10">
                    <ul class="f12" data-list="projects">
                        <li class="relative pl0 ng-scope selected-result no-bg">
                            <img class="img-responsive mr4" ngf-thumbnail="branch.branch_logo || 'images/institution-default.png'" >
                        </li>
                    </ul>
                </div>
                <div class="col-sm-9 p0">
                    <div class="col-sm-4 mb5">
                        <label class="label-text">Legal/Official Name</label>
                        <p class="label-info text-line m0" title="{{branch.legal_name}}">{{branch.legal_name}}</p>
                    </div>
                    <div class="col-sm-4 mb5">
                        <label class="label-text">Branch Code</label>
                        <p class="label-info m0">{{branch.branch_code}}</p>
                    </div>
                    <div class="col-sm-4 mb5">
                        <label class="label-text">City</label>
                        <p class="label-info m0">{{branch.branch_city}}</p>
                    </div>
                    <div class="col-sm-4  mb5">
                        <label class="label-text">State</label>
                        <p class="label-info m0">{{branch.branch_state}}</p>
                    </div>
                    <div class="col-sm-4  mb5">
                        <label class="label-text">Country</label>
                        <p class="label-info m0">{{branch.country_name}}</p>
                    </div>
                    <div class="col-sm-4 mb5">
                        <label class="label-text">Zip</label>
                        <p class="label-info m0">{{branch.branch_zip_code}}</p>
                    </div>
                    <div class="col-sm-4 mb5">
                        <label class="label-text">Email</label>
                        <p class="label-info m0">{{branch.branch_email}}</p>
                    </div>
                    <div class="col-sm-4 mb5">
                        <label class="label-text">Contact No</label>
                        <p class="label-info m0">{{branch.branch_phone_number}}</p>
                    </div>
                </div>


            </div>

            <div class="col-sm-12">
                <h3 class="heading-icon mt10 clearfix pb5 m0"><i class="fa fa-home"></i> Reporting Section </h3>
            </div>
            <div class="col-sm-12 clearfix clearboth mt5 mb5">
                <div class="col-sm-4 mb5">
                    <label class="label-text">Branch Type</label>
                    <p class="label-info m0">{{branch.branch_type_name}}</p>
                </div>
                <div class="col-sm-4 mb5">
                    <label class="label-text">Reporting Branch</label>
                    <p class="label-info m0">{{branch.reporting_branch_name}}</p>
                    <p class="label-info m0" ng-if="branch.reporting_branch_name==null">---</p>
                </div>
            </div>

        </div>
        <!--section wrap-->

    </div>
</div>
