<h3 class="fixed content-heading">ENTITY STRUCTURE
    <ul class="pull-right icons-right">
        <li><a ui-sref="entity.branch-structure-view" active-link="heading-active" uib-tooltip="Structure"><i
                class="fa fa-sitemap "></i></a></li>
        <li><a ui-sref="entity.branch-structure" active-link="heading-active" uib-tooltip="List"><i
                class="fa fa-server"></i></a></li>
    </ul>
</h3>

<div id="contentArea" class="content-area animated fadeInRight">

    <div class="content-container clearfix light-blue-bg pl20 pb20 pr0">
        <div class="col-sm-7 mt20  pl0">
            <h3 class="darkcolor bold f14 mb10 text-uppercase">Entity Structure - List View</h3>
            <p class="f12 dark mb5">The Entity Structure module allows you to create and manage branches.</p>
            <ul class="e-list">
                <li>Create branch types</li>
                <li>Organise branches</li>
                <li>Manage reporting hierarchy</li>
            </ul>
            <div class="mt15" ng-if="branchTree.length == 0">
                <button type="submit" class="btn btn-primary btn-dark f12 next-btn" ng-click="createBranchType()" tab-next>
                    Create New Branch Type
                </button>
            </div>
            <div class="structure-block clearfix" cols-horizontal>
                <ul class="level">
                    <li ng-repeat="data in branchTree" ng-include="'tree_item_renderer2.html'"></li>
                </ul>
            </div>

        </div>
        <div class="col-sm-5 white-bg">
            <div class="mt20 ">
                <h3 class="darkcolor bold mb10 f14 text-uppercase">Entity Structure - List View - Help</h3>
                <div class="str-info relative" doc-height>
                    <ul> <!--class="scroll-div-wrap" min-scroll-->
                        <li ng-repeat="data in branchData">
                            <div class="b-color">
                                <span bk-color="{{data.id_branch_type}}"> </span>
                            </div>
                            <div class="b-text">
                                <h4 text-color="{{data.id_branch_type}}">{{data.branch_type_name}}</h4>
                                <p class="dark">{{data.description}}</p>
                            </div>
                        </li>
                        <!--<li>
                            <div class="b-color">
                                <span bk-color="{{data.branch_type_id}}"> </span>
                            </div>
                            <div class="b-text">
                                <h4 text-color="{{data.branch_type_id}}">Country Head Office</h4>
                                <p class="dark">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            </div>
                        </li>-->
                    </ul>
                </div>
            </div>
        </div>



    </div>
    <script type="text/ng-template" id="tree_item_renderer2.html">
        <span bk-color="{{data.branch_type_id}}">
            {{data.branch_type_name}}
    </span>
        <i ng-click="editBranchType(data)" class="fa fa-pencil f12 ash cursor-pointer"></i></span>
        <i ng-click="createBranchType()" ng-if="data.nodes == undefined"
           class="fa fa-plus f12 ash cursor-pointer"></i>
        <ul ng-if="data.nodes.length > 0" class="level">
            <li ng-repeat="data in data.nodes" ng-include="'tree_item_renderer2.html'"
                ng-class="{'no-element':data.branch_type_id==undefined}"></li>
        </ul>
    </script>

    <script type="text/ng-template" id="branch_structure_modal.html">
        <div class="right-modal clearfix modal-custom" data-modal="attachment">
            <h3 class="right-modal-head clearfix">
                <i class="fa fa-sitemap mr8"></i> Branch Type
                <a class="close-right pull-right" ng-click="cancel()"><img src="images/close.png"></a>
            </h3>

            <form class="form-horizontal clearfix form-bordered" name="form" novalidate>
                <div class="col-sm-12">
                    <label class="control-label">Branch Type* </label>

                    <div class="form-group clearfix form-group-custom">
                        <select ng-hide="editMode" ng-disabled="!editMode && branch.is_edit ==0"
                                class="form-control  col-sm-12" ng-model="branch.id_branch_type" name="id_branch_type"
                                ng-options="branch.id_branch_type as branch.branch_type_name for branch in branchList">
                            <option value="">--Select Branch Type--</option>
                        </select>
                    </div>
                    <div class="form-group clearfix form-group-custom">
                        <div class="form-group clearfix form-group-custom" ng-if="editMode">
                            <input ng-model="branch.branch_type_name" class="form-control col-sm-12" name="branch_type_name" type="text"/>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12" ng-if="editMode">
                    <label class="control-label">Branch Code</label>

                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="branch.branch_type_code" class="form-control  col-sm-12" name="branch_type_code" type="text"/>
                    </div>
                </div>
                <div class="col-sm-12" ng-if="editMode">
                    <label class="control-label">Description</label>

                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="branch.description" class="form-control  col-sm-12" name="description" type="text"/>
                    </div>
                </div>


                <div ng-if="branch.id_branch_type==null">
                    <h1 class="text-center btn-circle">OR</h1>

                    <div class="col-sm-12">
                        <label class="control-label">Add New Branch Type</label>

                        <div class="form-group clearfix form-group-custom">
                            <input ng-model="branch.branch_type_name" class="form-control  col-sm-12" name="branch_type_name" type="text"/>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="control-label">Branch Code</label>

                        <div class="form-group clearfix form-group-custom">
                            <input ng-model="branch.branch_type_code" class="form-control  col-sm-12" name="branch_type_code" type="text"/>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <label class="control-label">Description</label>

                        <div class="form-group clearfix form-group-custom">
                            <input ng-model="branch.description" class="form-control  col-sm-12" name="description" type="text"/>
                        </div>
                    </div>


                </div>
                <div class="col-sm-12">
                    <div class="form-group clearfix mb0 form-group-custom">

                        <input ng-model="branch.is_primary" type="checkbox"/>
                        <label class="control-label ">Is Primary</label>
                    </div>

                </div>

                <div class="col-sm-12" ng-if="branch.is_primary !=true">
                    <label class="control-label">Reporting Branch Type*</label>

                    <div class="form-group clearfix form-group-custom">
                        <select class="form-control  col-sm-12" name="reporting_branch_type_id" ng-model="branch.reporting_branch_type_id"

                                ng-options="branchOpp.id_branch_type as branchOpp.branch_type_name disable when branchOpp.id_branch_type==branch.id_branch_type  for branchOpp in branchData">
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 btn-custom clearfix text-center">
                    <button type="submit" class="btn btn-primary f14 next-btn" ng-click="submitForm(branch)"
                            ng-disable="submitBtn">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </script>
</div>