<h3 class="fixed content-heading">{{title}} {{branchTypeName}}
        <span class="button-set">
        <a title="Options" ui-sref="entity.branch-structure-view" uib-tooltip="Back"><i class="fa fa-close-sm"></i></a>
      </span>
</h3>

<div id="contentArea" class="content-area animated fadeInRight">

    <div class="content-container clearfix light-blue-bg pt20">
<form name="userForm" ng-submit="submitForm()" novalidate>
    <div class="fixed-content-wrap white-bg border clearfix p15 fixed-content-wrap-left c-fixed-wrap">
        <div class="section-wrap">
            <h3 class="heading-icon clearfix pt2"><i class="fa fa-home"></i>Reporting  Section <!--{{title}}--><a href="javascript:;" class="fa fa-question-circle pull-right" uib-tooltip="Help" tooltip-placement="left"></a></h3>
            <div class="row">

                <div class="col-sm-12">

                    <div class="col-sm-12">
                        <div class="form-group clearfix form-group-custom">
                            <div class="col-sm-4 p-l-0">
                                <label class="control-label">Branch Type: </label>
                                <!--<p class="f12 mt5">{{branch.branch_type_name}}</p>-->
                                <select class="form-control"
                                        ng-options="branchType.branch_type_id as branchType.branch_type_name for branchType in branchTypes"
                                        name="branch_type_id"
                                        ng-change="getReportingBranch(branch.branch_type_id,true)"
                                        ng-model="branch.branch_type_id"
                                        ng-selected="branchType.branch_type_id == branch.branch_type_id">
                                </select>
                                <!-- <select class="form-control" name="branch_type_id" ng-model="branch.id_branch_type">
                                    <option value="">--Select Type--</option>
                                    <option ng-repeat="branchType in branchTypes" ng-value="branchType.branch_type_id" ng-selected="branchType.branch_type_id == branch.id_branch_type">
                                        {{branchType.branch_type_name}}
                                    </option>
                                </select>-->
                            </div>
                            <div class="col-sm-4" ng-show="company_branches.length > 0">
                                <div ng-if="branch.branch_type_id != undefined" ><span ng-init="getReportingBranch(branch.branch_type_id,false)"></span></div>
                                <label class="control-label">Reporting Branch:</label>
                                <!--<select class="form-control"  ng-model="branch.reporting_branch_id" name="reporting_branch_id" >
                                    <option value="">--Select Branch--</option>
                                    <option ng-repeat="companyBranch in company_branches" ng-value="companyBranch.id_branch" ng-selected="companyBranch.id_branch == branch.reporting_branch_id" >
                                        {{companyBranch.legal_name}}
                                    </option>
                                </select>-->

                                <select class="form-control"
                                        ng-options="companyBranch.id_branch as companyBranch.legal_name for companyBranch in company_branches"
                                        name="reporting_branch_id"
                                        ng-model="branch.reporting_branch_id" >
                                    <option value="">--Select Branch--</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 mt10 p0">
                        <h3 class="heading-icon clearfix pt2"><i class="fa fa-home"></i>  General Section</h3>


                    </div>
                    <div class="col-sm-2">
                        <label class="control-label display-block">Branch Logo</label>
                        <div class="image-wrap mt5 cursor-pointer" ngf-select="uploadBranchImage($file)" ngf-pattern="'image/*'">
                                <img ngf-thumbnail="branch.branch_logo || 'images/institution-default.png'" class="image-view" alt="Image"/>
                            <div class="image-actions">
                                <i class="fa fa-pencil"></i>
                            </div>
                        </div>
                        <a ng-show='trash' href="javascript:;" class="delete-img" ng-click="brachLogoRemove()" uib-tooltip="Delete"><i class="fa fa-trash"></i></a>
                    </div>
                    <div class="col-sm-10 p-r-0">
                        <div class="col-sm-6">
                            <div class="form-group clearfix form-group-custom">
                                <label class="control-label">Legal/official name: *</label>
                                <input type="text" class="form-control" ng-model="branch.legal_name" name="legal_name">
                            </div>
                        </div>
                        <div class="col-sm-6 p0">
                            <div class="form-group clearfix form-group-custom">
                                <div class="col-sm-12">
                                    <label class="control-label">Branch Code:*</label>
                                    <input type="text" class="form-control" ng-model="branch.branch_code" name="branch_code">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10 p-r-0">
                        <div class="col-sm-6 p0">
                            <div class="form-group clearfix form-group-custom">
                                <div class="col-sm-12">
                                    <label class="control-label">City:*</label>
                                    <input type="text" class="form-control" ng-model="branch.branch_city" name="branch_city">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 p0">
                            <div class="form-group clearfix form-group-custom">
                                <div class="col-sm-12">
                                    <label class="control-label">State: </label>
                                    <input type="text" class="form-control" ng-model="branch.branch_state" name="branch_state">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-10 p-r-0">
                        <div class="col-sm-6 p0">
                            <div class="form-group clearfix form-group-custom">
                                <div class="col-sm-12">
                                    <label class="control-label">Email: </label>
                                    <input type="text" class="form-control" ng-model="branch.branch_email" name="branch_email">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 p0">
                            <div class="form-group clearfix form-group-custom">
                                <div class="col-sm-12">
                                    <label class="control-label">Contact No: </label>
                                    <input type="text" class="form-control" ng-model="branch.branch_phone_number" name="branch_phone_number" only-digits>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-10 col-sm-offset-2 p-r-0">
                        <div class="col-sm-6 p0">
                            <div class="form-group clearfix form-group-custom">
                                <div class="col-sm-12">
                                    <label class="control-label">Country: *</label>
                                    <select class="form-control"  ng-model="branch.country_id" name="country_id">
                                        <option value="">--Select Country--</option>
                                        <option ng-repeat="country in Countries" ng-value="country.id_country" ng-selected="country.id_country == branch.country_id">
                                            {{country.country_name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 p0">
                            <div class="form-group clearfix form-group-custom">
                                <div class="col-sm-12">
                                    <label class="control-label">Zip Code: </label>
                                    <input type="text" class="form-control" ng-model="branch.branch_zip_code" name="branch_zip_code">
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col-sm-12">
                        <div class="form-group clearfix form-group-custom">
                            <div class="col-sm-12 p0">
                                <label class="control-label">Address: *</label>
                                <textarea rows="4" class="col-sm-12 form-control" ng-model="branch.branch_address" name="branch_address"></textarea>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--section wrap-->
        <div class="col-lg-12 btn-custom clearfix text-center">
            <button type="submit" class="btn btn-primary mr8 f14">{{btn}}</button>
            <button type="button" class="btn btn-default f14" ui-sref="entity.branch-structure-view">Cancel</button>
        </div>
        <!--./Buttons -->
    </div>
</form>
        </div></div>