<div class="right-modal modal-custom" >
    <h3 class="right-modal-head clearfix">
        <div class="col-sm-6 p-l-0 mt5">
            <i class="fa fa-meeting-icon mr4"></i> Project Meeting
        </div>

        <a ng-click="cancel()" class="close-right pull-right mt5"><img src="images/close.png"></a>
    </h3>
    <div class="container p0" >
        <form class="form-horizontal form-bordered" name="form" novalidate>
                <div class="clearfix tasks-list mb20">
                    <div class="col-sm-12 p0 mb15">
                        <div class="form-group col-sm-6">
                            <label class="control-label">Title *:</label>

                            <div class="form-input">
                                <input type="text" class="form-control" ng-model="meeting.meeting_name"
                                       name="meeting_name" ng-readonly="meeting.id_meeting > 0" required/>

                                <div ng-if="form.meeting_name.$error.required && submitStatus" class="error-message">
                                    Enter Name.
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">Where *:</label>

                            <div class="form-input">
                                <input type="text" class="form-control" ng-model="meeting.where" ng-readonly="meeting.id_meeting > 0" name="where" required/>

                                <div ng-if="form.where.$error.required && submitStatus" class="error-message">Enter
                                    Location.
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">When:</label>

                            <div class="input-group">

                                <input  type="text" class="form-control" min-date="minDate" uib-datepicker-popup
                                       data-ng-model="meeting.when" type="text" name="when" is-open="openCal"
                                       show-weeks="false" show-button-bar="false" readonly required />
                          <span class="input-group-btn ">
                            <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                <i class="fa fa-calendar"></i></button>
                          </span>
                            </div>
                            <div ng-if="form.when.$error.required && submitStatus" class="error-message">Select Date
                            </div>

                        </div>
                        <div class="form-group col-sm-6 clearfix">
                            <div class="col-sm-6 p-l-0">
                                <label class="f12 control-label mt4">Start Time:</label>
                                <select class="form-control" ng-model="meeting.from_time" name="from_time">
                                    <option value="">HH:MM</option>
                                    <option ng-repeat="item in timeListData" ng-value="item.id" >{{item.id}}</option>
                                </select>

                            </div>
                            <div class="col-sm-6 p-r-0">
                                <label class="f12 control-label mt4">End Time:</label>
                                <select class="form-control" ng-model="meeting.to_time" name="to_time">
                                    <option value="">HH:MM</option>
                                    <option ng-repeat="item in timeListData" ng-value="item.id" >{{item.id}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="control-label">Meeting Agenda *:</label>

                            <div class="form-input">
                                <textarea class="width-full  form-control min-height70 p10 f12" ng-model="meeting.agenda" ng-readonly="meeting.id_meeting > 0" name="agenda"
                                          required></textarea>

                                <div ng-if="form.agenda.$error.required && submitStatus" class="error-message">Enter
                                    Meeting
                                    Agenda.
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" ng-if="meeting.id_meeting > 0">
                            <label class="control-label">Meeting Mom:</label>

                            <div class="form-input">
                                <textarea class="width-full  form-control min-height70 p10 f12" ng-model="meeting.meeting_mom"
                                          name="meeting_mom"></textarea>
                            </div>
                        </div>

                        <div class="form-group col-sm-12 clearfix">
                            <label class="control-label">Guests:</label>

                            <div class="table-search width-full">
                                <div ng-dropdown-multiselect="" class="width-full" checkboxes="true" options="userList"
                                     selected-model="meeting.invitation_id" extra-settings="multipleSettings"></div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 clearfix">
                            <label class="control-label">Invite Guest:</label>

                            <div class="width-full" >

                                <tags-input ng-model="meeting.guest" placeholder="Add Email" type="email"></tags-input>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 clearfix" ng-if="meeting.id_meeting > 0">
                            <label class="control-label">Meeting Status:</label>

                            <select class="form-control" ng-model="meeting.meeting_status" name="meeting_status">
                                <option value="pending">Pending</option>
                                <option value="completed">Completed</option>
                                <option value="cancelled">Cancel</option>
                            </select>
                        </div>
                        <div class="col-sm-12">
                            <div class="dropzone">
                                <div ngf-select="uploadFiles($files)" ngf-drop="uploadFiles($files)" class="drop-box"
                                     ngf-drag-over-class="'dragover'" ngf-multiple="true"
                                     ngf-pattern="'.png,.jpg,.zip,.jpeg,.xl,.xls,.xlsx,.doc,.docx,.pdf,.rtf'" >
                                    Select File<span> or Drop File</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 attachment-list mb15">
                            <div class="list-header clearfix">
                                <h4 class="text-uppercase f14 darkcolor mt10">Attached Files</h4>
                            </div>
                            <div class="list-table mt5 mb5">
                                <ul class="scroll-area list-items">
                                    <li class="clearfix border-bottom" uploadedDocuments ng-repeat="f in meetingDocuments" >
                                        <div class="col-sm-1" upload-file  data-fileType="{{ f.type }}" ><i class=""></i> </div>

                                        <div class="col-sm-10">
                                            <p class="f12 text-line" title="{{f.name}}">{{f.name }}</p>
                                            <span class="display-block f11">{{ f.size/1000 | number : 0}} KB </span>
                                        </div>
                                        <div class="col-sm-1 text-center">
                                            <a href="javascript:;" ng-click="removeImage(f)" > <i class="fa fa-trash"></i> </a>
                                        </div>

                                    </li>

                                </ul>

                            </div>
                            <div class="clearfix"></div>
                            <ul>
                                <li>

                                    <div class="form-input file-attachments">

                                        <ul class="scroll-area list-items">
                                            <li class="clearfix border-bottom" uploadedDocuments ng-repeat="files in meeting.attachment" >
                                                <div class="col-sm-1" upload-file  data-fileType="{{ files.document_mime_type }}" ><i class=""></i> </div>
                                                <div class="col-sm-10">
                                                    <p class="f12 text-line" title="{{files.document_name}}">{{files.document_name}}</p>
                                                    <span class="display-block f11" ng-bind="files.date | date:'mediumDate'"></span>
                                                </div>
                                                <div class="col-sm-1 text-center">
                                                    <div class="relative">
                                                        <i class="fa fa-download mr8"></i>
                                                        <a href="{{ files.full_path }}" class="icon-link" download />  </a>
                                                    </div>
                                                </div>

                                            </li>

                                        </ul>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-sm-12 text-center">
                        <button class="btn btn-primary f12 btn-dark border-none mr4"
                                ng-click="saveMeeting(meeting,form)">Save
                        </button>
                        <button class="btn btn-primary lt-bg f12 border-none" ng-click="cancel()">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
    </div>
</div>
