<h3 class="fixed content-heading">Project Approval Level
    <div class="pull-right button-set">
        <any ng-controller="ProjectListCtrl">
            <a uib-tooltip="Touchpoints" modal="touchpoints" ng-click="touchpointsModal()"><i class="fa fa-touchpoint"></i> </a>
            <a uib-tooltip="Attachments" modal="attachment" ng-click="quickAttachmentModal()"><i class="fa fa-paperclip"></i> </a>
            <!--<a ui-sref="contact.contact-creation" uib-tooltip="Add" ng-click="addNewContact()"><i class="fa fa-plus"></i></a>
            <a uib-tooltip="Edit"  ui-sref="project.project-creation({id:(currentProjectViewId | decode )})" ><i class="fa fa-pencil"></i></a>-->
            <a ng-click="AddedCompaniesModal()" modal="addedcompanies" uib-tooltip="Companies">
                <i class="fa fa-company"></i>
            </a>
            <a ng-click="AddedContactsModal()" modal="addedcontacts" uib-tooltip="Contacts">
                <i class="fa fa-book"></i>
            </a>
            <a  ng-click="teamModal()"  modal="addTeam" uib-tooltip="Team">
                <i class="fa fa-user-plus"></i>
            </a>
            <a  ng-click="addTasksModal()"  modal="addtasks" uib-tooltip="Tasks">
                <i class="fa fa-tasks"></i>
            </a>
            <!--<a ng-click="meetingModal()" uib-tooltip="Meeting">
                <i class="fa fa-meeting"></i>
            </a>-->
        </any>
        <a ui-sref="project.project-dashboard" uib-tooltip="Back"><i class="fa fa-close-sm"></i></a>
    </div>
</h3>
<div class="col-sm-12 fixed clearfix  z1 fixed-top full-fixed-top" ng-class="{visible:boolChangeClass}" fixed-top>
    <div class="clearfix relative details-fixed-top no-bg border-none pad0">
        <div class="col-sm-12 clearfix p0">
            <div class="page-header-wrap mt0  box-shadow clearfix">
                <div class="col-sm-10 pt10 pb10 plr30">
                    <h2 class="f15 dark-sky-blue">{{ projectDetails.project_title }}</h2>
                    <ul class="pheader-list papp-list width-full">
                        <li>
                            <p class="f12 word-break">Company</p>
                            <h3 class="f14 heading">{{selectedCompanyList[0].company_name}} <a
                                    ng-show="selectedCompanyList.length > 1 " ng-click="AddedCompaniesModal()"
                                    href="javascript:;" class="sky-blue f14"> (+ {{ selectedCompanyList.length-1
                                }})</a></h3>
                            <button ng-hide="selectedCompanyList.length" ng-click="AddedCompaniesModal()"
                                    class="btn btn-primary lt-bg border-none f12 mt5"><i
                                    class="fa fa-plus-circle"></i> <span>Add</span></button>
                        </li>
                        <li>

                            <p class="f12 word-break">Contacts</p>
                            <h3 class="f14 heading">{{projectContactList[0].first_name}} <a
                                    ng-show="projectContactList.length > 1 " href="javascript:;"
                                    data-ng-click="AddedContactsModal()" class="sky-blue f14">( + {{
                                projectContactList.length-1 }})</a>
                            </h3>
                            <button ng-hide="projectContactList.length" ng-click="AddedContactsModal()"
                                    class="btn btn-primary lt-bg border-none f12 mt5"><i
                                    class="fa fa-plus-circle"></i> <span>Add</span></button>
                        </li>
                        <li>
                            <p class="f12 word-break line-height14">No.of Loans</p>
                            <h3 class="f14 heading">{{projectDetails.no_of_loans}}</h3>

                        </li>
                        <li>
                            <p class="f12 word-break">Sector</p>
                            <h3 class="f14 heading">{{projectDetails.sector}}</h3>

                        </li>
                        <li>
                            <p class="f12 word-break line-height14">Loan Amount</p>
                            <h3 class="heading ">
                                <div class="f13" ng-repeat="amount in projectDetails.loan_amount">{{amount.currency_code}} {{amount.amount | currency:""}}</div>
                            </h3>

                        </li>
                        <!-- <li>
                             <h3 class="f14 heading">Team</h3>
                             <p class="f12 word-break">{{projectTeamContactList[0].user_name}} <a
                                     ng-show="projectTeamContactList.length > 1 " data-ng-click="teamModal()"
                                     href="javascript:;" class="sky-blue f14"> + {{ projectTeamContactList.length-1
                                 }}</a></p>
                             &lt;!&ndash;<button class="btn btn-primary lt-bg border-none f12 mt5"><i class="fa fa-plus-circle"></i> <span>Add Team</span> </button>&ndash;&gt;
                         </li>-->


                        <!--<li>
                            <h3 class="f14 heading">Last Updated</h3>
                            <p class="f12">{{projectDetails.updated_date}}</p>
                        </li>-->
                        <li>
                            <p class="f12 ">Status</p>
                            <h3 class="f14 heading text-danger"> {{projectDetails.project_status}}</h3>
                            <div data-ng-show="approvalStatus">
                                <button data-ng-if="projectDetails.project_status != 'Approved'"
                                        class="btn btn-primary lt-bg border-none f12 mt5 text-ellipses"
                                        ng-click="submitforapprovalModal('forwarded')" title=" Submit for Approval"> Submit for Approval
                                </button>
                                <button data-ng-if="projectDetails.approval == 1 && projectDetails.project_status !='Approved'"
                                        class="btn btn-success f12 mt5 border-none text-ellipses"
                                        ng-click="submitforapprovalModal('approved')" title="Approve">Approve
                                </button>
                                <button data-ng-if="projectDetails.project_status != 'Rejected' && projectDetails.committee_id != 0"
                                        class="btn btn-danger border-none f12 mt5 text-ellipses"
                                        ng-click="submitforapprovalModal('rejected')" title="Reject">Reject
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="display-inline-block pull-right relative">
                    <div class="display-inline-block m-5">
                        <span class="box-rating">3.5</span>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container clearfix">

        <div class="col-sm-12 clearfix p0" >
            <div class="page-header-wrap white-bg box-shadow clearfix relative mb15">
                <div class="col-sm-10  pt10 pb10 plr30">
                    <h2 class="f15 dark-sky-blue">{{ projectDetails.project_title }}</h2>
                    <ul class="pheader-list papp-list width-full">
                        <li>
                            <p class="f12 word-break">Company</p>
                            <h3 class="f14 heading">{{selectedCompanyList[0].company_name}} <a
                                    ng-show="selectedCompanyList.length > 1 " ng-click="AddedCompaniesModal()"
                                    href="javascript:;" class="sky-blue f14"> (+ {{ selectedCompanyList.length-1
                                }})</a></h3>
                            <button ng-hide="selectedCompanyList.length" ng-click="AddedCompaniesModal()"
                                    class="btn btn-primary lt-bg border-none f12 mt5"><i
                                    class="fa fa-plus-circle"></i> <span>Add</span></button>
                        </li>
                        <li>

                            <p class="f12 word-break">Contacts</p>
                            <h3 class="f14 heading">{{projectContactList[0].first_name}} <a
                                    ng-show="projectContactList.length > 1 " href="javascript:;"
                                    data-ng-click="AddedContactsModal()" class="sky-blue f14">( + {{
                                projectContactList.length-1 }})</a>
                            </h3>
                            <button ng-hide="projectContactList.length" ng-click="AddedContactsModal()"
                                    class="btn btn-primary lt-bg border-none f12 mt5"><i
                                    class="fa fa-plus-circle"></i> <span>Add</span></button>
                        </li>
                        <li>
                            <p class="f12 word-break line-height14">No.of Loans</p>
                            <h3 class="f14 heading">{{projectDetails.no_of_loans}}</h3>

                        </li>
                        <li>
                            <p class="f12 word-break">Sector</p>
                            <h3 class="f14 heading">{{projectDetails.sector}}</h3>

                        </li>
                        <li>
                            <p class="f12 word-break line-height14">Loan Amount</p>
                            <h3 class="heading ">
                                <div class="f13" ng-repeat="amount in projectDetails.loan_amount">{{amount.currency_code}} {{amount.amount | currency:""}}</div>
                            </h3>

                        </li>
                        <!-- <li>
                             <h3 class="f14 heading">Team</h3>
                             <p class="f12 word-break">{{projectTeamContactList[0].user_name}} <a
                                     ng-show="projectTeamContactList.length > 1 " data-ng-click="teamModal()"
                                     href="javascript:;" class="sky-blue f14"> + {{ projectTeamContactList.length-1
                                 }}</a></p>
                             &lt;!&ndash;<button class="btn btn-primary lt-bg border-none f12 mt5"><i class="fa fa-plus-circle"></i> <span>Add Team</span> </button>&ndash;&gt;
                         </li>-->


                        <!--<li>
                            <h3 class="f14 heading">Last Updated</h3>
                            <p class="f12">{{projectDetails.updated_date}}</p>
                        </li>-->
                        <li>
                            <p class="f12 ">Status</p>
                            <h3 class="f14 heading text-danger"> {{projectDetails.project_status}}</h3>
                            <div data-ng-show="approvalStatus">
                                <button data-ng-if="projectDetails.project_status != 'Approved'"
                                        class="btn btn-primary lt-bg border-none f12 mt5 text-ellipses"
                                        ng-click="submitforapprovalModal('forwarded')" title=" Submit for Approval"> Submit for Approval
                                </button>
                                <button data-ng-if="projectDetails.approval == 1 && projectDetails.project_status !='Approved'"
                                        class="btn btn-success f12 mt5 border-none text-ellipses"
                                        ng-click="submitforapprovalModal('approved')" title="Approve">Approve
                                </button>
                                <button data-ng-if="projectDetails.project_status != 'Rejected' && projectDetails.committee_id != 0"
                                        class="btn btn-danger border-none f12 mt5 text-ellipses"
                                        ng-click="submitforapprovalModal('rejected')" title="Reject">Reject
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="display-inline-block pull-right relative">

                    <div class="display-inline-block m-5">
                        <span class="box-rating">{{projectDetails.rating}}</span>
                    </div>
                    <div class="display-inline-block m-5">
                        <span class="box-rating">{{projectDetails.grade}}</span>
                    </div>

                </div>
                <div class="clearfix"></div>
                <div class="textinfo-block border-top col-sm-12 pt10 pb10 plr30" ng-show="infoBoxnew">
                    <label class="f12">Description</label>
                    <p class="f14 darkcolor">{{companyDescription}}</p>
                </div>
                <div class="slide-img" ng-click="infoBoxnew =!infoBoxnew"></div>
            </div>
        </div>

        <div class="col-sm-12 plr20 mt10">
            <div class="p-list-wrap col-lg-2 col-sm-3 white-bg p0" win-height>
                <ul>
                    <li ui-sref-active="active">
                        <a ui-sref="project.project-approval-level.status-flow"><i class="icon-grid"></i> <span>Status Flow</span></a>
                    </li>

                    <li ui-sref-active="active">
                        <a ui-sref="project.project-approval-level.summary-recommendations"><i class="icon-clipped-file"></i> <span>Summary & Recommendations</span></a>
                    </li>
      <!--              <li ui-sref-active="active">
                        <a ui-sref="project.project-approval-level.facility-table"><i class="icon-clipped-file"></i> <span>Facilities</span></a>
                    </li>-->

                    <li>
                        <a href="javascript:;"><i class="icon-graph1"></i> <span>Statistics</span></a>
                    </li>
                    <li>
                        <a href="javascript:;"><i class="icon-comment3"></i> <span>Discussions</span></a>
                    </li>
                </ul>
            </div>
            <div class="t-data-wrap col-lg-10 white-bg col-sm-9">
                <div ui-view>  </div>
            </div>
        </div>



    </div>
</div>