<h3 class="fixed content-heading">Project Complete View
    <div class="pull-right button-set">
        <!--<any ng-controller="ProjectListCtrl">
            <a uib-tooltip="Touchpoints" modal="touchpoints" ng-click="touchpointsModal()"><i class="fa fa-touchpoint"></i> </a>
            <a uib-tooltip="Attachments" modal="attachment" ng-click="quickAttachmentModal()"><i class="fa fa-paperclip"></i> </a>
            &lt;!&ndash;<a ui-sref="contact.contact-creation" uib-tooltip="Add" ng-click="addNewContact()"><i class="fa fa-plus"></i></a>
            <a uib-tooltip="Edit"  ui-sref="project.project-creation({id:(currentProjectViewId | decode )})" ><i class="fa fa-pencil"></i></a>&ndash;&gt;
            <a ng-click="AddedCompaniesModal()" modal="addedcompanies" uib-tooltip="Companies">
                <i class="fa fa-company"></i>
            </a>
            <a ng-click="AddedContactsModal()" modal="addedcontacts" uib-tooltip="Contacts">
                <i class="fa fa-book"></i>
            </a>
            <a  ng-click="teamModal()"  modal="addTeam" uib-tooltip="Team">
                <i class="fa fa-user-plus"></i>
            </a>
            <a  ng-click="addTasksModal()"  modal="addtasks" uib-tooltip="Tasks">
                <i class="fa fa-tasks"></i>
            </a>
            <a ng-click="meetingModal()" uib-tooltip="Meeting">
                <i class="fa fa-meeting"></i>
            </a>
        </any>-->
        <a ui-sref="project.project-dashboard" uib-tooltip="Back"><i class="fa fa-close-sm"></i></a>
    </div>
</h3>
<div class="col-sm-12 fixed clearfix  z1 fixed-top full-fixed-top" ng-class="{visible:boolChangeClass}" fixed-top>
    <div class="clearfix relative details-fixed-top no-bg border-none mt0 pad0">
        <div class="col-sm-12 clearfix p0">
            <div class="page-header-wrap box-shadow clearfix mt0 relative mb15  pt10 pb10">
                <div class="col-sm-9">
                    <div class="display-inline-block wrapper-list c-wrap-list p-overview col-sm-12 p0">
                        <h3 class="f15 dark-sky-blue">{{ projectDetails.project_title }}</h3>
                        <ul>
                            <li>
                                <p class="f12 word-break">Company</p>
                                <h3 class="f14 heading">{{selectedCompanyList[0].company_name}}
                                    <a
                                            ng-show="selectedCompanyList.length > 1 "
                                            href="javascript:;" class="sky-blue f14"> (+{{ selectedCompanyList.length-1
                                        }})</a>
                                </h3>

                                <label ng-if="selectedCompanyList.length == 0" class="display-block heading line-height14">------</label>
                                <!--   <button ng-hide="selectedCompanyList.length" ng-click="AddedCompaniesModal()"
                                           class="btn btn-primary lt-bg border-none f12 mt5"><i
                                           class="fa fa-plus-circle"></i> <span>Add</span></button>-->
                            </li>
                            <li>

                                <p class="f12 word-break">Contacts</p>
                                <h3 class="f14 heading">{{projectContactList[0].first_name}}
                                    <a
                                            ng-show="projectContactList.length > 1 " href="javascript:;"
                                            class="sky-blue f14">(+{{
                                        projectContactList.length-1 }})</a>
                                </h3>
                                <label ng-if="projectContactList.length == 0" class="display-block heading line-height14">------</label>
                                <!--   <button ng-hide="projectContactList.length" ng-click="AddedContactsModal()"
                                           class="btn btn-primary lt-bg border-none f12 mt5"><i
                                           class="fa fa-plus-circle"></i> <span>Add</span></button>-->
                            </li>
                            <li>
                                <p class="f12 word-break">No.of Loans</p>
                                <h3 class="f14 heading">{{projectDetails.no_of_loans}}</h3>

                            </li>
                            <li>
                                <p class="f12 word-break">Sector</p>
                                <h3 class="f14 heading" title="{{projectDetails.sector}}">{{projectDetails.sector | ellipsis:40}}</h3>

                            </li>
                            <li>
                                <p class="f12 word-break">Loan Amount</p>
                                <h3 class="f14 heading">
                                    <div class="f14" ng-repeat="amount in projectDetails.loan_amount">{{amount.currency_code}} {{amount.amount | currency:""}}</div>
                                </h3>

                            </li>
                           <!-- <li>
                                <h3 class="f14 heading">Team</h3>
                                <p class="f12 word-break">{{projectTeamContactList[0].user_name}} <a
                                        ng-show="projectTeamContactList.length > 1 " data-ng-click="teamModal()"
                                        href="javascript:;" class="sky-blue f14"> + {{ projectTeamContactList.length-1
                                    }}</a></p>
                                &lt;!&ndash;<button class="btn btn-primary lt-bg border-none f12 mt5"><i class="fa fa-plus-circle"></i> <span>Add Team</span> </button>&ndash;&gt;
                            </li>-->


                            <!--<li>
                                <h3 class="f14 heading">Last Updated</h3>
                                <p class="f12">{{projectDetails.updated_date}}</p>
                            </li>-->
                            <li >
                                <p class="f12 ">Status</p>
                                <h3 class="f14 red bold"> {{projectDetails.project_status}}</h3>
                      <!--          <div data-ng-show="approvalStatus">
                                    <button data-ng-if="projectDetails.project_status != 'Approved'"
                                            class="btn btn-primary lt-bg border-none f12 mt5 text-ellipses"
                                            ng-click="submitforapprovalModal('forwarded')" title=" Submit for Approval"> Submit for Approval
                                    </button>
                                    <button data-ng-if="projectDetails.approval == 1 && projectDetails.project_status !='Approved'"
                                            class="btn btn-success f12 mt5 border-none text-ellipses"
                                            ng-click="submitforapprovalModal('approved')" title="Approve">Approve
                                    </button>
                                    <button data-ng-if="projectDetails.project_status != 'Rejected' && projectDetails.committee_id != 0"
                                            class="btn btn-danger border-none f12 mt5 text-ellipses"
                                            ng-click="submitforapprovalModal('rejected')" title="Reject">Reject
                                    </button>
                                </div>-->
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="display-inline-block pull-right m-4 relative">
                    <div class="display-inline-block">
                        <span class="box-rating">{{projectDetails.rating}}</span>
                    </div>
                    <div class="display-inline-block">
                        <span class="box-rating">{{projectDetails.grade}}</span>
                    </div>
                    <div class="display-inline-block pull-right relative custom-list">
                        <a class="menu-toggle dropdown-toggle mt30" data-toggle="dropdown" href="javascript:;"><i class="fa fa-bars"></i></a>
                        <ul class="dropdown-menu custom-dropdown mr10">
                            <li>
                                <h5 class="white-color text-uppercase f14 mb10">Sections Menu </h5>
                                <input type="text" class="form-control f13" data-ng-model="searchKey"  ng-change="gotoElement(searchKey)"  placeholder="Search">
                            </li>
                            <li data-ng-repeat="businessKey in businessKeyData">
                                <a href="javascript:;" ng-click="gotoElement(businessKey.section_name)">{{ businessKey.section_name }}</a>
                            </li>
                            <li data-ng-repeat="projectTerms in projectTermPreviewDetails">
                                <a href="javascript:;" ng-click="gotoElement(projectTerms.product_term_key)">{{ projectTerms.product_term_name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container clearfix">

        <div class="col-sm-12 clearfix p0" >
            <div class="page-header-wrap box-shadow white-bg clearfix relative  pt10 pb10">

                <div class="display-inline-block wrapper-list c-wrap-list p-overview col-sm-9">
                    <h3 class="f15 dark-sky-blue">{{ projectDetails.project_title }}</h3>
                    <ul>
                        <li>
                            <p class="f12 word-break">Company</p>
                            <h3 class="f14 heading">{{selectedCompanyList[0].company_name}}
                                <a
                                        ng-show="selectedCompanyList.length > 1 "
                                        href="javascript:;" class="sky-blue f14"> (+{{ selectedCompanyList.length-1
                                    }})</a>
                            </h3>

                            <label ng-if="selectedCompanyList.length == 0" class="display-block heading line-height14">------</label>
                            <!--   <button ng-hide="selectedCompanyList.length" ng-click="AddedCompaniesModal()"
                                       class="btn btn-primary lt-bg border-none f12 mt5"><i
                                       class="fa fa-plus-circle"></i> <span>Add</span></button>-->
                        </li>
                        <li>

                            <p class="f12 word-break">Contacts</p>
                            <h3 class="f14 heading">{{projectContactList[0].first_name}}
                                <a
                                        ng-show="projectContactList.length > 1 " href="javascript:;"
                                        class="sky-blue f14">(+{{
                                    projectContactList.length-1 }})</a>
                            </h3>
                            <label ng-if="projectContactList.length == 0" class="display-block heading line-height14">------</label>
                            <!--   <button ng-hide="projectContactList.length" ng-click="AddedContactsModal()"
                                       class="btn btn-primary lt-bg border-none f12 mt5"><i
                                       class="fa fa-plus-circle"></i> <span>Add</span></button>-->
                        </li>
                        <li>
                            <p class="f12 word-break">No.of Loans</p>
                            <h3 class="f14 heading">{{projectDetails.no_of_loans}}</h3>

                        </li>
                        <li>
                            <p class="f12 word-break">Sector</p>
                            <h3 class="f14 heading" title="{{projectDetails.sector}}">{{projectDetails.sector | ellipsis:40}}</h3>

                        </li>
                        <li>
                            <p class="f12 word-break">Loan Amount</p>
                            <h3 class="f14 heading ">
                                <div class="f14" ng-repeat="amount in projectDetails.loan_amount">{{amount.currency_code}} {{amount.amount | currency:""}}</div>
                            </h3>

                        </li>
                        <!-- <li>
                             <h3 class="f14 heading">Team</h3>
                             <p class="f12 word-break">{{projectTeamContactList[0].user_name}} <a
                                     ng-show="projectTeamContactList.length > 1 " data-ng-click="teamModal()"
                                     href="javascript:;" class="sky-blue f14"> + {{ projectTeamContactList.length-1
                                 }}</a></p>
                             &lt;!&ndash;<button class="btn btn-primary lt-bg border-none f12 mt5"><i class="fa fa-plus-circle"></i> <span>Add Team</span> </button>&ndash;&gt;
                         </li>-->


                        <!--<li>
                            <h3 class="f14 heading">Last Updated</h3>
                            <p class="f12">{{projectDetails.updated_date}}</p>
                        </li>-->
                        <li >
                            <p class="f12 ">Status</p>
                            <h3 class="f14 red bold"> {{projectDetails.project_status}}</h3>
                           <!-- <div data-ng-show="approvalStatus">
                                <button data-ng-if="projectDetails.project_status != 'Approved'"
                                        class="btn btn-primary lt-bg border-none f12 mt5 text-ellipses"
                                        ng-click="submitforapprovalModal('forwarded')" title=" Submit for Approval"> Submit for Approval
                                </button>
                                <button data-ng-if="projectDetails.approval == 1 && projectDetails.project_status !='Approved'"
                                        class="btn btn-success f12 mt5 border-none text-ellipses"
                                        ng-click="submitforapprovalModal('approved')" title="Approve">Approve
                                </button>
                                <button data-ng-if="projectDetails.project_status != 'Rejected' && projectDetails.committee_id != 0"
                                        class="btn btn-danger border-none f12 mt5 text-ellipses"
                                        ng-click="submitforapprovalModal('rejected')" title="Reject">Reject
                                </button>
                            </div>-->
                        </li>
                    </ul>


                </div>
                <div class="display-inline-block relative m-4 pull-right">
                    <div class="display-inline-block">
                        <span class="box-rating">{{projectDetails.rating}}</span>
                    </div>
                    <div class="display-inline-block">
                        <span class="box-rating">{{projectDetails.grade}}</span>
                    </div>

                    <div class="display-inline-block pull-right  relative custom-list">
                        <a class="menu-toggle dropdown-toggle mt30 mr10" data-toggle="dropdown" href="javascript:;"><i class="fa fa-bars"></i></a>
                        <ul class="dropdown-menu custom-dropdown">
                            <li>
                                <h5 class="white-color text-uppercase f14 mb10">Sections Menu </h5>
                                <input type="text" class="form-control f13" data-ng-model="searchKey"  ng-change="gotoElement(searchKey)"  placeholder="Search">
                            </li>
                            <li data-ng-repeat="businessKey in businessKeyData">
                                <a href="javascript:;" ng-click="gotoElement(businessKey.section_name)">{{ businessKey.section_name }}</a>
                            </li>
                            <li data-ng-repeat="projectTerms in projectTermPreviewDetails">
                                <a href="javascript:;" ng-click="gotoElement(projectTerms.product_term_key)">{{ projectTerms.product_term_name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-sm-12 plr20 mb10" id="{{businessKey.section_name | underscoreadd}}" data-ng-repeat="businessKey in businessKeyData">
            <div class="div-header">
                <h3 class="f14 roboto-bold text-uppercase p10">{{ businessKey.section_name }}</h3>
            </div>
            <div class="col-sm-12 white-bg p15 p-b-0">
                <div class="pb10 form-wrap clearfix mb10" data-ng-repeat="business in businessKey.form">
                    <h4 class="darkcolor bold f14 mb5" id="{{ business.form_name | underscoreadd }}">{{business.form_name }}</h4>
                    <div class="col-sm-12 p0">
                        <div class="" ng-repeat="viewForm in business.field_data" ng-class="{'col-sm-12 col-lg-12 ': viewForm.field_type=='json' || viewForm.field_type=='textarea','col-sm-4 col-lg-3 ': viewForm.field_type!='json' || viewForm.field_type!='textarea'}">
                            <div ng-if="viewForm.field_type != 'json'  ">
                                <label class="label-text">{{ viewForm.field_label }}</label>
                                <div  ng-if="viewForm.field_value != ''" >
                                    <p ng-bind-html="viewForm.field_value" class="label-info mb5"></p>
                                </div>
                                <p ng-if="viewForm.field_value == ''" class="label-info mb5">-----</p>
                            </div>

                            <div ng-if="viewForm.field_type == 'json'">


                                <label class="label-text">{{ viewForm.field_label }}</label>
                                <div ng-if="viewForm.field_type == 'json' && viewForm.field_name=='facility_details'">
                                    <div class="loaded-form " ng-include="'partials/crm/project/facility_com/view-facility-table.html'">
                                    </div>
                                </div>

                                <div class="col-sm-12 clearfix p0 mt15 ">
                                    <div>
                                        <table class="table table-view table-customise" ng-if="viewForm.field_value != '---'">
                                            <thead>
                                            <tr ng-repeat="(key, value) in viewForm.field_value" ng-if="$first" >
                                                <th class="f13 md-word-break" ng-repeat="(chKey, chValue) in value" >{{ chKey }}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr  ng-repeat="(key, value) in viewForm.field_value" >
                                                <td class="f12" ng-repeat="(cKey, cValue) in value" ><span data-ng-if="cValue != null || cValue != '' " >{{ cValue }}</span><span ng-if="cValue == null || cValue == '' " > &nbsp;</span></td>
                                            </tr>
                                            </tbody>
                                            <p ng-if="viewForm.field_value == ''" class="label-info">-----</p>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-sm-12 plr20 mb20" id="{{businessAssessment.product_term_key}}" data-ng-repeat="businessAssessment in projectTermPreviewDetails">
            <div class="div-header">
                <h3 class=" f14 roboto-bold text-uppercase p10">{{ businessAssessment.product_term_name }}</h3>
            </div>
            <div class="col-sm-12  white-bg p15">

                <div class="form-wrap clearfix" data-ng-if="businessAssessment.product_term_type == 'question'">
                   <!-- <h4 class="darkcolor bold f15 mb10">{{ businessAssessment.product_term_name }}</h4>-->
                    <div class="col-sm-12">
                        <ul class="ques-view-wrap" data-ng-repeat="businessCategory in businessAssessment.data[0].category">
                            <h4 class="bold mb10 f14 darkcolor">
                                <span>{{businessCategory.assessment_question_category_name}}</span>
                            </h4>
                            <li class="mb5 clearfix" data-ng-repeat="question in businessCategory.question" >
                                <!--{{ question }}-->
                                <div class="clearfix mb5">
                                    <span class="ques-box">Q</span>
                                    <label class="f14 ques-text darkcolor bold" data-ng-bind-html="question.assessment_question"></label>
                                </div>

                                <div ng-switch on="question.question_type">

                                    <div class="ans-text">
                                        <div ng-switch-when="radio">
                                            <div data-ng-repeat="questionOption in question.question_option" data-ng-if="questionOption.option_value == question.answer.assessment_answer">
                                                <p class="f12 darkcolor" data-ng-bind-html="questionOption.option_title"></p>
                                            </div>
                                        </div>
                                        <div  ng-switch-when="dropdown">
                                            <div data-ng-repeat="questionOption in question.question_option" data-ng-if="questionOption.option_value == question.answer.assessment_answer">
                                                <p class="f12 darkcolor" data-ng-bind-html="questionOption.option_title"></p>
                                            </div>
                                        </div>
                                        <div  ng-switch-when="checkbox">
                                            <div data-ng-repeat="(key,val) in question.answer.assessment_answer" >
                                            <span class="f12 darkcolor display-inline-block mr4 valign-top" data-ng-repeat="questionOption in question.question_option"  data-ng-if="questionOption.option_id ==  key && val == true" >
                                                {{ questionOption.option_title }}
                                            </span>
                                            </div>
                                        </div>
                                        <div  ng-switch-when="date">
                                            <p class="f12 darkcolor" data-ng-bind-html=" question.answer.assessment_answer | date:mediumDate"></p>
                                        </div>
                                        <div  ng-switch-when="file">
                                            <div class="row col-lg-12 ng-scope" data-ng-if="question.answer.assessment_answer != null">
                                                <a target="_blank" class="f12 display-block sky-blue" href="{{question.answer.assessment_answer}}" download=""><i class="fa fa-download mr4"></i>Download</a>
                                            </div>
                                        </div>
                                        <div  ng-switch-default>
                                            <p class="f12 darkcolor" data-ng-bind-html="question.answer.assessment_answer"></p>
                                        </div>
                                    </div>

                                </div>

                                <div data-ng-if="question.question_type == '' ">
                                    <p class="f12 darkcolor" data-ng-bind-html="question.answer.assessment_answer"></p>
                                </div>

                            </li>
                        </ul>
                    </div>
                </div>

                <div class="form-wrap  clearfix" data-ng-if="businessAssessment.product_term_type == 'item'">
                    <!--<h4 class="darkcolor bold f15 mb10">{{businessAssessment.product_term_name}}</h4>-->
                    <div class="col-sm-12">
                        <div class=" clearfix">
                            <div class="" data-ng-repeat="business in businessAssessment.data">
                                <h5 class=" bold f14 darkcolor">{{ business.product_term_item_name }}</h5>
                                <!--<span class="box-text light-y-bg">S</span>-->
                                <ul>
                                    <li class="ptb10" data-ng-if="business.item_type != 'json'" class="clearfix">
                                        <p class="f12" data-ng-bind-html="business.answer" data-ng-if="business.answer != ''"></p>
                                        <p class="f12" data-ng-if="business.answer == ''">-----</p>
                                    </li>
                                    <li class="ptb10"  class="clearfix">
                                        <div  ng-if="business.product_term_item_name == 'Facility Information'" >
                                            <div class="complete-view" ng-include="'partials/crm/project/facility_com/view-facility-table.html'">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-wrap clearfix" data-ng-if="businessAssessment.product_term_type == 'risk'">
                    <!--<h4 class="darkcolor bold f15 mb10">{{businessAssessment.product_term_name}}</h4>-->
                    <div class="col-sm-12 ">
                        <div class=" r-overview clearfix">
                            <div class="clearfix div-header light-dark-bg">
                                <div class="col-sm-6 p0">
                                    <h3 class="darkcolor bold p10 f14">Business Risks Categories</h3>
                                </div>
                                <div class="col-sm-4 text-center">
                                    <h3 class="darkcolor bold p10 f14">Factor</h3>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <h3 class="darkcolor bold p10 f14">Weight(%)</h3>
                                </div>
                            </div>
                            <div class="" data-ng-repeat="business in businessAssessment.data">
                                <h2 class="f14 p10 bold darkcolor">{{ business.risk_category_name }}</h2>

                                <div class="mb10" ng-repeat="sub_category in business.sub_category">
                                    <div class="clearfix pt10 pb10 light-wheet-bg">
                                        <div class="col-sm-6">
                                            <h4 class="f13 bold darkcolor">{{sub_category.risk_category_name}}</h4>
                                        </div>
                                        <div class="col-sm-4">
                                            <h3 class="darkcolor bold f13 text-center">{{sub_category.final_grade}}</h3>
                                        </div>
                                        <div class="col-sm-2">
                                            <h3 class="darkcolor bold f13 text-center">{{sub_category.risk_percentage}}%</h3>
                                        </div>
                                    </div>
                                    <ul class="acc-list">
                                        <li class="clearfix" ng-repeat="attribute in sub_category.attributes">
                                            <div class="col-sm-6">
                                                <h5 class="f12 mt5 darkcolor">{{attribute.risk_category_name}}</h5>
                                            </div>
                                            <!--<div class="col-sm-4 f12 line-height14 darkcolor text-line" data-ng-if="attribute.items.length == 0"></div>-->
                                            <div class="col-sm-4 f12 line-height14 darkcolor">
                                                <span  ng-repeat="item in attribute.items" ng-if="item.selected==1">{{item.risk_category_item_name}}</span>
                                            </div>
                                            <div class="col-sm-2 text-center">
                                                <span class="bold f13"  ng-repeat="item in attribute.items" ng-if="item.selected==1">{{item.project_risk_category_item_grade}}</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>