<h3 class="fixed content-heading">
    Project List
       <!-- <span class="button-set">
           <a ui-sref="project.project-creation" uib-tooltip="Add" ng-click="addNewProject()"><i class="fa fa-plus"></i></a>
        </span>-->
</h3>
<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg">

        <div class="right-fixed-container clearfix">
            <div class="col-sm-12 p0 mt10 clearfix clearboth">

                <div class="legend-view col-sm-12 p5 pt10 hierarchical_show" hierarchical-show>
                    <div class="col-sm-3">
                        <div class="legend-block blue-bg">
                            <i class="fa icon-mail"></i>

                            <div class="legend-label">
                                <label>
                                    No. of Projects
                                </label>
                                <b class="f21">{{totalProjectCount}}</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="legend-block light-yellow-bg">
                            <i class="fa icon-wallet-open"></i>

                            <div class="legend-label">
                                <label>
                                    Pipeline Projects
                                </label>
                                <b class="f21">0</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="legend-block green-bg">
                            <i class="fa icon-users2"></i>

                            <div class="legend-label">
                                <label>
                                    Approved Projects
                                </label>
                                <b class="f21">0</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="legend-block sky-blue-bg">
                            <i class="fa icon-clipped-file"></i>

                            <div class="legend-label">
                                <label>
                                    Monitoring Projects
                                </label>
                                <b class="f21">0</b>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-wrapper no-bg pt0 overflow-hidden">
                    <table class="table-list-view p-table table mb0 table-striped row-pointer" st-pipe="callServer" st-table="displayed">
                        <thead>
                        <tr>
                            <td colspan="7" class="pad0 border-none">
                                <div class="action-head">
                                    <div class="table-search pull-left">
                                        <input type="text" class="form-control" placeholder="Title" st-search>
                                        <i class="fa icon-search"></i>
                                    </div>
                                </div>


                            </td>
                        </tr>

                        </thead>

                        <tbody ng-if="projectList.length>0" class="hierarchical_slide" hierarchical-slide>
                            <tr ng-click="gotoState(row)"  ng-repeat="row in projectList">
                                <td class="img"><span first-alpha="{{row.project_title}}"></span></td>
                                <td>
                                    <label class="label-text display-block">Project Title : </label>
                                    <label title="{{row.project_title}}"><b>{{row.project_title}}</b></label>
                                </td>
                                <!--<td>{{row.project_description}}</td>
                                <td>Threshold Software Solutions Pvt. Ltd.</td>-->
                                <td>
                                    <label>
                                        <span class="label-text">Sector : </span>
                                        <span class="c-label" title="{{row.main_sector_name}}">{{row.main_sector_name}}</span>
                                    </label>
                                    <label>
                                        <span class="label-text">Subsector : </span>
                                        <span class="c-label" title="{{row.sub_sector_name}}">{{row.sub_sector_name}}</span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <span class="label-text">Owner : </span>
                                        <span class="c-label" title="{{row.username}}">{{row.username}}</span>
                                    </label>
                                    <label>
                                        <span class="label-text">Branch : </span>
                                        <span class="c-label" title="{{row.legal_name}}">{{row.legal_name}}</span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <span class="label-text">Total Exposure : </span>
                                        <span class="c-label" title="{{row.amount}} {{row.currency_code}}"> {{row.amount | currency:""}} <b>{{row.currency_code}}</b></span>
                                    </label>


                                    <!--<table class="table" ng-show="row.loan_amount.length>0">
                                        <thead>
                                        <tr>
                                            <td><span class="c-label">Currency</span></td>
                                            <td><span class="c-label">Amount</span></td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="amount in row.loan_amount">
                                            <td>{{amount.currency_code}}</td>
                                            <td>{{amount.amount}}</td>
                                        </tr>
                                        </tbody>
                                    </table>-->
                                   <!-- <button ng-show="row.loan_amount.length>0" popover-trigger="mouseenter" popover-append-to-body="false"  popover-placement="left" uib-popover-template="'loaninformaion.html'" popover-animation="true" class="btn btn-primary f12 border-none lt-bg mr4">
                                        Loan Information
                                    </button>-->
                                </td>

                                <!--<td><a><i class="fa fa-ellipsis-v"></i></a></td>-->
                            </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="7" class="text-center">
                                <div st-items-by-page="10" st-pagination="" st-template="partials/list-pagination.custom.html" class="pull-right"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>




                </div>
            </div>
            <div class="right-fixed  mt20 trans-pos-top" scroll-pos>
                <div class="col-sm-12 p0 border">
                    <h3 class="custom-head">ADD QUICK NEW PROJECT</h3>

                    <div class="form-group clearfix p10  form-group-custom white-bg m0">
                        <form class="form-horizontal form-bordered" name="form" novalidate>


                            <label class="label-text">Project Title*</label>

                            <div class="form-group clearfix form-group-custom">
                                <input type="text" class="form-control" ng-model="project.project_title" name="project_title" class="form-control" required>

                                <div ng-if="form.project_title.$error.required && submitted" class="error-message">
                                    Enter project title.
                                </div>
                            </div>
                            <label class="label-text">Project Description*</label>
                            <div class="form-group clearfix form-group-custom">
                            <input type="text" class="form-control" ng-model="project.project_description" name="project_description" class="form-control" required>

                            <div ng-if="form.project_description.$error.required && submitted" class="error-message">
                                Enter project description.
                            </div>
                                </div>
                           <!-- <label class="label-text">Amount *</sapn></label>

                            <div class="form-group clearfix form-group-custom">
                                <input type="text" class="form-control" ng-model="project.amount" name="amount" class="form-control" only-digits required>
                                <div ng-if="form.amount.$error.required && submitted" class="error-message">
                                    Enter amount.
                                </div>
                                <div ng-if="form.amount.$touched && form.amount.$invalid && submitted" class="error-message">
                                    Enter valid amount.
                                </div>
                            </div>-->
                            <label class="label-text">Product Type*</label>
                            <div class="form-group clearfix form-group-custom">
                                <select class="form-control" name="product_id" ng-model="project.product_id" ng-options="productType.id_product as productType.product_name for productType in productTypeList" required >
                                    <option value="">--Select Product Type--</option>
                                </select>
                                <div ng-if="form.product_id.$error.required && submitted" class="error-message">
                                    Select product.
                                </div>
                            </div>
                            <label class="label-text">Sector*</label>
                            <div class="form-group clearfix form-group-custom">
                                <select class="form-control" ng-options="parentSector.id_sector as parentSector.sector_name for parentSector in parentSectorsList track by parentSector.id_sector" name="project_main_sector_id" ng-change="getSubSector(project.project_main_sector_id)" ng-model="project.project_main_sector_id" required >
                                    <option value="">--Select Sector--</option>
                                </select>
                                <div ng-if="form.project_main_sector_id.$error.required && submitted" class="error-message">
                                    Select sector.
                                </div>
                               <!-- <select class="form-control" ng-model="project.project_main_sector_id" name="project_main_sector_id" ng-change="getSubSector(parentSector.id_sector)">
                                    <option value="0">--Select Sector--</option>
                                    <option  ng-repeat="parentSector in parentSectorsList" ng-value="parentSector.id_sector" ng-selected="project.project_main_sector_id == parentSector.id_sector" >
                                        {{parentSector.sector_name}}
                                    </option>
                                </select>-->
                                <!--<input type="text" class="form-control" ng-model="project.project_main_sector_id" name="project_main_sector_id" class="form-control">-->
                                </div>

                            <label class="label-text">Subsector</label>
                            <div class="form-group clearfix form-group-custom">
                                <select class="form-control" ng-disabled="!project.project_main_sector_id" ng-model="project.project_sub_sector_id" name="project_sub_sector_id">
                                    <option value="0">--Select SubSector--</option>
                                    <option  ng-repeat="subSector in subSectorList" ng-value="subSector.id_sector" ng-selected="project.project_main_sector_id == subSector.id_sector" >
                                        {{subSector.sector_name}}
                                    </option>
                                </select>
                                <!--<div ng-if="form.project_sub_sector_id.$error.required && submitted" class="error-message">
                                    Select subsector.
                                </div>-->
                                </div>
                            <div class="col-lg-12 btn-custom clearfix text-center mb10 mt20">
                                <button type="submit" class="btn btn-primary f12 border-none lt-bg mr4" ng-click="submitted = true; moreFields = false;submitQuickProject(project,form,moreFields)" ng-disabled="submitBtnDisabled">
                                    Save
                                </button>
                                <button type="button" class="btn btn-green f12 border-none lt-bg" ng-click="submitted = true;moreFields = true;submitQuickProject(project,form,moreFields)" ng-disabled="submitBtnDisabled">
                                    Save & Continue
                                </button>
                            </div>





                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="loaninformaion.html">
    <div class="col-sm-12 p0 clearfix" >
       <table class="table">
           <thead>
           <tr>
               <td>currency</td>
               <td>Amount</td>
           </tr>
           </thead>
           <tbody>
           <tr ng-repeat="amount in row.loan_amount">
               <td>{{amount.currency_code}}</td>
               <td>{{amount.amount}}</td>
           </tr>
           </tbody>
       </table>
    </div>
</script>