<h3 class="fixed content-heading">Project
 <div class="pull-right button-set">
 <!--       <any ng-controller="ProjectListCtrl">
            <a uib-tooltip="Touchpoints" modal="touchpoints" ng-click="touchpointsModal()"><i class="fa fa-touchpoint"></i> </a>
            <a uib-tooltip="Attachments" modal="attachment" ng-click="quickAttachmentModal()"><i class="fa fa-paperclip"></i> </a>
            &lt;!&ndash;<a ui-sref="contact.contact-creation" uib-tooltip="Add" ng-click="addNewContact()"><i class="fa fa-plus"></i></a>
            <a uib-tooltip="Edit"  ui-sref="project.project-creation({id:(currentProjectViewId | decode )})" ><i class="fa fa-pencil"></i></a>&ndash;&gt;
            <a ng-click="AddedCompaniesModal()" modal="addedcompanies" uib-tooltip="Companies">
                <i class="fa fa-company"></i>
            </a>
            <a ng-click="AddedContactsModal()" modal="addedcontacts" uib-tooltip="Contacts">
                <i class="fa fa-book"></i>
            </a>
            <a  ng-click="teamModal()"  modal="addTeam" uib-tooltip="Team">
                <i class="fa fa-user-plus"></i>
            </a>
            <a  ng-click="addTasksModal()"  modal="addtasks" uib-tooltip="Tasks">
                <i class="fa fa-tasks"></i>
            </a>
            <a ng-click="meetingModal()" uib-tooltip="Meeting">
                <i class="fa fa-meeting"></i>
            </a>
        </any>-->
        <a ui-sref="project.project-list({id:(currentProjectViewId | decode )})" uib-tooltip="Back"><i class="fa fa-close-sm"></i></a>
    </div>
</h3>

<div class="col-sm-12 fixed clearfix  z1 fixed-top full-fixed-top" ng-class="{visible:boolChangeClass}" fixed-top>
    <div class="clearfix relative details-fixed-top border-none no-bg pad0">
        <div class="col-sm-12 clearfix p0">
            <div class="page-header-wrap mt0  box-shadow clearfix">
                <div class="display-inline-block wrapper-list c-wrap-list pt10 col-sm-10 clearfix" >
                    <h3 class="f15 dark-sky-blue">{{ projectDetails.project_title }}</h3>
                    <ul>
                        <li>
                            <p class="f12 word-break">Company</p>
                            <h3 class="f14 heading">{{selectedCompanyList[0].company_name}}
                                <a
                                    ng-show="selectedCompanyList.length > 1 "
                                    href="javascript:;" class="sky-blue f14"> (+{{ selectedCompanyList.length-1
                                }})</a>
                            </h3>

                            <label ng-if="selectedCompanyList.length == 0" class="display-block heading line-height14">------</label>
                         <!--   <button ng-hide="selectedCompanyList.length" ng-click="AddedCompaniesModal()"
                                    class="btn btn-primary lt-bg border-none f12 mt5"><i
                                    class="fa fa-plus-circle"></i> <span>Add</span></button>-->
                        </li>
                        <li>

                            <p class="f12 word-break">Contacts</p>
                            <h3 class="f14 heading">{{projectContactList[0].first_name}}
                                <a
                                    ng-show="projectContactList.length > 1 " href="javascript:;"
                                    class="sky-blue f14">(+{{
                                projectContactList.length-1 }})</a>
                            </h3>
                            <label ng-if="projectContactList.length == 0" class="display-block heading line-height14">------</label>
                         <!--   <button ng-hide="projectContactList.length" ng-click="AddedContactsModal()"
                                    class="btn btn-primary lt-bg border-none f12 mt5"><i
                                    class="fa fa-plus-circle"></i> <span>Add</span></button>-->
                        </li>
                        <li>
                            <p class="f12 word-break">No.of Loans</p>
                            <h3 class="f14 heading">{{projectDetails.no_of_loans}}</h3>

                        </li>
                        <li>
                            <p class="f12 word-break">Sector</p>
                            <h3 class="f14 heading" title="{{projectDetails.sector}}">{{projectDetails.sector | ellipsis:30}}</h3>

                        </li>
                        <li>
                            <p class="f12 word-break">Loan Amount</p>
                            <h3 class="f14 heading">
                                <div  class="f14" ng-repeat="amount in projectDetails.loan_amount">{{amount.currency_code}} {{amount.amount | currency:""}}</div>
                            </h3>

                        </li>
                        <!-- <li>
                             <h3 class="f14 heading">Team</h3>
                             <p class="f12 word-break">{{projectTeamContactList[0].user_name}} <a
                                     ng-show="projectTeamContactList.length > 1 " data-ng-click="teamModal()"
                                     href="javascript:;" class="sky-blue f14"> + {{ projectTeamContactList.length-1
                                 }}</a></p>
                             &lt;!&ndash;<button class="btn btn-primary lt-bg border-none f12 mt5"><i class="fa fa-plus-circle"></i> <span>Add Team</span> </button>&ndash;&gt;
                         </li>-->


                        <!--<li>
                            <h3 class="f14 heading">Last Updated</h3>
                            <p class="f12">{{projectDetails.updated_date}}</p>
                        </li>-->
                        <li >
                            <p class="f12 ">Status</p>
                            <h3 class="f14 bold red"> {{projectDetails.project_status}}</h3>
                           <!-- <div data-ng-show="approvalStatus">
                                <button data-ng-if="projectDetails.project_status != 'Approved'"
                                        class="btn btn-primary lt-bg border-none f12 mt5 text-ellipses"
                                        ng-click="submitforapprovalModal('forwarded')" title=" Submit for Approval"> Submit for Approval
                                </button>
                                <button data-ng-if="projectDetails.approval == 1 && projectDetails.project_status !='Approved'"
                                        class="btn btn-success f12 mt5 border-none text-ellipses"
                                        ng-click="submitforapprovalModal('approved')" title="Approve">Approve
                                </button>
                                <button data-ng-if="projectDetails.project_status != 'Rejected' && projectDetails.committee_id != 0"
                                        class="btn btn-danger border-none f12 mt5 text-ellipses"
                                        ng-click="submitforapprovalModal('rejected')" title="Reject">Reject
                                </button>
                            </div>-->
                        </li>
                    </ul>

                </div>

                <div class="display-inline-block pull-right relative">
                    <div class="display-inline-block">
                        <span class="box-rating">{{projectDetails.rating}}</span>
                    </div>
                </div>
                <div class="display-inline-block pull-right relative">
                    <div class="display-inline-block">
                        <span class="box-rating">{{projectDetails.grade}}</span>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>



<div class="content-area animated fadeInRight" id="contentArea">

    <div class="content-container clearfix">

        <div class="col-sm-12 p0">
            <div class="page-header-wrap white-bg box-shadow clearfix relative mb15">
                <div class="display-inline-block wrapper-list c-wrap-list pt10 col-sm-10 clearfix" >
                    <h3 class="f15 dark-sky-blue">{{ projectDetails.project_title }}</h3>
                    <ul>
                        <li>
                            <p class="f12 word-break">Company</p>
                            <h3 class="f14 heading">{{selectedCompanyList[0].company_name}}
                                <a
                                        ng-show="selectedCompanyList.length > 1 "
                                        href="javascript:;" class="sky-blue f14"> (+{{ selectedCompanyList.length-1
                                    }})</a>
                            </h3>
                            <label ng-if="selectedCompanyList.length == 0" class="display-block heading line-height14">------</label>
                          <!--  <button ng-hide="selectedCompanyList.length" ng-click="AddedCompaniesModal()"
                                    class="btn btn-primary lt-bg border-none f12 mt5"><i
                                    class="fa fa-plus-circle"></i> <span>Add</span></button>-->
                        </li>
                        <li>

                            <p class="f12 word-break">Contacts</p>
                            <h3 class="f14 heading">{{projectContactList[0].first_name}}
                                <a
                                    ng-show="projectContactList.length > 1 " href="javascript:;"
                                    class="sky-blue f14">(+{{
                                projectContactList.length-1 }})</a>
                            </h3>
                            <label ng-if="projectContactList.length == 0" class="display-block heading line-height14">------</label>
                           <!-- <button ng-hide="projectContactList.length" ng-click="AddedContactsModal()"
                                    class="btn btn-primary lt-bg border-none f12 mt5"><i
                                    class="fa fa-plus-circle"></i> <span>Add</span></button>-->
                        </li>
                        <li>
                            <p class="f12 word-break">No.of Loans</p>
                            <h3 class="f14 heading">{{projectDetails.no_of_loans}}</h3>

                        </li>
                        <li>
                            <p class="f12 word-break">Sector</p>
                            <h3 class="f14 heading" title="{{projectDetails.sector}}">{{projectDetails.sector | ellipsis:30}}</h3>

                        </li>
                        <li>
                            <p class="f12 word-break">Loan Amount</p>
                            <h3 class="f14 heading">
                                <div class="f14" ng-repeat="amount in projectDetails.loan_amount">{{amount.currency_code}} {{amount.amount | currency:""}}</div>
                            </h3>

                        </li>
                        <!-- <li>
                             <h3 class="f14 heading">Team</h3>
                             <p class="f12 word-break">{{projectTeamContactList[0].user_name}} <a
                                     ng-show="projectTeamContactList.length > 1 " data-ng-click="teamModal()"
                                     href="javascript:;" class="sky-blue f14"> + {{ projectTeamContactList.length-1
                                 }}</a></p>
                             &lt;!&ndash;<button class="btn btn-primary lt-bg border-none f12 mt5"><i class="fa fa-plus-circle"></i> <span>Add Team</span> </button>&ndash;&gt;
                         </li>-->


                        <!--<li>
                            <h3 class="f14 heading">Last Updated</h3>
                            <p class="f12">{{projectDetails.updated_date}}</p>
                        </li>-->
                        <li >
                            <p class="f12 ">Status</p>
                            <h3 class="f14 bold red"> {{projectDetails.project_status}}</h3>
                           <!-- <div data-ng-show="approvalStatus">
                                <button data-ng-if="projectDetails.project_status != 'Approved'"
                                        class="btn btn-primary lt-bg border-none f12 mt5 text-ellipses"
                                        ng-click="submitforapprovalModal('forwarded')" title=" Submit for Approval"> Submit for Approval
                                </button>
                                <button data-ng-if="projectDetails.approval == 1 && projectDetails.project_status !='Approved'"
                                        class="btn btn-success f12 mt5 border-none text-ellipses"
                                        ng-click="submitforapprovalModal('approved')" title="Approve">Approve
                                </button>
                                <button data-ng-if="projectDetails.project_status != 'Rejected' && projectDetails.committee_id != 0"
                                        class="btn btn-danger border-none f12 mt5 text-ellipses"
                                        ng-click="submitforapprovalModal('rejected')" title="Reject">Reject
                                </button>
                            </div>-->
                        </li>
                    </ul>


                </div>
                <div class="display-inline-block pull-right relative">
                    <div class="display-inline-block">
                        <span class="box-rating">{{projectDetails.rating}}</span>
                    </div>
                </div>
                <div class="display-inline-block pull-right relative">
                    <div class="display-inline-block">
                        <span class="box-rating">{{projectDetails.grade}}</span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="textinfo-block border-top col-sm-12 pb10" ng-show="infoBox">
                    <label class="f12">Description</label>
                    <p class="f14 darkcolor">{{project_description}}</p>
                </div>
                <div class="slide-img" ng-click="infoBox=!infoBox"></div>
            </div>
        </div>

        <div class="col-sm-12 plr20 mb20 mt5">

                <div class="col-lg-9 col-sm-8 mt5 pl0 p-data">
                    <div class="div-header clearfix  border-bottom  white-bg" >
                        <h3 class="darkcolor pull-left display-inline-block f14 roboto-bold text-uppercase p15">{{sectionName}}</h3>
                        <div class="pull-right cust-pagination mb0">
                            <ul class="c-pagination mt10">
                                <li ng-show="prevBtnShow">
                                    <a href="javascript:;" ng-click="prevForm()"><i class="icon-angle-left"></i> </a>
                                </li>
                                <li ng-show="nextBtnShow">
                                    <a href="javascript:;" ng-click="nextForm()"><i class="icon-angle-right"></i> </a>
                                </li>
                            </ul>
                            <div class="comment-wrapper" ng-click="comment_wrap=!comment_wrap">
                                <a class="comment-count" href="javascript:;">
                                    <i class="icon-comment3"></i> <label class="circle-count">5</label>
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="white-bg clearfix">

                        <div class="add-comment-wrap clearfix" ng-show="comment_wrap">
                            <div class="col-sm-4 p0 add-comment-left">
                                <h4 class="text-center">Approval Committee</h4>
                                <ul class="block-click">
                                    <li class="active">
                                        <div class="appr-block">
                                            <h4>Account Department</h4>
                                            <p class="bold">John Smith</p>
                                            <p>Department Head</p>
                                            <button class="btn btn-orange f12 text-uppercase bold">Under Process</button>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="appr-block">
                                            <h4>Head of the branch</h4>
                                            <p class="bold">John Smith</p>
                                            <p>Department Head</p>
                                            <button class="btn btn-danger f12 text-uppercase bold">Send Request</button>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="appr-block">
                                            <h4>Branch Manager</h4>
                                            <p class="bold">John Smith</p>
                                            <p>Department Head</p>
                                            <button class="btn btn-success f12 text-uppercase bold">Accepted</button>
                                            <span class="f12 ml5 display-inline-block ash">May 16,2016</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-8 p0 add-comment-right">
                                <h4 class="clearfix">
                                    <i class="icon-comment3"></i> Comments
                                    <div class="pull-right">
                                        <a class="mr8 btn btn-dark bold f12" href="javascript:;" ng-click="add_comment=!add_comment">Add Comment </a>
                                        <a href="javascript:;" ng-click="comment_wrap=!comment_wrap"><i class="icon-times"></i> </a>
                                    </div>
                                </h4>
                                <div class="scroll-area">
                                    <div class="people-wrap clearfix cust-comment-wrap" ng-show="add_comment">
                                        <div class="peopleImgWrap">
                                            <img alt="image" src="images/default-img.png" class="img-circle">
                                        </div>
                                        <div class="peopleDetails-wrap">
                                            <p class="peopleName ash-color f12"><span class="text-capitalize darkblue pull-left">Radha Krishna - <label class="ash-color"> Loan Officer </label></span></p>

                                        </div>
                                        <div class="peopleDetails-comments add-comment">
                                            <textarea class="width-full min-height70"></textarea>
                                            <div class="mt5">
                                                <button class="btn btn-success f12 bold mr4">Accept</button>
                                                <button class="btn btn-danger f12 bold" ng-click="add_comment=!add_comment">Reject</button>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="people-wrap clearfix cust-comment-wrap">
                                        <div class="peopleImgWrap">
                                            <img alt="image" src="images/default-img.png" class="img-circle">
                                        </div>
                                        <div class="peopleDetails-wrap">
                                            <p class="peopleName ash-color f12"><span class="text-capitalize darkblue pull-left">Radha Krishna - <label class="ash-color"> Loan Officer </label></span> <span class="pull-right ash text-capitalize f12">Commented on 17 May 2016</span></p>

                                        </div>
                                        <div class="peopleDetails-comments">
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                        </div>
                                    </div>
                                    <div class="people-wrap clearfix cust-comment-wrap">
                                        <div class="peopleImgWrap">
                                            <img alt="image" src="images/default-img.png" class="img-circle">
                                        </div>
                                        <div class="peopleDetails-wrap">
                                            <p class="peopleName ash-color f12"><span class="text-capitalize darkblue pull-left">Radha Krishna - <label class="ash-color"> Loan Officer </label></span> <span class="pull-right ash text-capitalize f12">Commented on 17 May 2016</span></p>

                                        </div>
                                        <div class="peopleDetails-comments">
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                        </div>
                                    </div>
                                    <div class="people-wrap clearfix cust-comment-wrap">
                                        <div class="peopleImgWrap">
                                            <img alt="image" src="images/default-img.png" class="img-circle">
                                        </div>
                                        <div class="peopleDetails-wrap">
                                            <p class="peopleName ash-color f12"><span class="text-capitalize darkblue pull-left">Radha Krishna - <label class="ash-color"> Loan Officer </label></span> <span class="pull-right ash text-capitalize f12">Commented on 17 May 2016</span></p>

                                        </div>
                                        <div class="peopleDetails-comments">
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                        </div>
                                    </div>
                                    <div class="text-center mt10">
                                        <a href="javascript:;" class="sky-blue f12">View More Comments <i class="icon-angle-down valign-middle"></i> </a>
                                    </div>
                                </div>


                                <!--Screen 2 HTML-->
                                <div class="comment-right2">
                                    <h4 class="clearfix">
                                        <div class="pull-right">
                                            <a href="javascript:;"><i class="icon-times"></i> </a>
                                        </div>
                                    </h4>
                                    <div class="scroll-area com-content">
                                        <p class="c-title">Select any of the member in the below and send the request for the approval of the perticular screen</p>
                                        <table class="radio-list-wrapper">
                                            <tr>
                                                <td>
                                                    <input type="radio" class="radio" name="radio">
                                                </td>
                                                <td>
                                                    <h4>John Smith</h4>
                                                    <p>Head of the department</p>
                                                    <p>john@gmail.com </p>
                                                    <p>Contact: 9989898989</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="radio" class="radio" name="radio">
                                                </td>
                                                <td>
                                                    <h4>John Smith</h4>
                                                    <p>Head of the department</p>
                                                    <p>john@gmail.com </p>
                                                    <p>Contact: 9989898989</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="radio" class="radio" name="radio">
                                                </td>
                                                <td>
                                                    <h4>John Smith</h4>
                                                    <p>Head of the department</p>
                                                    <p>john@gmail.com</p>
                                                    <p>Contact: 9989898989</p>
                                                </td>
                                            </tr>
                                        </table>
                                        <div class="mtb10">
                                            <button class="btn btn-danger f12 text-uppercase bold">Send Request</button>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div class="col-sm-12 white-bg p0 p15">
                            <div class="clearfix " ng-if="template != null">
                                <!--<h4 class="dark-blue bold f15 mb10">{{formName}}</h4>-->
                                <div class="col-sm-12 mt5 p0" ng-include="'partials/crm/project/forms/'+template" ></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 mt5 pl0 pr0 white-bg">
                    <div>
                        <div class="tabs-wrap" doc-height>
                            <uib-tabset justified="true">
                            <uib-tab heading="Intelligence">
                                <div class="scroll-div-wrap" min-scroll>
                                   <!-- <div class="pt20 pb20">
                                        <div class="mapping-search">
                                            <input class="form-control"
                                                   placeholder="Search"
                                                   type="text">
                                            <i class="fa  fa-search icon-search f16 pt2 darkblue"></i>
                                        </div>
                                        <div class="search-filter">
                                            <div class="">
                                                <span class="f12 text-uppercase darkcolor">Filters: </span>
                                                <ul class="filter-list">
                                                    <li class="relative">
                                                        <a href="javascript:;" class="sky-blue dropdown-toggle menu-toggle" data-toggle="dropdown">Sector</a>
                                                        <ul class="dropdown-menu custom-dropdown mr10">
                                                            <li>
                                                                <input type="text" class="form-control f13" placeholder="Search">
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;">Business Key Data</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;">Family Business Information</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;">Financial Information</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;">Business Assessment</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>-->

                                        <div class="people-wrap clearfix" ng-repeat="row in knowledgeDetails" >
                                            <a class="display-block" href="javascript:;" target="_blank" ui-sref="project.project-overview({id:(row.id_crm_project | decode )})">
                                                <div class="pull-left p5 img-wrap">
                                                    <span first-alpha="{{row.project_title}}"></span>
                                                </div>
                                                <div class="p5">
                                                    <p class="darkcolor bold f12">{{row.project_title}}</p>
                                                    <p class="f12 dark" data-ng-bind-html="row.project_description | ellipsis:60"></p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="no-knowledgedata-view" ng-show="knowledgeDetails==null">No intelligence data available on this topic. <div class="text-center"><a class="btn lt-bg btn-primary f14 border-none display-inline-block mt10">Ask for Help</a></div></div>

                                </div>
                            </uib-tab>
                            <uib-tab heading="Knowledge">
                                <div class="scroll-div-wrap" min-scroll>
                                    <!--<div class="pt20 pb20">
                                        <div class="mapping-search">

                                            <input class="form-control"
                                                   placeholder="Search"
                                                   type="text">
                                            <i class="fa  fa-search icon-search f16 pt2 darkblue"></i>
                                        </div>
                                    </div>-->
                                    <!--ng-click="modalOpen(data)"-->
                                    <div class="people-wrap clearfix" ng-repeat="data in knowledgeData" ng-click="modalOpen(data)" >
                                        <a ui-sref="knowledge-management.item-view({ id: data.id_knowledge_document})"  target="_blank" class="display-block">
                                            <div class="pull-left p5 k-img" knowledge-icons data-image="{{data.document_type}}" ></div>
                                            <div class="pl100 p5">
                                                <p class="darkcolor bold mb3 f14">{{data.document_title}} </p>
                                                <p class="f12 mb3" data-ng-bind-html="data.document_description | ellipsis:50"></p>
                                                <p class="sky-blue f14"><i class="fa fa-eye f18 mr4 darkcolor valign-top display-inline-block"></i> No. of views  <span class="darkcolor ml5 bold">{{data.number_of_views}}</span></p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="no-knowledgedata-view" ng-show="knowledgeData == ''">No knowledge base available on this topic <div class="text-center"><a ui-sref="knowledge-management.knowledge-dashboard" class="btn lt-bg btn-primary f14 border-none display-inline-block mt10">Click to Add</a></div></div>

                                </div>
                            </uib-tab>

                            <uib-tab heading="People">
                                <div class="scroll-div-wrap" min-scroll>
                                   <!-- <div class="pt20 pb20">
                                        <div class="mapping-search">

                                            <input class="form-control"
                                                   placeholder="Search"
                                                   type="text">
                                            <i class="fa  fa-search icon-search f16 pt2 darkblue"></i>
                                        </div>
                                    </div>-->
                                    <div class="people-wrap clearfix" ng-repeat="data in peopleDetails">
                                        <div class="peopleImgWrap">
                                            <!--<img class="img-circle" src="images/default-img.png" alt="image"/>-->
                                            <img ng-src="{{data.profile_image || 'images/default-img.png'}}"/>
                                        </div>
                                        <div class="peopleDetails-wrap">
                                            <p class="peopleName darkcolor bold f12">{{data.username}}</p>
                                            <p class="peopleDesig">{{data.approval_name}}</p>
                                        </div>
                                    </div>
                                    <div  class="no-knowledgedata-view" ng-show="peopleDetails == null">No contacts available on this topic<div class="text-center"><a class="btn lt-bg btn-primary f14 border-none display-inline-block mt10">Click to Add</a></div></div>

                                </div>
                            </uib-tab>
                        </uib-tabset></div>


                    </div>
                </div>

        </div>

    </div>
</div>
<script type="text/ng-template" id="knowledge-details.html">
    <div class="modal-wrap right-modal modal-custom">
        <div class="clearfix">
            <h3 class="right-modal-head">
                <i class="fa fa-sitemap mr8"></i>{{knowledgeData.document_title}}
                <a ng-click="cancel()" class="close-right pull-right"><img src="images/close.png"></a>
            </h3>

        </div>
        <div class="modal-body clearfix">

            <div class="col-sm-12 p0">
                <div class="form-group clearfix form-group-custom mb10">
                    <div class="col-sm-2"><label class="f13 ash">Title:</label></div>
                    <div class="col-sm-8 f14">
                        {{knowledgeData.document_title}}
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p0">
                <div class="form-group clearfix form-group-custom mb10">
                    <div class="col-sm-2"><label class="f13 ash">Description:</label></div>
                    <div class="col-sm-8 f14" data-ng-bind-html="knowledgeData.document_description"></div>
                </div>
            </div>
            <div class="col-sm-12 p0" ng-if="knowledgeData.document_type == 'document'">
                <div class="form-group clearfix form-group-custom mb10">
                    <div class="col-sm-2"><label class="f13 ash">File:</label></div>
                    <div class="col-sm-8 p0">
                        <div class="btn-custom mt10">
                            <a href="{{knowledgeData.document_source}}" class="f14 sky-blue" download target="_blank"><i class="fa fa-download mlr5"></i>Download</a><span class="f12"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p0" ng-if="knowledgeData.document_type == 'video'">
                <div class="form-group clearfix form-group-custom mb10">
                    <!--<div class="col-sm-2"><label class="control-label">Video:</label></div>-->
                    <div class="col-sm-12 p0" add-iframe data-iframesrc="{{knowledgeData.document_source}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
