<h3 class="fixed content-heading">
    Project List
       <!-- <span class="button-set">
           <a ui-sref="project.project-creation" uib-tooltip="Add" ng-click="addNewProject()"><i class="fa fa-plus"></i></a>
        </span>-->
</h3>
<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg">

        <div class="right-fixed-container clearfix">
            <div class="col-sm-12 p0 mt10 clearfix clearboth">

                <div class="legend-block-view col-sm-12 p5 plr10 pt10 hierarchical_show" hierarchical-show>
                    <div class="col-sm-3">
                        <div class="legend-block-new blue-bg-new">
                            <h3 class="text-uppercase f14 bold">Pipeline</h3>
                            <div class="legend-label">
                                <table>
                                    <tr>
                                        <td>Deals</td>
                                        <td>3</td>
                                    </tr>
                                    <tr>
                                        <td>USD</td>
                                        <td>225k</td>
                                    </tr>
                                </table>
                             </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="legend-block-new choc-bg">
                            <h3 class="text-uppercase f14 bold">Submitted</h3>
                            <div class="legend-label">
                                <table>
                                    <tr>
                                        <td>Deals</td>
                                        <td>3</td>
                                    </tr>
                                    <tr>
                                        <td>Next Committee</td>
                                        <td>225k</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="legend-block-new green-bg-new">
                            <h3 class="text-uppercase f14 bold">Submitted</h3>
                            <div class="legend-label">
                                <table>
                                    <tr>
                                        <td>Deals</td>
                                        <td>3</td>
                                    </tr>
                                    <tr>
                                        <td>USD</td>
                                        <td>225k</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="legend-block-new orange-bg-new">
                            <h3 class="text-uppercase f14 bold">Monitoring</h3>
                            <div class="legend-label">
                                <table>
                                    <tr>
                                        <td>Appears</td>
                                        <td>1-USD 175K</td>
                                    </tr>
                                    <tr>
                                        <td>Current Deals</td>
                                        <td>3-USD 450K</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-12 mt10 plr20 mb10  action-head">
                    <div class="table-search pull-left">
                        <input type="text" class="form-control" placeholder="Search Projects">
                        <i class="fa icon-search"></i>
                    </div>
                    <a class="pull-right" ng-click="filterShow=!filterShow"><i class="fa fa-filter darkcolor"></i></a>

                    <div class="filter-box clearboth" ng-show="filterShow">
                        <h3 class="heading f14">Filters
                            <a class="pull-right" ng-click="filterShow=!filterShow"><img ng-src="images/icons/close.png" class="close-sm"/></a>
                        </h3>

                        <div class="row clearfix clearboth">
                            <div class="col-sm-3">
                                <label class="control-label">Status</label>

                                <div class="form-group clearfix form-group-custom">
                                    <select class="form-control">
                                        <option>All</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label class="control-label">Sector</label>

                                <div class="form-group clearfix form-group-custom">
                                    <select class="form-control">
                                        <option>All</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label class="control-label">Pending</label>

                                <div class="form-group clearfix form-group-custom">
                                    <select class="form-control">
                                        <option>All/Pending Only</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label class="control-label">Overdue</label>

                                <div class="form-group clearfix form-group-custom">
                                    <select class="form-control">
                                        <option>All/Overdue Only</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="table-wrapper no-bg pt0 overflow-hidden">
                    <h3 class="text-uppercase darkcolor bold f14">Pipeline</h3>
                    <table class="table-list-view p-table table mb0 table-striped row-pointer blue-row">
                        <tbody>
                        <tr>
                            <td class="img"><span>R</span></td>
                            <td>
                                <label class="label-text darkcolor  display-block">Borrower </label>
                                <label title=""><b>Rawada Coffee Farm</b></label>
                            </td>
                            <td>
                                <label class="label-text darkcolor  display-block">Project Title </label>
                                <label title=""><b>Test Project Access Bank</b></label>
                            </td>
                            <td>
                                <label class="label-text darkcolor  display-block">Amount </label>
                                <label title=""><b>100,000</b></label>
                            </td>
                            <td>
                                <label class="label-text  darkcolor display-block">Sector </label>
                                <label title=""><b>Agriculture</b></label>
                            </td>
                            <td>
                                <label class="label-text darkcolor  display-block">Service </label>
                                <label title=""><b>Coffee Farming</b></label>
                            </td>
                            <td>
                                <label class="label-text darkcolor  display-block">Started </label>
                                <label title=""><b>3/31/2016</b></label>
                            </td>
                            <td class="red-bg td-icon-wrap">
                                <div class="white-color"><i class="icon-warning"></i> </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="img"><span>R</span></td>
                            <td>
                                <label class="label-text darkcolor  display-block">Borrower </label>
                                <label title=""><b>Rawada Coffee Farm</b></label>
                            </td>
                            <td>
                                <label class="label-text darkcolor  display-block">Project Title </label>
                                <label title=""><b>Test Project Access Bank</b></label>
                            </td>
                            <td>
                                <label class="label-text darkcolor  display-block">Amount </label>
                                <label title=""><b>100,000</b></label>
                            </td>
                            <td>
                                <label class="label-text  darkcolor display-block">Sector </label>
                                <label title=""><b>Agriculture</b></label>
                            </td>
                            <td>
                                <label class="label-text darkcolor  display-block">Service </label>
                                <label title=""><b>Coffee Farming</b></label>
                            </td>
                            <td>
                                <label class="label-text darkcolor  display-block">Started </label>
                                <label title=""><b>3/31/2016</b></label>
                            </td>
                            <td class="td-icon-wrap">

                            </td>
                        </tr>
                        <tr>
                            <td class="img"><span>R</span></td>
                            <td>
                                <label class="label-text darkcolor  display-block">Borrower </label>
                                <label title=""><b>Rawada Coffee Farm</b></label>
                            </td>
                            <td>
                                <label class="label-text darkcolor  display-block">Project Title </label>
                                <label title=""><b>Test Project Access Bank</b></label>
                            </td>
                            <td>
                                <label class="label-text darkcolor  display-block">Amount </label>
                                <label title=""><b>100,000</b></label>
                            </td>
                            <td>
                                <label class="label-text  darkcolor display-block">Sector </label>
                                <label title=""><b>Agriculture</b></label>
                            </td>
                            <td>
                                <label class="label-text darkcolor  display-block">Service </label>
                                <label title=""><b>Coffee Farming</b></label>
                            </td>
                            <td>
                                <label class="label-text darkcolor  display-block">Started </label>
                                <label title=""><b>3/31/2016</b></label>
                            </td>
                            <td class="td-icon-wrap">

                            </td>
                        </tr>
                        </tbody>

                    </table>
                 </div>

                <div class="table-wrapper no-bg pt0 overflow-hidden">
                    <h3 class="text-uppercase darkcolor bold f14">Submitted for Approval</h3>
                    <table class="table-list-view p-table table mb0 table-striped row-pointer choc-row">
                        <tbody>
                        <tr>
                            <td class="img"><span>R</span></td>
                            <td>
                                <label class="label-text darkcolor  display-block">Borrower </label>
                                <label title=""><b>Rawada Coffee Farm</b></label>
                            </td>
                            <td>
                                <label class="label-text darkcolor  display-block">Project Title </label>
                                <label title=""><b>Test Project Access Bank</b></label>
                            </td>
                            <td>
                                <label class="label-text darkcolor  display-block">Amount </label>
                                <label title=""><b>100,000</b></label>
                            </td>
                            <td>
                                <label class="label-text  darkcolor display-block">Sector </label>
                                <label title=""><b>Agriculture</b></label>
                            </td>
                            <td>
                                <label class="label-text darkcolor  display-block">Service </label>
                                <label title=""><b>Coffee Farming</b></label>
                            </td>
                            <td>
                                <label class="label-text darkcolor  display-block">Started </label>
                                <label title=""><b>3/31/2016</b></label>
                            </td>
                            <td class="red-bg td-icon-wrap">
                                <div class="white-color"><i class="icon-warning"></i> </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="img"><span>R</span></td>
                            <td>
                                <label class="label-text darkcolor  display-block">Borrower </label>
                                <label title=""><b>Rawada Coffee Farm</b></label>
                            </td>
                            <td>
                                <label class="label-text darkcolor  display-block">Project Title </label>
                                <label title=""><b>Test Project Access Bank</b></label>
                            </td>
                            <td>
                                <label class="label-text darkcolor  display-block">Amount </label>
                                <label title=""><b>100,000</b></label>
                            </td>
                            <td>
                                <label class="label-text  darkcolor display-block">Sector </label>
                                <label title=""><b>Agriculture</b></label>
                            </td>
                            <td>
                                <label class="label-text darkcolor  display-block">Service </label>
                                <label title=""><b>Coffee Farming</b></label>
                            </td>
                            <td>
                                <label class="label-text darkcolor  display-block">Started </label>
                                <label title=""><b>3/31/2016</b></label>
                            </td>
                            <td class="td-icon-wrap">

                            </td>
                        </tr>

                        </tbody>

                    </table>
                </div>
                <div class="table-wrapper no-bg pt0 overflow-hidden">
                    <h3 class="text-uppercase darkcolor bold f14">Approved/Disbursement Process</h3>
                    <table class="table-list-view p-table table mb0 table-striped row-pointer green-row">
                        <tbody>
                        <tr>
                            <td class="img"><span>R</span></td>
                            <td>
                                <label class="label-text darkcolor  display-block">Borrower </label>
                                <label title=""><b>Rawada Coffee Farm</b></label>
                            </td>
                            <td>
                                <label class="label-text darkcolor  display-block">Project Title </label>
                                <label title=""><b>Test Project Access Bank</b></label>
                            </td>
                            <td>
                                <label class="label-text darkcolor  display-block">Amount </label>
                                <label title=""><b>100,000</b></label>
                            </td>
                            <td>
                                <label class="label-text  darkcolor display-block">Sector </label>
                                <label title=""><b>Agriculture</b></label>
                            </td>
                            <td>
                                <label class="label-text darkcolor  display-block">Service </label>
                                <label title=""><b>Coffee Farming</b></label>
                            </td>
                            <td>
                                <label class="label-text darkcolor  display-block">Started </label>
                                <label title=""><b>3/31/2016</b></label>
                            </td>
                            <td class="td-icon-wrap">

                            </td>
                        </tr>
                        <tr>
                            <td class="img"><span>R</span></td>
                            <td>
                                <label class="label-text darkcolor  display-block">Borrower </label>
                                <label title=""><b>Rawada Coffee Farm</b></label>
                            </td>
                            <td>
                                <label class="label-text darkcolor  display-block">Project Title </label>
                                <label title=""><b>Test Project Access Bank</b></label>
                            </td>
                            <td>
                                <label class="label-text darkcolor  display-block">Amount </label>
                                <label title=""><b>100,000</b></label>
                            </td>
                            <td>
                                <label class="label-text  darkcolor display-block">Sector </label>
                                <label title=""><b>Agriculture</b></label>
                            </td>
                            <td>
                                <label class="label-text darkcolor  display-block">Service </label>
                                <label title=""><b>Coffee Farming</b></label>
                            </td>
                            <td>
                                <label class="label-text darkcolor  display-block">Started </label>
                                <label title=""><b>3/31/2016</b></label>
                            </td>
                            <td class="td-icon-wrap">

                            </td>
                        </tr>

                        </tbody>

                    </table>
                </div>
                <div class="table-wrapper no-bg pt0 overflow-hidden">
                    <h3 class="text-uppercase darkcolor bold f14">Monitoring</h3>
                    <table class="table-list-view p-table table mb0 table-striped row-pointer orange-row">
                        <tbody>
                        <tr>
                            <td class="img"><span>R</span></td>
                            <td>
                                <label class="label-text darkcolor  display-block">Borrower </label>
                                <label title=""><b>Rawada Coffee Farm</b></label>
                            </td>
                            <td>
                                <label class="label-text darkcolor  display-block">Project Title </label>
                                <label title=""><b>Test Project Access Bank</b></label>
                            </td>
                            <td>
                                <label class="label-text darkcolor  display-block">Amount </label>
                                <label title=""><b>100,000</b></label>
                            </td>
                            <td>
                                <label class="label-text  darkcolor display-block">Sector </label>
                                <label title=""><b>Agriculture</b></label>
                            </td>
                            <td>
                                <label class="label-text darkcolor  display-block">Service </label>
                                <label title=""><b>Coffee Farming</b></label>
                            </td>
                            <td>
                                <label class="label-text darkcolor  display-block">Started </label>
                                <label title=""><b>3/31/2016</b></label>
                            </td>
                            <td class="td-icon-wrap">

                            </td>
                        </tr>
                        <tr>
                            <td class="img"><span>R</span></td>
                            <td>
                                <label class="label-text darkcolor  display-block">Borrower </label>
                                <label title=""><b>Rawada Coffee Farm</b></label>
                            </td>
                            <td>
                                <label class="label-text darkcolor  display-block">Project Title </label>
                                <label title=""><b>Test Project Access Bank</b></label>
                            </td>
                            <td>
                                <label class="label-text darkcolor  display-block">Amount </label>
                                <label title=""><b>100,000</b></label>
                            </td>
                            <td>
                                <label class="label-text  darkcolor display-block">Sector </label>
                                <label title=""><b>Agriculture</b></label>
                            </td>
                            <td>
                                <label class="label-text darkcolor  display-block">Service </label>
                                <label title=""><b>Coffee Farming</b></label>
                            </td>
                            <td>
                                <label class="label-text darkcolor  display-block">Started </label>
                                <label title=""><b>3/31/2016</b></label>
                            </td>
                            <td class="td-icon-wrap">

                            </td>
                        </tr>

                        </tbody>

                    </table>
                </div>
            </div>
            <div class="right-fixed  mt20 trans-pos-top" scroll-pos>
                <div class="col-sm-12 p0 border">
                    <h3 class="custom-head">ADD QUICK NEW PROJECT</h3>

                    <div class="form-group clearfix p10  form-group-custom white-bg m0">
                        <form class="form-horizontal form-bordered" name="form" novalidate>


                            <label class="label-text">Project Title*</label>

                            <div class="form-group clearfix form-group-custom">
                                <input type="text" class="form-control" ng-model="project.project_title" name="project_title" class="form-control" required>

                                <div ng-if="form.project_title.$error.required && submitted" class="error-message">
                                    Enter project title.
                                </div>
                            </div>
                            <label class="label-text">Project Description*</label>
                            <div class="form-group clearfix form-group-custom">
                            <input type="text" class="form-control" ng-model="project.project_description" name="project_description" class="form-control" required>

                            <div ng-if="form.project_description.$error.required && submitted" class="error-message">
                                Enter project description.
                            </div>
                                </div>
                           <!-- <label class="label-text">Amount *</sapn></label>

                            <div class="form-group clearfix form-group-custom">
                                <input type="text" class="form-control" ng-model="project.amount" name="amount" class="form-control" only-digits required>
                                <div ng-if="form.amount.$error.required && submitted" class="error-message">
                                    Enter amount.
                                </div>
                                <div ng-if="form.amount.$touched && form.amount.$invalid && submitted" class="error-message">
                                    Enter valid amount.
                                </div>
                            </div>-->
                            <label class="label-text">Product Type*</label>
                            <div class="form-group clearfix form-group-custom">
                                <select class="form-control" name="product_id" ng-model="project.product_id" ng-options="productType.id_product as productType.product_name for productType in productTypeList" required >
                                    <option value="">--Select Product Type--</option>
                                </select>
                                <div ng-if="form.product_id.$error.required && submitted" class="error-message">
                                    Select product.
                                </div>
                            </div>
                            <label class="label-text">Sector*</label>
                            <div class="form-group clearfix form-group-custom">
                                <select class="form-control" ng-options="parentSector.id_sector as parentSector.sector_name for parentSector in parentSectorsList track by parentSector.id_sector" name="project_main_sector_id" ng-change="getSubSector(project.project_main_sector_id)" ng-model="project.project_main_sector_id" required >
                                    <option value="">--Select Sector--</option>
                                </select>
                                <div ng-if="form.project_main_sector_id.$error.required && submitted" class="error-message">
                                    Select sector.
                                </div>
                               <!-- <select class="form-control" ng-model="project.project_main_sector_id" name="project_main_sector_id" ng-change="getSubSector(parentSector.id_sector)">
                                    <option value="0">--Select Sector--</option>
                                    <option  ng-repeat="parentSector in parentSectorsList" ng-value="parentSector.id_sector" ng-selected="project.project_main_sector_id == parentSector.id_sector" >
                                        {{parentSector.sector_name}}
                                    </option>
                                </select>-->
                                <!--<input type="text" class="form-control" ng-model="project.project_main_sector_id" name="project_main_sector_id" class="form-control">-->
                                </div>

                            <label class="label-text">Subsector</label>
                            <div class="form-group clearfix form-group-custom">
                                <select class="form-control" ng-disabled="!project.project_main_sector_id" ng-model="project.project_sub_sector_id" name="project_sub_sector_id">
                                    <option value="0">--Select SubSector--</option>
                                    <option  ng-repeat="subSector in subSectorList" ng-value="subSector.id_sector" ng-selected="project.project_main_sector_id == subSector.id_sector" >
                                        {{subSector.sector_name}}
                                    </option>
                                </select>
                                <!--<div ng-if="form.project_sub_sector_id.$error.required && submitted" class="error-message">
                                    Select subsector.
                                </div>-->
                                </div>
                            <div class="col-lg-12 btn-custom clearfix text-center mb10 mt20">
                                <button type="submit" class="btn btn-primary f12 border-none lt-bg mr4" ng-click="submitted = true; moreFields = false;submitQuickProject(project,form,moreFields)" ng-disabled="submitBtnDisabled">
                                    Save
                                </button>
                                <button type="button" class="btn btn-green f12 border-none lt-bg" ng-click="submitted = true;moreFields = true;submitQuickProject(project,form,moreFields)" ng-disabled="submitBtnDisabled">
                                    Save & Continue
                                </button>
                            </div>





                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="loaninformaion.html">
    <div class="col-sm-12 p0 clearfix" >
       <table class="table">
           <thead>
           <tr>
               <td>currency</td>
               <td>Amount</td>
           </tr>
           </thead>
           <tbody>
           <tr ng-repeat="amount in row.loan_amount">
               <td>{{amount.currency_code}}</td>
               <td>{{amount.amount}}</td>
           </tr>
           </tbody>
       </table>
    </div>
</script>