<h3 class="fixed content-heading">
    <span ng-if="crm_project_id == undefined"> New  </span>
    <span ng-if="crm_project_id != undefined"> update </span>Project
        <span class="button-set">
            <a class="display-block" uib-tooltip="Information"><i class="fa fa-info-circle"></i></a>
            <a ui-sref="project.project-list({id:(currentProjectViewId | decode )})" class="display-block" uib-tooltip="Back"><i class="fa fa-close-sm"></i></a>
        </span>
</h3>
<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg">
        <div class="info-box">
            <ul>
                <li>
                    <span ng-if="project_created_date != undefined">
                        <label class="label-text">Created On</label>
                        <p class="label-info">{{project_created_date}}</p>
                    </span>
                </li>
                <li>
                    <span ng-if="project_title != undefined">
                        <label class="label-text">Project Title</label>
                        <p class="label-info">{{project_title}}</p>
                    </span>
                </li>
                <li class="status-chart customized">
                    <span class="chart" easypiechart percent="percentage" options="anotherOptions">
                        <span class="percent" ng-bind="percentage"></span>
                    </span>
                </li>
            </ul>
        </div>


        <div class="left-panel pull-left">
            <div class="pull-left p10">

                <ul class="tab-accord-list">
                    <li ng-repeat="section in projectObj" ng-init="sectionIndex = $index">
                        <a data-tabs="#tab_{{section.id_section}}"><i class="fa" ng-class="getCheckSection(section.id_section)"></i>{{section.section_name}}</a>
                        <ul class="sub-list">
                            <li ng-class="{'active': formData.id_form==form.id_form}"  ng-repeat="form in section.form" ng-click="loadTemplate(form,section.id_section)" >
                                <div ng-if="sectionIndex==0 && $index==0" ng-init="loadTemplate(form, section.id_section)"></div>
                                <i class="fa" ng-class="getCheck(form.id_form)"></i><span class="f12">{{form.form_name}}</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--contact-left-panel-->
        </div>
        <div class="contact-right-panel" ng-if="formData">

            <div class="right-section-wrap">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="accordion_head clearfix p10 head-wrap-new">
                            <h1 class="f16 blue roboto-condensed mt5">{{formData.form_name}}</h1>
                            <span class="pull-right"></span>
                            <!-- <a title="Options" href="#"><i class="fa fa-check"></i></a>
                             <a href="javascript:;" data-toggle="dropdown" class="menu-toggle dropdown-toggle">
                                 <i class="fa fa-bars"></i> </a>
                             </span>-->
                            <!--<span ng-click="opened(group, $index)">{{form.form_name}}</span>-->
                        </div>
                    </div>
                    <div class="panel-body ">
                        <div class="col-lg-12 white-bg">
                            <div ng-include="'partials/crm/project/forms/'+formData.form_template" onload="formDetails=formData"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Details Area _End-->
    </div>
</div>
</div>
