<h3 class="fixed content-heading">Project Mapping
    <div class="pull-right button-set">
        <!--<a ui-sref="contact.contact-group"  uib-tooltip="Contact Group"><i class="fa fa-users"></i></a>-->
    </div>
</h3>

<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container clearfix">

        <div class="mapping-box clearfix">
            <ul class="map-tabs custom-tabs">
                <li class="done active">
                    <a data-select="tab1" data-tag="tab" tab-data>
                        <i class="fa fa-user"></i>
                            <span class="map-desc">
                                Personal Information
                                <label class="label-text">Pulling Data from Contacts</label>
                            </span>
                            <span class="chart" easypiechart percent="65" options="anotherOptions">
                                <span class="percent" ng-bind="65"></span>
                            </span>
                    </a>
                </li>
                <li>
                    <a data-select="tab2" data-tag="tab" tab-data>
                        <i class="fa fa-user"></i>
                            <span class="map-desc">
                                Company Information
                                <label class="label-text">Pulling Data from Company</label>
                            </span>
                            <span class="chart" easypiechart percent="65" options="anotherOptions">
                                <span class="percent" ng-bind="65"></span>
                            </span>
                    </a>
                </li>
                <li>
                    <a data-select="tab3" data-tag="tab" tab-data>
                        <i class="fa fa-user"></i>
                            <span class="map-desc">
                                Project Information
                                <label class="label-text">Pulling Data from Project</label>
                            </span>
                            <span class="chart" easypiechart percent="65" options="anotherOptions">
                                <span class="percent" ng-bind="65"></span>
                            </span>
                    </a>
                </li>
            </ul>

            <div class="map-inputs-area" data-area="tab">
                <div id="tab1" data-content="tab">
                    <div class="col-sm-12 p0">
                        <div class="form-group mapping-search">
                            <input type="text" ng-model="asyncSelected"
                                   typeahead-on-select="onSelect($item, $model, $label)"
                                   placeholder="Search for Placeholder"
                                   uib-typeahead="contacts as contacts.first_name for contacts in getContactList($viewValue)"
                                   typeahead-template-url="contactListTemplate.html"
                                   typeahead-loading="loadingContacts"
                                   typeahead-no-results="noResults"
                                   class="form-control">
                            <i class="fa fa-search"></i>
                            <a class="go"><i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <p class="col-sm-12 clearfix clearboth text-center text-uppercase mt10">OR</p>

                    <div class="col-sm-12 btn-custom clearfix text-center">
                        <button class="btn btn-primary f14 mr15" type="submit" ui-sref="contact.contact-creation">Create New Contact</button>
                        <button class="btn btn-success f14" type="submit" modal="contact" ng-click="quickContactModal()">Quick Contact
                        </button>
                    </div>
                </div>
                <div id="tab2" data-content="tab">
                    <div class="col-sm-12 p0">
                        <div class="form-group mapping-search">
                            <input type="text" ng-model="asyncSelected2"
                                   typeahead-on-select="onSelect($item, $model, $label)"
                                   placeholder="Search for Placeholder"
                                   uib-typeahead="company as company.company_name for company in getCompanyList($viewValue)"
                                   typeahead-template-url="companyListTemplate.html"
                                   typeahead-loading="loadingContacts"
                                   typeahead-no-results="noResults"
                                   class="form-control">
                            <i class="fa fa-search"></i>
                            <a class="go"><i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <p class="col-sm-12 clearfix clearboth text-center text-uppercase mt10">OR</p>

                    <div class="col-sm-12 btn-custom clearfix text-center">
                        <button class="btn btn-primary f14 mr15" type="submit" ui-sref="company.company-creation">Create New Company</button>
                        <button class="btn btn-success f14" type="submit" modal="company"  ng-click="quickCompanyModal()">Quick Company
                        </button>
                    </div>
                </div>
                <div id="tab3" data-content="tab">
                    <div class="col-sm-12 p0">
                        <div class="form-group mapping-search">
                            <input type="text" class="form-control" placeholder="Search for Placeholder"/>
                            <i class="fa fa-search"></i>
                            <a class="go"><i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <p class="col-sm-12 clearfix clearboth text-center text-uppercase mt10">OR</p>

                    <div class="col-sm-12 btn-custom clearfix text-center">
                        <button class="btn btn-success f14" type="submit" modal="project"  ng-click="quickProjectModal()">Create Project
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="contactListTemplate.html">
    <a>
        <div class="list-item p5 clearfix">
            <div class="col-sm-1 p0">
                <div class="img-box ">
                    <img class="img-circle" src="{{match.model.profile_image}}">
                </div>
            </div>
            <div class="list-desc col-sm-8">
                <p class="list-item-title blue">{{match.model.first_name}} {{match.model.last_name}}</p>
                <ul>
                    <li>{{match.model.email}}</li>
                    <li>{{match.model.phone_number}}</li>
                </ul>
            </div>
        </div>
    </a>
</script>
<script type="text/ng-template" id="companyListTemplate.html">
    <a>
        <div class="list-item p5 clearfix">
            <div class="list-desc col-sm-8">
                <p class="list-item-title blue">{{match.model.company_name}}</p>
            </div>
        </div>
    </a>
</script>
