<h3 class="fixed content-heading" ng-init="init()">View Project
    <div class="pull-right button-set">
        <a uib-tooltip="Touchpoints" modal="touchpoints" ng-click="touchpointsModal()"><i class="fa fa-touchpoint"></i> </a>
        <a uib-tooltip="Attachments" modal="attachment" ng-click="quickAttachmentModal()"><i class="fa fa-paperclip"></i> </a>
        <!--<a ui-sref="contact.contact-creation" uib-tooltip="Add" ng-click="addNewContact()"><i class="fa fa-plus"></i></a>
        <a uib-tooltip="Edit"  ui-sref="project.project-creation({id:(currentProjectViewId | decode )})" ><i class="fa fa-pencil"></i></a>-->
        <a ng-click="AddedCompaniesModal()" modal="addedcompanies" uib-tooltip="Companies">
            <i class="fa fa-company"></i>
        </a>
        <a ng-click="AddedContactsModal()" modal="addedcontacts" uib-tooltip="Contacts">
            <i class="fa fa-book"></i>
        </a>
        <a  ng-click="teamModal()"  modal="addTeam" uib-tooltip="Team">
            <i class="fa fa-user-plus"></i>
        </a>
        <a  ng-click="addTasksModal()"  modal="addtasks" uib-tooltip="Tasks">
            <i class="fa fa-tasks"></i>
        </a>
       <!-- <a ng-click="meetingModal()" uib-tooltip="Meeting">
            <i class="fa fa-meeting"></i>
        </a>-->
        <a ui-sref="project.project-dashboard" uib-tooltip="Back"><i class="fa fa-close-sm"></i></a>
    </div>
</h3>
<div  id="contentArea" class="content-area animated fadeInRight" >
    <div class="content-container clearfix light-blue-bg relative" data-ng-init="isEdit = false">
        <div class="col-sm-7 p0 col-lg-8">
            <!--<a href="#topSection" class="fixed z9 r220 b30 go-top" style="display:none"><i class="fa fa fa-chevron-up"></i></a>-->

            <div class="clearfix p0  page-header-wrap mb0  box-shadow">
                <div id="topSection" class="details-container relative col-sm-12 clearfix p-b-0 border-bottom p-t-0">
                <div class="col-sm-12 clearfix p0">
                    <div class="display-inline-block wrapper-list col-sm-12 p0 pt10 pb10 clearfix">
                        <h3 class="f15 lh26 mb5 clearfix dark-sky-blue">{{ projectDetails.project_title }}
                            <div class="pull-right">
                                <a href="javascript:;" ui-sref="project.project-overview({id:(currentProjectViewId | decode )})" class="btn-wrap">
                                    <span class="input-addon"><i class="icon-eye"></i> </span> Complete View
                                </a>
                            </div>
                        </h3>
                        <ul>
                            <li>
                                <p class="f12 word-break">Company</p>
                                <h3 class="f13 heading">{{selectedCompanyList[0].company_name}} <a
                                        ng-show="selectedCompanyList.length > 1 " ng-click="AddedCompaniesModal()"
                                        href="javascript:;" class="sky-blue f14"> (+{{ selectedCompanyList.length-1
                                    }})</a></h3>
                                <button ng-hide="selectedCompanyList.length" ng-click="AddedCompaniesModal()"
                                        class="btn btn-primary lt-bg border-none f12 mt5"><i
                                        class="fa fa-plus-circle"></i> <span>Add</span></button>
                            </li>
                            <li>

                                <p class="f12 word-break">Contacts</p>
                                <h3 class="f13 heading">{{projectContactList[0].first_name}} <a
                                        ng-show="projectContactList.length > 1 " href="javascript:;"
                                        data-ng-click="AddedContactsModal()" class="sky-blue f14">(+{{
                                    projectContactList.length-1 }})</a>
                                </h3>
                                <button ng-hide="projectContactList.length" ng-click="AddedContactsModal()"
                                        class="btn btn-primary lt-bg border-none f12 mt5"><i
                                        class="fa fa-plus-circle"></i> <span>Add</span></button>
                            </li>
                            <li>
                                <p class="f12 word-break">No.of Loans</p>
                                <h3 class="f13 heading">{{projectDetails.no_of_loans}}</h3>

                            </li>
                            <li>
                                <p class="f12 word-break">Sector</p>
                                <h3 class="f13 heading" title="{{projectDetails.sector}}">{{projectDetails.sector | ellipsis:22}}</h3>

                            </li>
                            <li>
                                <p class="f12 word-break line-height14">Loan Amount</p>
                                <h3 class="heading ">
                                    <div class="f13" ng-repeat="amount in projectDetails.loan_amount">{{amount.currency_code}} {{amount.amount | currency:""}}</div>
                                </h3>

                            </li>
                            <!-- <li>
                                 <h3 class="f14 heading">Team</h3>
                                 <p class="f12 word-break">{{projectTeamContactList[0].user_name}} <a
                                         ng-show="projectTeamContactList.length > 1 " data-ng-click="teamModal()"
                                         href="javascript:;" class="sky-blue f14"> + {{ projectTeamContactList.length-1
                                     }}</a></p>
                                 &lt;!&ndash;<button class="btn btn-primary lt-bg border-none f12 mt5"><i class="fa fa-plus-circle"></i> <span>Add Team</span> </button>&ndash;&gt;
                             </li>-->


                            <!--<li>
                                <h3 class="f14 heading">Last Updated</h3>
                                <p class="f12">{{projectDetails.updated_date}}</p>
                            </li>-->
                            <li >
                                <p class="f12 ">Status</p>
                                <h3 class="f13 bold red"> {{projectDetails.project_status}}</h3>
                                <div data-ng-show="approvalStatus">
                                    <button data-ng-if="projectDetails.project_status != 'Approved'"
                                            class="btn btn-primary lt-bg border-none f12 mt5 text-line"
                                            ng-click="submitforapprovalModal('forwarded')" title=" Submit for Approval"> Submit for Approval
                                    </button>
                                    <button data-ng-if="projectContactList.length > 1 && selectedCompanyList.length > 1 && projectDetails.loan_amount.length > 1 && projectDetails.approval == 1 && projectDetails.project_status !='Approved'"
                                            class="btn btn-success f12 mt5 border-none text-line"
                                            ng-click="submitforapprovalModal('approved')" title="Approve">Approve
                                    </button>
                                    <button data-ng-if="projectDetails.project_status != 'Rejected' && projectDetails.committee_id != 0"
                                            class="btn btn-danger border-none f12 mt5 text-line"
                                            ng-click="submitforapprovalModal('rejected')" title="Reject">Reject
                                    </button>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            </div>

            <!--Repeat this bottom section for Forms-->
            <div class="page-view-wrap clearfix" >
                <div class="col-sm-12 plr20"><!--
                    <div class="border-pattern clearfix">
                        &lt;!&ndash;<div class="pull-left width220">
                            <input type="text" placeholder="Search" class="form-control p5" ng-model="searchText">
                        </div>&ndash;&gt;

                    </div>-->
                    <div class="list-header-view pale-pink clearfix">
                        <h3>
                            <span class="num-count">1</span>
                            Pre-Approval
                        </h3>
                        <ul>
                            <li>
                                <p class="f13">Approved</p>
                                <span class="display-block f14 bold">05</span>
                            </li>
                            <li>
                                <p class="f13">Pending</p>
                                <span class="display-block f14 bold">12</span>
                            </li>
                            <li>
                                <p class="f13">Status</p>
                                <span class="display-block label label-success f13 bold">Completed</span>
                            </li>
                            <li>
                                <p class="comment-count"><i class="icon-comment3"></i> <label class="circle-count">5</label></p>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                        <div class="list-header-bottom text-right">
                            <p class="f13 mb0">Time taken: <span class="bold">32 Days</span></p>
                        </div>
                    </div>
                    <div class="list-view-str">

                        <ul>
                            <li  ng-init="sectionIndex=$index" ng-repeat="section in projectForms | filter:searchText">
                                <div class="list-str">
                                    <h4 class="f14 bold text-uppercase dark-blue pt10 pb10">{{section.section_name}}</h4>

                                    <div class="list-data clearfix list-data-comments white-bg p10" ng-repeat="form in section.form" ng-click="goToEditCtrl({'sectionName':'general_information','tag':form.form_name,'formId':form.id_form,'template':form.form_template,'product_term_type':section.product_term_type})">
                                        <div class="list-img pull-left dark-blue"  ng-class="(form.status==1)?'box-active':''">
                                            <i class="fa {{form.form_class}}"></i>
                                        </div>
                                        <div ng-if="sectionIndex==0 && $index==0"
                                             ng-init="loadTemplate(form, section.id_section)"></div>
                                        <div class="list-text overflow-hidden">
                                            <h5 class="f14 text-line darkcolor">{{form.form_name}}</h5>
                                            <!--<div class="progress">
                                                <div class="progress-wrap">
                                                    <div class="progress-bar progress-bg" role="progressbar"
                                                         aria-valuenow="percentage" aria-valuemin="0"
                                                         aria-valuemax="100"
                                                         ng-style="{width: {{form.percentage}} + '%'}">
                                                        <span class="sr-only">{{form.percentage}} Complete</span>
                                                    </div>
                                                </div>
                                            </div>-->

                                        </div>
                                        <div class="list-data-comment">
                                            <p class="comment-count"><i class="icon-comment3"></i> <label class="circle-count">5</label></p>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <li ng-repeat="section in ProductTerm | filter:searchText">
                                <div class="list-str">
                                    <h4 class="f14 bold dark-blue pt10 pb10">{{ section.product_term_name | uppercase }}</h4>
                                    <div class="list-data list-data-comments white-bg p10" ng-click="goToEditCtrl({'sectionName':section.product_term_key,'tag':section.product_term_name,'formId':section.id_product_term,'template':section.product_term_template,'product_term_type':section.product_term_type})" >
                                        <div class="list-img pull-left dark-blue" ng-class="(section.status==1)?'box-active':''">
                                            <i class="fa icon-clipped-file2" ></i>
                                        </div>
                                        <div class="list-text overflow-hidden">
                                            <h5 class="f14 darkcolor">{{ section.product_term_name }}</h5>
                                            <!--<div class="progress">
                                                <div class="progress-wrap">
                                                    <div class="progress-bar progress-bg" role="progressbar"
                                                         aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"
                                                         style="width: 0%;">
                                                        <span class="sr-only">55% Complete</span>
                                                    </div>
                                                </div>
                                            </div>-->
                                        </div>
                                        <div class="list-data-comment">
                                            <p class="comment-count"><i class="icon-comment3"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
               </div>
            </div>
        </div>
        <div class="col-sm-5 col-lg-4  p0 right-section-wrapper parent">
            <div class="right-section white-bg br-left" >
                <!--comment start-->
                <touch-point-view module-type="project" module-id="{{currentProjectViewId}}"></touch-point-view>
                <!--comment end-->
            </div>


            </div>
        </div>

    </div>
</div>
