
<div class="right-modal modal-custom" data-modal="addedcontacts">
    <h3 class="right-modal-head">
        <i class="fa fa-user-plus mr8"></i> Team
        <a class="close-right pull-right" ng-click="cancel()"><img src="images/close.png"></a>
    </h3>

    <form class="form-horizontal form-bordered" name="form" novalidate>
        <div class="clearfix">
            <div class="col-sm-12 attachment-list">
         <!-- <div class="list-header clearfix pb20">
                    <h4 class="text-uppercase f14">Selected Team</h4>
                    <div class="col-lg-12">
                        <ul class="list-items">
                            <li class="clearfix border mb3" ng-repeat="row in selectedItems">
                                <div class="col-sm-2 text-img"><span first-alpha="{{row.first_name}}"></span></div>
                                <div class="col-sm-4">
                                    <p class="f14">{{ row.first_name }}</p>
                                    <a class="display-block f12 sky-blue" href="mailto:{{ row.email }}">{{ row.email
                                        }}</a>
                                    &lt;!&ndash;<a class="display-block f12 sky-blue" href="javascript:;">Sanfransisco Pvt.Ltd</a>&ndash;&gt;
                                </div>
                                <div class="col-sm-3 text-center">
                                    <p class="f12 gray">{{ row.phone_number }} </p>
                                </div>
                                <div class="col-sm-1 text-center">
                                    <a href="javascript:;" ng-click="selectedItems.splice($index,1)"><img class="h13" src="images/close.png"> </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <button class="btn btn-warning">Save</button>
                </div>-->
                <div class="list-header clearfix pb20 pt20">
                    <h4 class="text-uppercase dark-blue f14">Project Team</h4>
                </div>
                <div class="list-table companies-list">
                    <ul class="list-items">
                        <li class="clearfix border mb3" ng-repeat="row in projectTeamContactList">
                            <div class="col-sm-2 p-r-0">
                                <div class="text-img"><span first-alpha="{{row.user_name}}"></span> </div>
                            </div>
                            <div class="col-sm-3">
                                <p class="f14 text-line" title="{{ row.user_name }}">{{ row.user_name }}</p>
                                <a class="display-block f12 sky-blue text-line" title="{{ row.approval_name }}" href="javascript:;">{{ row.approval_name }}</a>
                            </div>
                            <div class="col-sm-4">
                                <p class="f14 text-line" title="{{ row.legal_name }}">{{ row.legal_name }}</p>
                                <a class="display-block f12 sky-blue text-line" title="{{ row.email }}" href="mailto:{{ row.email }}">{{ row.email_id }}</a>
                            </div>
                            <div class="col-sm-3 map-chart text-center">
                                <p class="f12 gray">{{ row.phone_number }} </p>
                            </div>
                           <!-- <div class="col-sm-1 text-center">
                                <a href="javascript:;"><img class="h13" src="images/close.png"> </a>
                                &lt;!&ndash;<a href="javascript:;"><img class="h13" src="images/others.png"> </a>&ndash;&gt;
                            </div>-->
                        </li>







                    </ul>
                    <div class="text-center f12" ng-if="contactList.length == 0">
                        No members found
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>


<script type="text/ng-template" id="contactListTemplate.html">
    <a>
        <div class="list-item p5 clearfix">
            <div class="col-sm-1 p0">
                <div class="img-box ">
                    <img class="img-circle" src="{{match.model.profile_image}}">
                </div>
            </div>
            <div class="list-desc col-sm-4">
                <p class="list-item-title blue">{{match.model.first_name}} {{match.model.last_name}}</p>
                <ul>
                    <li>{{match.model.email_id}}</li>
                    <li>{{match.model.phone_number}}</li>
                </ul>
            </div>
            <div class="col-sm-3 p0">
                <ul>
                    <li>Branch Name</li>
                    <li class="list-desc">{{match.model.branch_name}}</li>
                </ul>
            </div>
            <div class="col-sm-3 p0">
                <ul>
                    <li>Role Name</li>
                    <li class="list-desc">{{match.model.role_name}}</li>
                </ul>
            </div>
        </div>
    </a>
</script>