<div class="right-modal">
    <h3 class="right-modal-head">
        Create Quick Project
        <a class="close-right pull-right" ng-click="cancel()"><i class="fa fa-times"></i></a>
    </h3>

    <form class="form-horizontal form-bordered" name="form" novalidate>
        <div class="row clearfix">
            <div class="col-sm-12 clearfix">
                <div class="col-sm-4">
                    <label class="control-label">Project Name*</label>

                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" ng-model="project.project_name" name="project_name" required>

                        <div ng-if="form.project_name.$error.required" class="error-message">Enter project name.</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 btn-custom clearfix text-center">
                <button type="submit" class="btn btn-primary f14 next-btn" ng-click="submitForm(project,formDetails,form)" tab-next>
                    Save
                </button>
            </div>
        </div>
    </form>
</div>