<h3 class="fixed content-heading">Welcome
</h3>

<div class="content-area animated fadeInRight" id="contentArea">

    <div class="content-container light-blue-bg-new">
        <div class="container" ngScrollbars>
            <div class="width65 margin-auto text-center">
                <div class="pt20 mt10">
                    <img class="img-circle mr8 img50" ngf-thumbnail="profile_image || 'images/default-user.png'">
                    <label class="f12 text-left gray valign-middle display-inline-block">
                        <a href="#/my-profile" class="f14 bold text-capitalize">{{user_name}}</a><br/>{{company_name}}</label>
                </div>
                <h3 class="blue f18 mt20 mb20">
                    <span class="f16 mb5 dark display-block">Welcome to</span> {{company_name}} A Credit Knowledge Management
                </h3>

                <p class="dark line-height14 mb20 f14">Start to manage your bank with few simple steps</p>

                <p class="blue"><i class="fa fa-cog mr4 f36"></i> <span class="-mt13 valign-middle bold display-inline-block">SETUP</span>
                </p>
                <i class="fa fa-arrow-down gray"></i>
            </div>
            <p class="col-sm-12 clearfix text-center f13">
                Manage your Entity, Organisation Structure and Users from here.
            </p>

            <div class="col-sm-12 clearfix mt20">
                <div class="col-sm-4 p0">
                    <h3 class="step-heading">
                        <span class="step">1</span>
                        <span class="step-text">Step</span>
                    </h3>

                    <div class="white-bg p10 mb10 border-right5 box-step col-sm-12 clearfix">
                        <h3 class="heading roboto-regular bold">Branches</h3>

                        <div ng-if="companyDetail.branch_types == 0">
                            <p class="col-sm-4">
                                <i class="fa fa-sitemap f50 mb10 mt10 blue"></i>
                            </p>

                            <p class="col-sm-8 mt10 f12 pl0">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor.
                            </p>

                            <p class="col-sm-12 clearfix text-center btn-custom m0 pt10">
                                <a ui-sref="entity.branch-structure" class="btn btn-dark f14">Start
                                    Creating</a>
                            </p>
                        </div>
                        <div ng-if="companyDetail.branch_types > 0">
                            <p class="f15 text-center line-height14 green"><i class="fa fa-sitemap f50 mb10 mt10 green"></i> <br/>Branches
                                Created <br/>Successfully</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 p0">
                    <h3 class="step-heading">
                        <span class="step">2</span>
                        <span class="step-text">Step</span>
                    </h3>

                    <div class="white-bg p10 mb10 col-sm-12 box-step border-right5 clearfix">
                        <h3 class="heading roboto-regular bold">Organisation Structure</h3>

                        <div ng-if="companyDetail.approval_roles == 0">
                            <p class="col-sm-4">
                                <i class="fa fa-certificate f50 mb10 mt10 blue"></i>
                            </p>

                            <p class="col-sm-8 mt10 f12 pl0">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor.
                            </p>

                            <p class="col-sm-12 clearfix clearboth text-center btn-custom m0 pt10">
                                <a ui-sref="org.org-structure" class="btn btn-dark f14">Start
                                    Creating</a>
                            </p>
                        </div>
                        <div ng-if="companyDetail.approval_roles > 0">
                            <p class="f15 line-height14 text-center green"><i class="fa fa-certificate f50 mb10 mt10 green"></i> <br/>Organisation
                                Structure Created <br/>Successfully</p>
                        </div>
                    </div>

                </div>
                <div class="col-sm-4 p0">
                    <h3 class="step-heading last">
                        <span class="step">3</span>
                        <span class="step-text">Step</span>
                    </h3>

                    <div class="white-bg p10 mb10 col-sm-12 box-step clearfix border-right5">
                        <h3 class="heading roboto-regular bold">Users</h3>

                        <div ng-if="companyDetail.users == 0">
                            <p class="col-sm-4">
                                <i class="fa fa-users f40 mb10 mt10 blue"></i>
                            </p>

                            <p class="col-sm-8 mt10 f12 pl0">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                dolor.
                            </p>

                            <p class="col-sm-12 clearfix clearboth text-center btn-custom m0 pt20">
                                <a ui-sref="org.org-structure-view" class="btn btn-dark f14">Start Creating</a>
                            </p>
                        </div>
                        <div ng-if="companyDetail.users > 0">
                            <p class="col-sm-12 clearfix clearboth text-center btn-custom m0 pt10">
                                <i class="fa fa-users f40 mb10 red"></i>
                                <br/>
                                <a ui-sref="org.org-structure-view" class="blue-btn mt25">Add New User</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
