<div class="right-modal modal-custom" data-modal="addedcontacts">
    <h3 class="right-modal-head">
        <i class="fa fa-book mr8"></i> Contacts
        <a class="close-right pull-right" ng-click="cancel()"><img src="images/close.png"></a>
    </h3>

    <form class="form-horizontal form-bordered" name="form" novalidate>
        <div class="clearfix">
            <div class="col-sm-12 p0 attachment-list">
                <div class="p15 bg-box" ng-if="permission.contacts_add">
                    <div class="mapping-search">
                        <!--<input type="text" class="form-control" placeholder="Search Companies" style="padding: 8px;">
                        <span class="input-group-addon cursor-pointer"><i class="fa fa-search"></i> </span>-->
                        <input class="form-control" style="padding: 8px;"
                               placeholder="Search Contacts"
                               type="text" ng-model="asyncSelected"
                               typeahead-on-select="onSelect($item, $model, $label)"
                               uib-typeahead="contacts as contacts.first_name for contacts in getContactList($viewValue)"
                               typeahead-template-url="contactListTemplate.html"
                               typeahead-loading="loadingContacts"
                               typeahead-no-results="noResults">
                        <i class="fa  fa-search icon-search f16 pt2 darkblue"></i>
                        <a data-ng-click="addContact()" data-ng-show="visibleAddButton" class="go"><i
                                class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-sm-12 bg-box mb10" data-ng-if="visibleDesignationDropDown">
                    <div class="col-sm-6 p-l-0">
                        <div class="col-sm-2 p0  text-img">
                            <span first-alpha="{{selectedItem.first_name}}"></span>
                        </div>
                        <div class="col-sm-10 p-l-0">
                            <p class="f14">{{ selectedItem.first_name }}</p>
                            <a class="display-block f12 sky-blue" href="mailto:{{ selectedItem.email }}">{{
                                selectedItem.email }}</a>
                            <div class="form-group clearfix form-group-custom">
                                <input type="checkbox" class="mr4" name="is_primary_company"
                                       ng-model="designationForm.is_primary_company">
                                <label class="display-inline-block valign-top">Is Primary</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 form-group clearfix form-group-custom">
                        <div id="designation"><label class="label-text">Designation*</label>

                            <div class="form-group clearfix form-group-custom">
                                <select class="form-control" name="designation_name"
                                        ng-model="designationForm.id_crm_company_designation" required>
                                    <option value="">--Select Designation--</option>
                                    <option ng-repeat="designation in companyDesignations"
                                            ng-value="designation.id_crm_company_designation">
                                        {{designation.designation_name}}
                                    </option>
                                </select>

                                <div ng-if="form.designation_name.$error.required && submitStatus"
                                     class="error-message">Select Designation.
                                </div>
                            </div>

                        </div>

                    </div>
                   <!-- <div class="col-sm-6  p-r-0">
                        <div>
                            <div class="form-group clearfix form-group-custom">
                                <label class="label-text">Relationship*</label>
                                <select class="form-control" name="designation_name"
                                        ng-model="designationForm.contact_type_id " required>
                                    <option value="">&#45;&#45;Select relationship&#45;&#45;</option>
                                    <option ng-repeat="type in contactType"
                                            ng-value="type.id_contact_type">
                                        {{type.contact_type}}
                                    </option>
                                </select>

                                <div ng-if="form.designation_name.$error.required && submitStatus"
                                     class="error-message">Select Relationship.
                                </div>
                            </div>

                        </div>
                    </div>-->
                    <div class="col-sm-12 text-center">
                        <button class="btn btn-primary border-none btn-dark f12 mr4" type="submit"
                                ng-click="save(designationForm,form)"><i class="fa fa-plus-circle"></i> Add
                        </button>
                        <button class="btn btn-primary f12 border-none lt-bg" ng-click="cancelAssign()">Cancel</button>
                    </div>
                </div>

                <div class="list-header col-sm-12 mt15 clearfix pb5">
                    <h4 class="text-uppercase dark-blue f14">Assigned Contacts</h4>
                </div>
                <div class="list-table col-sm-12 companies-list">
                    <ul class="list-items">
                        <li class="clearfix border mb3" ng-repeat="row in selectedCompanyList">
                            <a target="_blank" ui-sref="contact.contact-list({id:row.crm_contact_id})">
                                <div class="col-sm-2 text-img">
                                    <span first-alpha="{{row.first_name}}"></span>
                                </div>
                            </a>

                            <div class="col-sm-4">
                                <p class="f14"><a target="_blank" ui-sref="contact.contact-list({id:row.crm_contact_id})" class="darkcolor">{{ row.first_name }}</a></p>
                                <a class="display-block f12 sky-blue" href="mailto:{{ row.email }}">{{ row.email }}</a>
                                <!--<a class="display-block f12 sky-blue" href="javascript:;">Sanfransisco Pvt.Ltd</a>-->
                            </div>
                            <div class="col-sm-3 text-center">
                                <p class="f12 gray">{{ row.phone_number }} </p>
                            </div>
                            <div class="col-sm-2 map-chart text-center">
                                <span class="chart" easypiechart percent="row.percentage" options="anotherOptions">
                                <span class="percent" ng-bind="row.percentage"></span>
                            </span>
                            </div>
                            <!--<div class="col-sm-1 text-center">-->
                                <a ng-if="permission.contacts_add"  ng-click="removeContactCompany(row.id_crm_company_contact)" href="javascript:;" class="pull-right mr15 mt15"><img class="h13" src="images/close.png"> </a>
                                <!--<a href="javascript:;"><img class="h13" src="images/others.png"> </a>-->
                            <!--</div>-->
                        </li>


                    </ul>
                    <div class="text-center f12" ng-if="contactList.length == 0">
                        No contacts found
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>


<script type="text/ng-template" id="contactListTemplate.html">
    <a>
        <div class="list-item p5 clearfix">
            <div class="col-sm-1 p0">
                <div class="img-box ">
                    <img class="img-circle" src="{{match.model.profile_image}}">
                </div>
            </div>
            <div class="list-desc col-sm-8">
                <p class="list-item-title blue">{{match.model.first_name}} {{match.model.last_name}}</p>
                <ul>
                    <li>{{match.model.email}}</li>
                    <li>{{match.model.phone_number}}</li>
                </ul>
            </div>
        </div>
    </a>
</script>