<h3 class="fixed content-heading">Company Complete View
    <div class="pull-right button-set">
        <!--        <any ng-controller="CompanyCreationCtrl">
                    <a  uib-tooltip="Touchpoints" modal="touchpoints" ng-click="touchpointsModal()"><i class="fa fa-touchpoint"></i>
                    </a>
                    <a ng-click="quickAttachmentModal()" modal="attachment" uib-tooltip="Attachments"><i
                            class="fa fa-paperclip"></i>
                    </a>
                    <a uib-tooltip="Contacts" modal="addedcontacts" ng-click="AddedContactsModal()"><i class="fa fa-book"></i>
                    </a>
                </any>-->
        <a ui-sref="company.company-creation({id:(currentCompanyViewId | decode )})" uib-tooltip="Back"><i class="fa fa-close-sm"></i></a>
    </div>
</h3>
<div class="col-sm-12 fixed clearfix  z1 fixed-top full-fixed-top" ng-class="{visible:boolChangeClass}" fixed-top>
    <div class="clearfix relative details-fixed-top no-bg border-none pad0">
        <div class="col-sm-12 clearfix p0">
            <div class="page-header-wrap mt0  box-shadow clearfix">
                <div class="col-sm-10 pt10 pb10">
                    <h2 class="f15 mb5 dark-sky-blue">{{business_name}}</h2>
                    <ul class="pheader-list pheader-fix-wrap">
                        <li ng-controller="CompanyCreationCtrl" ng-init="selectedCompanyListFun()">
                            <span class="f12 display-block">Contacts</span>
                            <any ng-if="selectedCompanyList.length>0">
                                <label class="display-block  line-height14 heading ">{{selectedCompanyList[0].first_name}}
                                    <span
                                        class="dark-sky-blue bold " ng-if="selectedCompanyList.length>1">(+{{selectedCompanyList.length-1}})</span>
                                </label>
                            </any>
                            <label ng-if="selectedCompanyList.length == 0" class="display-block heading line-height14">------</label>
                         <!--   <button ng-hide="selectedCompanyList.length" ng-click="AddedContactsModal()()"
                                    class="btn btn-primary lt-bg border-none f12 mt5"><i
                                    class="fa fa-plus-circle"></i> <span>Add</span></button>-->

                        </li>
                        <li>
                            <span class="f12 display-block">Sector</span>
                            <label class="display-block  heading line-height14 md-text-line" title="{{sector}}">{{sector}}</label>
                        </li>
                        <li>
                            <span class="f12 display-block">Subsector</span>
                            <label ng-if="subsector != null" class="display-block  heading line-height14 md-text-line"
                                   title="{{subsector}}">{{subsector}}</label>
                            <label ng-if="subsector == null" class="display-block  heading ">------</label>
                        </li>
                        <li>
                            <span class="f12 display-block line-height14">Total Exposure</span>
                            <label class="display-block  heading ">$0</label>
                        </li>
                        <li>
                            <span class="f12 display-block line-height14 md-text-line">Total Outstanding</span>
                            <label class="display-block heading   ">$0</label>
                        </li>
                    </ul>
                </div>
                <div class="display-inline-block pull-right relative">
                    <div class="display-inline-block m-5">
                        <span class="box-rating">---</span>
                    </div>
                    <div class="display-inline-block pull-right relative custom-list">
                        <a class="menu-toggle dropdown-toggle mt25" data-toggle="dropdown" href="javascript:;"><i
                                class="fa fa-bars"></i></a>
                        <ul class="dropdown-menu custom-dropdown">
                            <li>
                                <h5 class="white-color text-uppercase f14 mb10">Sections Menu </h5>
                                <input type="text" class="form-control f13" data-ng-model="searchKey"
                                       ng-change="gotoElement(searchKey)" placeholder="Search">
                            </li>
                            <li>
                                <a href="javascript:;" ng-click="gotoElement('business_keydata')">Business Key Data</a>
                            </li>
                            <li>
                                <a href="javascript:;" ng-click="gotoElement('financial_information')">Financial
                                    Information</a>
                            </li>
                            <li>
                                <a href="javascript:;" ng-click="gotoElement('business_assessment')">Business
                                    Assessment</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="content-area animated fadeInRight" id="contentArea">

    <div class="content-container mb20 clearfix">

        <div class="col-sm-12 clearfix p0">
            <div class="page-header-wrap white-bg box-shadow clearfix relative mb15">
                <div class="col-sm-10  pt10 pb10">
                    <h2 class="f15 mb5 dark-sky-blue">{{business_name}}</h2>
                    <ul class="pheader-list pheader-fix-wrap">
                        <li ng-controller="CompanyCreationCtrl" ng-init="selectedCompanyListFun()">
                            <span class="f12 display-block">Contacts</span>
                            <any ng-if="selectedCompanyList.length>0">
                                <label class="display-block  line-height14 heading ">{{selectedCompanyList[0].first_name}}
                                    <span
                                        class="dark-sky-blue bold" ng-if="selectedCompanyList.length>1"
                                        >(+{{selectedCompanyList.length-1}})</span>
                                </label>
                            </any>
                            <label ng-if="selectedCompanyList.length == 0" class="display-block heading line-height14">------</label>
                     <!--       <button ng-hide="selectedCompanyList.length" ng-click="AddedContactsModal()()"
                                    class="btn btn-primary lt-bg border-none f12 mt5"><i
                                    class="fa fa-plus-circle"></i> <span>Add</span></button>-->
                        </li>
                        <li>
                            <span class="f12 display-block">Sector</span>
                            <label class="display-block  heading line-height14  md-text-line" title="{{sector}}">{{sector}}</label>
                        </li>
                        <li>
                            <span class="f12 display-block">Subsector</span>
                            <label ng-if="subsector != null" class="display-block  line-height14 heading md-text-line"
                                   title="{{subsector}}">{{subsector}}</label>
                            <label ng-if="subsector == null" class="display-block  heading">------</label>
                        </li>
                        <li>
                            <span class="f12 display-block line-height14">Total Exposure</span>
                            <label class="display-block heading  ">$0</label>
                        </li>
                        <li>
                            <span class="f12 display-block line-height14 md-text-line">Total Outstanding</span>
                            <label class="display-block heading ">$0</label>
                        </li>
                    </ul>
                </div>
                <div class="display-inline-block pull-right relative">
                    <div class="display-inline-block m-5">
                        <span class="box-rating">---</span>
                    </div>
                    <div class="display-inline-block pull-right relative custom-list">
                        <a class="menu-toggle dropdown-toggle mr10 mt30" data-toggle="dropdown" href="javascript:;"><i
                                class="fa fa-bars"></i></a>
                        <ul class="dropdown-menu custom-dropdown mr10">
                            <li>
                                <h5 class="white-color text-uppercase f14 mb10">Sections Menu </h5>
                                <input type="text" class="form-control f13" data-ng-model="searchKey"
                                       ng-change="gotoElement(searchKey)" placeholder="Search">
                            </li>
                            <li>
                                <a href="javascript:;" ng-click="gotoElement('business_keydata')">Business Key Data</a>
                            </li>
                            <li>
                                <a href="javascript:;" ng-click="gotoElement('financial_information')">Financial
                                    Information</a>
                            </li>
                            <li>
                                <a href="javascript:;" ng-click="gotoElement('business_assessment')">Business
                                    Assessment</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="textinfo-block border-top col-sm-12 pb10 plr30" ng-show="infoBoxnew">
                    <label class="f12">Description</label>
                    <p class="f14 darkcolor">{{companyDescription}}</p>
                </div>
                <div class="slide-img" ng-click="infoBoxnew =!infoBoxnew"></div>
            </div>
        </div>

        <div class="col-sm-12 plr20 mt5" id="business_keydata" data-ng-repeat="businessKey in businessKeyData">
            <div class="div-header ">
                <h3 class="f14 roboto-bold text-uppercase p10">{{ businessKey.section_name }}</h3>
            </div>
            <div class="col-sm-12 white-bg p15">
                <div class="pb10 form-wrap clearfix mb10" data-ng-repeat="business in businessKey.form">
                    <h4 class="darkcolor bold f14 mb5" id="{{ business.form_name | underscoreadd }}">{{
                        business.form_name }}</h4>
                    <div class="col-sm-12">
                        <!--{{business.field_data}}-->
                        <div class="" ng-repeat="viewForm in business.field_data"
                             ng-class="{'col-sm-12': viewForm.field_type=='json' || viewForm.field_type=='textarea','col-sm-3': viewForm.field_type!='json' || viewForm.field_type!='textarea'}">


                            <div ng-if="viewForm.field_type != 'json'">
                                <label class="label-text">{{ viewForm.field_label }}</label>
                                <div ng-if="viewForm.field_value != ''">
                                    <p ng-bind-html="viewForm.field_value" class="label-info mb5"></p>
                                </div>
                                <p ng-if="viewForm.field_value == ''" class="label-info mb5">-----</p>
                            </div>
                            <div ng-if="viewForm.field_type == 'json'">
                                <label class="label-text">{{ viewForm.field_label }}</label>
                                <div class="col-sm-12 clearfix p0 ">
                                    <div class="table-responsive ">
                                        <table class="table table-view table-customise md-text-line">
                                            <thead>

                                            <tr ng-repeat="(key, value) in viewForm.field_value" ng-if="$first">
                                                <th class="f13" ng-repeat="(chKey, chValue) in value">{{ chKey |
                                                    underscoreless }}
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="(key, value) in viewForm.field_value">
                                                <td class="f12" ng-repeat="(cKey, cValue) in value">{{ cValue }}</td>
                                            </tr>
                                            </tbody>

                                        </table>
                                    </div>

                                    <!-- <div>{{ viewForm.field_value }}</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-sm-12 plr20 mt15" id="financial_information">
            <div class="div-header">
                <h3 class="f14 roboto-bold text-uppercase p10">Financial Information</h3>
            </div>

            <div class="col-sm-12 white-bg p15">
                <div class="form-wrap c-overview clearfix"
                     data-ng-repeat="financialInformation in companyFinancialInformation">
                    <!--<h4 class="darkcolor bold f14 mb5">{{ financialInformation.statement_name }}</h4>-->
                    <div class="col-sm-12 p0">
                        <div data-ng-bind-html="financialInformation.sheet"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 plr20 mt15 " id="business_assessment">
            <div class="div-header">
                <h3 class="f14 roboto-bold text-uppercase p10">Business Assessment</h3>
            </div>
            <div class="col-sm-12  white-bg p15" data-ng-repeat="businessAssessment in companyBusinessAssessment">
                <div id="{{businessAssessment.assessment_name | underscoreadd }}"></div>

                <div class=" form-wrap clearfix" data-ng-if="businessAssessment.assessment_type == 'question'">
                    <h4 class="darkcolor bold f18 mb10">{{ businessAssessment.assessment_name }}</h4>
                    <div class="col-sm-12">
                        <ul class="ques-view-wrap"
                            data-ng-repeat="businessCategory in businessAssessment.data[0].category" ng-show="businessCategory.question.length > 0">
                            <h4 class="bold mb10 f14 darkcolor">
                                <span>{{businessCategory.assessment_question_category_name}}</span>
                            </h4>
                            <li class="mb5 clearfix" data-ng-repeat="question in businessCategory.question">
                                <!--{{ question }}-->
                                <div class="clearfix mb5">
                                    <span class="ques-box">Q</span>
                                    <label class="f14 ques-text darkcolor bold"
                                           data-ng-bind-html="question.assessment_question"></label>
                                </div>


                                <div ng-switch on="question.question_type">
                                    <div class="ans-text">
                                        <div ng-switch-when="radio">
                                            <div data-ng-repeat="questionOption in question.question_option"
                                                 data-ng-if="questionOption.option_value == question.answer.assessment_answer">
                                                <p class="f12 darkcolor"
                                                   data-ng-bind-html="questionOption.option_title"></p>
                                            </div>
                                        </div>
                                        <div ng-switch-when="dropdown">
                                            <div data-ng-repeat="questionOption in question.question_option"
                                                 data-ng-if="questionOption.option_value == question.answer.assessment_answer">
                                                <p class="f12 darkcolor"
                                                   data-ng-bind-html="questionOption.option_title"></p>
                                            </div>
                                        </div>
                                        <div ng-switch-when="checkbox">
                                            <div data-ng-repeat="(key,val) in question.answer.assessment_answer">
                                            <span class="f12 display-inline-block darkcolor valign-top mr4"
                                                  data-ng-repeat="questionOption in question.question_option"
                                                  data-ng-if="questionOption.option_id ==  key && val == true">
                                                {{ questionOption.option_title }}
                                            </span>
                                            </div>
                                        </div>
                                        <div ng-switch-when="date">
                                            <p class="f12 darkcolor"
                                               data-ng-bind-html=" question.answer.assessment_answer | date:mediumDate"></p>
                                        </div>
                                        <div ng-switch-when="file">
                                            <div class="row col-lg-12 ng-scope"
                                                 data-ng-if="question.answer.assessment_answer != null">
                                                <a target="_blank" class="f12 display-block sky-blue"
                                                   href="{{question.answer.assessment_answer}}" download=""><i
                                                        class="fa fa-download mr4"></i>Download </a>
                                            </div>
                                        </div>
                                        <div ng-switch-default>
                                            <p class="f12 darkcolor"
                                               data-ng-bind-html="question.answer.assessment_answer"></p>
                                        </div>
                                    </div>


                                </div>

                                <div class="display-inline-block valign-top width90 "
                                     data-ng-if="question.question_type == '' ">
                                    <p class="f12 darkcolor" data-ng-bind-html="question.answer.assessment_answer"></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class=" form-wrap clearfix" data-ng-if="businessAssessment.assessment_type == 'item'">
                    <h4 class="darkcolor bold f18 mb10">{{businessAssessment.assessment_name}}</h4>
                    <div class="col-sm-12" ng-switch="businessAssessment.assessment_name">

                        <div class="blocks clearfix" ng-switch-when="SWOT">
                            <div class="block-box {{business.assessment_color}}"
                                 data-ng-repeat="business in businessAssessment.data[0].item">
                                <h4 class="text-uppercase bold f15">{{ business.assessment_item_name }}</h4>
                                <span class="box-text" first-alpha="{{ business.assessment_item_name }}"
                                      backround-color="false"></span>
                                <ul>
                                    <li data-ng-repeat="step in business.step" class="f12">
                                        {{ step.step_title }}
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="blocks-list clearfix" ng-switch-when="5 Forces">
                            <div class="block-box">

                                <div class="force-wrap clearfix col-sm-12">
                                    <div class="f-block" data-ng-repeat="business in businessAssessment.data[0].item">
                                        <h4 class="f-header">
                                            {{ business.assessment_item_name }}
                                        </h4>
                                        <div class="f-content">
                                            <ul>
                                                <li data-ng-repeat="step in business.step" class="f12 darkcolor">
                                                    {{ step.step_title }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>


                                <h5 class="bold f13 darkcolor">{{ business.assessment_item_name }}</h5>
                                <!--<span class="box-text light-y-bg">S</span>-->
                                <ul>
                                    <li data-ng-repeat="step in business.step" class="f12 darkcolor">
                                        {{ step.step_title }}
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="blocks-list clearfix" ng-switch-when="5 Factors of Production">
                            <div class="col-sm-12 factors-wrap  mt20 clearfix">
                                <div class="fac-items">
                                    <div class="f-block" data-ng-repeat="business in businessAssessment.data[0].item">
                                        <h4 class="f-header">
                                            {{ business.assessment_item_name }}
                                        </h4>
                                        <div class="f-content">
                                            <ul>
                                                <li data-ng-repeat="step in business.step" class="f12 darkcolor">
                                                    {{ step.step_title }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="blocks-list clearfix" ng-switch-default>
                            <div class="block-box" data-ng-repeat="business in businessAssessment.data[0].item">
                                <h5 class="bold f13 darkcolor">{{ business.assessment_item_name }}</h5>
                                <!--<span class="box-text light-y-bg">S</span>-->
                                <ul>
                                    <li data-ng-repeat="step in business.step" class="f12 darkcolor">
                                        {{ step.step_title }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-wrap clearfix" data-ng-if="businessAssessment.assessment_type == 'item-canvas'">
                    <h4 class="darkcolor bold f18">{{businessAssessment.assessment_name}}</h4>

                    <!--<div class="col-sm-12">
                        <div class="mb15 main-icon-block mt20">
                            <ul class="main-columns">
                                <li class="{{business.assessment_color}}"  data-ng-repeat="business in businessAssessment.data[0].item">
                                    <div class="box-div">
                                        <h4><i class="{{business.assessment_icon}}"></i> <span>{{ business.assessment_item_name }}</span></h4>
                                        <ul class="inner-list">
                                            <li data-ng-repeat="stepTitle in business.step">
                                                <div class="text-content">
                                                    <p>{{stepTitle.step_title}}</p>
                                                </div>

                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>-->

                    <div class="col-sm-12" data-ng-repeat="business in businessAssessment.data">
                        <div class=" main-icon-block mt10">
                            <ul>
                                <li class="light-grey-bg">
                                    <div class="box-div">
                                        <h4><i class="{{business.item[0].assessment_icon}}"></i> <span>{{business.item[0].assessment_item_name}}</span>
                                        </h4>
                                        <ul class="inner-list">
                                            <li data-ng-repeat="stepTitle in business.item[0].step">
                                                <div class="text-content">
                                                    <p>{{stepTitle.step_title}}</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="light-grey-bg">
                                    <div class="box-div">
                                        <h4><i class="{{business.item[1].assessment_icon}}"></i> <span>{{business.item[1].assessment_item_name}}</span>
                                        </h4>
                                        <ul class="inner-list">
                                            <li data-ng-repeat="stepTitle in business.item[1].step">
                                                <div class="text-content">
                                                    <p>{{stepTitle.step_title}}</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="box-div">
                                        <h4><i class="{{business.item[2].assessment_icon}}"></i> <span>{{business.item[2].assessment_item_name}}</span>
                                        </h4>
                                        <ul class="inner-list">
                                            <li data-ng-repeat="stepTitle in business.item[2].step">
                                                <div class="text-content">
                                                    <p>{{stepTitle.step_title}}</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="light-green-bg-new">
                                    <div class="box-div">
                                        <h4><i class="{{business.item[3].assessment_icon}}"></i> <span>{{business.item[3].assessment_item_name}}</span>
                                        </h4>
                                        <ul class="inner-list">
                                            <li data-ng-repeat="stepTitle in business.item[3].step">
                                                <div class="text-content">
                                                    <p>{{stepTitle.step_title}}</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="light-pink-bg">
                                    <div class="box-div">
                                        <h4><i class="{{business.item[4].assessment_icon}}"></i> <span>{{business.item[4].assessment_item_name}}</span>
                                        </h4>
                                        <ul class="inner-list">
                                            <li data-ng-repeat="stepTitle in business.item[4].step">
                                                <div class="text-content">
                                                    <p>{{stepTitle.step_title}}</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="box-div">
                                        <h4><i class="{{business.item[5].assessment_icon}}"></i> <span>{{business.item[5].assessment_item_name}}</span>
                                        </h4>
                                        <ul class="inner-list">
                                            <li data-ng-repeat="stepTitle in business.item[5].step">
                                                <div class="text-content">
                                                    <p>{{stepTitle.step_title}}</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="light-pink-bg">
                                    <div class="box-div">
                                        <h4><i class="{{business.item[6].assessment_icon}}"></i> <span>{{business.item[6].assessment_item_name}}</span>
                                        </h4>
                                        <ul class="inner-list">
                                            <li data-ng-repeat="stepTitle in business.item[6].step">
                                                <div class="text-content">
                                                    <p>{{stepTitle.step_title}}</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                </li>
                            </ul>
                            <ul class="icon-block">
                                <li class="light-wheet-bg">
                                    <div class="box-div">
                                        <h4><i class="{{business.item[7].assessment_icon}}"></i> <span>{{business.item[7].assessment_item_name}}</span>
                                        </h4>
                                        <ul class="inner-list">
                                            <li data-ng-repeat="stepTitle in business.item[7].step">
                                                <div class="text-content">
                                                    <p>{{stepTitle.step_title}}</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                </li>
                                <li class="light-wheet-bg">
                                    <div class="box-div">
                                        <h4><i class="{{business.item[8].assessment_icon}}"></i> <span>{{business.item[8].assessment_item_name}}</span>
                                        </h4>
                                        <ul class="inner-list">
                                            <li data-ng-repeat="stepTitle in business.item[8].step">
                                                <div class="text-content">
                                                    <p>{{stepTitle.step_title}}</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>


                </div>

            </div>
<!--            <div class="col-sm-12  white-bg p15">
                <div class="force-wrap clearfix">
                    <h4 class="darkcolor bold f18 mb10">5 Forces</h4>
                    <div class="col-sm-12">
                        <div class="f-block">
                            <h4 class="f-header">
                                Threats of New Entrants
                            </h4>
                            <div class="f-content">
                                <ul>
                                    <li>Project will boost company's public image</li>
                                    <li>Will improve safety</li>
                                </ul>
                            </div>
                        </div>
                        <div class="f-block">
                            <h4 class="f-header">
                                Bargaining Power of Suppliers
                            </h4>
                            <div class="f-content">
                                <ul>
                                    <li>Project will boost company's public image</li>
                                    <li>Will improve safety</li>
                                </ul>
                            </div>
                        </div>
                        <div class="f-block">
                            <h4 class="f-header">
                                Industry Rivalry/Competition
                            </h4>
                            <div class="f-content">
                                <ul>
                                    <li>Project will boost company's public image</li>
                                    <li>Will improve safety</li>
                                </ul>
                            </div>
                        </div>
                        <div class="f-block">
                            <h4 class="f-header">
                                Bargaining Power of Buyers
                            </h4>
                            <div class="f-content">
                                <ul>
                                    <li>Project will boost company's public image</li>
                                    <li>Will improve safety</li>
                                </ul>
                            </div>
                        </div>
                        <div class="f-block">
                            <h4 class="f-header">
                                Threats of Substitutes
                            </h4>
                            <div class="f-content">
                                <ul>
                                    <li>Project will boost company's public image</li>
                                    <li>Will improve safety</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="factors-wrap  mt20 clearfix">
                    <h4 class="darkcolor bold f18 mb10">5 Fators of Production</h4>
                    <div class="col-sm-12">
                        <div class="fac-items">
                            <div class="f-block">
                                <h4 class="f-header">
                                    Man
                                </h4>
                                <div class="f-content">
                                    <ul>
                                        <li>Project will boost company's public image</li>
                                        <li>Will improve safety</li>
                                        <li>Project will boost company's public image</li>
                                        <li>Will improve safety</li>
                                        <li>Project will boost company's public image</li>
                                        <li>Will improve safety</li>
                                        <li>Project will boost company's public image</li>
                                        <li>Will improve safety</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="f-block">
                                <h4 class="f-header">
                                    Methods
                                </h4>
                                <div class="f-content">
                                    <ul>
                                        <li>Project will boost company's public image</li>
                                        <li>Will improve safety</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="f-block">
                                <h4 class="f-header">
                                    Material
                                </h4>
                                <div class="f-content">
                                    <ul>
                                        <li>Project will boost company's public image</li>
                                        <li>Will improve safety</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="f-block">
                                <h4 class="f-header">
                                    Machine
                                </h4>
                                <div class="f-content">
                                    <ul>
                                        <li>Project will boost company's public image</li>
                                        <li>Will improve safety</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="f-block">
                                <h4 class="f-header">
                                    Money
                                </h4>
                                <div class="f-content">
                                    <ul>
                                        <li>Project will boost company's public image</li>
                                        <li>Will improve safety</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>-->


        </div>
    </div>
</div>

