<h3 class="fixed content-heading">
    Companies List
</h3>
<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg">

        <div class="right-fixed-container clearfix">
            <div class="col-sm-12 p0 mt10 clearfix clearboth">

                <div class="legend-view col-sm-12 p5 pt10 hierarchical_show" hierarchical-show>
                    <div class="col-sm-3">
                        <div class="legend-block blue-bg">
                            <i class="fa icon-mail"></i>

                            <div class="legend-label">
                                <label>
                                    No. of Companies
                                </label>
                                <b class="f21">{{totalCount}}</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="legend-block light-yellow-bg">
                            <i class="fa icon-wallet-open"></i>

                            <div class="legend-label">
                                <label>
                                    Pipeline Companies
                                </label>
                                <b class="f21">0</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="legend-block green-bg">
                            <i class="fa icon-users2"></i>

                            <div class="legend-label">
                                <label>
                                    Approved Companies
                                </label>
                                <b class="f21">0</b>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="legend-block sky-blue-bg">
                            <i class="fa icon-clipped-file"></i>

                            <div class="legend-label">
                                <label>
                                    Monitoring Companies
                                </label>
                                <b class="f21">0</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-wrapper no-bg pt0 overflow-hidden" ng-if="permission.company_list">
                    <table class="table-list-view p-table mb0 table table-striped row-pointer" st-pipe="callServer" st-table="displayed">
                        <thead>
                        <tr>
                            <td colspan="7" class="pad0 border-none">
                                <div class="action-head">
                                    <div class="table-search pull-left">
                                        <input type="text" class="form-control" placeholder="Name" st-search>
                                        <i class="fa icon-search"></i>
                                    </div>

                                </div>


                            </td>
                        </tr>

                        </thead>

                        <tbody ng-if="companyList.length>0" class="hierarchical_slide" hierarchical-slide><!--ng-click="companyView(row.id_crm_company)"-->
                        <!--    // ui-sref="company.company-creation({id:(row.id_crm_company | decode )})"-->
                            <tr ng-click="gotoState(row)"  ng-repeat="row in companyList">
                                <td class="img"><span first-alpha="{{row.company_name}}"></span></td>
                                <td><label class="label-text display-block">Company Name : </label>
                                    <label title="{{row.company_name}}"><b>{{row.company_name}}</b></label>
                                </td>
                                <!--<td><b>Bharath</b><label class="f11 lh11">CEO</label></td>-->
                                <td>
                                    <label class="sky-blue">
                                        <span class="label-text">E-Mail : </span>
                                        <span class="c-label" title="{{row.email}}">{{row.email}}</span>
                                    </label>
                                    <label class="">
                                        <span class="label-text">Phone : </span>
                                        <span class="c-label" title="{{row.phone_number}}">{{row.phone_number}}</span></label>
                                </td>
                                <td>
                                    <label>
                                        <span class="label-text">Owner : </span>
                                        <span class="c-label" title="{{row.username}}">{{row.username}}</span>
                                    </label>
                                    <label><span class="label-text">Branch : </span><span class="c-label" title="{{row.legal_name}}">{{row.legal_name}}</span></label>
                                </td>

                            </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="7" class="text-center">
                                <div st-items-by-page="10" st-pagination="" st-template="partials/list-pagination.custom.html" class="pull-right"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>



                </div>
            </div>
            <div class="right-fixed mt20 trans-pos-top" scroll-pos>
                <div class="col-sm-12 p0 border" ng-if="permission.company_add">
                    <h3 class="custom-head">ADD QUICK NEW COMPANY</h3>

                    <div class="form-group clearfix p10  form-group-custom white-bg m0 sm-form"><!--ng-submit="submitQuickCompany(company,form,moreFields)"-->
                        <form class="" name="form" novalidate>

                            <label class="control-label">Company Name*</label>

                            <div class="form-group clearfix form-group-custom">
                                <input type="text" class="form-control" ng-model="company.company_name" name="company_name" required>

                                <div ng-if="form.company_name.$error.required && submitted" class="error-message">
                                    Enter company name.
                                </div>
                            </div>

                            <label class="control-label">Contact No *</label>

                            <div class="form-group clearfix form-group-custom">
                                <input type="text" class="form-control" ng-model="company.phone_number" name="phone_number" pattern=".{5,}" required only-digits>

                                <div ng-if="form.phone_number.$error.required && submitted" class="error-message">
                                    Enter contact number.
                                </div>
                                <div ng-if="form.phone_number.$touched && form.phone_number.$invalid && submitted" class="error-message">
                                    Enter valid contact number.(minimum 5 digits)
                                </div>


                            </div>
                            <label class="control-label">Email*</label>

                            <div class="form-group clearfix form-group-custom">
                                <input type="email" class="form-control" ng-model="company.email" name="email" required>

                                <div ng-if="form.email.$error.required && submitted" class="error-message">Enter email
                                </div>
                                <div ng-if="form.email.$error.email && submitted" class="error-message">Enter a valid
                                    email
                                </div>

                            </div>

                            <!--<label class="label-text">Known Information about this Contact</label>
                            <textarea rows="6" class="form-control" data-ng-model="company.about" name="about"></textarea>-->

                            <div class="col-lg-12 btn-custom clearfix text-center  mb10 mt20">
                                <button type="submit" class="btn btn-primary f12 border-none lt-bg mr4" ng-click="submitted = true ; moreFields = false;submitQuickCompany(company,form,moreFields)" ng-disabled="submitBtnDisabled">
                                    Save
                                </button>
                                <button class="btn btn-green f12 border-none lt-bg" ng-click="submitted = true;moreFields = true;submitQuickCompany(company,form,moreFields)"  ng-disabled="submitBtnDisabled">

                                       Save & Continue
                                </button>
                            </div>



                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
