<h3 class="fixed content-heading">Companies


    <div class="pull-right button-set">
        <a uib-tooltip="Touchpoints" modal="touchpoints" ng-click="touchpointsModal()"><i class="fa fa-touchpoint"></i>
        </a>
        <a ng-click="quickAttachmentModal()" modal="attachment" uib-tooltip="Attachments"><i class="fa fa-paperclip"></i>
        </a>
        <a uib-tooltip="Contacts" modal="addedcontacts" ng-click="AddedContactsModal()"><i class="fa fa-book"></i>
        </a>
        <a uib-tooltip="Edit" ui-sref="company.company-creation({id:(currentCompanyViewId | decode )})"><i class="fa fa-pencil"></i></a>
        <a uib-tooltip="Back" ui-sref="company.company-dashboard" href="#/company-dashboard"><i class="fa fa-close-sm"></i></a>
    </div>
</h3>

<div class="col-sm-12 fixed clearfix clearboth  z1 fixed-top" ng-class="{visible:boolChangeClass}" fixed-top>
    <div class="clearfix relative details-fixed-top">
        <!--<div class="col-sm-1 sm-p0">
            <img alt="User" ng-src="{{companycompanysDetails.profile_image || 'images/default-user.png'}}" class="details-user-pic img-circle" style="max-width: 42px;">
        </div>
        <div class="col-sm-11 p0" style="">
            <h3 class="display-inline-block condensed f18 mtb10 mr40 text-capitalize">{{ companyDetails.company_name }}</h3>

            <div class="display-inline-block pull-right relative mt5 custom-list">
                <a href="javascript:;" data-toggle="dropdown" class="menu-toggle dropdown-toggle"><i class="fa fa-ellipsis-v"></i>
                </a>
                <ul class="dropdown-menu">
                    <div ng-repeat="companyForm in companyForms" data-ng-init="$sectionIndex = $index">
                        <li ng-repeat="companyInfo in companyForm.form">
                            <a ng-click="getFormData(companyInfo.id_form)"
                               ng-init="$first && $sectionIndex==0 && getFormData(companyInfo.id_form)">{{
                                companyInfo.form_name
                                }}</a>
                        </li>
                    </div>
                </ul>

            </div>
            <p class="display-inline-block gray f12">
                <span class="mr40">{{ companyDetails.email }}</span>
                <span>{{ companyDetails.phone_number }}</span>
            </p>
        </div>-->


            <div class="absolute t0 l0">
                <img alt="User" ng-src="{{companycompanysDetails.profile_image || 'images/default-user.png'}}" class="details-user-pic img-circle">
            </div>
            <div class="col-sm-12 clearfix p0 pl67 pt5">

                <div class="display-inline-block col-sm-5 p0">
                    <!--<h3 class="condensed f18 mr40 text-capitalize">{{ companyDetails.first_name }}</h3>-->
                    <h3 class="condensed darkcolor f18 mr40 text-capitalize">{{ companyDetails.company_name }}</h3>

                    <p class="gray f12">
                        <span class="mr40">{{ companyDetails.email }}</span>
                        <span>{{ companyDetails.phone_number }}</span>

                    </p>
                </div>

                <div class="display-inline-block pull-right relative">
                    <div class="display-inline-block pull-right relative custom-list">
                        <a class="menu-toggle dropdown-toggle" data-toggle="dropdown" href="javascript:;"><i class="fa fa-ellipsis-v"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <div ng-repeat="companyForm in companyForms" data-ng-init="$sectionIndex = $index">
                                <li ng-repeat="companyInfo in companyForm.form">
                                    <a ng-click="getFormData(companyInfo.id_form)"
                                       ng-init="$first && $sectionIndex==0 && getFormData(companyInfo.id_form)">{{
                                        companyInfo.form_name
                                        }}</a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>



    </div>









</div>

<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container clearfix pl20">
        <div class="details-area pull-left ">
            <a href="#topSection" class="fixed z9 r220 b30 go-top" style="display:none"><i class="fa fa fa-chevron-up"></i></a>

            <div class="col-sm-12 clearfix p0 white-bg box-shadow">
                <div id="topSection" class="details-container relative pl67 col-sm-12 clearfix pb10 border-bottom">
                    <div class="absolute t0 l0">
                        <img alt="User" ng-src="{{companycompanysDetails.profile_image || 'images/default-user.png'}}" class="details-user-pic img-circle">
                    </div>
                    <div class="col-sm-12 clearfix clearboth p0">

                        <div class="display-inline-block col-sm-5 p0">
                            <!--<h3 class="condensed f18 mr40 text-capitalize">{{ companyDetails.first_name }}</h3>-->
                            <h3 class="condensed darkcolor f18 mr40 text-capitalize">{{ companyDetails.company_name }}</h3>

                            <p class="gray f12">
                                <span class="mr40">{{ companyDetails.email }}</span>
                                <span>{{ companyDetails.phone_number }}</span>

                            </p>
                        </div>

                        <div class="display-inline-block pull-right relative">
                            <div class="display-inline-block pull-right relative custom-list">
                                <a class="menu-toggle dropdown-toggle" data-toggle="dropdown" href="javascript:;"><i class="fa fa-ellipsis-v"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <div ng-repeat="companyForm in companyForms" data-ng-init="$sectionIndex = $index">
                                        <li ng-repeat="companyInfo in companyForm.form">
                                            <a ng-click="getFormData(companyInfo.id_form)"
                                               ng-init="$first && $sectionIndex==0 && getFormData(companyInfo.id_form)">{{
                                                companyInfo.form_name
                                                }}</a>
                                        </li>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 clearfix clearboth pb10  border-bottom">
                    <h3 class="heading pt10" id="loansHead">Loans Performance</h3>

                    <div id="loansPerformance" donut-graph style="height: 200px"></div>
                </div>
            </div>
            <!--Repeat this bottom section for Forms-->
            <div class="col-sm-12 clearfix clearboth p0 mt20 white-bg colored-border-top4 box-shadow">
                <div class="form-head-wrap col-sm-12 clearfix">

                    <h3 class="heading pt10"> {{ formName }}</h3>

                </div>
                <div class="col-sm-11 margin-auto mt30 clearfix">
                    <div class="col-sm-12 clearfix clearboth p0 mtb10">
                        <div ng-repeat="viewForm in viewContactForm" class="clearfix min-height70" ng-class="viewForm.field_type == 'json' ? 'col-sm-12' : 'col-sm-4'">
                            <div ng-if="viewForm.field_type != 'json'">
                                <label class="label-text">{{ viewForm.field_label }}</label>
                               <div  ng-if="viewForm.field_value != ''" >
                                   <p ng-bind-html="viewForm.field_value" class="label-info"></p>
                               </div>
                                <p ng-if="viewForm.field_value == ''" class="label-info">-----</p>
                            </div>
                            <div ng-if="viewForm.field_type == 'json'">
                                <label class="label-text">{{ viewForm.field_label }}</label>
                                <div class="col-sm-12 clearfix p0">
                                    <table class="table table-customise table-responsive">
                                        <thead>
                                        <tr ng-repeat="(key, value) in viewForm.field_value" ng-if="$first" >
                                            <th class="f13" ng-repeat="(chKey, chValue) in value" >{{ chKey | underscoreless }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr  ng-repeat="(key, value) in viewForm.field_value" >
                                            <td class="f12" ng-repeat="(cKey, cValue) in value" >{{ cValue }}</td>
                                        </tr>
                                        </tbody>

                                    </table>
                                    <!-- <div>{{ viewForm.field_value }}</div>-->
                                </div>
                            </div>
                        </div>
                        <div ng-if="viewContactForm.length == empty" class="text-center">
                            <p class="f12">No more fields are there please fill details</p>
                <span>
                    <a class="button-round" uib-tooltip="Edit" class="btn-round " ui-sref="company.company-creation({id:(currentCompanyViewId | decode )})" href="#/company-creation"><i class="fa fa-pencil"></i></a>
                </span>
                        </div>
                    </div>
                </div>
            </div>
            <!--Form Section With Heading-->
            <!--Personal Financial Information-->
        </div>
        <div id="actionPanel" class="action-panel overview-y">
            <div class="clearfix">
                <h3 class="heading mb10">Touchpoints</h3>
                <!--<button type="button" class="btn btn-primary btn-xs lt-bg border-none border-radius0 m0">Add Touchpoint</button>-->
                <!--<button class="btn btn-primary lt-bg f14 btn-sm border-none" type="button">
                    <i class="fa fa-plus-circle mr8 f21 pl0"></i>
                    <span class="relative -t2">Add Touchpoint</span>
                </button>-->
                <div class="col-sm-12  p0 ptb10 f12 wrap-list widget-timeline ">
                    <ul>

                        <!-- <div> {{ touchPointsList.data }} </div>-->
                        <li class="clearfix pb10 no-before">
                            <div class="col-sm-2 text-center p0 white-color">
                                <div class="darkcolor f32 cursor-pointer"  modal="touchpoints" ng-click="touchpointsModal()">
                                    <i class="fa fa-plus-square"></i>
                                </div>
                            </div>
                        </li>

                        <li class="clearfix pb10" ng-repeat="touchPoint in touchPointsList">
                            <div class="col-sm-3 text-center pl0 white-color">
                                <div class="ptb10 date-box">
                                    <p ng-bind="touchPoint.date | date:'mediumDate'"></p>
                                </div>
                            </div>
                            <div class="col-sm-9 p0 ">
                                <div class="col-sm-12 border border-radius5 p0 mb10 white-bg" ng-repeat="touchChild in touchPoint.touch_point">

                                    <div class="col-sm-12 p0">
                                        <div class="col-sm-2 p0 pl10">
                                            <span class="f16 dark-blue" touch-points data-tauchpoint="{{touchChild.touch_point_type_name}}">
                                                <i></i>
                                            </span>
                                        </div>
                                        <div class="col-sm-10 p0 p5 text-right">
                                              <span class="display-block f10">by
                                                <label class="clr-blue">{{ touchChild.user_name }}</label>
                                                <label ng-bind="touchChild.created_date | date:'mediumDate'"></label>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 p0 pb10 pl10">
                                        <p class="dark-blue f12">{{ touchChild.touch_point_description }} </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <div ng-hide="touchPointsList.length" class="text-center">
                            <p class="f12">No Touchpoints</p>
                        </div>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

