<h3 class="fixed content-heading" ng-init="init()">
    <div class="pull-right button-set">
        <!--   <a uib-tooltip="Touchpoints" modal="touchpoints" ng-click="touchpointsModal()"><i class="fa fa-touchpoint"></i>
           </a>-->
        <a ng-if="permission.attachements_view" ng-click="quickAttachmentModal()" modal="attachment"
           uib-tooltip="Attachments"><i
                class="fa fa-paperclip"></i>
        </a>
        <a ng-if="permission.contacts_view" uib-tooltip="Contacts" modal="addedcontacts"
           ng-click="AddedContactsModal()"><i class="fa fa-book"></i>
        </a>
        <!--<a uib-tooltip="Edit" ui-sref="company.company-creation({id:(currentCompanyViewId | decode )})"><i class="fa fa-pencil"></i></a>-->
        <a uib-tooltip="Back" ui-sref="company.company-dashboard"><i
                class="fa fa-close-sm"></i></a>
    </div>
</h3>

<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg relative" data-ng-init="isEdit = false">
        <div class="col-sm-7 col-lg-8 p0">
            <div class="page-header-wrap mb0 min-height-auto box-shadow clearfix">
                <div class="col-sm-12 p10">
                    <h2 class="f15 lh26 mb5 clearfix dark-sky-blue">{{business_name}}
                        <div class="pull-right" ng-if="permission.complete_view_view">
                            <span class="box-rating b-rate">---</span>
                            <a href="javascript:;"
                               ui-sref="company.business-assessment({id:(currentCompanyViewId | decode )})"
                               class="btn-wrap">
                                <span class="input-addon"><i class="icon-eye"></i> </span> Complete View
                            </a>
                        </div>
                    </h2>
                    <ul class="pheader-list phead-list">
                        <li>
                            <p class="f12 word-break">Contacts</p>
                            <h3 class="f13 heading">{{selectedCompanyList[0].first_name}} <a
                                    ng-show="selectedCompanyList.length > 1 " href="javascript:;"
                                    data-ng-click="AddedContactsModal()" class="sky-blue f14">(+{{
                                selectedCompanyList.length-1 }})</a>
                            </h3>
                            <button ng-if="selectedCompanyList.length==0" ng-click="AddedContactsModal()"
                                    class="btn btn-primary lt-bg border-none f12 mt5"><i
                                    class="fa fa-plus-circle"></i> <span>Add</span></button>
                        </li>
                        <li>
                            <span class="f12">Sector</span>
                            <label ng-if="sector != null"
                                   class="display-block m-4 heading line-height14 md-width90 text-line"
                                   title="{{sector}}">{{sector}}</label>
                            <label ng-if="sector == null" class="display-block m-4 heading line-height14">------</label>
                        </li>
                        <li>
                            <span class="f12">Subsector</span>
                            <label ng-if="subsector != null"
                                   class="display-block m-4 line-height14 md-width90 text-line heading"
                                   title="{{subsector}}">{{subsector}}</label>
                            <label ng-if="subsector == null"
                                   class="display-block m-4 line-height14 heading">------</label>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="page-view-wrap clearfix">
                <div class="col-sm-12 plr20 pb15">
                    <div class="border-pattern clearfix">
                    </div>
                    <div class="list-view-str">
                        <ul>
                            <li ng-init="sectionIndex=$index" ng-repeat="section in companyForms ">

                                <div class="list-str">
                                    <h4 class="f14 bold text-uppercase dark-blue pt10 pb10">
                                        {{section.section_name}}</h4>
                                    <!--<div class="list-data white-bg p10" ng-repeat="form in section.form" ng-click="goToEditCtrl('keyData',form.id_form,form.form_template)">-->
                                    <any ng-repeat="form in section.form | filter:searchText">
                                        <div class="list-data white-bg p10"
                                             ng-if="permission[form.form_key+'_view']"
                                             ng-click="goToEditCtrl({'tag':form.form_name,'sectionName':'business_key_data','formId':form.id_form,'template':form.form_template,'form_key':form.form_key})">

                                            <div class="list-img pull-left dark-blue"
                                                 ng-class="(form.status==1)?'box-active':''">
                                                <i class="fa {{form.form_class}} "></i>
                                            </div>
                                            <div ng-if="sectionIndex==0 && $index==0"
                                                 ng-init="loadTemplate(form, section.id_section)"></div>
                                            <div class="list-text overflow-hidden">
                                                <h5 class="f14 darkcolor">{{form.form_name}}</h5>

                                            </div>
                                        </div>
                                        <div class="list-data white-bg p10 disabled"
                                             ng-if="!permission[form.form_key+'_view']">

                                            <div class="list-img pull-left dark-blue"
                                                 ng-class="(form.status==1)?'box-active':''">
                                                <i class="fa {{form.form_class}} "></i>
                                            </div>
                                            <div ng-if="sectionIndex==0 && $index==0"
                                                 ng-init="loadTemplate(form, section.id_section)"></div>
                                            <div class="list-text overflow-hidden">
                                                <h5 class="f14 darkcolor">{{form.form_name}}</h5>

                                            </div>
                                        </div>
                                    </any>
                                </div>
                            </li>
                            <li>
                                <div class="list-str">
                                    <h4 class="f14 bold text-uppercase dark-blue pt10 pb10">Financial Information</h4>
                                    <any  ng-repeat="fininfo in financialInfo | filter:searchText">
                                        <div class="list-data white-bg p10"
                                             ng-if="permission[fininfo.statement_key+'_view']"
                                             ng-click="goToEditCtrl({'tag':fininfo.statement_name,'sectionName':'financial_information','formId':fininfo.id_financial_statement,'template':'upload-financial-information.html','formName':fininfo.statement_name,'form_key':fininfo.statement_key})">
                                            <!--ng-click="goToEditCtrl('financialInformation',fininfo.id_financial_statement,'upload-financial-information.html')"-->
                                            <div class="list-img pull-left dark-blue"
                                                 ng-class="(fininfo.status==1)?'box-active':''">
                                                <i class="fa icon-clipped-file2"></i>
                                            </div>
                                            <div class="list-text overflow-hidden">
                                                <h5 class="f14 darkcolor">{{fininfo.statement_name}}</h5>
                                            </div>
                                        </div>
                                        <div class="list-data white-bg p10 disabled"
                                             ng-if="!permission[fininfo.statement_key+'_view']">
                                            <!--ng-click="goToEditCtrl('financialInformation',fininfo.id_financial_statement,'upload-financial-information.html')"-->
                                            <div class="list-img pull-left dark-blue"
                                                 ng-class="(fininfo.status==1)?'box-active':''">
                                                <i class="fa icon-clipped-file2"></i>
                                            </div>
                                            <div class="list-text overflow-hidden">
                                                <h5 class="f14 darkcolor">{{fininfo.statement_name}}</h5>
                                            </div>
                                        </div>
                                    </any>
                                </div>
                            </li>
                            <li ng-if="companyAssessmentList.length">
                                <div class="list-str">
                                    <h4 class="f14 bold text-uppercase dark-blue pt10 pb10">Business Assessment</h4>
                                    <any  data-ng-repeat="assessment in companyAssessmentList | filter:searchText">
                                        <div class="list-data white-bg p10"
                                             ng-if="permission[assessment.assessment_key+'_view']"
                                                ng-click="goToEditCtrl({'tag':assessment.assessment_name,'sectionName':'business_assessment','formId':assessment.id_assessment,'template':assessment.assessment_template,'formName':assessment.assessment_name,'type':assessment.assessment_type,'assessmentId':assessment.id_assessment,'assessment_key':assessment.assessment_key,'form_key':assessment.assessment_key})">
                                            <div class="list-img pull-left dark-blue"
                                                 ng-class="(assessment.status==1)?'box-active':''">
                                                <i class="{{ assessment.template_icon }}"></i>
                                            </div>
                                            <div class="list-text overflow-hidden">
                                                <h5 class="f14 darkcolor">{{ assessment.assessment_name }}</h5>
                                            </div>
                                        </div>
                                        <div class="list-data white-bg p10 disabled"
                                             ng-if="!permission[assessment.assessment_key+'_view']"
                                        >
                                            <div class="list-img pull-left dark-blue"
                                                 ng-class="(assessment.status==1)?'box-active':''">
                                                <i class="{{ assessment.template_icon }}"></i>
                                            </div>
                                            <div class="list-text overflow-hidden">
                                                <h5 class="f14 darkcolor">{{ assessment.assessment_name }}</h5>
                                            </div>
                                        </div>

                                    </any>

                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-5 col-lg-4  p0 right-section-wrapper parent" ng-if="permission.touchpoints_view">
            <div class="right-section white-bg br-left">
                <!--comment start-->
                <touch-point-view module-type="company" module-id="{{currentCompanyViewId}}"></touch-point-view>
                <!--comment end-->

            </div>
        </div>
    </div>
</div>
