<div class="right-modal modal-custom overflow-x-visible" data-modal="addAssessment">
    <h3 class="right-modal-head">
        {{modalTitle}}
        <a class="close-right pull-right" ng-click="cancel()"><img src="images/close.png"></a>
    </h3>
    <form class="form-bordered" name="form" ng-submit="form.$valid && saveRole()" novalidate>

        <div class="form-group clearfix p10  form-group-custom white-bg m0">
            <div class="col-sm-12">
                <label class="darkcolor f14">Role Name</label>

                <div class="form-group clearfix form-group-custom">
                    <input type="text" name="application_role_name"
                           data-ng-model="role.application_role_name" class="form-control "
                           placeholder="Role Name" required/>
                    <div ng-if="form.application_role_name.$error.required && submitted"
                         class="error-message">This field is required
                    </div>
                </div>
            </div>
           <div class="col-sm-12 mt10 mb10 text-center">
                <button type="submit" class="btn btn-dark white-color mr8 f12"
                        ng-click="submitted=true;">Save
                </button>
                <button type="button" class="btn white-color lt-bg f12" ng-click="cancel()">
                    Cancel
                </button>
            </div>
        </div>
    </form>
</div>