<h3 class="fixed content-heading">Customers
        <span class="button-set">
            <!--<a ui-sref="sa.create-customer" class="display-block"><i class="fa fa-add-sm"></i></a>-->
        </span>
</h3>
<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container p20 clearfix">
            <div class="col-sm-12 ptb10 white-bg">
                <div class="col-sm-4 pl0">
                    <label class="control-label">Role Name:</label>
                    <input type="text" class="form-control" name="">
                </div>
                <div class="col-sm-4">
                    <label class="control-label">Module</label>
                    <select class="form-control" name="">
                        <option >--Select--</option>
                        <option></option>
                    </select>
                </div>
                <div class="col-lg-12 btn-custom clearfix text-center">
                    <button class="btn btn-primary f14">Save</button>
                    <button ui-sref="sa.roles.roles-management" type="button" class="btn btn-default f14">Cancel</button>
                </div>
            </div>
    </div>
</div>

