<h3 class="fixed content-heading">Customers
        <span class="button-set">
            <!--<a ui-sref="sa.create-customer" class="display-block"><i class="fa fa-add-sm"></i></a>-->
            <a title="Options" ui-sref="roles.roles-management" uib-tooltip="Back"><i class="fa fa-close-sm"></i></a>
        </span>
</h3>
<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container p20 clearfix">
        <div class="table-wrapper">
            <div class="col-sm-12 p0 pb10">
                <div class="col-sm-10 pl0">
                    <label class="control-label">Role Name:</label>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <select multiple chosen class="chosen-select" name="approval_role_id"
                                    data-placeholder="Please Select Role Name"
                                    ng-model="approval_role_id"
                                    ng-options="option.id_company_approval_role as option.approval_name for option in org_role_type" required>
                            </select>
                            <div ng-if="form.sector_id.$error.required && submitted"
                                 class="error-message">This field is required
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table s-table table-striped table-bordered table-hover display table-style" st-pipe="callServer" st-table="displayed">
                <thead>
                <tr>
                    <th>Module  </th>
                </tr>
                </thead>
                <tbody>
                <tr class="white-bg" >
                    <td class="text-left">
                        <ul>
                            <li ng-repeat="module in moduleList">
                                <div ng-init="module.checked=(module.checked==1)?1:0"></div>
                                <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="module.checked">
                                {{module.module_name}}
                                <ul>
                                    <li ng-repeat="p in module.page" class="pl20">
                                        <div ng-init="p.checked=(p.checked==1)?1:0"></div>
                                        <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="p.checked">
                                        {{p.page_name}}
                                        <ul>
                                            <li ng-repeat="a in p.action" class="pl10">
                                                <div ng-init="a.checked=(a.checked==1)?1:0"></div>
                                                <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="a.checked">
                                                {{a.action_name}}</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </td>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="col-lg-12 btn-custom clearfix text-center white-bg m0 p15">
            <button class="btn btn-primary f14" ng-click="moduleSave()">Save</button>
            <button ui-sref="sa.roles.roles-management" type="button" class="btn btn-default f14">Cancel</button>
        </div>

    </div>
</div>

