<h3 class="fixed content-heading">Roles & Permissions
        <span class="button-set">
            <!--<a ui-sref="sa.create-customer" class="display-block"><i class="fa fa-add-sm"></i></a>-->
        </span>
</h3>
<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container p20 clearfix">

        <div class="role-module clearfix parent">
            <div class="col-sm-9 p0">
                <div class="role-left col-sm-3">

                     <div class="r-header clearfix">
                        <h3 class="text-uppercase">Roles (05) <a href="javascript:;" class="pull-right"><i
                                class="icon-plus-circle white-color"></i></a></h3>
                    </div>
                    <div class="scroll-div-wrap-parent" parent-scroll>
                        <ul>
                            <li ng-class="{active : row==selectRow}" ng-init="$first && getRolePermission(row)" ng-click="getRolePermission(row)"  ng-repeat="row in roleList">
                                <a href="javascript:;">{{row.application_role_name}} <i class="fa fa-edit" ng-click="addRoleModal(row)"></i> </a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="role-right col-sm-9">
                    <div class="r-header">
                        <h3 class="text-uppercase clearfix">
                            <span class="pt2 display-inline-block">Permissions </span>
                            <a href="javascript:;" class="btn btn-lt-blue">Save</a>
                        </h3>
                    </div>
                    <div class="scroll-div-wrap-parent" parent-scroll>
                        <div class="r-accordian">
                            <div class="acc-box r-acc-box">
                                <div class="clearfix acc-head">
                                    <input type="checkbox">
                                    <h3 basic-accordian> Contacts</h3>
                                </div>
                                <div class="acc-body clearfix">
                                    <div class="r-list-control">
                                        <h4>
                                            <label>List Page</label>
                                            <span class="r-iconset">
                                                <a href="javascript:;"><i class="icon-eye f18"></i> </a>
                                                <a href="javascript:;"><i class="icon-edit"></i> </a>
                                            </span>
                                        </h4>
                                    </div>
                                    <div class="r-view-panel">
                                        <h4>
                                            <span><input type="checkbox"></span>
                                            <label>Contact View</label>
                                        </h4>
                                        <div class="r-view-box">
                                            <div class="r-view-item">
                                                <h5>
                                                    <label>Basic Information</label>
                                                <span class="r-iconset">
                                                    <a href="javascript:;"><i class="icon-eye f18"></i> </a>
                                                    <a href="javascript:;"><i class="icon-edit"></i> </a>
                                                </span>
                                                </h5>
                                                <ul>
                                                    <li>
                                                        <div class="r-text">
                                                            <p>Applicant's Information</p>
                                                        </div>
                                                        <div class="r-check">
                                                            <input type="checkbox">
                                                        </div>
                                                        <div class="r-check">
                                                            <input type="checkbox">
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="r-text">
                                                            <p>Family and Resident Information</p>
                                                        </div>
                                                        <div class="r-check">
                                                            <input type="checkbox">
                                                        </div>
                                                        <div class="r-check">
                                                            <input type="checkbox">
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="r-text">
                                                            <p>Personal Financial Information</p>
                                                        </div>
                                                        <div class="r-check">
                                                            <input type="checkbox">
                                                        </div>
                                                        <div class="r-check">
                                                            <input type="checkbox">
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="r-text">
                                                            <p>Previous Experience with Institution</p>
                                                        </div>
                                                        <div class="r-check">
                                                            <input type="checkbox">
                                                        </div>
                                                        <div class="r-check">
                                                            <input type="checkbox">
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="r-view-item">
                                                <h5>
                                                    <label>Income Information</label>
                                                <span class="r-iconset">
                                                    <a href="javascript:;"><i class="icon-eye f18"></i> </a>
                                                    <a href="javascript:;"><i class="icon-edit"></i> </a>
                                                </span>
                                                </h5>
                                                <ul>
                                                    <li>
                                                        <div class="r-text">
                                                            <p>Other Sources of Household Income(Monthly)</p>
                                                        </div>
                                                        <div class="r-check">
                                                            <input type="checkbox">
                                                        </div>
                                                        <div class="r-check">
                                                            <input type="checkbox">
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="r-text">
                                                            <p>Non Business Expenditure</p>
                                                        </div>
                                                        <div class="r-check">
                                                            <input type="checkbox">
                                                        </div>
                                                        <div class="r-check">
                                                            <input type="checkbox">
                                                        </div>
                                                    </li>

                                                </ul>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="acc-box r-acc-box">
                                <div class="clearfix acc-head">
                                    <input type="checkbox">
                                    <h3 basic-accordian> Company Confit
                                        <span class="r-iconset ml5">
                                                <a href="javascript:;"><i class="icon-eye sky-blue f18"></i> </a>
                                                <a href="javascript:;"><i class="icon-edit"></i> </a>
                                        </span>
                                    </h3>
                                </div>
                                <div class="acc-body clearfix">
                                    <div class="r-list-control">
                                        <h4>
                                            <label>List Page</label>
                                            <span class="r-iconset">
                                                <a href="javascript:;"><i class="icon-eye f18"></i> </a>
                                                <a href="javascript:;"><i class="icon-edit"></i> </a>
                                            </span>
                                        </h4>
                                    </div>
                                    <div class="r-view-panel">
                                        <h4>
                                            <span><input type="checkbox"></span>
                                            <label>Contact View</label>
                                        </h4>
                                        <div class="r-view-box">
                                            <div class="r-view-item">
                                                <h5>
                                                    <label>Basic Information</label>
                                                <span class="r-iconset">
                                                    <a href="javascript:;"><i class="icon-eye f18"></i> </a>
                                                    <a href="javascript:;"><i class="icon-edit"></i> </a>
                                                </span>
                                                </h5>
                                                <ul>
                                                    <li>
                                                        <div class="r-text">
                                                            <p>Applicant's Information</p>
                                                        </div>
                                                        <div class="r-check">
                                                            <input type="checkbox">
                                                        </div>
                                                        <div class="r-check">
                                                            <input type="checkbox">
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="r-text">
                                                            <p>Family and Resident Information</p>
                                                        </div>
                                                        <div class="r-check">
                                                            <input type="checkbox">
                                                        </div>
                                                        <div class="r-check">
                                                            <input type="checkbox">
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="r-text">
                                                            <p>Personal Financial Information</p>
                                                        </div>
                                                        <div class="r-check">
                                                            <input type="checkbox">
                                                        </div>
                                                        <div class="r-check">
                                                            <input type="checkbox">
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="r-text">
                                                            <p>Previous Experience with Institution</p>
                                                        </div>
                                                        <div class="r-check">
                                                            <input type="checkbox">
                                                        </div>
                                                        <div class="r-check">
                                                            <input type="checkbox">
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="r-view-item">
                                                <h5>
                                                    <label>Income Information</label>
                                                <span class="r-iconset">
                                                    <a href="javascript:;"><i class="icon-eye f18"></i> </a>
                                                    <a href="javascript:;"><i class="icon-edit"></i> </a>
                                                </span>
                                                </h5>
                                                <ul>
                                                    <li>
                                                        <div class="r-text">
                                                            <p>Other Sources of Household Income(Monthly)</p>
                                                        </div>
                                                        <div class="r-check">
                                                            <input type="checkbox">
                                                        </div>
                                                        <div class="r-check">
                                                            <input type="checkbox">
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="r-text">
                                                            <p>Non Business Expenditure</p>
                                                        </div>
                                                        <div class="r-check">
                                                            <input type="checkbox">
                                                        </div>
                                                        <div class="r-check">
                                                            <input type="checkbox">
                                                        </div>
                                                    </li>

                                                </ul>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-3 p0 role-last">
                <div class="r-header clearfix">
                    <h3 class="text-uppercase">Users or Roles <a href="javascript:;" class="pull-right"><i
                            class="icon-plus-circle white-color"></i></a></h3>
                </div>
                <div class="r-tabs">
                    <uib-tabset active="activePill">
                        <uib-tab heading="Users">

                            <div class="r-tab-content">
                                <ul>
                                    <li>
                                        <div class="r-img">
                                            <img src="images/salido.png">
                                        </div>
                                        <div class="r-data">
                                            <p>John Willium</p>
                                            <p><a href="javascript:;">john@gmail.com</a> </p>
                                        </div>
                                        <div class="r-delete">
                                            <a href="javascript:;"><i class="icon-trash"></i> </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="r-img">
                                            <img src="images/salido.png">
                                        </div>
                                        <div class="r-data">
                                            <p>John Willium</p>
                                            <p><a href="javascript:;">john@gmail.com</a> </p>
                                        </div>
                                        <div class="r-delete">
                                            <a href="javascript:;"><i class="icon-trash"></i> </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="r-img">
                                            <img src="images/salido.png">
                                        </div>
                                        <div class="r-data">
                                            <p>John Willium</p>
                                            <p><a href="javascript:;">john@gmail.com</a> </p>
                                        </div>
                                        <div class="r-delete">
                                            <a href="javascript:;"><i class="icon-trash"></i> </a>
                                        </div>
                                    </li>

                                </ul>

                            </div>
                        </uib-tab>
                        <uib-tab heading="Roles">
                            <div class="r-tab-content">
                                <ul>
                                    <li>
                                        <div class="r-img">
                                            <img src="images/salido.png">
                                        </div>
                                        <div class="r-data">
                                            <p>John Willium</p>
                                            <p><a href="javascript:;">john@gmail.com</a> </p>
                                        </div>
                                        <div class="r-delete">
                                            <a href="javascript:;"><i class="icon-trash"></i> </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="r-img">
                                            <img src="images/salido.png">
                                        </div>
                                        <div class="r-data">
                                            <p>John Willium</p>
                                            <p><a href="javascript:;">john@gmail.com</a> </p>
                                        </div>
                                        <div class="r-delete">
                                            <a href="javascript:;"><i class="icon-trash"></i> </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="r-img">
                                            <img src="images/salido.png">
                                        </div>
                                        <div class="r-data">
                                            <p>John Willium</p>
                                            <p><a href="javascript:;">john@gmail.com</a> </p>
                                        </div>
                                        <div class="r-delete">
                                            <a href="javascript:;"><i class="icon-trash"></i> </a>
                                        </div>
                                    </li>
                                </ul>

                            </div>

                        </uib-tab>
                    </uib-tabset>

                </div>
            </div>

        </div>

    </div>
</div>

