<div class="panel-tabs">
    <div class="white-bg tabs-wrap">
        <div class="mtb10">
            <div class="div-header plr15 clearfix  white-bg">
                <h3 class="darkcolor f15 bold ptb10">Guarantee</h3>
            </div>
             <form name="form" novalidate ng-submit="saveFormFieds()">             <div class="col-sm-12 p0 clearfix">
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Guarantee Type</label>
                    <div class="form-group clearfix form-group-custom">
                        <select ng-model="form.guarantee_type" class="form-control">
                            <option>--- Select ---</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Guarantee Amount</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.guarantee_amount"  type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Guarantor CIF No</label>
                    <div class="form-group clearfix form-group-custom">
                        <select ng-model="form.guarantee_cif_no" class="form-control">
                            <option>--- Select ---</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Guarantor Name</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.guarantee_name" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Guarantor Address</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.guarantee_address" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Agreement Date</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.guarantee_agreement_date" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Continuing Guarantee</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.guarantee_continuing_guarantee" type="checkbox" class="" value="is a continuing guarantee">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Guarantor’s Own Exposure</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.guarantee_own_exposure" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Total Guarantee Amount</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.guarantee_total_amount" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Revokeable</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.guarantee_revokeable" type="checkbox" class="" value="revoke or withdraw the guarantee provided">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Revoke Date</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.guarantee_revoke_date" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Rating</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.guarantee_rating" type="text" class="form-control">
                    </div>
                </div>
               <!-- <div class="col-sm-12 btn-custom clearfix mt10">
                    <button class="btn btn-primary f14 mr4" type="submit">Save</button>
                    <button class="btn lt-bg f14" type="button" ng-click="back()">Cancel</button>
                </div>-->
            </div>
                 </form>
        </div>
    </div>
</div>