<div class="panel-tabs">
    <div class="white-bg tabs-wrap">
        <div class="mtb10">
            <div class="div-header plr15 clearfix  white-bg">
                <h3 class="darkcolor f15 bold ptb10">Life Insurance Policy</h3>
            </div>
             <form name="form" novalidate ng-submit="saveFormFieds()">             <div class="col-sm-12 p0 clearfix">
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Policy No</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.policy_no" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Insurance Amount</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.policy_insurance_amount" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Policy Start Date</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.policy_policy_start_date" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Premium Amount</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.policy_premium_amount" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Assignment Date</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.policy_assignment_date" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Insurer Address</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.policy_insurer_address" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Insurer Details</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.policy_insurer_details" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Renewal Frequency</label>
                    <div class="form-group clearfix form-group-custom">
                        <select  ng-model="form.policy_renewal_frequency" class="form-control">
                            <option>--- Select ---</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Next Renewal Date</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.policy_next_renewal_date" type="text" class="form-control">
                    </div>
                </div>
               <!-- <div class="col-sm-12 btn-custom clearfix mt10">
                    <button class="btn btn-primary f14 mr4" type="submit">Save</button>
                    <button class="btn lt-bg f14" type="button" ng-click="back()">Cancel</button>
                </div>-->
            </div>
                 </form>
        </div>
    </div>
</div>