
<div class="panel-tabs">
    <div class="white-bg tabs-wrap">
        <div class="mtb10">
            <div class="div-header plr15 clearfix  white-bg">
                <h3 class="darkcolor f15 bold ptb10">Property Details</h3>
            </div>
             <form name="form" novalidate ng-submit="saveFormFieds()">             <div class="col-sm-12 p0 clearfix">
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Property Type</label>
                    <div class="form-group clearfix form-group-custom">
                        <select class="form-control" ng-model="form.property_type"  >
                            <option>--- Select ---</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Country</label>
                    <div class="form-group clearfix form-group-custom">
                        <select class="form-control" ng-model="form.property_country">
                            <option>--- Select ---</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Property Address</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.property_property_address" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Construction Date</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.property_construction_date" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Purchase Date</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.property_purchase_date" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Zone Classification</label>
                    <div class="form-group clearfix form-group-custom">
                        <select ng-model="form.property_zone_classification" class="form-control">
                            <option>--- Select ---</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Basis of Property Value</label>
                    <div class="form-group clearfix form-group-custom">
                        <select ng-model="form.property_basis_of_Property_value" class="form-control" >
                            <option>--- Select ---</option>
                            <option>Market Value</option>
                            <option>Property Index Value</option>
                            <option>Govt. Value</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Market Value</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.property_market_value" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Govt. Value</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.property_govt_value" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Property Index Value</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.property_index_value" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Haircut %</label>
                    <div class="form-group clearfix form-group-custom">
                        <select ng-model="form.property_haircut" class="form-control">
                            <option>--- Select ---</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Last Valuation Date</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.property_last_valuation_date" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Valuation Source</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.property_valuation_source" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Valuation Amount</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.property_valuation_amount" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Other Lenders Charge Amount</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.property_other_lenders_charge_amount" type="text" class="form-control">
                    </div>
                </div>
                <!--
                <div class="col-sm-12 btn-custom clearfix mt10">
                    <button class="btn btn-primary f14 mr4" type="submit">Save</button>
                    <button class="btn lt-bg f14" type="button" ng-click="back()">Cancel</button>
                </div>-->
            </div>
                 </form>
        </div>
    </div>
</div>

