<div class="panel-tabs">
    <div class="white-bg tabs-wrap">
        <div class="mtb10">
            <div class="div-header plr15 clearfix  white-bg">
                <h3 class="darkcolor f15 bold ptb10">Marketable Securities</h3>
            </div>
             <form name="form" novalidate ng-submit="saveFormFieds()">             <div class="col-sm-12 p0 clearfix">
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Security Type</label>
                    <div class="form-group clearfix form-group-custom">
                        <select ng-model="form.security_type" class="form-control">
                            <option>--- Select ---</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Security Code</label>
                    <div class="form-group clearfix form-group-custom">
                        <select ng-model="form.security_code" class="form-control">
                            <option>--- Select ---</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Description</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.security_description" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Issuer Name</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.security_issuer_name" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Issuer Ref No</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.security_issuer_ref_no" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Unit Value</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.security_unit_value" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">No. of Units</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.security_no_of_units" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Rating</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.security_rating" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Maturity Date</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.security_maturity_date" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Name of the Fund</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.security_name_of_the_fund" type="text" class="form-control">
                    </div>
                </div>
                 <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Name of the Scheme</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.security_name_of_the_sche" type="text" class="form-control">
                    </div>
                </div>
                 <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Electronic Mode</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.security_electronic_mod" type="checkbox" class="" value="securities are in electronic mode">
                    </div>
                </div>
                 <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Interest Payout</label>
                    <div class="form-group clearfix form-group-custom">
                        <select ng-model="form.security_interest_payou" class="form-control">
                            <option>--- Select ---</option>
                        </select>
                    </div>
                </div>
                 <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Interest %</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.security_interest" type="text" class="form-control">
                    </div>
                </div>
                 <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Bond Duration</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.security_bond_duration" type="text" class="form-control">
                    </div>
                </div>
                 <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Property</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.security_price" type="text" class="form-control">
                    </div>
                </div>
                <!--<div class="col-sm-12 btn-custom clearfix mt10">
                    <button class="btn btn-primary f14 mr4" type="submit">Save</button>
                    <button class="btn lt-bg f14" type="button" ng-click="back()">Cancel</button>
                </div>-->
            </div>
                 </form>
        </div>
    </div>
</div>