<div class="panel-tabs">
    <div class="white-bg tabs-wrap">
        <div class="mtb10">
            <div class="div-header plr15 clearfix  white-bg">
                <h3 class="darkcolor f15 bold ptb10">Term Deposit and Transaction Account</h3>
            </div>
             <form name="form" novalidate ng-submit="saveFormFieds()">             <div class="col-sm-12 p0 clearfix">
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Account Type</label>
                    <div class="form-group clearfix form-group-custom">
                        <select class="form-control">
                            <option>--- Select ---</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Account No</label>
                    <div class="form-group clearfix form-group-custom">
                        <select class="form-control">
                            <option>--- Select ---</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Account Balance</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form." type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Contribution %</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form." type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Maturity Date</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form." type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Lien Amount</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form." type="text" class="form-control">
                    </div>
                </div>
               <!-- <div class="col-sm-12 btn-custom clearfix mt10">
                    <button class="btn btn-primary f14 mr4" type="submit">Save</button>
                    <button class="btn lt-bg f14" type="button" ng-click="back()">Cancel</button>
                </div>-->
            </div>
                 </form>
        </div>
    </div>
</div>