
<div class="panel-tabs">
    <div class="tabs-wrap">
        <div class="">
            <!--<div class="div-header plr15 clearfix  white-bg">
                <h3 class="darkcolor f15 bold ptb10">Vehicle Details</h3>
            </div>-->
             <form name="form" novalidate ng-submit="saveFormFieds()">
                 <div class="col-sm-12 p0 clearfix">
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Vehicle Type</label>
                    <div class="form-group clearfix form-group-custom">
                        <select ng-model="form.vehicle_type"  class="form-control">
                            <option>--- Select ---</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">New/Used</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.vehicle_new_used" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Make</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.vehicle_make" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Model</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.vehicle_model" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Year</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.vehicle_year" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Regn No</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.vehicle_regn_no" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Chasis No</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.vehicle_chasis_no" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Engine No</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.vehicle_engine_no" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Owner</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.vehicle_owner" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Regn. Authority</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.vehicle_regn_authority" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Resale Value</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.vehicle_resale_value" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Valuation Date</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.vehicle_valuation_date" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Valuation Amount</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.vehicle_valuation_amount" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 min-height70">
                    <label class="control-label">Invoice Value</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="form.vehicle_invoice_value" type="text" class="form-control">
                    </div>
                </div>
               <!-- <div class="col-sm-12 btn-custom clearfix mt10">
                    <button class="btn btn-primary f14 mr4" type="submit">Save</button>
                    <button class="btn lt-bg f14" type="button" ng-click="back()">Cancel</button>
                </div>-->
            </div>
                 </form>
        </div>
    </div>
</div>