<form class="form-horizontal form-bordered" name="form"  novalidate>
    <div class="row clearfix">
        <div class="col-sm-12 clearfix">
            <div class="col-sm-12">
                <label class="control-label">Loan Officer's Comments on Borrower</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="loanofficers_comments_borrower" ng-model="project.loanofficers_comments_borrower" class="width-full min-height70 p10 f12"></textarea>
                </div>
            </div>
        </div>
        <div class="col-sm-12 clearfix">
            <div class="col-sm-12">
                <label class="control-label">Loan Officer's Argument</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="loanofficers_arguments" ng-model="project.loanofficers_arguments" class="width-full min-height70 p10 f12"></textarea>
                </div>
            </div>
        </div>
        <div class="col-sm-12 btn-custom clearfix text-center">
            <button type="submit" class="btn btn-primary f14 next-btn" ng-click="submitForm(project,formDetails,form)" tab-next >Save</button>
        </div>
    </div>
</form>