<form class="form-bordered" name="form"  novalidate>
    <div class="row clearfix">
        <div class="col-sm-12 clearfix">
            <!--<div class="col-sm-4">
                <label class="control-label">Project Status</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" ng-model="project.project_status" name="project_status" >
                </div>
            </div>-->
            <div class="col-sm-4">
                <label class="control-label">Project Title*</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" ng-model="project.project_title" name="project_title" required>
                    <div ng-if="form.project_title.$error.required && submitStatus" class="error-message">Enter project title.</div>
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Project Main Sector*</label>

                <div class="form-group clearfix form-group-custom">
                    <select class="form-control"
                            ng-options="parentSector.id_sector as parentSector.sector_name for parentSector in parentSectorsList"
                            name="project_main_sector_id"
                            ng-change="getSubSector(project.project_main_sector_id)"
                            ng-model="project.project_main_sector_id"
                            required>
                        <option value="">--Select Sector--</option>
                    </select>
                    <div ng-if="form.project_main_sector_id.$error.required && submitStatus" class="error-message">
                        Select project main sector.
                    </div>
                </div>
            </div>
            <div class="col-sm-4" >
                <div ng-if="project.project_main_sector_id != undefined" ><span ng-init="getSubSector(project.project_main_sector_id)"></span></div>
                <label class="control-label">Project Subsector</label>

                <div class="form-group clearfix form-group-custom">

                    <select class="form-control" ng-disabled="!project.project_main_sector_id"
                            ng-options="subSector.id_sector as subSector.sector_name for subSector in subSectorList"
                            name="project_sub_sector_id"
                            ng-model="project.project_sub_sector_id">
                        <option value="">--Select Sector--</option>
                    </select>
                   <!-- <div ng-if="form.project_sub_sector_id.$error.required && submitStatus" class="error-message">
                        Select Subsector.
                    </div>-->
                    <!--<input type="text" class="form-control" name="project_sub_sector" ng-model="project.project_sub_sector">-->
                </div>
            </div>
        </div>
        <div class="col-sm-12 clearfix">
            <div class="col-sm-12">
                <label class="control-label">Project Description*</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="project_description" ng-model="project.project_description" class="width-full min-height70 p10 f12" required></textarea>
                    <div ng-if="form.project_description.$error.required && submitStatus" class="error-message">Enter project description.</div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 clearfix">
            <div class="col-sm-4">
                <label class="control-label">Pipeline</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" ng-model="project.pile_line" name="pile_line" >
                </div>
            </div>
        </div>

        <div class="col-sm-12 btn-custom clearfix text-center">
            <button type="submit" class="btn btn-primary f14 next-btn" ng-click="submitForm(project,formDetails,form)" tab-next >Save</button>
        </div>
    </div>
</form>