<form class="form-horizontal form-bordered" name="form"  novalidate>
    <div class="row clearfix">
        <div class="col-sm-12 clearfix">
            <div class="col-sm-12">
                <label class="control-label">Project Description</label>
                <div class="form-group clearfix mb0 form-group-custom">
                    <textarea placeholder="Comments" name="project_description" ng-model="project.project_description" class="width-full min-height70 p10 f12"></textarea>
                </div>
            </div>
        </div>
        <div class="col-sm-12 clearfix">
            <div class="col-sm-12">
                <label class="control-label">Project Concept/Purpose</label>
                <div class="form-group clearfix mb0 form-group-custom">
                    <textarea placeholder="Comments" name="project_concept_purpose" ng-model="project.project_concept_purpose" class="width-full min-height70 p10 f12"></textarea>
                </div>
            </div>
        </div>
        <div class="col-sm-12 clearfix">
            <div class="col-sm-12">
                <label class="control-label">Status of Project Implementation</label>
                <div class="form-group clearfix mb0 form-group-custom">
                    <textarea placeholder="Comments" name="project_implementation_status" ng-model="project.project_implementation_status" class="width-full min-height70 p10 f12"></textarea>
                </div>
            </div>
        </div>
        <div class="col-sm-12 clearfix">
            <div class="col-sm-12">
                <label class="control-label">Project Cost / Financing Plan </label>
                <div class="col-sm-12 clearfix p0 excel-table" hot-size>
                    <div ng-if="!project.project_cost" >
                        <div ng-init='project.project_cost = [{"a":"","b":"","c":"","d":""}]'></div>
                    </div>
                    <p class="f11 gray mb5 text-right"><em>Here you can directly copy and paste excel document.</em></p>
                    <hot-table class="hottabel" settings="settings" row-headers="rowHeaders" min-spare-rows="minSpareRows" datarows="project.project_cost">
                        <hot-column data="a" title="'A'"></hot-column>
                        <hot-column data="b" title="'B'" ></hot-column>
                        <hot-column data="c" title="'C'"></hot-column>
                        <hot-column data="d" title="'D'"></hot-column>
                    </hot-table>
                </div>
            </div>
        </div>
        <div class="col-sm-12 clearfix">
            <div class="col-sm-12">
                <label class="control-label">Summary of availabale information </label>
                <div class="form-group clearfix mb0 form-group-custom">
                    <textarea placeholder="Comments" name="summary" ng-model="project.summary" class="width-full min-height70 p10 f12"></textarea>
                </div>
            </div>
        </div>

        <div class="col-sm-12 btn-custom clearfix text-center">
            <button type="submit" class="btn btn-primary f14 next-btn" ng-click="submitForm(project,formDetails,form)" tab-next >Save</button>
        </div>
    </div>
</form>