<form class="form-bordered" name="form"  novalidate>
    <div class="row clearfix">
        <div class="col-sm-12 clearfix">
            <div class="col-sm-4">
                <label class="control-label">Borrower Parent Company</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" ng-model="project.borrower_parent_company" name="borrower_parent_company"  >
                    <!--<div ng-if="form.project_status.$error.required && submitStatus" class="error-message">Enter project status.</div>-->
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Borrower Legal Name</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" ng-model="project.borrower_legal_name" name="borrower_legal_name" >
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Borrower Address</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" ng-model="project.borrower_adress" name="borrower_adress" >
                </div>
            </div>
        </div>
        <div class="col-sm-12 clearfix">
            <div class="col-sm-4">
                <label class="control-label text-line">Borrower Registration Type</label>

                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="borrower_registration_type" ng-model="project.borrower_registration_type">
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Borrower Registration No.</label>

                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="borrower_registration_number" ng-model="project.borrower_registration_number">
                </div>
            </div>
        </div>
        <div class="col-sm-12 clearfix">
            <div class="col-sm-12">
                <label class="control-label">Comments</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="comments" ng-model="project.comments" class="width-full p10 f12"></textarea>
                </div>
            </div>
        </div>

        <div class="col-sm-12 btn-custom clearfix text-center">
            <button type="submit" class="btn btn-primary f14 next-btn" ng-click="submitForm(project,formDetails,form)" tab-next >Save</button>
        </div>
    </div>
</form>