<div class="container-fluid p20 q-box" ng-controller="crmCovenantCtrl">
    <div class="a-ques-list mb10 ng-scope ui-droppable" ng-repeat="row in categoryList" >
        <h3 class="f15 darkcolor  pb5 overflow-hidden bold acc-heading clearfix ng-binding" >
            {{row.covenant_category}}
        </h3>
        <ul>
            <li ng-repeat="c in row.covenant" ng-init="c.status = (c.is_checked != 0)?true:false">
                <div class="checkbox">
                    <label class="f12"><input type="checkbox" class="mr8" ng-model="c.status"  />{{c.covenant_name}}</label>
                </div>

            </li>
        </ul>
    </div>
    <div class="col-sm-12 btn-custom m0 pl0">
        <button class="btn btn-dark lt-bg border-none f12 mt5" ng-click="save()">Save</button>
    </div>

</div>