<form class="form-horizontal form-bordered" name="form" novalidate>
    <div class="row clearfix">
        <div class="col-sm-12 clearfix">
            <div class="col-sm-12 fac-form p20" data-ng-controller="facilityComponentsCtrl" ng-init="init()">
                    <!--<div ng-init="project.facility_details = []"></div>-->
                    <div ng-if="!project.facility_details">
                        <div ng-init="project.facility_details=[]"></div>
                    </div>
                    <div class="clearfix">
                        <button class="btn btn-primary btn-dark border-none f12 pull-right" ng-click="addFacility()" modal="addfacilitymodal">
                            <i class="fa fa-plus-circle"></i> Add New Facility
                        </button>
                    </div>
                    <div class="clearfix"></div>
                    <div class="table-wrapper table-responsive p0 pt5">
                        <table st-table="project.facility_details" class="table table-striped table-bordered table-hover display table-style">
                            <thead>
                            <tr>
                                <th st-sort="tenore">Facility Name</th>
                                <th st-sort="tenore">Expected Start Date</th>
                                <th st-sort="currency">Currency</th>
                                <th st-sort="amount">Loan Amount</th>
                                <th st-sort="tenore">Maturity </th>
                                <th st-sort="tenore">Payment Type </th>
                                <th st-sort="name">Created Date</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in facilities">
                                <td>{{row.facility_name}}</td>
                                <td>{{row.expected_start_date}}</td>
                                <td>{{row.currency_code}}</td>
                                <td>{{row.loan_amount | currency:""}}</td>
                                <td>{{row.expected_maturity}}
                                    {{row.expected_maturity_type}}
                                </td>
                                <td>{{row.project_payment_type}}</td>
                                <td>{{row.created_date_time}}</td>
                                <td>
                                    <div class="clearfix pagination-wrap">
                                        <ul class="icons-wrap pull-left">
                                        <li><a href="javascript:;" ng-click="addFacility(row)" class="fa fa-edit" ></a></li>
                                            <li><a ui-sref="collateral.collateral-dashboard"
                                                   class="fa fa-tasks"></a></li>
<!--                                        <li><a href="javascript:;" class="fa fa-eye" ng-click="viewFacility(row)"></a></li>
                                        <li><a href="javascript:;" class="fa fa-trash" ng-click="removeItem(row)"></a></li>-->
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                            <tfoot ng-if="!project.facility_details.length">
                            <!--<td colspan="5">
                                <div class="text-center">
                                    <button class="btn btn-primary f12" data-ng-click="addFacility()">
                                        <i class="fa fa-plus-circle"></i> Add New Facility
                                    </button>
                                </div>
                            </td>-->
                            </tfoot>
                        </table>
                    </div>
                </div>
        </div>
    </div>
</form>