<form class="form-horizontal form-bordered" name="form"  novalidate>
    <div class="row clearfix">
        <div class="col-sm-12 clearfix">
                <label class="control-label">Client failed to deliver all documents</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="client_failed_deliver_documents" ng-model="project.client_failed_deliver_documents" class="width-full p10 f12"></textarea>
                </div>
        </div>
        <div class="col-sm-12 clearfix">
                <label class="control-label">High monthly payment comparing to the client salary (define %amount)</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="payment_comparing_client_salary" ng-model="project.payment_comparing_client_salary" class="width-full p10 f12"></textarea>
                </div>
        </div>
        <div class="col-sm-12 clearfix">
                 <label class="control-label">Late payment from previous loans from [MFI]</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="last_payment_previous_loan" ng-model="project.last_payment_previous_loan" class="width-full p10 f12"></textarea>
                </div>
        </div>
        <div class="col-sm-12 btn-custom clearfix text-center">
            <button type="submit" class="btn btn-primary f14 next-btn" ng-click="submitForm(project,formDetails,form)" tab-next >Save</button>
        </div>
    </div>
</form>