<form class="form-horizontal form-bordered" name="form" novalidate>
    <div class="row clearfix">
        <div class="col-sm-12 clearfix  p0">
            <div class="col-sm-12 clearfix m10 excel-table" hot-size>
                <!--<div  ng-init="project.loan_information = []"></div>-->
                <div ng-if="!project.loan_information" >
                    <div ng-init='project.loan_information =[{"date":"","currency":"","amount":"","status":""}]'></div>
                </div>
                <p class="f11 gray mb5 text-right"><em>Here you can directly copy and paste excel document.</em></p>
                <hot-table class="hottabel" settings="settings" row-headers="rowHeaders" min-spare-rows="minSpareRows" datarows="project.loan_information">
                    <hot-column type="'text'"  data="date" title="'Date'"></hot-column>
                    <hot-column type="'text'"  data="currency" title="'Currency'"></hot-column>
                    <hot-column data="amount" title="'Amount'" type="'numeric'" width="80" format="'0,0.00'"></hot-column>
                    <hot-column type="'text'"  data="status" title="'Status'"></hot-column>
                </hot-table>
            </div>
            <div class="col-sm-12 btn-custom clearfix text-center">
                <button type="submit" class="btn btn-primary f14 next-btn" tab-next ng-click="submitForm(project,formDetails,form)">Save
                </button>
            </div>

        </div>
    </div>
</form>