<form class="form-horizontal form-bordered" name="form"  novalidate>
    <div class="row clearfix">
        <div class="col-sm-12 clearfix">
            <div class="col-sm-12">
                <label class="control-label">Project Cost / Financing Plan </label>
                <div class="col-sm-12 clearfix m10 pt10 excel-table" hot-size>
                    <div  ng-init="project.recommended_terms = []"></div>
                    <div ng-if="!project.recommended_terms" >
                        <div ng-init="project.recommended_terms = []"></div>
                    </div>
                    <p class="f11 gray mb5 text-right"><em>Here you can directly copy and paste excel document.</em></p>
                    <hot-table settings="settings" row-headers="rowHeaders" min-spare-rows="minSpareRows" datarows="project.recommended_terms" height="285">
                        <hot-column data="loanamount" title="'Loan Amount'" type="'numeric'" width="80" format="'0,0.00'"></hot-column>
                        <hot-column data="terms" title="'Tears in Years'" ></hot-column>
                        <hot-column data="interest" title="'Interest Rate per Month'"></hot-column>
                        <hot-column data="installment" title="'Installment Amount'" type="'numeric'" width="80" format="'0,0.00'"></hot-column>
                    </hot-table>
                </div>
            </div>
        </div>
        <div class="col-sm-12 clearfix">
            <div class="col-sm-12">
                <label class="control-label">Comments or other Conditions (e.g. collateral, co-guarantors, etc.)</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="comments_conditions" ng-model="project.comments_conditions" class="width-full p10 f12"></textarea>
                </div>
            </div>
        </div>
        <div class="col-sm-12 btn-custom clearfix text-center">
            <button type="submit" class="btn btn-primary f14 next-btn" ng-click="submitForm(project,formDetails,form)" tab-next >Save</button>
        </div>
    </div>
</form>