<div class="col-sm-12 white-bg p0">
    <div class="t-list-wrap col-lg-3 col-sm-4 p0">
        <ul>
            <li>
                <a href="javascript:;">Borrower Information</a>
            </li>
            <li class="active-div">
                <a href="javascript:;">Facility Information</a>
            </li>
            <li >
                <a href="javascript:;">Purpose</a>
            </li>
        </ul>
    </div>
    <div class="t-data-wrap col-lg-9 col-sm-8 pr0">
        <h4 class="f14 text-uppercase darkcolor mb10 bold">Drawdown/Payments</h4>
        <textarea kendo-editor k-ng-model="question.answer.assessment_answer" class="width-full min-height70 f12 p10 darkcolor"></textarea>
        <div class="mt20 mb10">
            <button type="submit" class="btn btn-dark white-color mr8 f12">Save</button>
            <button type="button" class="btn white-color lt-bg f12">Cancel</button>
        </div>
    </div>
</div>