<div class="col-sm-12 white-bg p0">
    <div class="t-list-wrap col-lg-3 col-sm-4 p0 ">
        <ul>
            <li ng-repeat="condition in projectTermAndConditions" ng-class="{active : condition.id_product_term_item==item.id_product_term_item}">
                <div ng-if="$index==0" ng-init="loadTermAndCondition(condition)"></div>
                <a href="javascript:;" ng-click="loadTermAndCondition(condition)" >
                    {{ condition.product_term_item_name }}
                </a>
            </li>
        </ul>
    </div>
    <div class="t-data-wrap col-lg-9 col-sm-8 pr0">
        <h4 class="f14 text-uppercase darkcolor mb10 bold">{{item.product_term_item_name}}</h4>
        <div  ng-if="item.product_term_item_name == 'Facility Information'" >
            <div class="table-responsive " ng-include="'partials/crm/project/facility_com/view-facility-table.html'">
            </div>
        </div>
        <div  ng-if="item.product_term_item_name == 'Positive Covenants'" >
            <covenant-view key="positive_covenant"></covenant-view>
        </div>
        <div  ng-if="item.product_term_item_name == 'Representations & Warranties'" >
            <covenant-view key="representations_warranties"></covenant-view>
        </div>
        <div  ng-if="item.product_term_item_name == 'Negative Covenants'" >
            <covenant-view key="negative_covenant"></covenant-view>
        </div>
        <div  ng-if="item.product_term_item_name == 'Events of Defaults'" >
            <covenant-view key="events_of_defaults"></covenant-view>
        </div>
        <form novalidate name="termAndConditionFrom" ng-show="item.item_type == 'textarea'" >

            <div  ng-if="item.item_type == 'textarea'" >
                <textarea kendo-editor k-tools="{{kendoOptions}}" k-ng-model="item.answer" class="width-full min-height70 f12 p10 darkcolor"></textarea>
            </div>
            <div  ng-if="item.item_type == 'date'" >
                <div class="col-sm-4 p0">
                    <div class="input-group">
                        <input type="text" class="form-control ng-pristine ng-valid ng-isolate-scope ng-valid-date ng-touched" uib-datepicker-popup="yyyy-MM-dd" data-ng-model="item.answer" name="date_of_birth" is-open="openCal" show-weeks="false" show-button-bar="false" readonly min-date="currentDateTime">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                <i class="fa fa-calendar"></i></button>
                          </span>
                    </div>
                </div>


            </div>
           <div class="clearfix"></div>
            <div class="mtb10">
                <button  type="submit" class="btn btn-dark f12" ng-click="submitCondition(item)">Save</button>
            </div>
        </form>
    </div>
</div>