<h3 class="fixed content-heading">{{productName}}
    <span class="button-set">
        <a title="Options" ui-sref="product.list" uib-tooltip="Back"><i class="fa fa-close-sm"></i></a>
      </span>
</h3>

<div class="content-area animated fadeInRight" id="contentArea">

    <div class="content-container mt20 light-blue-bg">
        <div class="container-fluid p20">
            <!--<div class="tabs-section mt20 clearfix">
                <ul>
                    <li class="tab-active">
                        <a class="text-decoration-none" ui-sref="product.tabs.product-data" active-link="tab-active">
                            <div class="display-inline-block valign-top mr4 ash">
                                <i class="fa fa-check-circle f21"></i>
                            </div>
                            <div class="display-inline-block valign-top width80">
                                <h3 class="f14 ash">Data</h3>


                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="text-decoration-none" ui-sref="product.tabs.product-conditions" active-link="tab-active">
                            <div class="display-inline-block valign-top mr4 ash">
                                <i class="fa fa-check-circle f21"></i>
                            </div>
                            <div class="display-inline-block valign-top width80">
                                <h3 class="f14 ash">Terms and Conditions</h3>


                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="text-decoration-none" ui-sref="product.tabs.risk-assessment" active-link="tab-active">
                            <div class="display-inline-block valign-top mr4 ash">
                                <i class="fa fa-check-circle f21"></i>
                            </div>
                            <div class="display-inline-block valign-top width80">
                                <h3 class="f14 ash">Risk Assessment </h3>


                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="text-decoration-none" ui-sref="product.tabs.summary-recommendation" active-link="tab-active">
                            <div class="display-inline-block valign-top mr4 ash">
                                <i class="fa fa-check-circle f21"></i>
                            </div>
                            <div class="display-inline-block valign-top width80">
                                <h3 class="f14 ash">Summary and Recommendation </h3>


                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="text-decoration-none" ui-sref="product.tabs.disbursement-checklist" active-link="tab-active">
                            <div class="display-inline-block valign-top mr4 ash">
                                <i class="fa fa-check-circle f21"></i>
                            </div>
                            <div class="display-inline-block valign-top width80">
                                <h3 class="f14 ash">Pre Disbursement Checklist </h3>


                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="text-decoration-none" ui-sref="product.tabs.product-limits-approvals" active-link="tab-active">
                            <div class="display-inline-block valign-top mr4 ash">
                                <i class="fa fa-check-circle f21"></i>
                            </div>
                            <div class="display-inline-block valign-top width80">
                                <h3 class="f14  ash">Restrictions, Limits & Approval Authorities</h3>


                            </div>
                        </a>
                    </li>
                </ul>
            </div>-->
            <div class="col-sm-9 pl0 mt20 page-left-wrap">
                <ui-view>

                </ui-view>
            </div>
            <div class="col-sm-3 page-right-wrap p0">
                <div class="v-tabs-wrap mt20">
                    <h3 class="tab-heading">Product Categories</h3>
                    <ul>
                        <li>
                            <a href="javascript:;" ui-sref="product.tabs.product-data" active-link="tab-active"><i class="icon-user"></i><span> Data</span></a>
                            <!--<ul>
                                <li>
                                    <a href="javascript:;">Basic Information</a>
                                </li>
                                <li>
                                    <a href="javascript:;">Project Background</a>
                                </li>
                                <li>
                                    <a href="javascript:;">Facility Information</a>
                                </li>
                            </ul>-->
                        </li>
                        <li>
                            <a href="javascript:;" ui-sref="product.tabs.product-conditions" active-link="tab-active"><i class="icon-edit-sqare"></i> <span>Terms and Conditions</span></a>
                        </li>
                        <li>
                            <a href="javascript:;" ui-sref="product.tabs.risk-assessment" active-link="tab-active"><i class="icon-fliter-new"></i> <span>Risk Assessment</span></a>
                        </li>
                        <li>
                            <a href="javascript:;" ui-sref="product.tabs.summary-recommendation" active-link="tab-active"><i class="icon-monitor"></i> <span>Summary and Recommendation</span></a>
                        </li>
                        <li>
                            <a href="javascript:;" ui-sref="product.tabs.disbursement-checklist" active-link="tab-active"><i class="icon-right-circle"></i> <span>Pre Disbursement Checklist</span></a>
                        </li>
                        <li>
                            <a href="javascript:;" ui-sref="product.tabs.restrictions" active-link="tab-active"><i class="icon-badge"></i> <span>Restrictions</span></a>
                        </li>
                        <li>
                            <a href="javascript:;" ui-sref="product.tabs.product-limits-approvals" active-link="tab-active"><i class="icon-arrow-two"></i><span> Limits & Approval</span></a>
                        </li>
                        <!--<li>
                            <a href="javascript:;"><i class="icon-briefcase"></i> <span>Collatral</span></a>
                        </li>-->
                    </ul>

                </div>
            </div>

        </div>
    </div>
</div>