<h3 class="fixed content-heading">
 Product List
</h3>
<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg">

        <div class="right-fixed-container clearfix">
            <div class="col-sm-12 p0 clearfix">

                <div class="table-wrapper no-bg pt15 overflow-hidden">
                    <table class="table-list-view table table-striped row-pointer" st-pipe="callServer" st-table="displayed">

                        <tbody><!--ng-click="companyView(row.id_crm_company)"-->

                        <tr ng-repeat="row in productList" ui-sref="product.tabs({productId: (row.id_product | decode ) })">
                            <td class="img"><span first-alpha="{{row.product_name}}"></span></td>
                            <td><label class="f11 lh11 label-text">Product Name </label><b>{{row.product_name}}</b>
                            </td>
                            <!--<td><b>Bharath</b><label class="f11 lh11">CEO</label></td>-->
                            <td>
                                <label><span class="label-text">Created Date : </span>{{row.date}} <time am-time-ago="row.created_date"></time> </label>
                                <!--<label><span class="label-text">Product No : </span>{{row.id_product}}</label>-->
                                <label><span class="label-text">Approval Structure : </span>{{row.approval_structure_name}}</label>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="7" class="text-center">
                                <div st-items-by-page="10" st-pagination="" st-template="partials/list-pagination.custom.html" class="pull-right"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
            <div class="right-fixed t20">
                <div class="col-sm-12 p0 border">
                    <h3 class="custom-head">ADD NEW PRODUCT</h3>

                    <div class="form-group clearfix p10  form-group-custom white-bg m0 sm-form"><!--ng-submit="submitQuickCompany(company,form,moreFields)"-->
                        <form class="" name="form" novalidate>

                            <label class="control-label">Product Name*</label>

                            <div class="form-group clearfix form-group-custom">
                                <input type="text" class="form-control" ng-model="product.product_name" name="product_name" required>

                                <div ng-if="form.product_name.$error.required && submitted" class="error-message">
                                    Enter product name.
                                </div>
                            </div>
                            <label class="control-label">Approval Structure*</label>

                            <div class="form-group clearfix form-group-custom">

                                <select class="form-control" name="company_approval_structure_id" ng-model="product.company_approval_structure_id" required>
                                    <option value="">--Select Approval Structure--</option>
                                    <option ng-repeat="approval in approvalList" ng-value="approval.id_company_approval_structure">
                                        {{approval.approval_structure_name}}
                                    </option>
                                </select>
                                <div ng-if="form.company_approval_structure_id.$error.required && submitted" class="error-message">
                                    Select approval structure.
                                </div>
                            </div>


                            <div class="col-lg-12 btn-custom clearfix text-center  mb0 mt10">
                                <button type="submit" class="btn btn-primary f12 border-none lt-bg mr4" ng-click="submitted = true ;submitQuickProduct(product,form)">
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
