<div id="contentArea" class="content-area animated fadeInRight p-l-0">
    <div class="row clearfix">
        <div class="col-sm-12">
            <div class="data-item-list" >
                <ul>
                    <li ng-repeat="data in productdata" ng-if="productdata.length>0">
                        <h4 class="f14 dark-blue">{{data.product_term_item_name}}</h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
