<p class="f14"><span class="display-inline-block valign-middle mt5 mr4">For managing Risk Factor Rating</span><a ui-sref="adm.risk-assessment" class="btn btn-dark white-color f12 ml15">
    Click Here
</a></p>