<h3 class="fixed content-heading">Customers</h3>
<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container clearfix">
        <div class="alpha-list pull-left">
            <a ui-sref="create-customer" class="display-block"><i class="fa fa-plus"></i></a>
            <a ui-sref="contact-group"class="display-block"><i class="fa fa-users"></i></a>
            <ul data-list="alpha" >
                <li ng-repeat="alpha in ALPHA_DATA" selected-alpha> <span>{{ alpha.alpha }}</span> </li>
            </ul>
        </div><!--Alpha List _End-->
        <div class="details-area-alpha pull-left p10">
            <div class="clearfix search-wrap p10">
                <div class="search-box pull-left search-box-wrap">
                    <form>
                        <input type="text" name="search" placeholder="Search...">
                        <span search-box><i class="fa fa-search"></i></span>
                    </form>
                </div>
                <div class="pull-right filter-wrap">
                    <a href="javascript:;">
                        <img src="images/filter.png" alt="filter-image" />
                    </a>
                    <span class="label-info">51 Members</span>
                </div>
            </div>
            <div class="list-wrap list-wrap-alt">
                <ul>
                    <li class="list-item p5 pt10 pb10 clearfix">
                        <div class="col-sm-2 p0">
                            <div class="img-box ">
                                <img src="images/company1.jpg">
                            </div>
                        </div>
                        <div class="list-desc col-sm-5">
                            <p class="list-item-title blue">Chase</p>
                            <ul>
                                <li>United Kingdom</li>
                                <li>{{company.first_name}}</li>
                                <li>PH: {{company.phone_number}}</li>
                                <li>{{company.email_id}}</li>
                            </ul>
                        </div>
                        <div class="list-status col-sm-3 text-center">
                            <div class="clearfix display-inline-block">
                                <label class="ash">Due Date</label>
                                <span class="blue f16">15,Dec,2015</span>
                            </div>
                        </div>
                        <div class="col-sm-1 text-center">
                            <div class="others-menu-wrap">
                                <a href="javascript:;" class="others-menu mt5" ng-click="showOthersMenu=!showOthersMenu">
                                    <img src="images/others.png" alt="others-image" />
                                </a>
                                <div class="others-menu-list" ng-show="showOthersMenu">
                                    <div class="clearfix p10">
                                        <h2 class="pull-left f16 gray mt5">Actions</h2>
                                        <a class="others-menu pull-right" href="javascript:;" ng-click="showOthersMenu=!showOthersMenu">
                                            <img alt="others-image" src="images/others.png">
                                        </a>
                                    </div>
                                    <ul>
                                        <li><a href="javascript:;">Disable</a></li>
                                        <li><a href="javascript:;">Email/SMS</a></li>
                                        <li><a href="javascript:;">Add Loans</a></li>
                                        <li><a href="javascript:;">Send Invoice</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-item p5 pt10 pb10 clearfix">
                        <div class="col-sm-2 p0">
                            <div class="img-box ">
                                <img src="images/company2.jpg">
                            </div>
                        </div>
                        <div class="list-desc col-sm-5">
                            <p class="list-item-title blue">Bank of America</p>
                            <ul>
                                <li>United Kingdom</li>
                                <li>PH: 39998 89899</li>
                                <li>agnus@gmail.com</li>
                            </ul>
                        </div>
                        <div class="list-status col-sm-3 text-center">
                            <div class="clearfix display-inline-block">
                                <label class="ash">Billing Date</label>
                                <span class="blue f16">15,Dec,2015</span>
                            </div>
                            <i class="display-inline-block billing-date mb10"></i>
                        </div>
                        <div class="col-sm-1 text-center">
                            <div class="others-menu-wrap">
                                <a href="javascript:;" class="others-menu mt5" ng-click="showOthersMenu1=!showOthersMenu1">
                                    <img src="images/others.png" alt="others-image" />
                                </a>
                                <div class="others-menu-list" ng-show="showOthersMenu1">
                                    <div class="clearfix p10">
                                        <h2 class="pull-left f16 gray mt5">Actions</h2>
                                        <a class="others-menu pull-right" href="javascript:;" ng-click="showOthersMenu1=!showOthersMenu1">
                                            <img alt="others-image" src="images/others.png">
                                        </a>
                                    </div>
                                    <ul>
                                        <li><a href="javascript:;">Disable</a></li>
                                        <li><a href="javascript:;">Email/SMS</a></li>
                                        <li><a href="javascript:;">Add Loans</a></li>
                                        <li><a href="javascript:;">Send Invoice</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-item p5 pt10 pb10 clearfix">
                        <div class="col-sm-2 p0">
                            <div class="img-box ">
                                <img src="images/company3.jpg">
                            </div>
                        </div>
                        <div class="list-desc col-sm-5">
                            <p class="list-item-title blue">Capital One</p>
                            <ul>
                                <li>India</li>
                                <li>PH: 39998 89899</li>
                                <li>agnus@gmail.com</li>
                            </ul>
                        </div>
                        <div class="list-status col-sm-3 text-center">
                            <div class="clearfix display-inline-block">
                                <label class="ash">Due Date</label>
                                <span class="blue f16">15,Dec,2015</span>
                            </div>
                        </div>
                        <div class="col-sm-1 text-center">
                            <div class="others-menu-wrap">
                                <a href="javascript:;" class="others-menu mt5" ng-click="showOthersMenu2=!showOthersMenu2">
                                    <img src="images/others.png" alt="others-image" />
                                </a>
                                <div class="others-menu-list" ng-show="showOthersMenu2">
                                    <div class="clearfix p10">
                                        <h2 class="pull-left f16 gray mt5">Actions</h2>
                                        <a class="others-menu pull-right" href="javascript:;" ng-click="showOthersMenu2=!showOthersMenu2">
                                            <img alt="others-image" src="images/others.png">
                                        </a>
                                    </div>
                                    <ul>
                                        <li><a href="javascript:;">Disable</a></li>
                                        <li><a href="javascript:;">Email/SMS</a></li>
                                        <li><a href="javascript:;">Add Loans</a></li>
                                        <li><a href="javascript:;">Send Invoice</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-item p5 pt10 pb10 clearfix">
                        <div class="col-sm-2 p0">
                            <div class="img-box ">
                                <img src="images/company4.jpg">
                            </div>
                        </div>
                        <div class="list-desc col-sm-5">
                            <p class="list-item-title blue">HSBC</p>
                            <ul>
                                <li>AUS</li>
                                <li>PH: 39998 89899</li>
                                <li>agnus@gmail.com</li>
                            </ul>
                        </div>
                        <div class="list-status col-sm-3 text-center">
                            <div class="clearfix display-inline-block">
                                <label class="ash">Due Date</label>
                                <span class="blue f16">15,Dec,2015</span>
                            </div>
                        </div>
                        <div class="col-sm-1 text-center">
                            <div class="others-menu-wrap">
                                <a href="javascript:;" class="others-menu mt5" ng-click="showOthersMenu3=!showOthersMenu3">
                                    <img src="images/others.png" alt="others-image" />
                                </a>
                                <div class="others-menu-list" ng-show="showOthersMenu3">
                                    <div class="clearfix p10">
                                        <h2 class="pull-left f16 gray mt5">Actions</h2>
                                        <a class="others-menu pull-right" href="javascript:;" ng-click="showOthersMenu3=!showOthersMenu3">
                                            <img alt="others-image" src="images/others.png">
                                        </a>
                                    </div>
                                    <ul>
                                        <li><a href="javascript:;">Disable</a></li>
                                        <li><a href="javascript:;">Email/SMS</a></li>
                                        <li><a href="javascript:;">Add Loans</a></li>
                                        <li><a href="javascript:;">Send Invoice</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-item p5 pt10 pb10 clearfix">
                        <div class="col-sm-2 p0">
                            <div class="img-box ">
                                <img src="images/company5.jpg">
                            </div>
                        </div>
                        <div class="list-desc col-sm-5">
                            <p class="list-item-title blue">Citi Bank</p>
                            <ul>
                                <li>United Kingdom</li>
                                <li>PH: 39998 89899</li>
                                <li>agnus@gmail.com</li>
                            </ul>
                        </div>
                        <div class="list-status col-sm-3 text-center">
                            <div class="clearfix display-inline-block">
                                <label class="ash">Due Date</label>
                                <span class="blue f16">15,Dec,2015</span>
                            </div>
                        </div>
                        <div class="col-sm-1 text-center">
                            <div class="others-menu-wrap">
                                <a href="javascript:;" class="others-menu mt5" ng-click="showOthersMenu4=!showOthersMenu4">
                                    <img src="images/others.png" alt="others-image" />
                                </a>
                                <div class="others-menu-list" ng-show="showOthersMenu4">
                                    <div class="clearfix p10">
                                        <h2 class="pull-left f16 gray mt5">Actions</h2>
                                        <a class="others-menu pull-right" href="javascript:;" ng-click="showOthersMenu4=!showOthersMenu4">
                                            <img alt="others-image" src="images/others.png">
                                        </a>
                                    </div>
                                    <ul>
                                        <li><a href="javascript:;">Disable</a></li>
                                        <li><a href="javascript:;">Email/SMS</a></li>
                                        <li><a href="javascript:;">Add Loans</a></li>
                                        <li><a href="javascript:;">Send Invoice</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div><!--list wrap-->
        </div><!--Details Area _End-->
        <div id="actionPanel" class="action-panel-graphs p10 action-panel">

        </div>

        </div><!--Right Panel-->
    </div>
</div>
